[2016-04-22 23:45] amarzavery commented on #2798
@begoldsm -Please take a look at this issue.

[2016-04-22 23:47] begoldsm commented on #2798
Looking at this now. I think I know the issue.

[2016-04-24 10:14] ncodes opened #2800 "Unable to create keyvault"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
I cannot create a keyvault with this command:  `azure keyvault create --vault-name newdawnvault --resource-group newdawn --location "east asia"`

Steps to reproduce:
1) Run `azure group create newdawn "east asia"`
2) Then run `azure keyvault create --vault-name newdawnvault --resource-group newdawn --location

[2016-04-25 09:48] bingosummer commented on #2607
@romangromov
Since I have some other works in hand, it will take some time to try app gateways commands.

[2016-04-25 13:41] vfportero commented on #2052
Having the same problem... any solution?

[2016-04-25 14:16] pablolibo commented on #2789
Hi @romangromov , I have tested the last version (0.9.20) and the issue doesn't happend again

Thanks a lot and sorry for my delay

[2016-04-25 15:01] amarzavery commented on #2709
#2742 - Duplicate

[2016-04-25 15:04] amarzavery commented on #2800
Duplicate #2709

@msfcolombo - Please take a look at this issue on priority. Another customer also faced a similar issue.

[2016-04-25 15:06] amarzavery commented on #2709
@msfcolombo - More customers are facing this issue. Key Vault is one of the teir1 RPs. Please try to resolve this at the earliest.

[2016-04-25 17:00] msfcolombo commented on #2709
@amarzavery We are looking at this. A possible breaking change to improve reliability is to create a vault without any administrator. This means the user would have to explicitly add someone or some application as admin before managing keys and secrets. Regarding @daviderickson comment citing "Access denied to the specified API version", it looks like a breaking change on Graph REST service. We ar

[2016-04-25 17:15] atoakley opened #2804 "Unable to create ExpressRoute VPN Connection"
Unable to create an ExpressRoute VPN Connection using ```network vpn-connection create``` because the ExpressRoute Circuit ID cannot be specified using the existing parameter list.

The --type parameter does accept ExpressRoute as an option, but the Id parameter needed to create the connection cannot be passed to the command.

[2016-04-25 17:39] swgriffith opened #2805 "CLI Install issues in the Linux Subsystem for Windows"
CLI Version: Installing Latest
OS Type: Win - Linux Subsystem for Windows
Installation via:  npm

Mode: N/A - Install issue

Description:
Trying to install the CLI under the Linux Subsystem for Windows.  Ran through the install steps, with mixed success.  Seems to have installed node, but when I run 'node -v' I get no version back.  Running 'npm install azure-cli -g' runs for a while and seems lik

[2016-04-25 17:48] yugangw-msft opened #2806 "Update a nic with a public ip address doesn't work"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  github repo

Mode: *ARM *

Description:
    The command succeeded, but the update didn't happen when veirified in portal

Steps to reproduce:
    azure network nic set -g yugangw -n yugangw-nic --public-ip-name yugangw-publicip

[2016-04-25 17:54] eduardkoller commented on #2806
@romangromov - can you please take a look?

[2016-04-25 17:57] yugangw-msft commented on #2806
@romangromov, let me double check with the latest dev branch.

[2016-04-25 17:57] eduardkoller commented on #2805
@swgriffith - Looks like the node and/or npm install may be the culprit.
Are you able to successfully run/install other packages?

[2016-04-25 17:58] eduardkoller commented on #2804
@romangromov - can you please take a look?

[2016-04-25 18:01] eduardkoller commented on #2756
@amarzavery - are you able to repro this?

[2016-04-25 18:23] swgriffith commented on #2805
When I initially set up LSW I did install GCC and compiled a basic hello world app. That worked fine. I have also tried to install docker, which did not succeed. Node and npm seem to have installed, but not completely, as some commands work and others don’t. This is almost certainly an issue with the node and npm installation rather than anything wrong with the cli install. Just thought I'd regist

[2016-04-25 18:43] shefaliv commented on #1926
This should be fixed with the new ARM CLI tools for HDInsight!

[2016-04-25 18:45] shefaliv commented on #1307
This should be possible with the ARM HDInsight CLI tools.

[2016-04-25 18:50] yugangw-msft commented on #2806
Tried out with the latest release and it worked!

[2016-04-25 18:50] #2806 closed

[2016-04-25 18:50] amarzavery commented on #1307
@shefaliv - Can you provide the list of commands that the user can take a look at?

[2016-04-25 20:11] adammartin opened #2807 "Azure vm list does not work as documented"
Attempted to follow official documentation: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-cli-ps-findimage/

CLI Version: **0.9.20**
OS Type: Mac
Installation via:  npm

Mode: ARM

Description:

Attempting to follow https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-cli-ps-findimage/

Specifically azure vm image list westus canonical u

[2016-04-25 20:59] yugangw-msft commented on #2807
Sorry if i miss some here, but it works for for me. Could you also share some text output or snapshot?
![screen shot 2016-04-25 at 1 58 09 pm](https://cloud.githubusercontent.com/assets/6014209/14798709/c6b23a26-0aed-11e6-8fda-e4bc3ef567e8.png)

[2016-04-25 21:11] yugangw-msft commented on #2763
@ahmetalpbalkan this option is exposed (well, it is the opposite for disable) and by default it is to enable it. Check out the code [here](https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/vm/vm._js#L104). I have created one just now, and it is enabled. Please double check, or let me know if i missed some.

[2016-04-25 21:14] ahmetalpbalkan commented on #2763
@yugangw-msft I probably assumed it is not there and opened up an issue. This is great thanks.

[2016-04-25 21:14] #2763 closed

[2016-04-25 21:50] ahmetalpbalkan opened #2809 "azure group export: argument name confusing"
Mode: **ARM**

excerpt from `azure group --help`:

[code]

in this help message, the resource group argument is often referred to as `[resource-group]`, except in the `export` subcommand which reads:

    group export [options] <name> [directory]

I got confused and had to `export --help` to see if name actually refers to resource group. I think for this particular subcommand, we should replace `<

[2016-04-25 21:53] ahmetalpbalkan opened #2810 "group export: should export indented/readable JSON"
CLI Version: **0.9.20**
OS Type: Mac

Mode: **ARM**

I just ran `azure group export <rg> <dir>` and this created me a 8 KB json file **with a single line**.

This command should create JSON files that are well indented and readable as ARM templates are meant to read by humans as well. I don't think there is any argument here that favors disk-space over readability.

[2016-04-25 21:57] ahmetalpbalkan opened #2811 "group export: should generate parameters.json as well?"
CLI Version: **0.9.20**
Mode: **ARM**

When you export a resource group from Azure Portal, it downloads a directory with contents:

![image](https://cloud.githubusercontent.com/assets/159209/14800348/eedfdc08-0af5-11e6-91bf-99686a38d1f4.png)

However `azure group export` command only creates a `template.json`, and not the `parameters.json`. I believe the common pattern that we advise to the users

[2016-04-25 22:10] adammartin commented on #2807
Here you go ... obviously I used a --version instead of a -v so you could see the node version I am running.

![screen shot 2016-04-25 at 5 09 20 pm](https://cloud.githubusercontent.com/assets/728069/14800628/9622487c-0b08-11e6-97d1-10d384e809c7.png)

[2016-04-25 22:14] yugangw-msft commented on #2807
@adammartin, this is caused by a confusing part of azure-cli that it has 2 modes (asm vs arm). You are in asm, but the command appears only work for arm. So run this command first "azure config mode arm".
/CC @huangpf

[2016-04-25 22:52] adammartin commented on #2807
That is the issue.  Thanks!

It also appears that that step is in the notes of the walk through so this is user error.

Thanks for still helping!

[2016-04-25 23:01] huangpf commented on #2807
Thanks for confirming~ Close~

[2016-04-25 23:01] #2807 closed

[2016-04-26 01:59] amarzavery commented on #2809
This is not a subcommand. It is an operation on the group.
group deployment is a sub category inside group, where name refers to the deployment name and hence we have --resource-group.

The export operation is on the resource group. It is just another operation like `create/show/delete` hence has the switch `--name and -n`

[2016-04-26 02:01] ahmetalpbalkan commented on #2809
In that case, that's fair. Closing.

[2016-04-26 02:01] #2809 closed

[2016-04-26 08:02] romangromov commented on #2806
@yugangw-msft checked in `0.9.20` and its working fine:
[code]

[2016-04-26 08:08] romangromov commented on #2789
@pablolibo not a problem at all, thanks for confirmation!

Please **close** the issue, re-open if you come across this again.

[2016-04-26 08:34] romangromov commented on #2804
@atoakley thanks for flagging, I'm looking into this, stay tuned, will chare update

[2016-04-26 09:07] romangromov commented on #2804
As for [reference](https://azure.microsoft.com/en-us/documentation/articles/expressroute-howto-linkvnet-arm/):

To link a VirtualNetwork to an ExpressRouteCircuit we have to create an ExpressRouteCircuit with **private peering** of type `AzurePrivatePeering` before hand, but `network express-route peering` commands still not included in Xplat-CLI, already started issue here https://github.com/Azur

[2016-04-26 09:42] arafato opened #2816 "azure storage blob: root container ($root) causes error"
CLI Version: **0.9.19**
OS Type: Linux (Ubuntu 15.10)
Installation via:  npm

Mode: **ASM**

Description:
`azure storage blob upload foo.txt $root foo.txt`

Results in
[code]

It seems that the character $ causes trouble...

Error stack trace:

[code]

[2016-04-26 11:12] gredondogc commented on #2796
@haocs After doing a login, because of the 'We don't have a valid access token. Please run "azure login" again' message, the list of subscriptions presented showed the correct names but the 'azure account list' command did not.

Following your suggestion, I tried the logout and login and it seems to have worked.

Thank you.

[2016-04-26 17:35] MrBRUE commented on #2175
I do have this issue, when I try something like this:
azure storage blob upload 'rubyonflower.jpg' 'somecontainer' 'super.jpg' -c 'DefaultEndpointsProtocol=https;BlobEndpoint=https://laberlaber.blob.core.windows.net/;AccountName=laberlaber;AccountKey=<key>' I get, with Azure CLI version 0.9.9:
error:   The MD5 value specified in the request did not match with the MD5 value calculated by the server

[2016-04-26 19:04] ahmetalpbalkan opened #2818 "vm list: maybe IP address is more useful than Size?"
CLI Version: **0.9.20**
Mode: **ARM**

If I run `azure vm list` I'm probably trying to figure out what my VMs are and what are their IP addresses (or maybe that's just me). But I think Public IP address is more relevant than Size/Location.

[code]

[2016-04-26 19:08] ahmetalpbalkan commented on #2816
@arafato it is very likely your shell is treating `$root` as a variable and trying to expand it as such. Please try quoting that argument with single quotes, or you can prepend an `echo` to your `azure` command and see what gets executed.

[2016-04-26 19:12] arafato commented on #2816
Thanks @ahmetalpbalkan ! Single quotes did it, I was using double quotes...

[2016-04-26 19:13] #2816 closed

[2016-04-26 19:14] yugangw-msft commented on #2818
@ahmetalpbalkan, want to get more user data. Could you let me know what the next steps you would do which need the ip address? For me, I need the ip address because sometimes i forgot to attach the dns label, so i ended up w/o the logical vm name.

[2016-04-26 19:20] yugangw-msft commented on #2724
+1

[2016-04-26 19:23] ahmetalpbalkan commented on #2678
@haocs I believe I have used `npm upgrade` to this day and that's what's broken.

When I use `npm install` it works, but I think you should make `npm upgrade` work again (it worked until 0.9.16 or so) because that's what got broken.

[2016-04-26 19:23] ahmetalpbalkan commented on #2678
@haocs here's the `npm upgrade` output

[code]

[2016-04-26 19:27] ahmetalpbalkan commented on #2818
@yugangw-msft I just created a VM with quick-create and closed the window that contains the IP address. Then I wanted to SSH, obviously I'm gonna need the IP address. I don't create FQDN names (they're more tedious to deal with) and without data I cannot comment on if that's something most people do.

[2016-04-26 22:49] xeoneux opened #2820 "azure command fails on node v6.0.0"
CLI Version: **0.9.2**
OS Type: Mac OS X 10.11.4
Installation via:  npm (via brew)

Description:
`azure` command fails on node v6.0.0

Steps to reproduce:
1) Install node v6.0.0
2) Run `azure`

Error stack trace:
[code]

`new Buffer(size)` deprecated via [Node.js v6.0.0 API](https://nodejs.org/dist/latest-v6.x/docs/api/buffer.html#buffer_new_buffer_size)

[2016-04-27 00:06] ravbhatnagar opened #2822 "Emit status of deletion for Azure group delete"
Currently we don't emit any feedback about what is going on when this command is run.

[2016-04-27 00:09] ravbhatnagar commented on #2791
Fixed in May release.

[2016-04-27 00:09] #2791 closed

[2016-04-27 01:16] #2820 closed

[2016-04-27 07:14] huangpf commented on #2818
@devigned @sauryadas
We shall tag these types of items as feature requests, instead of the ```IAAS``` tag that usually put?

[2016-04-27 07:17] huangpf commented on #2794
First, we shall have more tags, i.e. ```IaaS-Extension``` for this one. Secondly, this is a service API issue, provided the error message.

Last but not least, do you think ```--nowait``` can be a general option that can be designed for and thus benefit all current commands?

[2016-04-27 08:10] bingosummer opened #2824 "[AzureChinaCloud][ARM] Failed to create a linux VM because of unsupported api-versions"
CLI Version: **0.9.20**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure vm create` command can't create a linux VM with the following error output.

[code]

Steps to reproduce:
1) Run `azure login --environment AzureChinaCloud`
2) Then run `azure vm create ...`

Error stack trace:

[code]

[2016-04-27 09:08] waldner opened #2825 "Azure-cli throws exception with nodejs 6.0.0"
CLI Version: **0.9.20**
OS Type: Linux (Archlinux)
Installation via:  npm

Mode: **ARM**

Description:
`azure` throws exception

<pre>
$ azure
buffer.js:106
      throw new Error(
      ^
Error: If encoding is specified then the first argument must be a string
    at new Buffer (buffer.js:106:13)
    at Interactor.__.extend.initProgressBars (/usr/lib/node_modules/azure-cli/lib/util/interaction.js:

[2016-04-27 11:54] edevil opened #2826 "Data lake store import with row to extent boundary alignment"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  brew

Mode: **ARM**

Description:
I was told by @MikeRys that the data lake store import function from the xplat cli does not do row to extent boundary alignment, which may cause large row-oriented files to be split mid delimiters. Is this correct? Can this be implemented?

Steps to reproduce:
1) Import > 250MB CSV file
2) Extract it, sometim

[2016-04-27 16:30] amarzavery commented on #2825
@waldner - The issue was fixed yesterday in this PR https://github.com/Azure/azure-xplat-cli/pull/2821

[2016-04-27 16:30] #2825 closed

[2016-04-27 16:32] amarzavery commented on #2826
@begoldsm - Please take a look at this issue.

[2016-04-27 16:35] amarzavery commented on #2824
@bingosummer - This is a known issue. I had brought this to Compute team's notice in a separate email internally.
@mahthi, @huangpf @sauryadas - Can you provide a timeline for `When will AzureChinaCloud support the current api-version "2016-03-30"?` This makes the latest version of CLI 0.9.20 useless for vm operations in ChinaCloud.

[2016-04-27 16:36] amarzavery commented on #2811
@ravbhatnagar @vivsriaus - Can you take a look at this issue?

[2016-04-27 16:42] amarzavery commented on #2810
@ravbhatnagar @vivsriaus - Can you take a look at this issue?

I think `JSON.stringify(object)` before writing it to the file does that.

If you use the 3rd parameter to JSON.stringify() that should pretty print it.
`JSON.stringify(object, null, 2)`// 2 spaces
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify

[2016-04-27 16:46] amarzavery commented on #2798
Closing this as the PR for this issue is merged.

[2016-04-27 16:46] #2798 closed

[2016-04-27 16:54] wyldbill commented on #1077
+1

[2016-04-27 16:55] amarzavery commented on #1077
@yaxia @hasonmsft - Can you take a look at this feature request?

[2016-04-27 17:28] yugangw-msft commented on #2699
@kali-rms , before the issue gets investigated and fixed, for now you can update VM's public IP address with a dns label
[code]

[2016-04-27 18:15] haocs commented on #2796
@gredondogc you are welcome. I will close this issue and feel free to reopen it if you observe other issues.

[2016-04-27 18:15] #2796 closed

[2016-04-27 18:26] waldner commented on #2825
Thanks. So how long will it take to get into npm?

[2016-04-27 18:30] amarzavery commented on #2825
@waldner

This should be out by ~05/04.
If you wan to try the bits from dev branch to be unblocked then you can follow the instructions for installing from a branch of this repository over [here](https://github.com/Azure/azure-xplat-cli#installation-from-a-particular-branch-of-this-repository).

Basically you will have to download the tarball from the dev branch and install it via npm.

[2016-04-27 18:31] waldner commented on #2825
Ok, thanks!

[2016-04-27 18:51] macshonle opened #2827 "Azure CLI is broken with Node v6.0.0."
### OS X Setup
CLI Version: **0.9.X**
OS Type: Mac:
[code]

Installation via:  npm
[code]
Also, I reinstalled it in this manner (before I filed this bug):
[code]
[Note, the compiler warning above seems unrelated, but I've included it for completion.]

### What Goes Wrong
The command cannot start, not even a simple `azure`, `azure -v`, or `azure help`:
[code]
This is unexpected, because the Azure C

[2016-04-27 18:55] ravbhatnagar commented on #2811
This was the current design. We are exploring the option of adding support for this in our API. Adding this to backlog. I will provide an update when I have more details.

[2016-04-27 18:55] amarzavery commented on #2827
Fixed in the PR  #2821 that is merged in the dev branch. The new version will be available ~5/4.
Duplicate - https://github.com/Azure/azure-xplat-cli/issues/2825
If you need the bits from dev branch follow the instructions [here](https://github.com/Azure/azure-xplat-cli#installation-from-a-particular-branch-of-this-repository).

[2016-04-27 18:55] #2827 closed

[2016-04-27 18:56] ravbhatnagar commented on #2810
@vivsriaus - lets fix this. Agreed the output should be human readable.

[2016-04-27 18:57] ravbhatnagar commented on #2786
Agreed. Adding to backlog for now.

[2016-04-27 18:58] macshonle commented on #2827
Thank you! I only searched the list of recent open bugs; I forgot to check the list of recent closed bugs.

[2016-04-27 19:01] amarzavery commented on #2827
No worries.

[2016-04-27 20:43] #2810 closed

[2016-04-27 21:56] ahmetalpbalkan commented on #2810
thanks!

[2016-04-27 23:15] eduardkoller commented on #2805
@russalex - per our email discussion, this seems to be a more general issue related to node on bash on windows. Can you please update this issue as soon as it gets fixed?

[2016-04-28 01:09] DustinVenegas opened #2829 "Buffer Encoding Error in node.js v6.0.0"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
All `azure` commands output an error after updating to node.js 6.0.0. This is likely related to [this pull request](https://github.com/nodejs/node/pull/4514) in node.js. The node-postgres project encountered a similar error in [this issue](https://github.com/brianc/node-postgres/issues/1000).

Steps to reprodu

[2016-04-28 01:12] amarzavery commented on #2829
@DustinVenegas
Fixed in the PR #2821 that is merged in the dev branch. The new version will be available ~5/4.
Duplicate - #2825
If you need the bits from dev branch follow the instructions [here](https://github.com/Azure/azure-xplat-cli#installation-from-a-particular-branch-of-this-repository).

I will keep this open for now.

[2016-04-28 01:29] yaxia commented on #1077
ETA of supporting this is June release.

[2016-04-28 01:39] fangjinmin commented on #1937
It is so terriable to confirm that can't add created vms to the Availability Set.
recreate vms or give up Azure, I have to make a choice.

[2016-04-28 03:50] bbetstcw opened #2830 "azure cli in ubuntu, "/usr/bin/env: 'node': No such file or directory""
I am using nodejs4.2.6 in Ubuntu. After installing the Azure CLI with `npm install azure-cli -g`, if I run `azure`, I get the error `/usr/bin/env: 'node': No such file or directory`. The error can be solved by creating a link with the command `ln -s /usr/bin/nodejs /usr/bin/node`. It's kind of silly to have this error, because the solution is so simple.

[2016-04-28 03:57] amarzavery commented on #2830
@bbetstcw - This is weird. I haven't seen that issue before. I am using azure-cli on Ubuntu on a regular basis and I have always got the installation correct.

[2016-04-28 08:32] romangromov commented on #2804
@atoakley thanks for bringing this up. Currently, requested feature (link a VirtualNetwork to an ExpressRouteCircuit) not supported by Xplat-CLI, so I've started related work to get things done.

This will take some time to implement, let me comeback later and update thread. As workaround,
please use PS cmdlets instead. Sorry for the inconvenience

[2016-04-28 11:13] romangromov commented on #2699
Adding @MikhailTryakhov for the same

[2016-04-28 16:59] atoakley commented on #2804
@romangromov  The document you linked to also links to [this one](https://azure.microsoft.com/en-us/documentation/articles/expressroute-howto-circuit-arm/#7-create-your-routing-configuration) which explains why the peering commands may, or may not, be needed.

To sum up, there are two types of ExpressRoute provider types:  Layer 2 and Layer 3.  You only need the peering commands for Layer 2 types.

[2016-04-28 18:30] haocs commented on #2830
@amarzavery - On Ubuntu, If 'node' is installed from Package manager it is named as 'nodejs' since node is referenced to another package.  And our bin/azure script is look for node instead of nodejs.

[2016-04-28 18:33] haocs commented on #2830
@bbetstcw please see this issue. https://github.com/nodejs/node-v0.x-archive/issues/3911

[2016-04-29 00:10] ritazh commented on #2756
I also ran into this issue today when trying to login using a service principal from the CLI. After I removed all access tokens containing the word "azure" from Keychains, login worked again. Please give that a try and see if it resolves your issue.

[2016-04-29 00:21] bingosummer commented on #2824
Thanks @amarzavery for confirming it.
Another question: What's the latest version of CLI can support the old api-version "'2015-05-01-preview, 2015-06-15"?

[2016-04-29 00:58] DustinVenegas commented on #2829
Thank you @amarzavery! I missed the duplicate in my search. I'll start watching #2825.

[2016-04-29 00:58] #2829 closed

[2016-04-29 02:35] sauryadas commented on #2794
@huangpf - What is the service issue here?

[2016-04-29 02:38] sauryadas commented on #2767
@huangpf Is this something available in the API that we could set or does the service API need to be modified to allow for a autoUpgradeMinorVersion parameter?

[2016-04-29 02:41] sauryadas commented on #2664
@romangromov @huangpf So which teams needs to fix this issue?

[2016-04-29 02:44] sauryadas commented on #2648
@huangpf - looks like you made commits for this issue . Is this fixed yet?

[2016-04-29 02:46] sauryadas commented on #2628
@amarzavery closing this. The creator of the bug @TimoKramer can reopen if this is not fixed yet.

[2016-04-29 02:46] #2628 closed

[2016-04-29 02:48] sauryadas commented on #2613
@amarzavery closing this. The creator of the bug @clayrichardson  can reopen if this is not fixed yet.

[2016-04-29 02:48] #2613 closed

[2016-04-29 02:51] sauryadas commented on #2612
@clayrichardson Please upgrade your CLI to the latest 0.9.20 and reopen the issue if the issue persists

[2016-04-29 02:51] #2612 closed

[2016-04-29 03:03] huangpf commented on #2794
1) long run operation runs too long from minutes to hours, greatly exceeding average tolerance time, which is statistically within second (re: https://www.quora.com/How-long-will-the-average-user-wait-for-a-webpage-to-load-before-they-abandon)
2) the eventual failure is even more disappointing

[2016-04-29 03:09] amarzavery commented on #2794
--no-wait option is applicable only for long running methods. When this switch is applied, the command needs to call the Begin* method instead of calling the CreateOrUpdate/Delete method. This is specific to the service and cannot be generalized. Having said that, it is worth while to have this switch for all the time consuming long running operations in the `vm` category.

The `group deployment c

[2016-04-29 03:58] sauryadas commented on #2509
@politician Closing as i have not heard back from you

[2016-04-29 04:49] ahmetalpbalkan commented on #2767
@sauryadas it exists in the API already, but no way to set it in the CLI, that's the issue.

[2016-04-29 05:59] kevinday commented on #2756
I've tried deleting all azure related entries from my keychain multiple times but it doesn't help me. The entries are recreated when I azure login, and then are removed when the next command fails.

[2016-04-29 09:26] bingosummer commented on #2824
From my test, 0.9.18 is the latest version to support the old api-version "'2015-05-01-preview, 2015-06-15". And 0.9.19 and 0.9.20 both breaks the vm operations in ChinaCloud.

[2016-04-29 10:15] rockboyfor opened #2836 "azure storage download blob get ENOENT error when destination is a folder with absoute path"
CLI Version: ** > 0.9.X**
OS Type: Ubuntu 14.04
Installation via:  npm & github repo

Mode: **ASM**

Description:
`azure storage download blob ` command get ENOENT error when destination is a folder with absolute path, such as **"/home/steven/test/"**.

Steps to reproduce:
1) Follow the code in [Stack Overflow](http://stackoverflow.com/questions/36895717/azure-cli-download-error/36905768#36905768)

[2016-04-29 16:16] fthamura opened #2839 "docker-machine error when creaet vm"
CLI Version: **0.9.20**Ubuntu
Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm

Mode: **ARM / ASM**

Description:
cannot create azure vm

Steps to reproduce:

docker-machine create -d azure \
--azure-subscription-id="5d6b8a30-2988-xxx-a39a-5502c8f72220" \
--azure-subscription-cert="myCert.pem" \
--azure-location="East US" \
--azure-size=Small \
--azure-username="meruvian" \
merv-doc

[2016-04-29 17:10] amarzavery commented on #2836
@yaxia - Can you take a look at this?

[2016-04-29 17:36] amarzavery commented on #2839
@huangpf @sauryadas - Please take a look.

[2016-04-29 17:39] huangpf commented on #2839
This seems to be service API internal error. Any logs for the VM creation?

[2016-04-29 17:50] amarzavery commented on #2830
@bbetstcw - If you follow the instructions for installing node.js on Ubuntu or any other Linux flavor from [here](https://github.com/Azure/azure-xplat-cli#installing-the-latest-version-of-nodejs-on-different-linux-flavors) then it will install node.js with keyword node instead nodeJS. Basically, it will install node correctly.

And doing `npm install -g azure-cli` post that should work fine.

[2016-04-29 19:38] politician commented on #2509
@sauryadas This is *not* an issue with the Portal.  The issue is with the `azure create` command when it's used in Bash.

**Did you try running the command I included in the issue?**

Steps to Reproduce:
1. Run the command `azure vm create --virtual-network-name "\"Group Foo foo-vn\""` in Bash
2. Observe that it does not work.
3. Apply the code fix above.
4. Rerun the command.
5. Observe that the

[2016-04-29 20:17] ahmetalpbalkan commented on #2839
@fthamura it looks like you're using docker machine. can you please open an issue at https://github.com/docker/machine/issues instead?

[2016-04-29 20:20] ahmetalpbalkan commented on #2839
@fthamura also we strongly suggest updating to docker-machine 0.7.0 which is reimplemented using Azure Resource Manager stack. You can get it from docker machine github repo or Docker Toolbox as well.

[2016-04-29 20:24] sauryadas commented on #2509
@politician got it.. sorry about the confusion.

[2016-04-29 20:26] sauryadas commented on #2591
@orizohar @rsltrifork Thanks. We will take a look at this and get back to you

[2016-04-29 20:31] huangpf commented on #2509
This is related to VNet feature that may be used differently by Portal and CLI. Add @romangromov to help confirm -- does ASM API support VNet resource name with spaces?

[2016-04-29 21:31] msfcolombo commented on #2741
@amarzavery @yugangw-msft Key Vault is using createResourceClient which is shared at least by `webapp`, `vm` and `network` sub-commands as you can see [here](https://github.com/Azure/azure-xplat-cli/search?utf8=%E2%9C%93&q=createResourceClient). So either other sub-commands are affected, or the logic is buggy. Can you confirm which is happening?

[2016-04-29 23:54] squillace commented on #2741
If I may, from the user's perspective, this should ALWAYS automatically register IF the specific provider doesn't cost money or require some specific "state-changing" feature. Azure is a unified platform that just HAPPENS to be implemented by asynchronous providers -- but we do not teach naive users that they must modify our underlying implementation. If they try to use keyvault, keyvault MUST res

[2016-04-29 23:55] squillace commented on #2741
Also: Do our competitors force the user to do this? That might be a good question, either way.

[2016-04-30 23:29] msfcolombo commented on #2741
@amarzavery @yugangw-msft We checked Azure Powershell and their shared code is auto-registering providers (see [here](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Common/Commands.ResourceManager.Common/RPRegistrationDelegatingHandler.cs#L64)). This is a lack of symmetry: When the person uses PSH to create a Key Vault (or any other ARM resource), he/she doesn't have to reg

[2016-05-02 17:22] howardatwork commented on #1077
@yaxia Thanks for the update. I'm looking forward for this.

[2016-05-02 18:04] eduardkoller commented on #2839
Will close this issue now - @fthamura, please open an issue at https://github.com/docker/machine/issues as suggested.

[2016-05-02 18:04] #2839 closed

[2016-05-02 18:07] eduardkoller commented on #2830
@bbetstcw - can you please try installing node following these instructions, and let us know if this fixes the issue: https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

[2016-05-03 14:27] smirea opened #2847 "Running the CLI from NodeJS truncates JSON output"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  npm
NodeJS version: v5.4.1

Mode: **ARM**

Description:
running `azure network public-ip list --json` with 10 results from nodejs returns a truncated JSON
This worked fine for a small JSON output, but when I got to about 10 it started truncating it

Steps to reproduce:
1. make sure you have at least 10 public IPs in your azure network (so the

[2016-05-03 16:37] bwhiton opened #2848 "Unable to create a VM from a specialized vhd"
CLI Version: 0.9.20
OS Type: Mac
Installation via:  mac installer

Mode: ARM

Description:
When I attempt to create a VM from a specialized vhd, the operation just hangs in 'In Progress' via the cli and shows as 'Creating' in the portal UI.

Steps to reproduce:
1) Run `azure vm create -vv -g bobstestresourceg -n testspecialized2 -f specializedVMNic -l westus -d https://somestorageaccount.blob.core

[2016-05-03 16:46] amarzavery commented on #2848
@sauryadas @huangpf can you look into this?

[2016-05-03 16:52] huangpf commented on #2848
@bwhiton Did you ```sysprep``` the VM while capturing it into the image, or may I know how did you setup the VHD? And may I have the ```storageProfile``` part in the request ```-vv`` log? Thanks.

[2016-05-03 16:57] bwhiton commented on #2848
I did not sysprep the VM.  I was under the impression that the sysprep step was only required when creating a generalized vhd.  Is this a required step?  If so, is there any way to import a vhd from another cloud without executing sysprep?  In short, I did no preparation to the vhd other than simply upload it.

Here is the storage profile that the cli sent:
{"storageProfile":{"osDisk":{"osType":"L

[2016-05-03 17:24] huangpf commented on #2848
Talked to the storage profile API owner, and they said this part looks fine, and it doesn't need ```sysprep``` for using specialized VHDs. This is likely a CRP API issue. @sauryadas @mahthi Could you please help involve the service API owner for further investigation? Thanks.

[2016-05-03 18:03] sauryadas commented on #1340
@amarzavery Can you please assign this to the right owner?

[2016-05-03 18:05] sauryadas commented on #1355
@amarzavery This is not IAAS. Can you please create a docker label and assign?

[2016-05-03 18:05] amarzavery commented on #1340
@sauryadas - you are the right owner. It's an issue with the vm command and falls in your lap.

[2016-05-03 18:15] sauryadas commented on #1567
@anuchandy is this actually fixed?

[2016-05-03 18:19] sauryadas commented on #1586
@romangromov @FrankSiegemund  Can you guys please take a look at this?

[2016-05-03 18:21] sauryadas commented on #1598
@amarzavery we plan on implementing this in ARM but not in ASM.

[2016-05-03 18:21] #1598 closed

[2016-05-03 18:23] sauryadas commented on #1599
@mahthi Can you please take a look at this?

[2016-05-03 18:24] sauryadas commented on #1601
@bureado closing this. if still not fixed please reopen

[2016-05-03 18:24] #1601 closed

[2016-05-03 18:26] sauryadas commented on #1640
@shield007 if this problem still persists , please reopen the bug.

[2016-05-03 18:26] #1640 closed

[2016-05-03 18:26] sauryadas commented on #1669
@romangromov Can you please verify this and close?

[2016-05-03 18:27] sauryadas commented on #1672
@romangromov can you please verify this and close?

[2016-05-03 18:30] sauryadas commented on #1715
@huangpf Please take a look when you get a chance.

[2016-05-03 22:06] ahmetalpbalkan commented on #1355
@sauryadas @amarzavery we should discuss about phasing out and retiring `azure vm docker` commands. We mostly aim to keep `docker-machine` azure driver around for this task or the `azure vm create`+`azure vm extension set DockerExtension` command to do the same task.

Investing in this subcommand does not make much sense. Feel free to close this issue.

[2016-05-04 00:33] TianoMS commented on #1831
Checked on PowerShell and we don't have this problem.

[2016-05-04 01:52] yaxia commented on #2836
@rockboyfor I am looking and will get it back to you soon.

[2016-05-04 03:42] huangpf commented on #2824
@bingosummer What's the API availability agreement/contract between Azure CLI releases in PROD and AzureChinaCloud releases?

@amarzavery Do we have the requirement that users can always use the public CLI releases immediately for AzureChinaCloud environment?

In my opinion, CLI team shall maintain releases or tags on releases for each national clouds. So, I don't think it's an ```IAAS``` ```P1```

[2016-05-04 08:11] rockboyfor commented on #2836
@yaxia Thanks for your reply.

[2016-05-04 08:11] #2836 closed

[2016-05-04 08:42] romangromov opened #2850 "CLI: command parser do not parse correclty parameters with whitespaces in specified value"
CLI Version: **0.9.20**
OS Type: at least Win (other OS not checked)
Installation via:  any

Mode: **any**

Description:
`azure foo --bar "baz hello world"` will fail with parse expection:

error: unknown option `-xxx'

Steps to reproduce:
1) ASM: Create Vnet with whitespace in it's name via old Portal;
2) Then run `azure vm create --virtual-network-name "Vnet with whitespaces"`
3) Also reported i

[2016-05-04 08:46] romangromov commented on #2509
+ @MikhailTryakhov for the same.

Hi guys, checked a few things:
* it's possible to create a Vnet (or any kind of resource) with whitespaces in name via Azure **ASM** API (Note: it's not true for `ARM`);
* reported issue by @politician is applied to every cli command and not only to `vm create`, so I've started new issue here https://github.com/Azure/azure-xplat-cli/issues/2850
* proposed fix by @

[2016-05-04 08:52] romangromov commented on #1586
Adding @MikhailTryakhov for the same

[2016-05-04 09:02] romangromov commented on #1669
@sauryadas sure, checked, working fine:

[code]

Hence closing.

[2016-05-04 09:02] #1669 closed

[2016-05-04 09:17] romangromov opened #2851 "ASM: 'azure vm endpoint acl-rule create' throws 'Cannot read property toLowerCase of undefined'"
CLI Version: **0.9.20**
OS Type: Win
Installation via: any

Mode: **ASM**

Description:
`azure vm show` command doesn't output VM name.

Steps to reproduce:
1) Trying create ACL rule for existinv VM and endpoint attached:

[code]

Stack:
[code]

[2016-05-04 09:17] romangromov commented on #1672
@sauryadas checked, working fine:
[code]
But foundf another one related issue, started here https://github.com/Azure/azure-xplat-cli/issues/2851

Closing this now.

[2016-05-04 09:17] #1672 closed

[2016-05-04 14:26] bingosummer commented on #2824
@huangpf Sorry, I don't follow you with your questions. Could you explain more?

[2016-05-04 16:49] k2velocity opened #2852 "Creation of Azure VM fails while using an Existing Storage account"
CLI Version: **0.9.X**
OS Type:  Win / Linux (Centos)
Installation via:

Mode: ARM

Description:

While creating a Virtual machine from an existing OS disk and Storage account with the -o switch the command first complains that the Storage account did not exists and then tried creating it and then it  fails with Storage account already exists

PS C:\WINDOWS\system32> azure vm create Rresourcename

[2016-05-04 17:03] k2velocity opened #2853 "ARM : Creation of the Virtual machine fails as the command replaces the Storage account being used"
CLI Version: 0.9.20
OS Type:  Win / Linux (Centos
Installation via:  npm / brew / win-or-mac installer / docker / github repo

Mode: ARM
Description:
Creation of the Virtual machine fails as the command replaces the Storage account being used

$ azure vm create "Resourcegroupname" "Vmname" westus -y Linux -o "storageexample1" -d "https://storageexample1.blob.core.windows.net/vhds/Sample VM File.vh

[2016-05-04 17:06] amarzavery commented on #2824
@huangpf - AFAIK, Azure Production and AzureChina are pretty much on the same cadence. It will be bummer if customers cannot use the latest version of CLI to create a vm in AzureChina.

This becomes more problematic, "if a bug was fixed in a command in 0.9.19, customer upgrades to that version and finds out that 0.9.19 targets a new api-version which is not deployed in his environment".

What is t

[2016-05-04 17:07] amarzavery commented on #2852
@sauryadas @huangpf - Please take a look at this issue

[2016-05-04 17:08] amarzavery commented on #2853
@huangpf @sauryadas - One more.

[2016-05-04 17:51] huangpf commented on #2824
@amarzavery Your assumption "retty much on the same cadence" is by-design-ly inaccurate. First of all, if Azure & AzureChina environments are the same, we won't have the sync-up issue here. Secondly, service roll-out takes time and order, and the same problem applies to other national clouds and geo-based environments, i.e. Canada & India regions, etc.

So, I don't think (at least for now) it shou

[2016-05-04 17:55] huangpf commented on #2852
It seems the existing storage account is in another location which is not ```eastus2```. @k2velocity Could you please help confirm?

Could you please try the following: 1) create the VM in the same region as the existing storage account's, 2) refer to a new storage account that is in ```eastus2```, and 3) omit the ```-o``` input.

[2016-05-04 18:01] huangpf commented on #2853
Looks like a bug in the boot diagnostics storage account name generation part.

The mitigation is to 1) skip boot diagnostics, or 2) give a specific storage name/link input to it.

[2016-05-04 18:39] colemickens opened #2855 "[asm] Not all images are returned with `vm image list`"
I have uploaded some images to a subscription which is enabled for publishing. I have published and replicated the image.

In PowerShell, I can see that RDFE knows about the image: `Get-AzureVMImage | ? { $_.PublisherName -icontains "Red Hat" }` shows me my private image.

In Xplat-Cli (asm mode), even when I'm in the correct subscription, `azure vm image list` does not contain my image.

[2016-05-04 18:56] colemickens commented on #2855
Looks like this was fixed in `0.9.20`.

[2016-05-04 18:56] #2855 closed

[2016-05-04 18:58] amarzavery commented on #2855
@colemickens - The new release 0.10.0 was out 5 minutes ago https://github.com/Azure/azure-xplat-cli/releases/tag/v0.10.0-May2016

[2016-05-04 19:00] colemickens commented on #2855
Yeah, I saw you add the Dockerfile and was waiting for it to pop up on npm. I'll give it a shot now! Thanks!

[2016-05-04 19:25] k2velocity commented on #2852
The VM that i am creating is from an existing OS disk so the VHD path  is from East US 2 location , also this is a standard Storage so wanted to Use same storage account for Diagnostics logging as well

If i Skip the -o Flag then the command complete by

1. Creating a new Storage account in East US 2 for the diagnostics
2. Creates the VM with the Existing data disk in East US 2

[2016-05-04 19:28] colemickens opened #2857 "ASM: didn't automatically create an ssh endpoint"
cli version 0.10.0

I ran

[code]

but the ssh endpoint was not auto-created. The `--help` for `azure vm create` implies that it should have been autocreated.

[2016-05-04 19:28] k2velocity commented on #2853
Yes if i skip Boot diagnostics with  --disable-boot-diagnostics the VM gets created .

Do you have the Flags that i need to provide if i wanted to use a Specific Storage path/Link

[2016-05-04 19:49] amarzavery commented on #2857
@huangpf @sauryadas Please take a look.

[2016-05-04 19:54] #2709 closed

[2016-05-04 20:36] huangpf commented on #2852
OK. Will look into it. But just want to know that you are unblocked for now by omitting the ```-o``` parameter.

@sauryadas Is storage account's charge by number of accounts, or just storage amount? If it's the latter, I think it's at least not charging @k2velocity more by the current setup.

[2016-05-04 20:38] huangpf commented on #2853
Yes:
[code]

[2016-05-04 20:41] colemickens opened #2859 "ASM: SSH Password Auth is not enabled if ssh port isn't opened"
CLI version: 0.10.0.

I think this is tied to the behavior of https://github.com/Azure/azure-xplat-cli/issues/2857.

If the user does not specify an ssh port (`-e`) or an ssh key (`--ssh-cert`), but does specify a username and password... the VM will not have password authentication enabled.

This means the VM is unreachable. The only way to get access is to deploy VMAccess extension.

I can see t

[2016-05-04 20:47] colemickens commented on #2859
(For extra context, I was opening the ssh port manually and then trying to connect and seeing rejection because password auth was not an available auth mechanism presented by the server)

[2016-05-04 20:50] colemickens commented on #2859
After opening the ssh port manually in the portal and attempting to connect, this is what happens:

[code]

[2016-05-04 22:07] deltadan opened #2860 "Test for unique DNS name via Azure CLI"
CLI Version: **0.9.X**
OS Type: Mac / Win
Installation via: mac installer

Mode: ARM

Question:
Is there a command that will inform the user that there is a unique DNS name available in a region?  I'm looking for the equivalent to this PS:
Test-AzureRmDnsAvailability -DomainNameLabel "[unique DNS name]"
                         -Location "[the location of your storage account]"

Thanks,
Dan

[2016-05-04 22:27] amarzavery commented on #2860
@romangromov - Are you aware of any command that provides the above functionality?

[2016-05-05 08:14] romangromov commented on #2860
@deltadan thanks for reinging this up. Please take a look at
[code]

One thing I mention that there is no ability to specify region/location, let consult with responsible Azure DNS team and come back, stay tuned

[2016-05-05 08:22] MikhailTryakhov commented on #2509
Hi guys
Thank you @romangromov for adding me.
As I can see, we *can* make Vnet names with whitespaces in ASM for sure. The problem is that @politician enters name with extra-quotas.
We should enter
[code]
entering ```"\"Group Foo foo-vn\"" ``` we have *"Group Foo foo-vn"* value (with quotas) for vnet. I think it's not the same value as *Group Foo foo-vn* and that's the reason of the problems.

Ple

[2016-05-05 09:04] MikhailTryakhov commented on #2850
There is no such error. The problem in related issue was in double quotas enetering.
Such steps will not reproduce specified error. Please close

[2016-05-05 16:10] k2velocity commented on #2852
@huang: are you  looking out for more details from the command ?

[2016-05-05 20:57] DustinVenegas opened #2863 "template validate with --json parameter returns text"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure group template validate --json` command returns text instead of JSON on error. Even on an error it should return JSON for parsing purposes, especially since JSON is being returned with the correct error message.

Steps to reproduce:
1) Run `azure group template validate ... --json` and notice the output

[2016-05-05 21:21] amarzavery commented on #2863
@vivsriaus @ravbhatnagar - Was this fixed off lately?

[2016-05-05 21:30] shaiksphere commented on #2825
@amarzavery Any idea when this fix will be released?

[2016-05-06 01:57] bingosummer opened #2864 "[AzureChinaCloud][ARM] Failed to list the storage accounts because of unsupported api-versions"
CLI Version: **0.10.0**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure storage account list` command failed.

[code]

Steps to reproduce:
1) Run `azure login -e AzureChinaCloud`
2) Then run `azure storage account list`

Similar to #2824

[2016-05-06 07:02] stevenlivz opened #2865 "Creating general purpose storage option is missing"
In order to get a general purpose storage account - and hence file storage, i seem to have to create a "RAGRS" account type first which does give me what I need and then I can change it to "LRS" and so on. I can't seem to create one directly - it always create a blob storage account and so my scripts fail.

`azure storage account create -l "westeurope" -g "my-rg" --type LRS test54321` #fails to cr

[2016-05-06 07:12] yaxia commented on #1063
Close it with @gangsir 's answer.

[2016-05-06 07:12] #1063 closed

[2016-05-06 07:19] #1602 closed

[2016-05-06 07:19] yaxia commented on #1687
Close it with @siriusk-MSFT 's answer.

[2016-05-06 07:19] #1687 closed

[2016-05-06 07:20] yaxia commented on #1697
Close it for now as no plan on this requiement.

[2016-05-06 07:20] #1697 closed

[2016-05-06 07:21] #1979 closed

[2016-05-06 07:23] yaxia commented on #2120
This is fixed with the release [0.10.0](https://github.com/Azure/azure-xplat-cli/tree/v0.10.0-May2016)

[2016-05-06 07:23] #2120 closed

[2016-05-06 07:24] yaxia commented on #2337
Close it. @fbejarano Please feel free to reopen it if the work around doesn't work for you.

[2016-05-06 07:24] #2337 closed

[2016-05-06 07:25] yaxia commented on #2600
ETA of the fix: June release

[2016-05-06 07:26] yaxia commented on #2377
ETA of the fix: June release

[2016-05-06 08:37] MikhailTryakhov commented on #2509
@huangpf @amarzavery @sauryadas guys can you review comment above and close this issue?

[2016-05-06 08:43] MikhailTryakhov commented on #2850
@huangpf @romangromov  @sauryadas can you *really* reproduce such issue?
I assume it must be closed as non-reproducable

[2016-05-06 14:00] mrgoldsmith opened #2866 "Cannot Install SSL Cert .pfx file to Application Gateway via CLI"
CLI Version: **10.0.x**
OS Type: Win
Installation via:  win-installer

Mode: **ARM**

Description:
`Cannot load SSL-cert to Application Gateway

Steps to reproduce:
1) Run `azure network application-gateway ssl-cert create %Resource Group% %Application Gateway% -c %certname% -f D:\whereever\mycert.pfx -p Password`

Error stack trace:

Password for the Cert has been verified.

2016-05-06T13:40:25.0

[2016-05-06 14:08] jimyjohny opened #2867 "Disassociate subnet from route table"
CLI Version:  0.9.20
OS Type:  CentOS
Mode:  ARM

Is there any option to disassociate subnet from a route table ?  Trying to delete route table without disassociating the subnet gives "error:   Route table XXXXX is in use and cannot be deleted"

[2016-05-06 18:03] eduardkoller commented on #2867
@romangromov - can you take a look?

[2016-05-06 18:04] eduardkoller commented on #2865
@yaxia - is this posssible?

[2016-05-08 18:47] MrBRUE commented on #2175
@mayurid The issue still pertains, do you have any pointers for me what to do?

[2016-05-08 18:54] amarzavery commented on #2175
@MrBRUE - Can you please install the latest version of azure-cli (0.10.0) and make sure you have 4.x version of node.js installed on your system? Do let us know if the issue still persists after that.

[2016-05-08 19:31] MrBRUE commented on #2175
Finally it works @amarzavery ! Thanks, the CLI upgrade helped.

[2016-05-08 20:41] #2175 closed

[2016-05-09 02:58] yaxia commented on #2865
@stevenlivz Which version of Azure CLI are you using? I can create a LRS storage account that supports file/table directly.
Could you please try the latest Azure CLI (0.10.0) with the following script:

    azure storage account create -l "westeurope" -g "my-rg" --sku-name LRS --kind storage test54321

[2016-05-09 17:16] begoldsm opened #2868 "Maximum call stack size exceeded when uploading large file to ADLS"
CLI Version: **0.9.20**
OS Type: Linux
Installation via:  npm

Mode: **ARM**

Description:
23GB file upload to ADLS fails with maximum call stack size exceeded error.

Steps to reproduce:
1. create a 23GB file
2. Run the following command: azure datalake store filesystem import -n <adls account> -p <local path to 20gb file, including name> -d /some/server/path/file.txt -f

**Here is the informatio

[2016-05-09 17:56] eduardkoller commented on #2868
@begoldsm - we're trying to repro tis on our side in order to investigate. Will keep you posted

[2016-05-09 17:57] eduardkoller commented on #2866
@romangromov - can you please take a look?

[2016-05-09 18:00] eduardkoller commented on #2864
This is caused by the fact that the API version of Azure China is older than the API version of Azure global. The workaround here is to use the previous version (0.9.18) of the released CLI: https://github.com/Azure/azure-xplat-cli/releases/tag/v0.9.18-hotfix

[2016-05-09 18:02] eduardkoller commented on #2859
@huangpf Can you please take a look?

[2016-05-09 18:04] eduardkoller commented on #2853
@k2velocity - does this workaround solve the problem?
@huangpf - when can we have a fix for the boot diagnostics storage account name generation?

[2016-05-09 18:07] eduardkoller commented on #2851
@huangpf - can you please take a look?

[2016-05-09 18:09] eduardkoller commented on #2848
@sauryadas @mahthi is there an update on this?

[2016-05-09 18:12] eduardkoller commented on #2824
@bingosummer - This is caused by the fact that the API version of Azure China is older than the API version of Azure global. The workaround here is to use the previous version (0.9.18) of the released CLI: https://github.com/Azure/azure-xplat-cli/releases/tag/v0.9.18-hotfix

[2016-05-09 18:15] eduardkoller commented on #2794
@sauryadas - who would be the best person to further investigate this?

[2016-05-09 19:16] huangpf commented on #2824
@eduardkoller
How do we handle similar requests about CLI versions for various environments and national clouds onwards?

[2016-05-09 20:33] politician commented on #2509
@MikhailTryakhov Have you tried the command that you propose in Bash? It doesn't work.

[2016-05-09 20:41] politician commented on #2850
@MikhailTryakhov Please let us know when you've actually run the following commands, and not just assumed that you know what will happen when you do.

1. Open a Bash prompt on a Linux/OSX box.
2. Run `azure vm create --virtual-network-name "\"Group Foo foo-vn\""` and let us know what you find.
3. Run `azure vm create --virtual-network-name "Group Foo foo-vn"` and let us know what you find.
4. Send

[2016-05-09 22:11] mahthi commented on #2848
The operation should eventually complete. Can you please get me the VM's InstanceView (detailed status) and paste it here?

[2016-05-10 01:47] k2velocity commented on #2853
@eduardkoller :   Yes it does

The VM creation works if boot Diagnostics is Skipped

azure vm create "Resourcegroupname" "Vmname" westus -y Linux -o "storageexample1" -R vhds -d "storageexample1.blob.core.windows.net/vhds/Sample VM File.vhd" -z Standard_DS3 -N Nic1,Nic2,Nic3 --disable-boot-diagnostics
 info: Executing command vm create
•Looking up the VM "Vmname" info: Using the VM Size "Standard_

[2016-05-10 05:08] leojk commented on #2591
Hi @sauryadas @orizohar @rsltrifork I have the same issue - copying a blob vhd from standard storage to premium storage, as well as uploading from local storage to premium, outputs as isPremium false.

Thanks.

[2016-05-10 05:14] huangpf commented on #2848
@bwhiton On our side, it's identified as a service API issue, so we are waiting for further investigation.

Meanwhile, could you please retry the call to see whether it can be reproduced? Thanks.

[2016-05-10 07:52] romangromov commented on #2860
@deltadan thanks, reseived some feedback from Azure DNS team:
[code]
Currently there is no support for DNS name availability check in Xplat-CLI ARM mode

[2016-05-10 08:28] romangromov commented on #2866
Adding @MikhailTryakhov as commands owner

[2016-05-10 08:32] MikhailTryakhov commented on #2866
Hi @eduardkoller  @mrgoldsmith thank you for your job!
This issues is fixed and would be published in next release 0.10.0.
I'll provide you details when it will be available soon.

[2016-05-10 08:34] romangromov commented on #2867
@jimyjohny to disassociate subnet from route table please try:

[code]

where
[code]

Hope this helps

[2016-05-10 09:10] romangromov opened #2869 "ARM: DNS Zone import: how do escape a semicolon in a value?"
CLI Version: **0.10.0**
OS Type: Win
Installation via:  npm

Mode: **ARM**

Description from customer:

+@jtuliani for visibility

[2016-05-10 10:53] morsh commented on #2618
@amarzavery
I updated node.js to version 4.4.4 and azure to version 0.10.0.

I'm still getting the same errors. I've attached the deployment error file from one of the web apps.

[log (4).zip](https://github.com/Azure/azure-xplat-cli/files/256990/log.4.zip)

[2016-05-10 11:25] MikhailTryakhov commented on #2509
Hi @politician sure I've tested it in bash. Did you?
It worked correctly in my case without quotas.
![http://img.prntscr.com/img?url=http://i.imgur.com/3to3cI1.png]
@romangromov could you please share how did you reproduced such error?

[2016-05-10 11:32] MikhailTryakhov commented on #2850
Hi @politician
usually we're sharing screenshots when we show that bug *exists*, not that all works fine :)

But to save some time I've reproduced all cases you wished.
1) Created vnet with whitespaces in name
![Created vnet with whitespaces in name](http://img.prntscr.com/img?url=http://i.imgur.com/66wkwPF.png)

2) Have a error creating vnet with your wrong example 2)
![error creating vnet](http:

[2016-05-10 11:39] MikhailTryakhov commented on #2866
Hi @mrgoldsmith @eduardkoller
thank you for a great job.
This issues is fixed and would be published in next release.
I'll provide about you details soon. Will try to publish it ASAP,

[2016-05-10 18:05] amarzavery commented on #2847
@smirea
[code]
We were not able to repro this issue on mac or linux or windows with git bash. We had ~25 public ips.

Take a look at the output:
[code]

### Script content:
- blah.sh
[code]
- prox.js
[code]

[2016-05-10 18:09] sivaedupuganti opened #2870 "Azure CLI on MAC - initial mode set to ASM instead of ARM"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  mac installer

Mode: **ARM / ASM**

Description:
* Deployed Azure CLI for MAC from http://aka.ms/mac-azure-cli
* azure help shows the current mode is ASM
[code]

[2016-05-10 18:10] amarzavery commented on #2870
@sivaedupuganti - You can flip it to ARM using `azure config mode arm`

[2016-05-10 18:12] sivaedupuganti commented on #2870
Yes, I did that. But shouldn't the default mode be set to ARM?

[2016-05-10 18:13] amarzavery commented on #2870
People who still use ASM more over ARM would want default to be ASM. It is a subjective thing.

[2016-05-11 02:59] bbetstcw opened #2871 "Level 2 resource type is not supported by azure resource"
I've found out that `azure resource show` only support level 1 resource type. For example, the below command is good.

    azure resource show Default-SQL-EastAsia <server> Microsoft.Sql/servers 2014-04-01-preview

However, if I want to get level 2 resource type. It's not working.

    azure resource show Default-SQL-EastAsia <server>/<database> Microsoft.Sql/servers/databases 2014-04-01-preview

[2016-05-11 03:19] amarzavery commented on #2871
@bbetstcw - You need to use the --parent switch to provide the parent or layer 1 resource.
[code]

azure resource show ... --parent servers/<serverName> ....

[2016-05-11 06:31] VireshMathapati13 commented on #1937
You can
there's an alternative way to do this
How to move ARM Virtual Machine into Availability Set? Follow the following link

http://blog.e-zest.net/how-to-move-arm-virtual-machine-into-availability-set

[2016-05-11 07:15] SamirFarhat commented on #1937
Viresh,
Thanks for the script. But this script will generalize the Virtual Machine image and only applicable for Windows VMs. The target VM will be different from the new one.

The following script permits moving VMs between AS

https://buildwindows.wordpress.com/2016/02/25/add-or-change-an-arm-virtual-machines-availability-set/

[2016-05-11 14:23] VireshMathapati13 commented on #1937
yeah Samir.
The solution posted by me is an alternative solution.
and thanks for your solutions.

[2016-05-11 14:27] jeffpatton1971 commented on #1937
Ya, @SamirFarhat has the best solution for this until something from Microsoft comes along. Its silly that we have to come up with scripts like this to create functionality that should have been there already. The only downside to ANY of these solutions is that the vm is powered off.

Although it is cool that we were able to come up with a handful of solutions, way to go guys!

[2016-05-11 18:05] eduardkoller commented on #2870
@amarzavery - let's use the telemetry data to see what mode is more often used, and default to that.

[2016-05-11 18:11] eduardkoller commented on #2869
@jtuliani - from Roman's second statement, looks like a server issue. Is this your team?

[2016-05-11 18:12] eduardkoller commented on #2866
The fix will be included in the upcoming June release

[2016-05-11 18:12] #2866 closed

[2016-05-11 20:38] jtuliani commented on #2869
The API works fine, this is a CLI issue on zone file import (I was able to repro)

[2016-05-12 01:18] politician commented on #2509
Of course I tested it, otherwise I wouldn't have filed the original bug. :)

<img width="712" alt="azure-vnet-create-bug" src="https://cloud.githubusercontent.com/assets/1149663/15201324/b690f42a-17a4-11e6-8499-b37d545fe09f.png">

[2016-05-12 01:22] politician commented on #2509
Oh, PS, we're talking about Virtual Networks, not VMs.

[2016-05-12 01:27] politician commented on #2850
As mentioned in #2509, we're talking about virtual networks and we're not talking about virtual machines.  I'd prefer to continue the discussion in one, but not both, of these threads moving forward.  Otherwise, we're just wasting time.  Nevertheless, here you go.

Environment: Azure Tools Version 0.9.15 running on Bash on Linux
Steps to reproduce / Screenshot:

<img width="712" alt="azure-vnet-cr

[2016-05-12 01:35] politician commented on #2850
I will need to provide a screenshot of what happens when I perform a `vm create`, but I'll have to rollback my hotfix to do so, so it was easier to just show a `vnet create`.  I believe this is an example of the wider impact of this bug that @romangromov discovered.

[2016-05-12 02:17] politician commented on #2509
I'm unsubscribing from this issue.  From your screenshots, it's obviously working on whatever build you're currently using which is probably newer than the build I was using, so the issue must have been resolved in the interim.  Thanks for the screenshots.

[2016-05-12 02:29] politician commented on #2850
Thanks, it looks like it's working on your build, and that I've completely wasted my time here.  I'm unsubscribing from this issue.  Have a great day.

[2016-05-12 02:59] #2509 closed

[2016-05-12 03:00] #2850 closed

[2016-05-12 06:59] jimyjohny commented on #2867
Its working when tried without entering route table id for "-i" . Thanks.
Maybe this needs to be updated in help.

[2016-05-12 06:59] #2867 closed

[2016-05-12 07:54] romangromov commented on #2867
@jimyjohny good catch, glad to help

[2016-05-12 13:55] russellseymour opened #2873 "Error message from command line gives location in the single line version of the JSON template"
CLI Version: 0.10.0
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
When using `azure group deployment create ...` with an error in the template file the application gives the location of the error in the minified single line version of the JSON template, e.g.:

[code]

The error message should give the location in the non-minified version of the JSON so it is more human readable.

[2016-05-12 18:19] techgeek03 opened #2875 "Storage blob upload error"
CLI Version: **0.10.0**
OS Type: Linux (Ubuntu)
Installation via:  npm
node version: 6.1.0
npm version: 3.8.6

Mode: **ARM**

Description:
azure storage blob upload 'test.txt' container blob
throws error "If encoding is specified then the first argument must be a string" on Ubuntu with node 6.1.0 and npm 3.8.6

Steps to reproduce:
1) Run `azure storage blob upload 'test.txt' container blob`

Error

[2016-05-12 18:30] techgeek03 commented on #2875
Editing /usr/lib/node_modules/azure-cli/lib/util/storage.util.js line 748 by deleting the "utf8" parameter solved the problem.

[2016-05-12 18:58] jozefsukovsky opened #2876 "ARM: application-gateway create -b/--http-listener-protocol throws an exception"
CLI Version: **0.10.0**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm

Mode: **ARM**

Description:
`azure network application-gateway create` command throws an exception when using -b/--http-listener-protocol

Steps to reproduce:
1) Run `azure network application-gateway create -b [http|https].`

Error stack trace:

2016-05-12T18:45:16.394Z:
[TypeError: Cannot call metho

[2016-05-12 19:14] jozefsukovsky opened #2877 "ARM: application-gateway create does not validate -x/--cert-password correctly"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure network application-gateway create` ignores -x/--cert-password and throws an error **verbose: Error: --password parameter must not be empty** even there is no --password parameter present. (at least using `azure network application-gateway create -h`.

Steps to reproduce:
1) Run `azure network applicati

[2016-05-12 19:23] jozefsukovsky opened #2878 "ARM: application-gateway create -z/--capacity invalidates number"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure network application-gateway create -z/--capacity [2,10]` throws Error "parameters.properties.sku.capacity with value 2 must be of type number." occurred in serializing the payload

Steps to reproduce:
1) Run `azure network application-gateway create -z 2`

Error stack trace:

2016-05-12T19:19:57.143Z:
{

[2016-05-12 20:11] amarzavery commented on #2878
@MikhailTryakhov @romangromov - This should be a simple fix. Commander treats all the values given from command line as a string. You will have to use `parseInt(value)` before passing it to the sdk.

[2016-05-12 20:12] amarzavery commented on #2876
@romangromov @MikhailTryakhov - please take a look?

[2016-05-12 20:13] amarzavery commented on #2877
@romangromov @MikhailTryakhov - please take a look?

[2016-05-12 20:14] amarzavery commented on #2875
@yaxia - can you please take a look?

[2016-05-12 20:15] amarzavery commented on #2871
@bbetstcw - Is this issue resolved for you? If so, then I can close it.

[2016-05-12 22:35] mcronce commented on #2230
Is there any news on this guy?  I just ran into the same issue and unfortunately with the size of disk I'm working with, a fixed-size VHD is not an option :(

[2016-05-13 00:28] bbetstcw commented on #2871
Yes, the problem is solved. Thank you.

[2016-05-13 00:28] #2871 closed

[2016-05-13 02:11] anuchandy commented on #2230
@mcronce CLI does not support dynamic VHD, please see https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-classic-create-upload-vhd/, as mentioned in this doc you have to use go tool for the same.

[2016-05-13 03:59] yaxia commented on #2875
It's fixed in the commit:  https://github.com/Azure/azure-xplat-cli/commit/896de300bfa9859e0618cdb8527d0c3e18c86ae0

[2016-05-13 03:59] #2875 closed

[2016-05-13 06:46] vinjiang commented on #1970
@hasonmsft, pls investigate.

[2016-05-13 09:10] bingosummer opened #2879 "`azure vm image list --location "East US" --publisher canonical --offer UbuntuServer --sku 14.04.3-LTS` command doesn't output `OS`."
CLI Version: **0.9.18**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure vm image list --location "East US" --publisher canonical --offer UbuntuServer --sku 14.04.3-LTS` command doesn't output `OS`.

[code]

However, `azure vm image list --location "East US" --publisher canonical --offer UbuntuServer` command can output `OS`.

Steps to reproduce:
1) Run `azure vm

[2016-05-13 15:38] amarzavery commented on #2879
@huangpf @sauryadas - please take a look.

[2016-05-13 15:40] amarzavery commented on #2879
https://management.azure.com/subscriptions/******************************/providers/Microsoft.Compute/locations/eastus/publishers/**UbuntuServer**/artifacttypes/vmimage/offers/**canonical**/skus/14.04.3-LTS/versions/14.04.201601145?api-version=2015-06-15

For some reason, offer and publisher value is interchanged..

[2016-05-14 10:07] bingosummer commented on #2879
@amarzavery , you are right.

The following two lines are interchanged.
https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/vm/vmImage._js#L117-L118.

[2016-05-14 11:45] dukedougal commented on #2570
@singhkay Thanks for the response but I need to know how to solve these problems with code, not templates.

[2016-05-14 14:36] stevenlivz commented on #2865
@yaxia Thanks. I was on OSX client 0.9.20 which i upgraded and with the new --sku-name option it works perfectly. Thanks!

[2016-05-14 14:36] #2865 closed

[2016-05-15 18:59] MikhailTryakhov commented on #2877
Hi @jozefsukovsky
thank you for a great job!
This issue duplicates issue [#2877](https://github.com/Azure/azure-xplat-cli/issues/2877). It's fixed in PR[#2861](https://github.com/Azure/azure-xplat-cli/pull/2861) and would be published in next release.

[2016-05-15 19:11] CalvinHartwell commented on #2230
+1 facing the same issue, thanks for the useful replies; will share this with my customers.

[2016-05-15 23:39] CalvinHartwell opened #2881 "azure image create error: resource temporarily unavailable"
CLI Version: 0.10
OS Type: Linux, RHEL 7.2
Installation via:  npm
Mode: ARM (not sure how to check this)

Description:
I'm trying to create vm images using VHD (fixed size) but I get lots of errors and the upload speed is really slow. Are there any alternatives to using the Azure CLI ?

I'd also like to know if dynamic VHD support is on the roadmap?

For example (vhd is approx 30gb, I am in the UK

[2016-05-16 02:52] AbelHu opened #2882 "Does Azure CLI support proxy?"
CLI Version: **0.10.0**
OS Type: Win
Installation via:  win-or-mac installer

Mode: ARM

Description:
In many corporate environments, proxies are in heavy use. The Azure CLI seems not to support proxies. Can you help to confirm it? If not, when can Azure CLI support proxies?

[2016-05-16 07:56] ronzionp commented on #2866
@eduardkoller hi, i'm getting the exact same error using azure-cli 0.10.0 (node: 4.2.4) on Mac OS. Just wanted to ask if the fix will be available for Mac version too.

Thanks.

[2016-05-16 08:08] MikhailTryakhov commented on #2866
Hi @ronzionp
Azure CLI is multi-platform tool and all the fixes would be available on Mac OS too.

Sorry for inconvenience.

[2016-05-16 08:50] MikhailTryakhov commented on #2877
sorry @jozefsukovsky. You're right - this is another issue.
Would be fixed soon

[2016-05-16 16:34] amarzavery commented on #2882
set HTTP_PROXY=""
OR
set HTTPS_PROXY=""
and that should work.
This is looked at in the node sdk runtime that CLI depends on.
https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest/lib/serviceClient.js#L91

[2016-05-16 17:58] eduardkoller commented on #2873
@vivsriaus @ravbhatnagar - can you please take a look?

[2016-05-16 18:01] eduardkoller commented on #2869
?@romangromov - can you please investigate further?
btw, azure resource create --tags works fine with semicolons

[2016-05-16 18:07] vivsriaus commented on #2873
@russellseymour  @ravbhatnagar Can you please share the template file and the command you ran? FWIW, I tried reproducing this using a faulty template and I get the expected error (with the correct line number):

$ node bin/azure group deployment create -g vtest --template-uri https://raw.githubusercontent.com/vivsriaus/armtemplates/master/invalidJsonTemplate.json
info:    Executing command group d

[2016-05-16 19:23] romangromov commented on #2869
Hi @eduardkoller @jtuliani currently I'm working on `CLI Code-Generator` requested by DeepakRajendranMsft as higher priority task. Just started this issue for visibility and not to lose in e-mail thread

[2016-05-17 00:24] amarzavery commented on #2873
@vivsriaus  - I remember you adding the json linter in a PR. I am not sure if that PR was a part of 0.10.0. Did you run the code from the 0.10.0 version or from your local repo clone?

[2016-05-17 02:23] vivsriaus commented on #2873
@amarzavery I ran this from my local repo clone. May be the user has to run npm install again?

[2016-05-17 07:09] huangpf commented on #2879
Thanks for identifying the issue.

@sauryadas Let's discuss by the end of today how to fix this one for the incoming release?

[2016-05-17 07:30] morsh commented on #2618
@amarzavery, @ravbhatnagar
Pinging... :)

[2016-05-17 17:03] amarzavery commented on #2618
I looked at the error log provided in log(4).zip and it says callback called more than once.
[code]

[2016-05-17 17:06] amarzavery commented on #2618
@ravbhatnagar @vivsriaus - Can you take a look at this issue?

[2016-05-17 17:07] amarzavery commented on #2881
@huangpf @sauryadas - Please take a look.

[2016-05-17 17:10] huangpf commented on #2881
@CalvinHartwell How often does this happen? Does retry work?

[2016-05-17 22:53] sauryadas commented on #2879
@huangpf we need to fix this. Let me know if we need to create TFS item to track this.

[2016-05-18 08:38] AbelHu commented on #2882
Thanks, @amarzavery. In Linux, the command is as below.
export HTTP_PROXY=""
or
export HTTPS_PROXY=""

[2016-05-18 15:18] mh0rkk commented on #2756
I have the same issue since i installed the azure command line tools. It happens for every command i try to run, also deleting all tokens from the keychain does not seem to help. I also tried to remove the .azure directory and reinstalling the azure cli, but to no avail.

[2016-05-18 18:57] MikhailTryakhov commented on #2878
Fixed and would be published in next release (end of May)

[2016-05-18 18:57] #2878 closed

[2016-05-18 18:57] MikhailTryakhov commented on #2876
Fixed and would be published in next release (end of May)

[2016-05-18 18:57] #2876 closed

[2016-05-18 18:57] MikhailTryakhov commented on #2877
Fixed and would be published in next release (end of May)

[2016-05-18 18:57] #2877 closed

[2016-05-19 06:22] AbelHu opened #2887 "How can we use azure-cli to update the password of a service principal after it expires?"
CLI Version: 0.10.0
OS Type: Linux
Installation via:  npm

Mode: ARM

Description:
By default a service principal will be invalid after one year. How can we use azure-cli to update the password of the service principal after it expires?

We follow this [guidance] (https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/get-started/create-service-principal.md) to create a

[2016-05-19 07:39] AbelHu commented on #2882
'set HTTP_PROXY="" ' does not work on Windows.

Version: 0.10.0

Command and result:
[code]

.azure\azure.details.err
[code]

.azure.err
[code]

[2016-05-19 14:06] jimyjohny opened #2888 "how to create AD user ?"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm / github repo

Mode: **ARM **

Description:
Is there any option to create AD user ?  cli now supports RBAC , but we have to create user via web interface before assigning the role using cli.

[2016-05-19 14:39] bingosummer opened #2889 "azure role assignment create command doesn't assign the right role."
CLI Version: **0.9.18**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure role assignment create` command doesn't assign the right role.

[code]

I think, it should be `irtual Machine Contributor` instead of `Classic Virtual Machine Contributor`.

Steps to reproduce:
1) Run `azure role assignment create`

[2016-05-19 17:13] yugangw-msft commented on #2882
This is not right. For windows, the batch file to work with fiddler are in the repository
https://github.com/Azure/azure-xplat-cli/blob/dev/tools/windows/scripts/enableFiddler.cmd
https://github.com/Azure/azure-xplat-cli/blob/dev/tools/windows/scripts/disableFiddler.cmd

[2016-05-19 18:18] amarzavery commented on #2888
@jimyjohny - That is a good point. This was not added because of a push from the service team.
@shuagarw - Can this be done with the latest version of graph library that we have in node sdk?

[2016-05-19 18:20] amarzavery commented on #2889
@shuagarw - Can you take a look at this issue?

[2016-05-19 18:23] amarzavery commented on #2882
@AbelHu - From the snapshot you provided above `$ azure login`. It looks like you are using git bash on windows.

For bash you need to use `export HTTP_PROXY=""`.

FYI, Please do not use powershell prompt from windows. It is not supported for azure-xplat-cli. The commands may or may not work as expected.

[2016-05-19 19:26] shuagarw commented on #2889
@rashidqureshi @Stefan for FYI

I don't see the repro of this issue on windows.

C:\Users\shuagarw>azure -v
0.9.18

C:\Users\shuagarw>azure role assignment create --signInName test2@rbacclitest.onmicrosoft.com -o "Virtual Machine Contributor"
info:    Executing command role assignment create
+ Finding role with specified name
/data:    RoleAssignmentId     : /subscriptions/4004a9fd-d58e-48dc-aeb2-

[2016-05-19 23:32] bingosummer commented on #2889
@shuagarw
Sorry, I forgot to mention it was in `AzureChinaCloud`.

[2016-05-19 23:35] bingosummer commented on #2889
@amarzavery
I suggest to add an item named `Environment: AzureCloud or AzureChinaCloud or ...` in the issue template to remind people of it.

[2016-05-19 23:54] amarzavery commented on #2889
Sure. Thanks for the feedback. We shall do that.

[2016-05-19 23:58] shuagarw commented on #2889
@bingosummer Thanks for the clarification. Can you please run these commands and let me know the output.
azure role show -n "Virtual Machine Contributor"
azure role show -n "Classic Virtual Machine Contributor"

Also, please run the original create command with -vv param and give me the entire output. Liike,
azure role assignment create --signInName test2@rbacclitest.onmicrosoft.com --roleName "Vi

[2016-05-19 23:59] AbelHu commented on #2882
I use ‘Command Prompt’ in Windows. The same proxy works in Linux but does not work in Windows.

From: Amar Zavery [mailto:notifications@github.com]
Sent: Friday, May 20, 2016 2:26 AM
To: Azure/azure-xplat-cli <azure-xplat-cli@noreply.github.com>
Cc: Abel Hu <Chou.Hu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-xplat-cli] Does Azure CLI support proxy? (#2882)

@Abe

[2016-05-20 00:19] bingosummer commented on #2889
[code]

I ran `azure role list` and found no `Virtual Machine Contributor` and `Network Contributor`.
I tried to run  the original create command with -vv, but the role has existed. So I tried to delete the role, and got:
[code]

I guess `Virtual Machine Contributor` and `Network Contributor` roles are not available in AzureChinaCloud.
[code]

[2016-05-20 16:58] shuagarw commented on #2889
@bingosummer We have identified the issue and will work on it soon. It may take 2-3 days for it to be fixed. Will let you know once it is done.

[2016-05-22 02:38] dudadornelles opened #2893 "No way to get ftp credentials for site ("/publishxml" endpoint)"
CLI Version: **0.10.X**
OS Type: Mac
Installation via:  npm

Mode: **ASM**

Environment: **AzureCloud**

Description:
No way to get ftp credentials ("/publishxml" endpoint)

I'm trying to automate the deployment on App Services using ftp to copy a couple of files over but I can't find a way to get the ftp credentials using the cli. In fact it doesn't seem to be a feature. Is there a workaround? Y'

[2016-05-22 16:07] bingosummer commented on #2889
Thanks, @shuagarw
Could you please share the root cause?

[2016-05-22 20:59] colemickens commented on #2267
Hi @amarzavery, I'm not seeing the paging behavior again... maybe I'm doing something wrong. I did `azure ad sp list | more` on the onmicrosoft.com tenant and it's not returning any results. It appears hung.

If I do `-vv` then I can see it paging through all of the results, but it doesn't seem to output them as it goes.

[2016-05-23 17:43] eduardkoller commented on #2893
@ahmedelnably - can you assist with this?

[2016-05-23 17:44] eduardkoller commented on #2887
Thank you for the suggestion. We added it to our backlog.

[2016-05-23 17:47] k2velocity commented on #2853
Any updates on this?

[2016-05-23 17:47] k2velocity commented on #2852
Any updates on this ?

[2016-05-23 18:53] ahmedelnably commented on #2893
@dudadornelles Unfortunately this is not available in the current CLI, we are planning to add the support for it, but only for ARM mode.

[2016-05-23 20:40] AbelHu commented on #2882
@amarzavery @yugangw-msft Ping...

[2016-05-23 20:48] amarzavery commented on #2882
AS we said this works for us. Yugang even showed you a script that sets/unsets the HTTP_PROXY.

I would say try HTTPS_PROXY as well.

I have tested and this works well on my windows box as well.

[2016-05-23 20:51] AbelHu commented on #2882
@amarzavery On Windows, it seems like that the proxy address is always 127.0.0.1:80 whatever you set in HTTP_PROXY. You can see the error message in above comments.

[2016-05-24 00:07] colemickens commented on #1636
The workaround described earlier no longer works, as `azure vm location list` is no longer a command and `azure location list` does not include vm sizes per location. Please suggest another workaround, thanks.

[2016-05-24 13:57] santopuppy commented on #1791
+1 for this support in cli

[2016-05-24 17:20] orlandow commented on #2052
0.9.19, same issue

[2016-05-24 17:40] vivsriaus commented on #1831
@TianoMS Can you share the template you used to check if this issues existed in PoSH? I don't see a template being referenced here, in this issue.

[2016-05-24 18:34] TianoMS commented on #1831
@vivsriaus what I did is get any well-formed template, and make some changes to make it broken (like removing single quotes on a variable name). Try deployment with the template and check the error message.

[2016-05-24 19:07] vivsriaus commented on #1831
@gabrielhartmann We've made a bunch of changes to error handling in CLI over the past few months. I tried passing in a similar template which had a missing single quote for variable name, and I don't see the generic error (line 1 column x) anymore. Can you please retry?

[2016-05-24 22:04] ltenison commented on #1530
This is still an issue.  I'm getting the same error on a Windows 7 Ent laptop, from line 754 in fs.js.  I get that error no matter if using the Windows Platform Installer or if I de-install and re-install directly from GitHub.  Please re-open and suggest a solution.  thanks.
![captureazclibug](https://cloud.githubusercontent.com/assets/9934492/15521461/ca577d0a-21c0-11e6-98e6-6d923fe7cfa2.JPG)

[2016-05-24 22:10] ltenison opened #2898 "MKDIR fails in Azure CLI, Windows 7 Enterprise"
CLI Version: Latest
OS Type: Win 7 Enterprise
Installation via:  npm /  win-or-mac installer

Please refer to this closed issue:
Running any command result in an error #1530

It is still happening on Windows 7 Enterprise.  See attached.
![captureazclibug](https://cloud.githubusercontent.com/assets/9934492/15521552/4bad7c56-21c1-11e6-88c4-0a13ccae188e.JPG)

[2016-05-24 23:14] amarzavery commented on #2898
@ltenison - We do not recommend powershell prompt for running the cli commands. Can you please try cmd prompt or git bash and let us know if that is an issue?

[2016-05-24 23:47] ltenison commented on #2898
Amar,

You are partially correct.  On my Win 7 Enterprise laptop, the cmd.exe DOS prompt fails with the same error I saw in PowerShell.  But the GitHub “shell” works – the “azure” cmd with no parameters brings up the CLI without error.

Thanks for responding so quickly.  I also tested the CLI installation from my personal Windows 10 desktop computer and it worked fine, even from PowerShell.  The i

[2016-05-25 01:02] gabrielhartmann commented on #1831
@vivsriaus:  Thanks for addressing this.  I haven't used the azure cli since shortly after this bug was filed (a year ago), and no longer use it at all, so I can't verify if this has been fixed.  I presume if you are getting better error messages using the repro originally provided, that this bug can be closed as fixed.

[2016-05-25 04:53] vivsriaus commented on #1831
@gabrielhartmann Thanks for the info. Just curious - I hope this bug is not one of the reasons why you're not using Azure CLI anymore. :) We're working hard on our end to constantly improve the Azure CLI experience, and now that we have enough people on board, response to issues like these shouldn't take a year anymore.

[2016-05-25 08:49] bingosummer opened #2900 "[Question] Does Azure CLI has the command to publish images?"
There is a module `Microsoft.WindowsAzure.Commands.ServiceManagement.PlatformImageRepository` which is used to publish image in Azure Powershell.
Does Azure CLI has the similar command for this?

[2016-05-25 14:32] moapurva opened #2901 "Error using Azure CLI to download file from Azure Data Lake Store"
CLI Version: **0.9.X**
OS Type: Linux (CentOS)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:
I am getting an error using Azure CLI to download a 26GB file from ADLS to an Azure HDP sandbox VM that has a premium disk attached. Sandbox is in the same Azure region as ADLS.

Steps to reproduce:
1)  Run command: azure datalake store filesystem export myadlsname /myadl

[2016-05-25 21:28] kendersec commented on #2825
I'm still getting the error on a version that presumably fixed this:

[2016-05-25 21:35] kendersec commented on #2825
I guess based on the previous PR this was actually fixed 2 days ago as part of some other changes?

https://github.com/Azure/azure-xplat-cli/blame/dev/lib/util/storage.util._js#L761

When will that make it into npm?

[2016-05-25 22:03] haocs commented on #2825
@kendersec our next release will be 06/01. This fix should be available then.

[2016-05-25 22:37] ahmetalpbalkan commented on #2767
folks, any updates? this should be very easy to add.

[2016-05-25 22:46] yugangw-msft commented on #2767
@huangpf, I assume your own the command? This field is already circulated in the help file, and you just need to expose the option.

[2016-05-26 18:19] huangpf commented on #2717
@amarzavery It's confirmed in the back-end triage that this belongs to Networking.

[2016-05-27 04:24] bingosummer opened #2906 ""group template list" failed"
CLI Version: **0.9.18**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Environment: **Azure China Cloud**

Description:
`azure group template list` command doesn't output the template.

Steps to reproduce:
1) login in AzureChinaCloud
2) Then run `azure group template list`

Error stack trace:

[code]

[2016-05-27 18:17] #2898 closed

[2016-05-28 02:54] devmanhinton opened #2908 "First invocation is not thread safe"
Simple: https://github.com/Azure/azure-xplat-cli/blob/710dadee4ec88794a39f1d2164dcafe582e47549/lib/util/utilsCore.js#L42-#l44

There is a race condition possible here.
![screen shot 2016-05-27 at 10 54 22 pm](https://cloud.githubusercontent.com/assets/1439051/15624723/f92a276e-245d-11e6-9f3b-e6dbbc5591dd.png)

[2016-05-28 22:11] CalvinHartwell commented on #2881
Hey guys - sorry for the slow reply.

It happens frequently - note that I was attempting the upload from a VM. I believe the issue is with how your code handles the upload to the bucket, I read online that I should try the upload using a third party tool such as cyberduck or write my own via Visual Studio.

The author also suggested used this: [https://alexandrebrisebois.wordpress.com/2016/02/17/u

[2016-05-29 07:54] morsh commented on #2618
@amarzavery, @ravbhatnagar
Still pinging... :)

[2016-05-29 13:48] amarzavery commented on #2618
@davidebbo - Can you take a look at the webapp deployment issue? Any clue/help would be great.

[2016-05-29 15:36] davidebbo commented on #2618
Your client side node/npm is clearly not relevant here.

Please try running the `npm install` from [Kudu Console](https://github.com/projectkudu/kudu/wiki/Kudu-console) in your d:\home\site\wwwroot folder, using the same node & npm versions (4.2.4 and 3.8.3). Do you get the same error?

This will help isolate from anything related to xplat CLI, ARM templates and git deployment.

[2016-05-29 15:45] davidebbo commented on #2618
Also, try upgrading to the latest Node available on Azure, which right now is `v4.4.1`. And npm `v3.8.6`.

[2016-05-29 20:44] euroclydon37 commented on #2090
Still nothing on this?

[2016-05-31 16:02] amarzavery commented on #2090
It seems this is a low priority item for the sql team. @akromm @yaakoviyun - Can you please respond and give a timeline for this issue?

[2016-06-01 00:19] shuagarw commented on #2889
+ @RBACAsk
Hi @bingosummer This should be fixed now. Please try and let me know.
The issue was that we didn't update the RoleDefinitions (classic vs non classic) in Mooncake when we did for Azure Prod.

[2016-06-01 03:36] bingosummer commented on #2906
Any update on this issue?

[2016-06-01 04:21] bingosummer commented on #2889
Thanks @shuagarw
It works now.

[2016-06-01 04:21] #2889 closed

[2016-06-01 04:47] bingosummer commented on #2900
Any update about this issue? Thanks in advance.

[2016-06-01 17:40] akromm commented on #2090
We have this on our list of work to do.  We plan to completely rewrite all the CLI commands to make them better.  Our ETA is sometime this year :)

[2016-06-01 18:00] haocs commented on #2901
@begoldsm - could you please take a took?

[2016-06-01 18:03] begoldsm commented on #2901
@amarzavery can you help out? This does not look like an issue with ADLS directly, this looks like a deeper problem within node CLI, which I am not particularly familiar with.

[2016-06-01 18:18] haocs commented on #2900
@huangpf  - could you help answer this question?

[2016-06-01 18:20] huangpf commented on #2900
We don't have it yet. But I think @ahmetalpbalkan has a tool to do so?

[2016-06-01 18:23] ahmetalpbalkan commented on #2900
I developed a tool to publish VM extensions (it's in a private repo)

There is https://github.com/Microsoft/azure-vhd-utils-for-go that you can use to upload VHDs.

[2016-06-01 19:12] euroclydon37 commented on #2090
Awesome. Thanks.

[2016-06-01 20:28] ahmetalpbalkan opened #2915 "Dockerfile is pointless"
Dockerfile in this repo is supposed to build from source code by COPYing the source code inside the image.

We already have a Dockerfile that does `npm install azure-cli` at https://github.com/Azure/azure-cli-docker, it is pointless to have a copy.

Also any github project you go, the Dockerfile is supposed to provide a containerized build environment for source code presented in the repo direcrto

[2016-06-01 22:23] yugangw-msft commented on #2915
@amarzavery, i agree with ahmet on this. Apologize if I don't have context on this. I suggest we remove the docker file in our repro, unless we build by copying source file, but that will introduce the flakiness coming with the streamline file(those *._js files). Use "npm install" is the most reliable way, which has been covered by azure-cli-docker

[2016-06-01 22:25] ahmetalpbalkan commented on #2915
@yugangw-msft I think it is a really good practice to make the development environment buildable inside a docker container. This would help clean up the repo a little bit and feel the pain of someone trying to build from source on a clean machine.

[2016-06-01 22:37] yugangw-msft commented on #2915
I don't use docker that much. If we do want to build from repro, in the docker file we need to incorporate the [logic](https://github.com/Azure/azure-xplat-cli/blob/dev/compile-for-publish.sh) used for `npm publish azure-cli`. More or less we should get rid of those "*._js" files

[2016-06-01 22:38] ahmetalpbalkan commented on #2915
@yugangw-msft that's fine you can just `RUN ./script.sh` as a step in dockerfile if that gets the job done. Dockerfiles are the modern makefiles.

[2016-06-01 22:45] yugangw-msft commented on #2915
Great, let us follow the convention and update the docker file.

[2016-06-01 23:28] haocs commented on #2906
@bingosummer - "gallery.chinacloudapi.cn" seems not longer available. Let me check with service team.

[2016-06-01 23:39] haocs commented on #2908
@devmanhinton - cli runs in single thread model so there should not be a race condition. Did you run two/more cli commands parallely?

[2016-06-02 01:51] devmanhinton commented on #2908
Yep -- if that was not clear that was the problem I was alluding to -- so `azure cli` is not safe to use with more then one caller at a time?

[2016-06-02 03:21] haocs commented on #2908
If there are multiple `azure cli` running at the same time and they are trying to write to the same file, there will be an issue(a race condition among processes). So I will suggest not running multiple commands at the same time.

[2016-06-02 05:18] stefannilsson commented on #2230
+1

[2016-06-02 16:34] ivanignatiev opened #2917 "Bug: azure insights autoscale setting set --settingSpec , no profiles found"
CLI Version: **0.9.20**
OS Type:  **Linux (CentOS)**
Installation via:  **npm**

Mode: **ARM**

Environment: **AzureCloud**

**Description:**

[code]

shows error _No profiles found._

`$jsonspec` contains json with profiles based on https://msdn.microsoft.com/en-us/library/azure/dn931928.aspx . See exact content below.

**Investigation:**

What I have found in the Azure CLI code:
https://github.c

[2016-06-02 16:38] ivanignatiev opened #2918 "azure insights autoscale setting set --settingSpec and --autoProfiles does not take json files as an input"
CLI Version: **0.9.20**
OS Type: Linux (CentOS)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:

That is very painfull when we cannot precise json files as an input for options which require large Json objects.

Could we have `azure insights autoscale setting set` with `--settingSpec-file` and `--autoProfiles-file` options?

[2016-06-02 18:28] bingosummer commented on #2900
@huangpf
Do you have a plan to support this command?

[2016-06-02 18:29] huangpf commented on #2900
+@sauryadas

[2016-06-02 19:07] ahmetalpbalkan opened #2919 "storage commands -vv print abruptly ended output"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm

Mode: **Both ARM and ASM**

If I run command like `azure storage blob show -vv` or `azure storage blob copy show -vv` on a blob, the output is **incomplete**.

Below you can see the `%` character when my shell (zsh) is returned from a command that did not finish its output with a `\n`.

[code]

and it ends right there consistently.

[2016-06-02 19:42] haocs commented on #2919
@ahmetalpbalkan - Are you able to reproduce this with bash? Also could you try redirect the output to a file to see if the result is complete?

[2016-06-02 20:11] ahmetalpbalkan commented on #2919
@haocs it reproes in bash, however when I redirect it to a file it works correctly and saves the complete output.

[2016-06-03 14:51] dafoyiming commented on #1791
+1 for this support in cli

[2016-06-03 18:01] madorb opened #2923 "Server Error when starting/stopping/restarting App Services"
CLI Version: **0.10.1**
OS Type: Mac AND  Linux (Amazon Linux)
Installation via: npm AND brew

Mode: **ASM**

Environment: **AzureCloud**

Description:
`azure site (start|stop|restart)` results in server error

Steps to reproduce:
1) Run `azure site *`
2) See error

Additional Details:
This started happening today on multiple servers both our automated CI (amazon linux) machine and my local machin

[2016-06-03 18:52] haocs commented on #2917
@gucalder - Could you please take a look?

[2016-06-03 18:58] madorb commented on #2923
Not sure if this is a fabric issue or a cli issue - but thought i'd at least open the ticket in case others are seeing it (in either case)

[2016-06-03 20:16] madorb commented on #2923
This was definitely an infrasturcture issue. Was getting back 500 errors with body:
```<Error xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Code>InternalError</Code><Message>The server encountered an internal error. Please retry the request.</Message></Error>``` from every start/stop/restart request to

`https://management.core.windows.net/x

[2016-06-03 20:16] #2923 closed

[2016-06-03 21:08] haocs commented on #2919
@ahmetalpbalkan - sorry, I think this is a known issue. Seems stdout is not flushed when process exit. There are commands rely on process.exit so we have to call process.exit explicitly to finish execution.

[2016-06-06 01:17] bingosummer commented on #2906
@haocs , thanks for your confirmation.
Do you have a plan to fix it?

[2016-06-06 03:41] yaxia commented on #2760
We have added lease commands in the 0.10.1. Please take a try.

[2016-06-06 03:41] #2760 closed

[2016-06-06 03:41] yaxia commented on #2600
We have added lease commands in the 0.10.1. Please take a try.

[2016-06-06 03:41] #2600 closed

[2016-06-06 03:42] yaxia commented on #2485
We have added the support for it in the 0.10.1. Please take a try.

[2016-06-06 03:42] #2485 closed

[2016-06-06 03:43] yaxia commented on #2483
We have added the support for deleting snapshot the 0.10.1. Please take a try.
`azure storage blob delete -h`

[2016-06-06 03:43] #2483 closed

[2016-06-06 03:44] yaxia commented on #2377
We have added `azure storage blob snapshot` in the 0.10.1. Please take a try.

[2016-06-06 03:44] #2377 closed

[2016-06-06 03:47] yaxia commented on #1561
We have added commands to support creating, copying and deleting the blob snapshot in the 0.10.1. Please take a try.

[2016-06-06 03:47] #1561 closed

[2016-06-06 03:48] yaxia commented on #1077
We have added support for creating, copying and deleting the blob snapshot in the 0.10.1. Please take a try.

[2016-06-06 03:48] #1077 closed

[2016-06-06 04:39] ahmetalpbalkan commented on #2760
Thanks a lot.

[2016-06-06 10:55] morsh opened #2925 "ARM template with function app + GitHub + environment variables"
Hi,
I wanted to create a simple ARM templates with the following requirements:

1. The template with deploy a storage account and a function app
2. It will associate the function app with the deployed storage account via environment settings
3. The function app will be connected to a GitHub repo:

https://github.com/morsh/functions
The connecting env variable is: **AzureWebJobsStorage**

The follo

[2016-06-06 15:47] CraigWiand opened #2926 "Error message 'ConsoleScreenshotBlobUri' should not be set."
CLI Version: 0.10.0
OS Type: Win + Linux (CentOS.)
Installation via:  npm

Mode: ARM + ASM

Environment: AzureCloud

Description:
_'ConsoleScreenshotBlobUri' should not be set._

Steps to reproduce:
1) Locate a Linux VM that has the `DebugSettings>ConsoleScreenshotBlobUri` attribute set
2)  Call **azure vm extension set** command against the VM

Error stack trace:
[code]

Please contact CraigW int

[2016-06-06 18:05] eduardkoller commented on #2926
@huangpf - can you please take a look? /c @sauryadas.

[2016-06-06 18:08] eduardkoller commented on #2925
@ravbhatnagar @vivsriaus - can you please take a look?

[2016-06-06 18:11] eduardkoller commented on #2918
@gucalder - can you please take a look?

[2016-06-06 18:12] ahmetalpbalkan commented on #2919
we should either close if this is fixed or if there's a linked duplicate issue.

[2016-06-06 18:17] eduardkoller commented on #2906
@ravbhatnagar @vivsriaus - can you please take a look?

[2016-06-06 18:20] eduardkoller commented on #2900
@bingosummer - can you please detail your scenario? What Powershell command are you using (and looking for an xPlat CLI equivalent to)?

[2016-06-06 18:21] #2893 closed

[2016-06-06 18:24] eduardkoller commented on #2881
@huangpf @sauryadas - can you please assist?

[2016-06-06 20:43] scotmoor opened #2927 "'Azure ad app create' command does not provide means to set Reply URL"
CLI Version: 0.9.15
OS Type: Linux (Ubuntu)
Installation via:  ??

Mode: ARM

Environment: AzureCloud

Description:
'azure ad app create' does not support setting the Reply URL(s),

Steps to reproduce:
1) Run `azure ad app create --help'

Issue:
The 'azure ad app create' command does not provide a parameter to set the reply URL(s) for the application you are creating.

[2016-06-07 02:25] bingosummer commented on #2900
My scenario is similar to https://azure.microsoft.com/en-us/documentation/articles/azure-stack-add-image-pir/.
But I want to publish an image to Platform Image Repository in Azure instead of Azure Stack.
For Powershell, I need to import the module `Microsoft.WindowsAzure.Commands.ServiceManagement.PlatformImageRepository` manually, and then run the command.

[2016-06-07 02:25] thomas1206 opened #2928 "Outputs from `azure public-ip show ...` and `azure network nic show ...` do not include the VM instance ID"
Description:
Outputs from `azure public-ip show ...` and `azure network nic show ...` do not include the VM instance ID

Steps to reproduce:
1) Run `azure public-ip show ...`
2) Run 'azure netork nic show ...

Outputs from `azure public-ip show ...` and `azure network nic show ...` do not include the VM instance ID, making it difficult to identify the VM to which the NIC/IP is associated.

[2016-06-07 07:34] thomas1206 opened #2929 "Intermittent request timeouts against Azure China API"
CI operations intermittently encounter server timeouts when invoking the Azure CLI

[code]

[2016-06-07 07:34] thomas1206 opened #2930 "Intermittent DNS resolution errors against Azure China API"
CI operations intermittently encounter DNS resolution errors when invoking the Azure CLI

[code]

[2016-06-07 20:09] yugangw-msft commented on #2756
with 0.10.1, you can switch to file based token storage once you turn on the env variable of "AZURE_USE_FILE_TOKEN_STORAGE".  If you run into login failure, please turn this on and share out the ~/.azure/accessTokens.json with us(feel free to mask out the acesstoken entries).
Note, azure-cli for linux has already used file storage. We enable it for osx for easier diagnostic.

[2016-06-08 00:21] alambike commented on #1791
is the azure-cli support this sometimes?

[2016-06-08 00:24] amarzavery commented on #1791
@jtuliani, @romangromov @sauryadas - Can you provide a timeline for adding support for this feature?

[2016-06-08 17:01] ravbhatnagar opened #2931 "Uri containing SaS token cant be used to deploy template"
The following command gives errors if the template-uri param contains sas token -
azure group deployment create -g sasgroup --template-uri

The following types of errors are shown-
'sp' is not recognized as an internal or external command,
operable program or batch file.
'sv' is not recognized as an internal or external command,
operable program or batch file.

The reason is that we try to constru

[2016-06-08 18:12] eduardkoller commented on #2930
Are you on a corp firewall? Are you using a custom DNS server?

[2016-06-08 18:13] eduardkoller commented on #2929
Where are you running this from - where is the client geographically located?

[2016-06-08 18:17] eduardkoller commented on #2928
@romangromov, @ DeepakRajendranMsft - is it possible to show the VM ID, if a VM is associated with the IP/NIC?

[2016-06-08 18:19] eduardkoller commented on #2927
@shuagarw @vivsriaus - can you please take a look?

[2016-06-09 07:53] tanaka-takayoshi opened #2932 "``azure vm list-usage`` doesn't include the number of deallocated VM cores in core counts"
In ARM (Azure Resource Manager) mode, I want ``azure vm list-usage`` to report the core counts included deallocated VMs, because the VM limitation is included deallocated VM.

In my subscription, this command reports the core counts as 4 and the limit is 20.
[code]

However I can't start new VM with error message ``Error creating or updating virtual machine testwinvm001 - Operation results in exce

[2016-06-09 11:11] romangromov commented on #2928
Could you please clarify the version of CLI as I have "Virtual Machine" field in `azure network nic show ...` command results (0.10.1).

[2016-06-09 21:26] ahmetalpbalkan opened #2933 "[ARM] vm extension-image list: incomplete response in network issues"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm
Mode: **ARM**

This happens to me very frequently. Call(s) to get `extension-image`s fail very frequently due to various reasons. When it happens it actually does return incomplete lists (`%` below indicates end of program output without a new line in my shell).

It also could be because of output buffering issue, similarly reported at #2

[2016-06-09 21:26] ahmetalpbalkan commented on #2933
tried one more after this:

[code]

and tried once more, then it finally worked.

[2016-06-09 21:32] ahmetalpbalkan commented on #2929
It would be better to open an incident internally, saying HTTP 503 at this date with this `x-ms-request-id`.

This is not an xplat-cli issue.

[2016-06-09 21:57] ahmetalpbalkan commented on #2931
@ravbhatnagar can you please surround the argument with `"` the  `&` character in the URL a special meaning in bash and other UNIX shells. I highly doubt this is an xplat-cli issue.

[2016-06-09 21:59] ahmetalpbalkan commented on #2930
I see the same behavior against the AzurePublicCloud within redmond corpnet.

For China I expect it to be more frequent as it is GFW.

[2016-06-09 22:03] ravbhatnagar commented on #2931
@ahmetalpbalkan - yes " does not work. If the following command is given to create the deployment which includes the sas in the uri -

group deployment create -g test --template-uri "https://storagecontosotemplates.blob.core.windows.net/templates/helloworld.json?se=2016-06-08T01%3A31%3A00Z&sp=r&sv=2015-02-21&sr=c&sig
=QdourkXfyw63%2BndpHF47zI2DBGCspa8BqimD9geDuIk%3D"

We will set the deployment na

[2016-06-09 23:35] eduardkoller commented on #2919
The issue is due to Node not flushing logging to stdout when process.exit is called.
The workaround here will be to *not* call process.exit on positive path, and register a callback that calls process.exit on errors to kill the potential missbehaving providers

[2016-06-09 23:37] ahmetalpbalkan commented on #2919
@eduardkoller this is actually a critical item.

On ASM mode I ran `azure vm extension list` at least 20 times, it still has not returned a complete output. It's a big regression impacting multiple commandlets.

[2016-06-10 03:30] thomas1206 commented on #2930
It happened in our partner's environment. They are not within MSFT corp firewall, but they may have their own firewall.
@ahmetalpbalkan you are right, it is more frequent for Azure China Cloud API. But my guess is: it is not related to GFW, since the dev box is actually in US, not in China. It might be related to the API server?

[2016-06-10 03:44] ahmetalpbalkan commented on #2930
@thomas1206 But if the dev box was in China, this would happen less, right? Isn't that how GFW works?

[2016-06-10 03:58] thomas1206 commented on #2930
Oh, I got your point. The ChinaCloud API endpoint is in China. I thought it was in US. Thanks @ahmetalpbalkan.
Any suggestion for mitigation/workaround?

[2016-06-10 04:09] ahmetalpbalkan commented on #2930
Not as far as I know. We had the same problem in DockerExtension and docker-machine. If you're not in China, the API works very poorly.

If you are in China, API works fine but this time it can't install anything from repos hosted on GitHub, AWS S3 etc. (such as docker).

Having retries might have helped, but not a lot. Some requests just get in, some don't. As far as I can tell it is so random. I

[2016-06-10 04:20] thomas1206 commented on #2930
@eduardkoller Is that possible to setup China Cloud API endpoint in both US and China and add traffic manager? Or implement some failover logic.

[2016-06-10 08:27] tanaka-takayoshi commented on #2932
I found the latest version 0.10.1 has fixed this issue. Sorry for confusing.

[2016-06-10 08:27] #2932 closed

[2016-06-10 18:28] azuretek opened #2934 "Issue with login to azure china cloud, successful login but commands fail"
CLI Version: 0.10.1 (node: 5.5.0)
OS Type: Mac
Installation via: npm

Mode: ASM

Environment: Azure China Cloud

Description:
I login to AzureChinaCloud, it works but then any subsequent commands seem to fail with a "We don't have a valid access token" error. My subscription name is in chinese, so it's using chinese characters. I'm wondering if it's storing the token in a way that it can't read it

[2016-06-10 19:01] yugangw-msft commented on #2934
If you follow the [workaround] (https://github.com/Azure/azure-xplat-cli/issues/2756#issuecomment-224398671), are you able to see the token in the `~/.azure/accessTokens.json`? Also check out the `azureProfile.json` and see whether the Chinese characters get persist correctly?
Before you do it, please run `azure account clear` or just delete the 'azureProfile.json'

[2016-06-10 19:12] azuretek commented on #2934
The workaround resolved my issue!

`export AZURE_USE_FILE_TOKEN_STORAGE=1`

After logging in the token exists in the accessTokens.json file, I don't see any weird special characters that would've prevented this from working before. I'm wondering what caused the issue in the first place.

[2016-06-13 02:08] AbelHu commented on #2882
Ping...

[2016-06-13 10:37] rubeon opened #2936 "Value of keyvault secrets starting with "--" aren't recognised"
CLI Version: **0.10.1** (dev)
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:

Using the azure cli to add a value to a key vault secret that returns error.  A value that starts with "--" isn't recognised.

This means trying to store a private key with  a header like "-----BEGIN RSA PRIVATE KEY-----..." fails.

Example:
[code]

[2016-06-13 20:09] squillace opened #2937 "feature request: add flag to accept/reject telemetry for automated install scenarios"
CLI Version: **0.10.1+**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm / brew / win-or-mac installer / docker / github repo

Mode: **ARM**

Environment: **AzureCloud/Azure China Cloud/US Government/Blackforest/Azure Stack**

Description:
Automated install scenarios need to handle automatic telemetry "nag" prompt on first use. Suggest some `--telemetry-disable` or `--tele

[2016-06-13 20:22] amarzavery commented on #2937
Ah I see. We shall fix that. Its a one time thing. Once set, it will not bother you again until the .azure directory from the user's home profile is deleted.
@haocs FYI

[2016-06-13 20:32] squillace commented on #2937
Right. Feature ask was a way in automated installations to suppress/agree on installation/first run. maybe even an `azure --telemetry-accept` command that no-ops except setting that value. Dunno. but clearly the requestor was installing a LOT, or the "first time only" thing wouldn't be annoying, right? Automated installation scenario....

[2016-06-13 20:33] squillace commented on #2937
or perhaps an additional switch to `azure config`?

[2016-06-14 01:42] amarzavery commented on #2888
This will be a part of the August 2016 release

[2016-06-14 01:42] #2888 closed

[2016-06-14 01:44] amarzavery commented on #2311
This will be a part of July 2016 release.

[2016-06-14 01:44] #2311 closed

[2016-06-14 01:44] amarzavery commented on #2927
This will be a part of the July 2016 release.

[2016-06-14 01:44] #2927 closed

[2016-06-14 01:44] amarzavery commented on #2336
This will be a part of the July 2016 release.

[2016-06-14 01:44] #2336 closed

[2016-06-14 06:27] bingosummer commented on #2824
@sauryadas

Any update on this issue? Thanks.

cc: @amarzavery @huangpf @eduardkoller

[2016-06-14 16:36] ahmetalpbalkan commented on #2767
@huangpf ping.

[2016-06-14 16:40] huangpf commented on #2767
I think we shall expose this parameter for users. + @sauryadas @sharadagarwal FYI

[2016-06-15 03:42] nathanleclaire opened #2938 ""azure group delete" tries to delete group with name "undefined""
CLI Version: 0.10.0
OS Type: Ubuntu
Installation via:  npm

Mode: ARM

Environment: AWS

Description / Steps to reproduce:

[code]
Wanted the help but it offered to delete a "undefined" group instead :)

[2016-06-15 15:55] huangpf commented on #2767
![tumblr_nncf71ayoa1qaorn7o1_r4_500 1](https://cloud.githubusercontent.com/assets/3858524/16087151/db7f89ca-32d6-11e6-9c23-97e97a43ee3d.gif)

[2016-06-15 17:44] haocs commented on #2938
@nathanleclaire - Thank you for reporting this issue. `azure group delete` should validate group name before execution.
However, `azure group delete` shall not provide help info and It will try to execute this command instead. To get help of a command, `-h` is required.

[2016-06-15 20:16] molant opened #2939 "azure account import errors with "Invalid IV length""
CLI Version: **0.10.1**
OS Type: Win
Installation via:  npm
node version: 6.2.1

Mode: **ARM / ASM**

Environment: **AzureCloud/Azure China Cloud/US Government/Blackforest/Azure Stack**

Description:
`azure account import credentials.publishsettings` command throws the following:

error:   Invalid IV length
info:    Error information has been recorded to C:\Users\molant\.azure\azure.err
error:   a

[2016-06-15 21:31] molant commented on #2939
This also happens with node 6.0.0
Replacing `key` and `iv` in `lib\util\certificates\pkcs.js#274` with strings of 24 and 8 characters get me a bit further but still throw an error:

error:   error:0606506D:digital envelope routines:EVP_DecryptFinal_ex:wrong final block length
info:    Error information has been recorded to C:\Users\molant\.azure\azure.err
error:   account import command failed

[c

[2016-06-16 19:07] Krylon360 opened #2940 "ARM CLI missing options for existing virtualNetworkResourceGroup and vnet-id"
CLI Version: **0.10.1**
OS Type: Mac
Installation via:  npm, brew, mac installer

Mode: ARM

Environment: AzureCloud

Description:
`azure vm create` command doesn't have a flag to specify an existing virtualNetworkResouceGroup to be able to deploy a new VM / Deployment into an existing VNET.

Steps to reproduce:
1) Run `azure vm create --help`
2) no option for `--virtualNetwork-Resource-Group` or

[2016-06-17 01:35] tokawa-ms opened #2942 "azure cdn endpoint purge -h` command is showing improper Usage."
CLI Version: **0.10.1**
OS Type: Windows 10 (ja-jp)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:
`azure cdn endpoint purge -h` command is showing improper Usage.

Steps to reproduce:
1) Run `azure cdn endpoint purge -h`, then it will return the following Usage.

2) However, command line options doesn't works fine.
`azure cdn endpoint purge -c "/pictures/test.jpg

[2016-06-17 18:44] squillace commented on #2926
Anyone have a chance to look?

[2016-06-17 19:08] amarzavery commented on #2049
@sedouard - The issue of incorrect json output for ad app create has been fixed.

[2016-06-17 19:09] #2767 closed

[2016-06-17 19:15] amarzavery commented on #2226
Fixed in https://github.com/Azure/azure-xplat-cli/pull/2944

[2016-06-17 19:16] amarzavery commented on #2217
Fixed in #2944

[2016-06-17 19:16] #2217 closed

[2016-06-17 19:17] amarzavery commented on #2049
@vivsriaus - Has this been fixed? If yes then please close the issue.

[2016-06-17 19:18] amarzavery commented on #2047
@mkliu this issue should be fixed in #2944. We have moved to a public api-version 1.6 of the Graph API. So now, after successful login as an SP, you should be able to perform the desired operations.

[2016-06-17 19:18] #2047 closed

[2016-06-17 19:19] amarzavery commented on #2216
All of the above issues have been fixed in #2944
D:\sdk\azure-xplat-cli>node bin/azure ad app -h
help:    Commands to display Active Directory applications
help:
help:    Creates a new Active Directory application
help:      ad app create [options]
help:
help:    Updates the properties of the created Active Directory application
help:      ad app set [options]
help:
help:    Deletes the Active Dir

[2016-06-17 19:20] #2216 closed

[2016-06-17 20:08] vivsriaus commented on #2049
@amarzavery Yes, the --json format issue we had with arm commands was fixed a while ago.

[2016-06-17 20:08] #2049 closed

[2016-06-18 06:02] huangpf commented on #2926
I think it's ```ASM``` only, not ```ASM + ARM```. Could you please help confirm?

[2016-06-18 06:05] huangpf commented on #2824
+ @waynekuo as it's related to build-out.

[2016-06-18 20:47] robbyt opened #2946 "Non-interactive shells should not block waiting for user input"
CLI Version: **0.10.1**
OS Type: Mac
Installation via: mac installer
Mode: ARM

Environment: AzureCloud

Description:
The new version of the Azure CLI blocks on non-interactive shells, asking if the user would like to enable telemetry. This breaks scripts that use the azure CLI for automation.

The reason that people use the CLI is for *scripting and automation*, and applications which block for u

[2016-06-18 20:51] robbyt commented on #2946
This is related to #2420 - however, the proposed fix is to add a new flag. I don't think this is necessary, because it's simple to detect if the shell is interactive.

[2016-06-19 23:45] robbyt opened #2947 "Unable to edit tags because of issue with FromImage vs. fromImage"
CLI Version: 0.10.1
OS Type: Mac
Installation via: mac installer

Mode: ARM

Environment: AzureCloud

Description:
`azure vm set -g MyGroup -n MyVm -t test=tag` returns an error related to FromImage.

Steps to reproduce:
1) Create a VM in a resource group
2) Update the tags from the CLI

Error stack trace:

[code]

[code]

[2016-06-20 05:33] braderhart opened #2948 "Specifying subnet-id doesn't work when creating VM"
CLI Version: 0.10.1
OS Type: Linux (Ubuntu)
Installation via:  docker

Mode: ARM

Environment: AzureCloud

Description:
`azure vm create -S` subnet-id doesn't work. Still prompts for vnet name.

Steps to reproduce:
1) Run `azure vm create -S`

[2016-06-20 05:40] huangpf commented on #2824
@bingosummer
According to the service team, the update was done last week. Could you please help check it again?  Thanks.

[2016-06-20 05:55] braderhart opened #2949 "Creating VM with storage account name gives unfriendly error"
CLI Version: 0.10.1
OS Type: Linux (Ubuntu)
Installation via: docker

Mode: ARM

Environment: AzureCloud

Description:
`azure vm create -o storage-account-name` gives "not a valid storage account name" error. This is due to needing --disable-boot-diagnostics or specifying boot diagnostics storage uri. Needs to be made friendly to correctly show error.

Steps to reproduce:
1) Run `azure vm create -

[2016-06-20 13:44] huangpf commented on #2824
Please feel free to reopen if it's not resolved yet.

[2016-06-20 13:44] #2824 closed

[2016-06-20 20:19] squillace commented on #2926
One person asserted that it was in ARM, but the only clear cases I know of are in ASM. Ping cynthn internally for another repro.

[2016-06-20 20:21] cynthn commented on #2926
I'm seeing this on ASM with Ubuntu 14, 16 and SUSE (so far) on CLI version 0.10.1

C:\Users\cynthn>azure vm extension set SUSEClassic VMAccessForLinux Microsoft.OSTCExtensions 1.* --private-config-path PrivateConf.json -v
info:    Executing command vm extension set
verbose: Getting virtual machines
verbose: Updating vm extension
error:   Parameter 'ConsoleScreenshotBlobUri' should not be set.
info

[2016-06-20 22:18] huangpf commented on #2949
Hi @braderhart
Did you create the storage account before VM creation, and what's the sku & kind, etc? Thanks.

[2016-06-20 22:19] huangpf commented on #2946
Calling ```azure telemetry --disable``` at the first place will solve the problem?

[2016-06-20 22:23] robbyt commented on #2946
@huangpf thank you for the suggestion.

However, there may be other features added later that block on non-interactive shells unless this is fixed.

The real solution is to always inspect the run-time shell environment before assuming it's interactive.

[2016-06-20 23:37] braderhart commented on #2949
Yes. The SKU is PLRS in westus. I did not create a diagnostic storage account, hence the need for `--disable-boot-diagnostics`, however the error message is misleading without that because it seems to indicate that the issue is with the storage account name instead but is actually the diagnostic storage account.

[2016-06-21 00:03] huangpf commented on #2949
OK. The bug is that the premium ```PLRS``` storage account can't be used for diagnostics, and the error message shall be clear about this and guide users to disable it. Add @sauryadas

[2016-06-21 05:37] bingosummer commented on #2864
It's fixed.
https://github.com/Azure/azure-xplat-cli/issues/2824#issuecomment-227054319

[2016-06-21 05:37] #2864 closed

[2016-06-21 05:53] bingosummer commented on #2824
`0.10.1` works.

[2016-06-21 11:42] gforghetti commented on #2939
I'm getting the same error on OSX.

azure account import credentials.publishsettings
info:    Executing command account import
error:   Invalid IV length
info:    Error information has been recorded to /Users/gforghetti/.azure/azure.err
error:   account import command failed

node --version
v6.2.2

[2016-06-21 16:00] carnott-redhat opened #2951 "add support for bash completion of --flags"
CLI Version: 0.10.1 (node: 6.2.2)
OS Type: Linux (Arch Linux)
Installation via:  [npm via pacman](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=nodejs-azure-cli)

Mode: ARM

Environment: AzureCloud

Description:
`azure --<TAB><TAB>` only displays the following:
[code]

Steps to reproduce:
0) Run `azure --<TAB><TAB>`

[2016-06-21 23:56] terrancesnyder commented on #2937
For the moment we worked around it by shoving into `~/.azure` the json file with the telemetry nag and then also did a `yes -n | azure`.

[2016-06-21 23:59] amarzavery commented on #2937
Telemetry is a one time ask. It defaults to no in 30 seconds. It saves the response in a file in ~/.azure/telemetry.json. It will only prompt you again if you delete the .azure folder or the telemetry.json file.

[2016-06-22 00:01] terrancesnyder commented on #2937
cool... i think by us using puppet to "prestage" the `~/.azure/telemtry.json` we've worked around it however, probably just a nit-pick as stated in ticket comments at this point that its a bit doggy for us to work around. thanks for looking into.

[2016-06-22 00:10] squillace commented on #2937
yeah, @amarzavery, @terrancesnyder is correct in this case, IMHO, because when you start using CI/CD you're going to create tons of these VMs and install crap in an automated fashion. I think we have to provide some way to say "yes" or "no" automatically. That's the ask.

so if I understand, if @terrancesnyder drops a `~/.azure/telemetry.json` file with "yes" in it, it should work for his scenario

[2016-06-22 00:51] amarzavery commented on #2937
@squillace @terrancesnyder - So I understand one thing correctly for sure.

- The following behavior does not happen today.
When you install the latest version of CLI on a brand new machine (in this context: ~/.azure/telemetry.json file does not exist) and execute `azure telemetry -d` or `azure telemetry -e` then CLI should not prompt you for telemetry and do as the user directed.

We will fix thi

[2016-06-22 01:46] amarzavery commented on #2946
@robbyt - It is a one time thing unless you delete `~/.azure/telemetry.json` file.
The PR https://github.com/Azure/azure-xplat-cli/pull/2952 fixes a bug where the CLI prompts for telemetry even when the telemetry command was the first command that was executed.

From the next release, you can enable `azure telemetry -e` or disable `azure telemetry -d` telemetry once in your script and it wont ever

[2016-06-22 02:04] #2937 closed

[2016-06-22 03:10] bingosummer commented on #2906
@ravbhatnagar @vivsriaus

Any update on this?

[2016-06-22 06:33] ravbhatnagar commented on #2906
@bingosummer Apologize for the delay here. We will investigate this.

[2016-06-22 15:28] robbyt commented on #2946
@amarzavery thank you for the info.

The fact remains, non-interactive shells should not block waiting for user input.

And it's very easy to detect non-interactive shells.

[2016-06-22 15:48] jonathan-kosgei commented on #2325
To create the key:
[code]

The last 4 lines generate a fingerprint you can use for terraform. To upload the key after creating the vm run:` azure service cert create {hosted_service_provider_name} {path to azure.pfx}`

[2016-06-22 16:14] xied75 commented on #2325
@jonathan-kosgei Thanks for posting! I suppose this is what we asked half year ago? That we can upload keys/certs without creating a VM?

Interestingly the command you show is in ASM mode, do we have something equivalent in ARM?

Best regards,

[2016-06-22 16:23] amarzavery commented on #2325
@huangpf @sauryadas - Any updates on this?

[2016-06-22 16:44] jonathan-kosgei commented on #2325
@xied75 Hi, not really sure about that.

[2016-06-22 19:26] Apoorv121 commented on #2939
Getting the same error on Ubuntu

Installation via: npm
node version: 6.2.1

[2016-06-22 20:54] lalberto8085 commented on #2052
version 0.10.1 on node 6.2.2, same issue.

[2016-06-23 06:11] sauryadas commented on #2949
@huangpf need to fix this.

[2016-06-23 06:12] sauryadas commented on #2948
@huangpf need to fix this as well...

[2016-06-23 06:13] sauryadas commented on #2947
@huangpf what is the effort required to fix this? next sprint may be.

[2016-06-23 06:57] ahmetalpbalkan commented on #2818
just this issue again, it's pretty annoying not seeing IP address in VM list result.

[2016-06-23 07:43] huangpf commented on #2947
This one shall be fairly simple to fix. I would suggest we include this one as well.

[2016-06-23 07:54] huangpf commented on #2948
I think it's by design to require vnet name. @braderhart What's your expected use case?

[2016-06-23 08:13] braderhart commented on #2948
By specifying subnet-id it can use a subnet and vnet in another resource group. You can create a new NIC this way:

`azure network nic create -u` or `azure network nic create --subnet-id`

Therefore it should work the same with `azure vm create -S` or `azure vm create --subnet-id`. Otherwise it is an extra step to first create the NIC instead of having it created with the VM.

[2016-06-23 08:23] braderhart commented on #2587
@anuchandy https://github.com/Azure/azure-xplat-cli/issues/2587#issuecomment-195440548

It looks like Azure Storage Explorer now supports conversion of dynamic VHD(x)s. Can you confirm? What about the CLI during blob upload? Can we get this added?

[2016-06-23 08:27] braderhart commented on #2949
@huangpf Thanks. Using --boot-diagnostics-storage-uri should work too, but error needs to be clear that users need to specify non-PLRS diagnostics storage URI.

[2016-06-23 19:57] squillace commented on #2937
Ah, ok. (Now I need to confirm. :-))

[code]

means that we can currently disable the telemetry prompt using that command? If so, I think this satisfies the requirement.

@terrancesnyder ?

[2016-06-23 20:00] amarzavery commented on #2937
You can install the source code from the dev branch of the repo by following the instructions over [here](https://github.com/Azure/azure-xplat-cli#installation-from-a-particular-branch-of-this-repository) and test it out. Let me know if you find any issues.

[2016-06-23 22:20] ahmetalpbalkan opened #2955 "azure vm show: wrong exit code semantics"
CLI Version: **0.9.10**
OS Type: Mac
Mode: **ARM**

When I run `azure vm show` on a non-existing VM it returns with exit code = 0. That's not cool.

[code]

How else you suggest people scripting with xplat CLI to determine if a VM exists or not?

[2016-06-23 23:05] lijukj opened #2956 "correct syntax for creating linux vms"
CLI Version:
# azure --version
0.10.1 (node: 0.10.25)
# npm --version
1.3.10
# node --version
v0.10.25
OS Type: Description:	Ubuntu 14.04.4 LTS
Installation via:  npm

Mode:  ASM**

Environment: **AzureCloud
Description:
Unable to ssh to the vm using password.

Steps to reproduce:
1) Run
azure vm create test69rclivm  rhel71 --location 'Southeast Asia' --userName testuser --password 'R2111111'

2)

[2016-06-24 05:45] shraddhaagrawal commented on #2949
@braderhart Could you please share following details to reproduce error?

1. Name of storage account and how do you create storage account before "vm create"
2.The “-vv” logs for “vm create”

As I am unable to reproduce "not a valid storage account name" error. If PLRS storage account URL is used for --boot-diagnostics-storage-uri then its clearly throwing expected error-
_“error:   Long running o

[2016-06-24 06:40] anuchandy commented on #2587
If you are using https://azurestorageexplorer.codeplex.com, then I don't think it support dynamic vhd, last update was 2014.

As mentioned in the previous comment, you can either use the go command-line tool [Linux/Windows/Mac] https://github.com/Microsoft/azure-vhd-utils or PowerShell [Windows] Add-AzureVhd https://msdn.microsoft.com/en-us/library/azure/dn495173.aspx command.

[2016-06-24 07:52] shraddhaagrawal commented on #2947
@robbyt How you have created VM?
I am unable to reproduce the error. I have used following steps to reproduce error-

1.Create VM in a resource group.
`$azure vm create -g testrg -o teststorage2947 -n testvm2947 -l westus -y Linux -Q OpenLogic:CentOS:6.7:latest -u azureuser -p Azure@123 -f testnic2947 -F testvnet2947 -P 10.0.0.0/16 -j testsubnet -k 10.0.0.0/24 --tags tag1=test_tag1`

2.Output of

[2016-06-24 09:41] bingosummer opened #2957 "A feature request for `azure network lb rule show[options] <resource-group> <lb-name> <name>`."
CLI Version: **0.10.1**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:
There is no command to show the VMs in a backend address pool of a load balancer.

A feature request for `azure network lb rule show[options] <resource-group> <lb-name> <name>`.
This command should show the detail information of the address pool.

[2016-06-24 15:34] Apoorv121 commented on #2939
Anyone has any updates on this?

[2016-06-24 16:28] plankytronixx opened #2958 "The azure network nic address-pool add command has been renamed. Any chance that you could include text along the lines of "...the new command syntax is ....". Just to keep it friendlier and give folks an easy way to fix things when their scripts break. THanks - Planky"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm / brew / win-or-mac installer / docker / github repo

Mode: **ARM / ASM**

Environment: **AzureCloud/Azure China Cloud/US Government/Blackforest/Azure Stack**

Description:
`azure vm show` command doesn't output VM name.

Steps to reproduce:
1) Run `azure vm create ...`
2) Then run `azure vm show ...`

[2016-06-24 18:46] huangpf commented on #2947
@shraddhaagrawal The ```-Q``` option can take a VHD url as for user image, instead of platform image in the script you referred to.

Please take a look at the help text:
[code]

[2016-06-24 18:47] huangpf commented on #2587
@anuchandy @amarzavery
Do you think it's possible for Node.js CLI to invoke the script or any command for your Go CLI to achieve this scenario?

@sauryadas

[2016-06-24 18:50] huangpf commented on #2933
@amarzavery Does the current CLI command runner has retry logic for all commands? If so, we can probably enable it to make it more adaptable to different network conditions.

[2016-06-24 18:59] amarzavery commented on #2933
Nope we don't. AutoRest generated clients have the retry logic built into the runtime. It is a part of the request pipeline. There is a [retry filter](https://github.com/Azure/autorest/blob/master/ClientRuntimes/NodeJS/ms-rest/lib/filters/exponentialRetryPolicyFilter.js) that is added to the pipeline.
You can [turn off the default retry policy](https://github.com/Azure/autorest/blob/master/ClientR

[2016-06-24 19:04] amarzavery commented on #2933
Ahh we retry for a different scenario. Not for `ENOTFOUND`.

[code]
I am not sure if it would make more sense in retrying or failing fast and let the user know, in the ENOTFOUND scenario.

[2016-06-24 19:10] ahmetalpbalkan commented on #2933
@amarzavery input from my side is:

1. I don't see any error message if it fails in the middle of pagination
2. Pagination often fails and I rarely see a command response from this command

[2016-06-24 19:31] robbyt commented on #2947
We're not using the `azure create vm` command to create instances, we are instead using ARM deployments (using a command like `azure group deployment create --template-uri https://our.arm.template.json --parameters-file params.json --resource-group my-RG --name deploy1`)

Our ARM template setup is fairly complicated, but if you're still unable to recreate the problem, I can try to get you more inf

[2016-06-24 19:56] CraigWiand commented on #2926
+1 @Squillace - there have been reports of ARM but I have only seen examples of ASM.  Support received a high severity issue with the same error today so this will be escalated through internal channels also.  It is worth noting that it appears to be reproducible with other updates to the VM when the `ConsoleScreenshotBlobUri` attribute is set, and not specific to just setting extensions.

[2016-06-25 03:02] braderhart commented on #2587
@anuchandy https://github.com/Azure/azure-xplat-cli/issues/2587#issuecomment-228269736

I am using http://storageexplorer.com/ which shows it was last updated on 2016-06-15. This tool is from Microsoft:

http://storageexplorer.com/releasenotes.html

It shows support now for VHD/VHDX uploading. I haven't tried a dynamic one yet but I'll try soon and let you know.

I'm using Linux so that prevents m

[2016-06-25 04:33] braderhart commented on #2949
@sharadagarwal: I was able to get it to work correctly this time:

`azure vm create -f brad -g brad -l westus -n brad -y Linux -Q Canonical:UbuntuServer:16.04.0-LTS:latest -u brad -G -z Standard_DS1 -o bradstor -R vhds -d ubuntu-brad.vhd`

Previously when I tried it failed at creating a diagnostic storage account, but I specified a custom VHD to use as the template with -Q and -d. I'll have to upl

[2016-06-25 05:59] AlanSt opened #2960 "VMSS list needs to follow continuation tokens"
CLI Version: **0.10.0**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:
`azure vmss list <rg>` command doesn't output all VMSS - needs to follow continuation tokens

`azure vmss list-all` command doesn't output all VMSS - needs to follow continuation tokens

Steps to reproduce:
1) Create >50 VMSS
2) Run `azure vmss list <rg>` or 'azure vmss

[2016-06-25 06:15] AlanSt opened #2961 "VM list command doesn't follow continuation tokens when not supplied RG"
CLI Version: **0.10.0**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**

Description:
`azure vm list` command doesn't output follow continuation tokens when not supplied resource group

[2016-06-25 10:27] huangpf commented on #2961
By 'continuation tokens', do you mean pagination via nextLink in the response?

[2016-06-25 10:38] huangpf commented on #2960
@AlanSt Could you please help share part of the ```-vv``` log that shows the continuation tokens? It takes some time for me to repro 50 VMSS. :-)

[2016-06-25 10:45] huangpf commented on #2956
Since it asked a password input, so I think this is currently by design to use password, if the SSH option not specified. Please help confirm if ```--ssh``` works for you.

[2016-06-25 11:07] huangpf commented on #2947
@shraddhaagrawal
Please refer to this template to create a ```FromImage``` VM:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-from-user-image

[2016-06-25 11:42] huangpf commented on #2961
How many VMs? I can't repro by 51. Please share the ```-vv``` logs. Thanks.

[2016-06-25 17:07] AlanSt commented on #2961
Only lists first 50 per region, additional VMs cannot be listed through this method.  Will send you logs.

[2016-06-25 17:09] AlanSt commented on #2960
Pfft.  Template + loops.
(Will send you logs.)

[2016-06-26 03:14] huangpf commented on #2961
Got it. For listAll() function it doesn't work for pagination to include all VMs from various pages, but it seems list(rgName) works just fine, as there is no pagination.

[code]

[2016-06-26 03:21] huangpf commented on #2961
@amarzavery The Swagger spec specifies ```nextLink``` but Node.js SDK doesn't deserialize this value. Could you please help look into it?

Ref:
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-03-30/swagger/compute.json#L1202

Ref:
https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/computeManagement2/lib/models/virtualMachineListResult.js

[2016-06-26 03:22] huangpf commented on #2960
@amarzavery
Please refer to: #2961

[2016-06-27 07:45] shraddhaagrawal commented on #2947
@robbyt I have used mentioned template to create a `FromImage` VM and successfully updated/edited tags for the created VM using `azure vm set` command.
Could you please check one more time.

[2016-06-27 11:58] shraddhaagrawal commented on #2949
@braderhart
I have tried with custom VHD and it successfully create diagnostics storage account as well.
`$azure vm create -g rg2949 -o PLRS_stoarge_account_name  -n vm2949 -l westus -y Linux -Q http://PLRS_stoarge_account_name.blob.core.windows.net/container_name/shraddha.vhd -u azureuser -p Azure@123 -f nic2949 -F vnet2949 -P 10.0.0.0/16 -j subnet2949 -k 10.0.0.0/24 -d stawith.vhd`

logs are as

[2016-06-27 15:38] zilman commented on #2939
+1

Pretty big show stopper right here.

[2016-06-27 17:30] eduardkoller commented on #2939
Investigating. /c @haocs

[2016-06-27 17:53] eduardkoller commented on #2958
@plankytronixx - can you please clarify what command are you referring to? The issue's title talks about 'azure network nic', but in description you are referring to 'azure vm show'

[2016-06-27 17:54] eduardkoller commented on #2957
@romangromov - can you please triage?

[2016-06-27 18:01] eduardkoller commented on #2940
@romangromov - can you please investigate?

[2016-06-27 18:04] eduardkoller commented on #2936
@karlaugsten - who would be the best person to look into this?

[2016-06-27 19:12] huangpf commented on #2936
+1 @amarzavery

[2016-06-27 19:16] nbayle commented on #2503
Any update on this?

[2016-06-27 20:17] paulmey commented on #2956
Duplicate of https://github.com/Azure/azure-xplat-cli/issues/2859 ?

[2016-06-27 21:15] ahmetalpbalkan opened #2963 "azure vm quick-create: The storage account already taken"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

[code]

I don't know what kind of randomization seed being used in coming up with that storage account name, but it is coming up the same name all the time (for the same command on different subs).

I was deleting a VM with the same name (and created using the same command) **in my another subscription** but storage accoun

[2016-06-27 22:20] msfcolombo commented on #2936
@eduardkoller I'm working on it.

[2016-06-27 22:32] msfcolombo commented on #2936
@amarzavery, the CLI infrastructure is interpreting a flag value that starts with -- as another flag. Is there a way to workaround this? If not, we have the following alternatives:

1. Provide a flag like --valuefile and force the user to specify the value in the file contents.
2. Force the user to specify a prefix in the value, like @----BEGIN RSA PRIVATE KEY----, and explicitly ignore that. We n

[2016-06-27 22:48] csmengwan commented on #2942
We're investigating.

[2016-06-27 23:58] csmengwan commented on #2942
I get what the issue is.
I think there is a mistake in this doc and I followed that mistake.
https://github.com/Azure/azure-xplat-cli/blob/dev/Documentation/Writing-Cmd.md
@amarzavery ,
Can you verify that in the sample code of the above link,
should we use write ".usage('[options] [name] [tags]')" instead of ".usage('[options] <name> [tags]')" ?

[2016-06-28 00:07] csmengwan commented on #2942
@amarzavery , sorry. Wrong line.
I meant using "group.command('set [name]')" instead of "group.command('set <name>')"

[2016-06-28 06:51] huangpf commented on #2963
Currently, if the exactly same parameter input is used, it would generate the same storage name. One workaround is to change one of the inputs -- VM name, user name, RG name, image name, etc. -- even changing upper/lower cases may work...

[2016-06-28 06:57] ahmetalpbalkan commented on #2963
even on different subscriptions? that does not sound like a good idea.

[2016-06-28 07:05] bingosummer opened #2966 "Fail to create a storage account without specifying the location when logging in using a service principal"
CLI Version: **0.10.1**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Environment: **AzureCloud**/**AzureChinaCloud** No specific env

Description:
`azure storage account create` command fail to create the storage account if the location is not specified and a service principal is used to login.

Steps to reproduce:
1) Login Azure CLI using a service principal
2) Run `azure storag

[2016-06-28 07:06] bingosummer commented on #2966
cc: @halimacc

[2016-06-28 07:24] huangpf commented on #2963
The chance to get a conflict on storage account is more or less the same as someone stole one of your favorite random storage name, which should be minimal...

But with that said, we would definitely think about how to add more reasonable randomness in it, and yet deterministically testable...

[2016-06-28 11:45] MikhailTryakhov commented on #2957
Hi @bingosummer
now you can use ``` azure network lb show <resource-group> <lb-name> --json ``` command instead to review load balancer details. ``` Show ``` was excluded from sub-items commands because of that would be not so informative to make extra-command for that.

Hi @eduardkoller
Please let me know if that would be better to add such extra-commands to lb block.

[2016-06-28 13:53] bingosummer commented on #2957
@MikhailTryakhov Thanks for your reply.

I can get the nic id from `azure network lb show <resource-group> <lb-name> --json`. However, without `--json`, I can't get the nic id.

From my understanding, `--json` should give the exactly same contents with a different format. So, the command `azure network lb show <resource-group> <lb-name>` should also show the nic id in the backend pools.

And it's

[2016-06-28 17:21] #2919 closed

[2016-06-28 18:09] bureado commented on #2936
@msfcolombo support for reading from a file would be awesome, because it would also help with the fact that trying to read a file with multiple lines across OS (Windows, Linux) can result on line termination craziness. The second option adds a burden on the user as they would have to use things like grep/sed/etc. before loading the secret is loaded. Ultimately, it's clear that the underlying API c

[2016-06-28 18:10] #2879 closed

[2016-06-28 18:10] #2926 closed

[2016-06-28 20:19] gavdraper opened #2967 "Fail to import publish settings with error: Invalid IV length"
CLI Version: 10.11.15
OS Type: Mac
Installation via:  npm

Description:
Have just done a clean instal via npm. Then downloaded the publish settings via the download option in "azure account download".

If I then run

I get

The stack trace below mentions no such file but it definitely does exist.

Error stack trace:

`2016-06-28T20:17:30.215Z:
{ Error: ENOENT: no such file or directory, open 'Main

[2016-06-28 20:20] huangpf commented on #2947
@robbyt
We couldn't reproduce the issue on our end, and we have a ```vm set``` command to validate this part:
https://github.com/Azure/azure-xplat-cli/blob/dev/test/recordings/arm-cli-vm-create-tests/arm_compute_vm_set_should_enable_the_diagnostics_settings.nock.js#L75

```\"createOption\": \"FromImage\",\r\n ```

Close for now. Please feel free to reopen if you can provide us the full script & lo

[2016-06-28 20:20] #2947 closed

[2016-06-28 20:22] huangpf commented on #2949
@braderhart
Close for now. Please feel free to reopen if you can help provide us the full script and logs (by ```-vv```) to reproduce. Thanks.

[2016-06-28 20:22] #2949 closed

[2016-06-28 20:25] huangpf commented on #2852
+@shraddhaagrawal to help take a look.

[2016-06-29 03:08] huangpf commented on #2848
Close for now. Please reopen if you reproduce the issue.

[2016-06-29 03:43] bingosummer commented on #2957
@MikhailTryakhov

Sorry, my understanding may be not right. I tried some other command (e.g. `azure provider list --json`), and found `--json` can show more information.
So `--json` is not only a different format, but more information.

[2016-06-29 05:19] huangpf commented on #2466
Fixed
[code]

[2016-06-29 05:19] #2466 closed

[2016-06-29 05:32] huangpf commented on #2148
Fixed on the service side:
[code]

[2016-06-29 05:32] #2148 closed

[2016-06-29 05:46] huangpf commented on #2125
ASM?

[2016-06-29 05:48] ahmetalpbalkan commented on #2125
@huangpf no this was reported for ARM

[2016-06-29 05:50] huangpf commented on #2126
Sorry, there is no optimal way to distinguish our quick-created VM from any other methods, quick or non-quick.

It's up to the users to manage, e.g. apply some quickness tags on the resource group...

[2016-06-29 05:50] #2126 closed

[2016-06-29 05:53] ahmetalpbalkan commented on #1685
looks like we got nice amount of +1s (like 3). that's a first.

[2016-06-29 05:53] ahmetalpbalkan commented on #1684
ETOOADVANCEDFORUS

[2016-06-29 05:53] #1684 closed

[2016-06-29 05:53] ahmetalpbalkan commented on #1708
EPROLLYNEVERGONNAHAPPEN

[2016-06-29 05:53] #1708 closed

[2016-06-29 05:54] ahmetalpbalkan commented on #1710
![image](https://cloud.githubusercontent.com/assets/159209/16441938/3a7e6516-3d83-11e6-9f22-0a86ec1c3278.png)

[2016-06-29 05:55] ahmetalpbalkan commented on #1758
ETOONICETOHAVE

[2016-06-29 05:55] #1758 closed

[2016-06-29 05:56] ahmetalpbalkan commented on #1815
hopefully nobody uses ASM anymore so we're cool

[2016-06-29 05:56] #1815 closed

[2016-06-29 05:58] huangpf commented on #2125
It's not feasible to tell what a storage account name means without peeking into the content... (which is also not any close to feasible), so I think it's safer not to randomly pick a storage account. Instead, it shall either create a new one, or use the specified one, if given.

[2016-06-29 05:58] ahmetalpbalkan commented on #1760
Closing due to inactivity

[2016-06-29 05:58] #1760 closed

[2016-06-29 06:00] ahmetalpbalkan commented on #1939
Closing due to massive inactivity.

[2016-06-29 06:00] #1939 closed

[2016-06-29 06:01] huangpf commented on #2818
A new command will be provided to fetch the IP info:
https://github.com/Azure/azure-xplat-cli/pull/2968

[2016-06-29 06:02] ahmetalpbalkan commented on #2154
Closing as it is by design.

[2016-06-29 06:02] #2154 closed

[2016-06-29 06:03] ahmetalpbalkan commented on #2123
EPROLLYNEVERGONNABEFIXED

[2016-06-29 06:03] #2123 closed

[2016-06-29 06:03] ahmetalpbalkan commented on #2124
`ETOOLATE | EPROLLYNEVERGONNABEFIXED`

[2016-06-29 06:03] #2124 closed

[2016-06-29 06:03] ahmetalpbalkan commented on #2119
ETIMESHAVECHANGED

[2016-06-29 06:03] #2119 closed

[2016-06-29 06:05] ahmetalpbalkan commented on #2117
![image](https://cloud.githubusercontent.com/assets/159209/16442130/ca04e844-3d84-11e6-9eb2-ec5615ec0a40.png)

[2016-06-29 06:05] #2116 closed

[2016-06-29 06:06] #2114 closed

[2016-06-29 06:06] ahmetalpbalkan commented on #2113
This is inherently due to bad API design in CRM. ETOOBAD...

[2016-06-29 06:06] #2113 closed

[2016-06-29 06:07] ahmetalpbalkan commented on #2122
ETOOLITTLETOBENOTICED

[2016-06-29 06:07] #2122 closed

[2016-06-29 06:08] ahmetalpbalkan commented on #2125
@huangpf I'm not even sure if this is valid anymore. Are we reusing storage accounts now in case of quick-create?

[2016-06-29 06:09] ahmetalpbalkan commented on #2094
not sure if this is still a valid issue...

[2016-06-29 06:10] ahmetalpbalkan commented on #2105
By design.

[2016-06-29 06:10] #2105 closed

[2016-06-29 06:11] ahmetalpbalkan commented on #2261
Still a valid issue.

[2016-06-29 06:11] huangpf commented on #2125
@ahmetalpbalkan Good point. I checked, and we will generate the storage account for quick create. Close...

[2016-06-29 06:11] #2125 closed

[2016-06-29 06:12] ahmetalpbalkan commented on #1826
We now have some commandlet to do this. Closing.

[2016-06-29 06:12] #1826 closed

[2016-06-29 06:14] #1355 closed

[2016-06-29 06:17] huangpf commented on #2566
Please refer to ```azure vm create -h```. Close for now.

[2016-06-29 06:17] #2566 closed

[2016-06-29 06:17] #2678 closed

[2016-06-29 06:18] huangpf commented on #2321
Close for now. Please reopen if reproduced.

[2016-06-29 06:18] #2321 closed

[2016-06-29 06:19] ahmetalpbalkan commented on #2418
By design, closing.

[2016-06-29 06:19] #2418 closed

[2016-06-29 06:20] ahmetalpbalkan commented on #2447
🔔 🔔 🔔

[2016-06-29 06:21] ahmetalpbalkan commented on #2361
Fundamentally our xplat-cli is just too chatty and has animations and stuff for a good reason (b/c we mostly assume humans are interacting with it; not headless scripts). So --quiet probably will never happen on this version at least. `1>/dev/null` to rescue.

[2016-06-29 06:21] #2361 closed

[2016-06-29 06:22] ahmetalpbalkan commented on #2356
it looks like CLI is doing some extra base64 encoding but API doesn't require that. Soooo maybe do not decode and people exploring their resources via the API will be happier??? 🔔

[2016-06-29 06:22] huangpf commented on #2015
Close duplicate. Please refer to: https://github.com/Azure/azure-xplat-cli/issues/2933

[2016-06-29 06:22] #2015 closed

[2016-06-29 06:22] ahmetalpbalkan commented on #2074
Maybe someday we'll have this? 😭

[2016-06-29 06:26] ahmetalpbalkan commented on #2126
or it is up to you, you can add tags while creating those resources. :)

[2016-06-29 06:27] ahmetalpbalkan commented on #2818
@huangpf I don't think I'll type such a long command. 😵  closing apparently adding another column is tough...

[2016-06-29 06:27] #2818 closed

[2016-06-29 06:27] ahmetalpbalkan commented on #2915
Still an issue.

[2016-06-29 07:42] MikhailTryakhov commented on #2957
Hi @bingosummer, you're right. Lb case is very reprsentative: it's impossible to display so many related IDs without ``` --json ``` option - that would be ugly and unreadable.
That's why some details are shown using this option.

Please let me know if I can help anything els

[2016-06-29 07:42] #2957 closed

[2016-06-29 08:56] shraddhaagrawal commented on #2852
@k2velocity
It seems like existing storage account is available under your subscription but not under the mentioned resource group.
Could you please check?
Please try creating vm in same resource group as that of existing storage account.

[2016-06-29 09:13] MikhailTryakhov commented on #2928
Hi @eduardkoller
this may be added only on SDK side. Please let me know if we should make a thread about that.
Currently closing this issue

[2016-06-29 09:13] #2928 closed

[2016-06-29 10:36] #2860 closed

[2016-06-29 10:39] MikhailTryakhov commented on #2851
fixed by [PR#2969](https://github.com/Azure/azure-xplat-cli/pull/2969)

[2016-06-29 10:39] #2851 closed

[2016-06-29 10:40] #2748 closed

[2016-06-29 10:41] #2644 closed

[2016-06-29 10:41] #2711 closed

[2016-06-29 11:21] MikhailTryakhov commented on #2955
Hi @ahmetalpbalkan
this behavior is expected CLI ASM functionality - throw warnings instead of errors.

[2016-06-29 12:16] neeohw opened #2972 "Uploading a VM disk image with vm image create, results in error"
CLI Version: 0.10.1
OS Type: Mac / Linux (Ubuntu)
Installation via:  npm

Mode: ARM

Environment: AzureCloud

Description:
`azure vm image create` crashes when uploading.

Steps to reproduce:
1) Run `azure vm image create <ImageName> -u <blob-url> --os Linux <path-to-vhd>`

Error stack trace:

2016-06-29T12:09:06.159Z:
[TypeError: body.outputStream.on is not a function]
TypeError: body.outputStrea

[2016-06-29 13:38] huangpf commented on #2955
Thanks @MikhailTryakhov for the info.

[2016-06-29 13:59] huangpf commented on #2972
This is a known issue, and it's ASM.

[2016-06-29 14:41] k2velocity commented on #2852
@sharadagarwal : The Storage account is part of the same resource group as we can create the Vm if we skipped the diagnostics

[2016-06-29 15:39] ahmetalpbalkan commented on #2955
@MikhailTryakhov I don't understand please explain...  How else you suggest people scripting with xplat CLI to determine if a VM exists or not? What does ASM have anything to do with ideal behavior?

[2016-06-29 15:41] ahmetalpbalkan commented on #2955
@huangpf I don't see enough reasons to close this. I suggested what the ideal behavior should be and something probably makes more sense from a command-line design perspective.

[2016-06-29 16:26] JulienBlancher commented on #2939
+1 same error on OSX, node 6.2.2

[2016-06-29 17:37] huangpf commented on #2955
@ahmetalpbalkan OK, reopen for @kamaljit & @sauryadas to help triage.

[2016-06-29 18:04] haocs commented on #2919
@ahmetalpbalkan -  can't recall when did I close this one. This fix is available in dev branch and will be included in the upcoming release. Please give it a try and feel free to reopen it if any issue founded.

[2016-06-29 18:06] haocs commented on #2967
duplicated https://github.com/Azure/azure-xplat-cli/issues/2939

[2016-06-29 18:06] #2967 closed

[2016-06-29 18:23] ahmetalpbalkan commented on #2919
@haocs There are no docs on how to run code from the source tree are. I don't know node so every time I try to test something from source tree, I just fail and give up. It's cryptic to me.

That's why I suggested Dockerfile issue #2915 (after all this is why Docker exists) but nobody seems to be giving a damn.

[2016-06-29 19:09] huangpf commented on #2960
Will be fixed in the new sprint with ```0.19.0``` upgrade of the underlying compute package.

[code]

[2016-06-29 19:10] huangpf commented on #2961
Will be fixed in the new sprint with ```0.19.0``` upgrade of the underlying compute package.

[2016-06-29 20:17] haocs commented on #2919
Yes, we need to add a doc about running cli from source code.
To run cli from dev please try
[code]
The docker file is definitely useful and we've added it to our work list.

[2016-06-29 20:35] ahmetalpbalkan commented on #2919
@haocs thanks. I just tried again and I cannot repro this on 0.10.0 anymore either which is weird. Works on develop branch too, we can call it resolved.

[2016-06-29 20:40] #2960 closed

[2016-06-29 20:45] ahmetalpbalkan opened #2974 "Proposal: azure config get-mode"
Mode: ARM

I have a script that uses ARM commands, so I temporarily set `azure config mode arm` however now my script has a side effect on user's set up.

If you could give me a way to set this temporarily or a way to get it (such as `config get-mode` that returns `asm` or `arm`) I can now:

- figure out if I need to run this command at all
- set the mode back to its original value

[2016-06-29 20:53] yugangw-msft commented on #2919
@ahmetalpbalkan, this is expected. The issue is strictly timing related, a racing depends on whether winton's async logger has flushed all when azure-cli invokes `process.exit`. The fix here is to let azure-cli don't call `process.exit`, which is never right, rather just let node itself to decide when to shutdown.
We still keep the explicit exit under error case, fir risk control, but we eventuall

[2016-06-29 21:27] ahmetalpbalkan commented on #2068
Due to the bad nature of ARM API design accepting location name in multiple forms, this is not possible.

[2016-06-29 21:27] #2068 closed

[2016-06-29 21:54] ahmetalpbalkan commented on #2347
@huangpf @sauryadas  any updates

[2016-06-30 00:54] haocs commented on #2974
@ahmetalpbalkan , could you explain the issue of  using ```azure config mode arm```? We don't have command like 'get-mode' for now. As a workaround, you could use ```azure | tail -n1 | grep -q 'arm'; echo $?``` in bash to tell current mode.

[2016-06-30 02:07] haocs commented on #2939
The fix for this issue is merged in our dev branch and will be included in our upcoming release(07/07). Please give it a shot and reopen this issue if necessary.

To run cli from source code(dev branch by default):
[code]

[2016-06-30 02:07] #2939 closed

[2016-06-30 03:32] ahmetalpbalkan commented on #2974
side effects... If I write a script that uses azure CLI, it may change user's config mode (as a side effect) = not cool.

I know but a cmdlet ideally would be better.

[2016-06-30 03:33] ahmetalpbalkan commented on #2974
To be more precise, can you guarantee that this `tail -1` trick is going to work forever? Probably not. A commandlet would be more reliable.

[2016-06-30 03:46] yugangw-msft commented on #2974
a workaround, use `config list`:
[code]
and you will get
[code]
If it is missing, you can assume it is `asm`

[2016-06-30 06:59] neeohw commented on #2972
Great! Now where is this known issue?

[2016-06-30 07:41] bureado commented on #2936
I implemented a patch here which reads a secret from a file. It'd be great to have a secret consumer that expects an SSH private key file and test it out @haroldwongms

[Commit](https://github.com/bureado/azure-xplat-cli/commit/70c6e1b5dbf42238063b6c6524c51698f07b14d1)

Usage:
  azure keyvault secret set <vault name> <secret name> --secret-source ~/.ssh/id_rsa -v

[2016-06-30 08:38] MikhailTryakhov commented on #2955
Hi @ahmetalpbalkan
my removed comment line was about ASM - current issue is for ARM and issue is fixed.

As for cases when we need to determine does the VM exist - you receive message, that VM with such name was not found. You can use ```vm list```command to find all existing VMs.

Assume that this issue is fixed and would be published in next release

[2016-06-30 08:38] #2955 closed

[2016-06-30 10:37] shraddhaagrawal commented on #2852
@k2velocity I have successfully created vm using existing storage account. command will throw mentioned error If storage account is not part of the same resource group.

# Description-

### Same Resource Group
`$azure vm create testrg testvm westus -y Windows -o storageaccountname -d https://storageaccountname.blob.core.windows.net/images/testvm2016530142717.vhd -z Basic_A0 -F vnet2852 -j subnet28

[2016-06-30 15:48] msfcolombo commented on #2936
@bureado Hi José,

Thanks for your contribution, but I'm working on the flags below, which should support more scenarios. There are also correspondent flags on the command used to read a secret. I expect to send a pull request earlier next week.

    help:      --json-value <JSON-string>       the secret value to be uploaded, expressed as a JSON string; cannot be used along with --value or --file

[2016-06-30 18:26] mw007 commented on #2126
@ahmetalpbalkan, are you saying you can apply tags to everything created via `azure vm quick-create`?

If so, how can this be done? I'm very interested in being able to do this. :+1:

[2016-06-30 18:27] ahmetalpbalkan commented on #2126
no. I'm saying quick-create should apply tags to resources it creates so that it can have a nice and clean delete method for the resources it has created.

[2016-06-30 18:28] mw007 commented on #2126
Ahh agreed. This would be extremely useful.

[2016-06-30 18:36] ahmetalpbalkan opened #2978 "ARM: vm extension set: has no way to disable extensions"
CLI Version: **0.10.0**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

ARM mode has no way to disable the installed VM Extension via the CLI.

ASM had this:

[code]

but ARM does not have anything like that:

[code]

by design or just an oversight?

[2016-06-30 18:49] huangpf commented on #2978
Does ```help:      -u, --uninstall                                  uninstall extension``` not work? This is also listed in the ARM mode command.

[2016-06-30 18:49] huangpf commented on #2978
OK. This is for disabling. Looking into it.

[2016-06-30 20:03] #2961 closed

[2016-06-30 20:52] huangpf commented on #2978
Confirmed it with the service team -- It's by design that it's not supported. Add @sauryadas FYI.

Close.

[2016-06-30 20:52] #2978 closed

[2016-06-30 20:57] ahmetalpbalkan commented on #2978
Thanks.

[2016-06-30 20:58] ahmetalpbalkan commented on #2974
@yugangw-msft hah, when it is asm it actually returns asm. So this is good enough... Thanks!

[2016-06-30 20:58] #2974 closed

[2016-07-01 08:03] msfcolombo commented on #2936
The fix is out for review. https://github.com/Azure/azure-xplat-cli/pull/2982

[2016-07-01 16:41] lijukj commented on #2956
@paulmey - yes duplicate of #2859
@huangpf - you might want to test this or refer to #2859

[2016-07-01 16:42] #2956 closed

[2016-07-01 17:12] bureado commented on #2936
@msfcolombo love it! Thanks for jumping in.

[2016-07-01 17:46] huangpf commented on #2963
@haocs @amarzavery @yugangw-msft
Is there a way in the code to determine whether this is a test run or non-test run? In that way, in the test we can generate deterministic value, or completely random value in the other way.

[2016-07-01 18:42] begoldsm commented on #2901
Ping on this @amarzavery @haocs this appears to be an issue deeper in the stack with buffer management within the xplat CLI.

[2016-07-01 21:09] ahmetalpbalkan commented on #2963
@huangpf can't we just:

    hash(subscription+resourcegroup+vmname)

in this case if we get the same error it just means that we're very very unlucky.

[2016-07-01 21:13] huangpf commented on #2963
This will make the tests break, because tests run by different sub in record & playback modes will be using inconsistent hashes.

[2016-07-01 23:30] ahmetalpbalkan opened #2984 "azure vm extension: naming/terminology mistake"
`azure vm extension` commands take arguments like `--public-config-path`/`--private-config-path` to describe data passed to the VM extensions.

If you go to PowerShell or the API itself (ARM templates and such) the terminology is `settings`; not `config`.

I understand it is too late to change. Please do not repeat the same mistake if you ever end up writing a new CLI. Having multiple terms to des

[2016-07-01 23:37] yugangw-msft commented on #2984
@ahmetalpbalkan, thanks for the notes. `settings` is the right name. It is used at basic swagger spec level as well.

[2016-07-03 01:11] iboware commented on #2741
Same thing happens to me too when I try to create a resource through azure-cli on Linux with a brand new subscription. If I create and delete a resource of same type from Azure Portal then cli will start to work. It is very strange and confusing.

[2016-07-03 17:16] anuchandy commented on #2587
@huangpf @braderhart I am working on generating platform specific binaries of https://github.com/Microsoft/azure-vhd-utils.

[2016-07-03 17:17] anuchandy commented on #2972
@neeohw please use https://github.com/Microsoft/azure-vhd-utils to upload your vhd to azure.

[2016-07-04 17:31] #2789 closed

[2016-07-04 19:03] MikhailTryakhov commented on #2717
fixed

[2016-07-04 19:03] #2717 closed

[2016-07-05 04:24] GeoffreyEmery opened #2987 "error - Cannot find WebSpace with name westuswebspace"
CLI Version: 0.10
OS Type: Win
Installation via:  npm

Mode: **ARM / ASM**

Environment: AzureCloud

Description:
info:    Executing command site create
+ Getting sites
error:   Cannot find WebSpace with name westuswebspace.
info:    Error information has been recorded to C:\Users\{user}\.azure\azure.err
error:   site create command failed
Steps to reproduce:
1) azure site create {sitename}
2) fir

[2016-07-05 04:25] GeoffreyEmery commented on #2987
Linking to another issue last year looks like same problem
https://github.com/Azure/azure-xplat-cli/issues/1646

[2016-07-05 04:26] GeoffreyEmery commented on #2987
the burning the azure file as listed in previous bug here: https://github.com/Azure/azure-xplat-cli/issues/1646 did not work for me

[2016-07-05 04:29] GeoffreyEmery commented on #2987
if i logout of my command prompt and close all the command windows and shut down all the browser then restart everything it works again

[2016-07-05 18:12] pablolibo opened #2989 "azure network dns record-set add-record with issue"
CLI Version: **0.10.0**
OS Type: **Docker Ubuntu**
Installation via:  **docker by github repo**

Mode: **ARM**

Environment: **AzureCloud**

**Description:**

Already domain loaded , I can not create a subdomain with a specific ip

`azure network dns record-set create --resource-group PlatDigCloudServices --dns-zone-name cloud.domain.com --type A --ttl 300 --name platdigmonitor02`

`azure network

[2016-07-05 18:13] zollman opened #2990 "CLI does not support transparent proxies (or configured CAfile)"
CLI Version: 0.10.1 (node: 0.12.2)
OS Type: Mac
Installation via:  npm

Mode: ASM (but really anything will do)

Environment: Azure Cloud

Description:
azure cli does not work through transparent SSL-terminating proxies. These proxies are commonly used in highly-regulated industries (PCI, financial services, education, health care) to protect a network perimeter.

Because an SSL-terminating proxy,

[2016-07-05 18:40] smbecker commented on #2090
This is a complete show stopper for me right now. I can't create a server with a different version and it seems that all of my other servers were auto-upgraded. So I can't manage them at all through the CLI. Any progress on this?

[2016-07-05 18:42] yaakoviyun commented on #2090
+ Adam

From: Shaun Becker [mailto:notifications@github.com]
Sent: Tuesday, July 5, 2016 9:40 PM
To: Azure/azure-xplat-cli <azure-xplat-cli@noreply.github.com>
Cc: Yaakov Iyun <yaiyun@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-xplat-cli] "sql db list" fails on V12 sql servers (#2090)

This is a complete show stopper for me right now. I can't create a server with

[2016-07-05 19:27] amarzavery commented on #2989
@romangromov @MikhailTryakhov - Can one of you take a look at this?

[2016-07-05 19:33] amarzavery commented on #2958
@eduardkoller - @plankytronixx has not updated the default template that our repo provides in the issue description. He has described his problem in the issue title.

[2016-07-05 20:25] MikhailTryakhov commented on #2989
Hi @amarzavery
please assign such issues for me - Roman is on vacation.

Thanks for this issue - it's already fixed and my [PR#2988](https://github.com/Azure/azure-xplat-cli/pull/2988) is merged and would be published in upcoming release 0.10.2

[2016-07-05 20:25] #2989 closed

[2016-07-05 21:16] amarzavery commented on #2942
@csmengwan - You are right. Specifying angle brackets for positional parameters means they are required. If you specify square brackets for positional parameters then that makes it optional.
As a general rule: If you are providing two ways to specify a parameter a) **Switch** (for example '-n --name <name>') b) **Positional** ([name]) then the positional should be defined in square brackets.

If y

[2016-07-05 21:24] amarzavery commented on #2966
@bingosummer - Can you login as Service Principal and execute the storage account create command with **-vv**. I think there might be a azure.details.err file in .azure folder in your home profile. Can you paste the content of that file.

[2016-07-06 13:18] kvz opened #2991 "Remove dependency on `$HOME` environment var?"
CLI Version: **0.9.10**
OS Type: Linux (Ubuntu)
Installation via:  npm

Description:
We're getting crashes when we try to run azure-cli in environments where HOME is not set. I believe HOME is set by Bash, but we're trying to execute it without wrapping a shell around it via child_process.spawn.

Error stack trace:

[code]

Seeing as there are modules such as https://www.npmjs.com/package/user-hom

[2016-07-06 17:51] haocs commented on #2991
@kvz - Based on implementation of `user-home`, it relies on `process.env.HOME/USER` too. I think if will return an `null` result if `process.env` is not given.
Could you try pass `process.env` explicitly when you call `child_process.spawn`?

[2016-07-06 20:48] kvz commented on #2991
Ah I see. This works when I start the program from the CLI (which is bash, providing HOME) but when I start the program as a deamon, there is no shell wrapping it. There is a user executing it though, and this user has a homedir. It seems there would be a way to establish this without relying on environment variables set by Bash. I had hoped/assumed user-home provided such mechanism

[2016-07-06 21:12] akromm commented on #2090
@jamestao @smbecker

This is still on our todo list.  We have someone actively working on generating a swagger file for our APIs which will then be used to generate new client libraries which will be used to rewrite the functionality in the xPlat CLI.

[2016-07-06 21:29] haocs commented on #2991
The purpose for looking up home dir is to find the default cli config folder(https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/utilsCore.js#L39). If `process.env.AZURE_CONFIG_DIR` is present,  cli won't look for home dir. I think you could pass `AZURE_CONFIG_DIR="path/to/config"` for each cli execution(or set env variable). This tells cli to look/store config in the specified directory in

[2016-07-07 02:15] smbecker commented on #2090
Is there any timeline for that effort? Is there any way that the community can help?

[2016-07-07 04:25] huangpf commented on #2991
+1

[2016-07-07 04:29] huangpf commented on #2991
But why would users need to set any environments to proceed? Is it fine to assume a temporary or the current directory as what CLI is looking for?

I also encountered this issues in the following environments: 1) WS docker, and 2) our build server, and this is impacting the automation process.

[2016-07-07 06:09] bingosummer commented on #2966
@amarzavery

[code]

BTW, the role of the service principal is `Contributor`. Do I need any specific role to get the location?

[2016-07-07 09:57] tasquith opened #2994 "AzureStack Login Error"
CLI Version: **0.10.1**
OS Type: Linux (CentOS 7)
Installation via:  npm

Mode: ARM

Environment: Azure Stack

Description:
I can't seem to connect to AzureStack, despite my user being the owner of a subscription. Is this a known error?

Steps to reproduce:
1) Add AzureStack environment
2) azure login -e AzureStack -u "xxxxxx"

Error stack trace:

[code]
If the issue is w.r.t `authentication` then

[2016-07-07 15:11] hectoralicea opened #2995 "Same azure command has two different --json schema outputs between 0.9.18 and 0.10.1"
CLI Version: 0.9.18 (on Mac) vs 0.10.1 (on CentOS)
OS Type: 0.9.18 (on Mac) vs 0.10.1 (on CentOS)
Installation via:  npm

Mode: ARM

Environment: AzureCloud

Description:
Same command has two different --json schema outputs which breaks my code.
This command
azure storage account keys list --json -g $sourceresourcegroup $sourcestorageaccount

Outputs the following on 0.9.18 on the Mac
{
  "key1":

[2016-07-07 20:14] msfcolombo opened #2996 "Commands that refresh the authentication token are subject to clobbering by service principals registered with same resource uri"
CLI Version: **0.10.X**
OS Type: **any**
Installation via:  **any**

Mode: **ARM**

Environment: **AzureCloud**

Description:
Commands that refresh the authentication token are subject to clobbering by service principals registered with same resource uri.

For instance, when a command talks to Data Plane and it returns a 401 due to wrong audience, the CLI sends the following request to refresh the

[2016-07-07 21:06] haocs commented on #2991
I think config file is distinct for each user so it is reasonable to store config file at user's home folder separately. It is risky to store config files in a temporary or current directory.
Currently, cli figures out config dir in the following strategy:
1. if `process.env.AZURE_CONFIG_DIR` is present, use it. Done.
2. if `process.env.AZURE_CONFIG_DIR` is not given, try to find out user's home d

[2016-07-07 21:08] haocs commented on #2991
@huangpf - Could you specify your issues? why is '$HOME'/process.env not present on your build server?

[2016-07-07 21:17] huangpf commented on #2991
The build server is provided by another team that we can't control the default environment variables. Also, by default a Windows machine without user login yet might not have these values setup, e.g. the latest Windows container image. You can try it out at: https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-container-samples/windowsservercore

A similar question from us

[2016-07-07 23:08] haocs commented on #2991
I see. If home directory is not available, you have to set up `AZURE_CONFIG_DIR' variable(set AZURE_CONFIG_DIR="folder you want to use") and cli will pick it up and write/read config file there. Otherwise, how could CLI find out configs in your next execution?
It is common to store personal config in user's home directory by default and it works for majority scenarios. Honestly, I did not see a be

[2016-07-08 01:22] huangpf commented on #2991
In this case, it's a design decision that whether it's needed to persist the user data within a certain folder, or a temp folder that is only valid during that session.

Also, this condition indicates it's in an automated environment instead of user-interactive, so telemetry should be disabled.

[2016-07-08 04:42] amarzavery commented on #2991
Irrespective of user or automated environment, we would like to have the telemetry data to improve performance of commands. Authomated scripts or environments are configured by humans ;)

[2016-07-08 06:42] huangpf commented on #2991
@amarzavery You made a very good point, and I think we shall include telemetry. The problem I meant to say about telemetry is that -- an acknowledge ```Y``` keypress and ```Enter``` keypress for the initial prompt might not be feasible during automated run, so there should be an easier way for automation to opt in or out. Thanks.

[2016-07-08 07:20] kvz commented on #2991
I've had a chance to look into this myself now, and while it indeed checks for `process.env.HOME`, if it does not find this, it will gracefully fall back to other methods of establishing the HOME dir, vs crashing hard, as Azure-CLI did for us in Production (where we run without a Bash wrapper), while tests passed in CI (tests are started from bash there).

For reference: user-home relies on os-hom

[2016-07-08 14:05] PirateBread commented on #1937
I can't believe this has not been resolved yet.

Still can't move VM's into Availability sets.
Still can't load balance VM's which aren't in availability sets.

This is so backward I can't believe who thought this was a good idea.

[2016-07-08 14:17] SamirFarhat commented on #1937
Hi,
Indeed, it's a real limitation to not be able control this. But it's a hard work behind, that MS are doing to enable this.
Do not forget that it's quiet logical to have VMs within availability Set to be part of a load balancer. Load Balancing is for resource sharing and high availability. HA is not guaranteed without AS

[2016-07-08 14:29] PirateBread commented on #1937
Sure but there are plenty of times where you just want to spread the load and aren't building a fully HA setup. Like right now..... I need to spread the load for performance reasons. I had to build a haproxy VM to move traffic.

I'm a big fan of Azure but honestly basic things like this are well overdue. MS need to stop rolling out esoteric preview features and instead concentrate on the fundament

[2016-07-08 15:02] tasquith commented on #2994
issue was authenticating with a microsoft account rather than an organisational account. Closing.

[2016-07-08 15:02] #2994 closed

[2016-07-08 15:52] FdezRomero commented on #1937
@PirateBread I agree, word by word :+1:

[2016-07-08 17:48] eduardkoller commented on #2995
@emgerner-msft, @yaxia, @hasonmsft, - can you pleas assist?

[2016-07-09 01:05] mvallerie commented on #1791
+1. Currently, there is no easy way to do that without Powershell.

[2016-07-09 16:06] boredom2 commented on #2763
For me, this option is not working. I add --boot-diagnostics-storage-uri to the corresponding Storage Account. The VM is created without problems, but (according to the Portal), without Diagnostics enabled.
When I try to enable it later with azure vm enable-diag -a STORAGE-ACCOUNT, it fails (because the Storage account is under a different Ressource Group). Without the "-a", it works (but I dont k

[2016-07-10 19:22] VickiFu commented on #1791
No. you can assign directly in web portal for vm.

On Fri, Jul 8, 2016 at 9:06 PM, Mikaël Vallerie <notifications@github.com>
wrote:

--
Vicki Fu

[2016-07-11 07:10] yaxia commented on #2995
I don't think there is a way to revert the output to the old version without writing any script. Since SRP(Storage Resource Provider) REST version 2016-01-01, the account keys are listed with more information, i.e. name, value and permissions. So the json outputs in the Azure CLI changed accordingly. Please refer to https://msdn.microsoft.com/en-us/library/azure/mt163589.aspx for more details.

[2016-07-11 07:26] yaxia commented on #1704
In the latest Azure CLI, it will tell the blob is leased which could be caused by an attached disk or leased by others. If you are sure that you want to delete the blob, you can break the lease (`azure storage blob lease break`) and delete it.

[2016-07-11 07:26] #1704 closed

[2016-07-11 18:23] eduardkoller commented on #2996
Investigating

[2016-07-11 18:26] eduardkoller commented on #2995
The schema change due to new API version should not affect the output of the CLI.
Can you take on modifying the CLI so that the output is backwards compatible?

[2016-07-11 18:28] pcgeek86 opened #3003 "Formatting of feature deprecation text"
Is there a better way to format the text notifying users of deprecated features? Perhaps put it at the end of the output, so it doesn't interfere with the list of child commands?

![image](https://cloud.githubusercontent.com/assets/466713/16741964/f4cef46a-4762-11e6-800a-e26ddb89560f.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://

[2016-07-11 18:29] eduardkoller commented on #2987
Investigating

[2016-07-11 18:33] eduardkoller commented on #2984
adding @jasonrshaver - this needs to be tracked for the future.
Closing the issue - no change to be done here.

[2016-07-11 18:33] #2984 closed

[2016-07-11 21:55] boumenot opened #3005 "storage account create's help message for kind is missing available options"
[code]

Displays the following text.

[code]

The --sku-name has a helpful list of options, but the --kind option does not.  Please add 'Storage' and 'BlobStorage' just as you added (LRS/ZRS/GRS...) to the --sku-name's help.

[2016-07-11 22:02] boumenot commented on #3005
Nevermind.  I just checked out the code, and the help message was amended with commit c002287e.

[2016-07-11 22:02] #3005 closed

[2016-07-11 22:28] haocs commented on #2915
@ahmetalpbalkan - Fix included in this PR https://github.com/Azure/azure-xplat-cli/pull/3001 which builds docker image based on source code. Could you help review it and let us if there is any issue found.

[2016-07-11 23:10] ahmetalpbalkan commented on #2915
@haocs ok reviewing, thx. my first impression is your docker context (i.e. stuff you're sending to docker engine to build) is enormous (=432 MB). I believe you're sending bunch of binaries etc inside Docker image that might not be necessary. I suggest evaluating that and potentially using a `.dockerignore` file (like a `.gitignore` but for docker builds basically).

[2016-07-11 23:22] ahmetalpbalkan commented on #2915
@haocs other than that it looks good to me and does the job 👍 .

[2016-07-11 23:22] #2915 closed

[2016-07-12 01:08] haocs commented on #2915
@ahmetalpbalkan thanks for your suggestions. I added a .dockerignore file(basically ignore tests and node_modules folders) then files that sent to docker engine reduced to 100MB :)

[2016-07-12 12:03] MikhailTryakhov commented on #2940
Hi @Krylon360
thank you for a great fix you found. In such cases we usually do not add extra-options.
To create VM using subnet from another resource group you can use ```subnet-id``` option, which contains all required info about existing subnet.
This subnet may be in any resource group you need.

This opportunity was blocked in CLI (thanks for you again!). I've made fixes for such cases and upda

[2016-07-12 12:03] #2940 closed

[2016-07-12 16:21] danielstocker opened #3008 "Attaching premium disk to non-premium storage ARM VM creates failed state (disk config updated despite failed message displayed)"
**My Microsoft alias:** "dasto"
**CLI Version:** 0.9.16
**OS Type:** Windows 10
**Installation via:**  win installer (web platform installer)

**Mode:** ARM

**Environment:** AzureCloud - PROD

**Description:**
Attaching premium disk to non-premium storage ARM VM creates failed state (disk config updated despite failed message displayed)

* Started by creating a standard Windows 2012 R2 Dv2 VM (Sc

[2016-07-12 17:38] Krylon360 commented on #2948
I submitted #2940 about this last month. PR #3002 / #3007 which closes #2940 should fix the issue.

[2016-07-12 17:41] Krylon360 commented on #2870
not all of Azure services have been migrated to ARM yet. There are still a lot that rely on ASM. I'd expect the default config to change once all things Azure have been migrated to ARM.

[2016-07-12 17:51] MikhailTryakhov commented on #2948
Thanks @Krylon360
The fix from [PR#3007](https://github.com/Azure/azure-xplat-cli/pull/3007) would be fixed in next release.
Please let me know if you have any questions

[2016-07-12 17:51] #2948 closed

[2016-07-12 21:34] haocs commented on #2991
@kvz , thanks for your specification. We'd like to take this dependence if it could solve your problem.
But before that, I'd like to figure out your use scenario and make sure this fix would work as expected. Could you provide more info of how to repro your issue?

[2016-07-12 22:59] vani578 opened #3009 "Property -Sku is not updateable for Set-AzurePlatformVMImage command"
Background:

In our Current RDFE based deployments we key off the “image family” field to identify the image to use when creating an Azure VM.  When we do an update to an image and publish we tack “preview” to the end of the image family field (eg “Pre-Requisites for Dynamics AX7 Developer Enterprise on Windows Server 2012 R2 RTWU1 Preview”).  This allows us to do some test deployments and validat

[2016-07-13 10:04] MikhailTryakhov commented on #3009
Hi @vani578
could you please confirm, do you need a fix with PS command?
To find it better to use their repository issues list [here](https://github.com/Azure/azure-powershell/issues)

[2016-07-13 10:04] #3009 closed

[2016-07-13 16:48] huangpf commented on #3008
I think this is by design. @sauryadas @singhkay Could you please help confirm?

[2016-07-13 20:29] singhkay commented on #3008
@danielstocker This is by design but the VM should not have allowed the disk to be attached instead of going into a failed state. The this is probably a bug in the compute platform that needs to be fixed.

[2016-07-13 20:45] #3008 closed

[2016-07-13 23:29] eduardkoller commented on #3003
Thank you for bringing this up. We'll look into making it prettier :-)

[2016-07-13 23:42] eduardkoller commented on #2990
Investigating adding an -ca option

[2016-07-13 23:47] eduardkoller commented on #2966
Thank you for the details. Looks like the command failed to retrieve the locations list. Investigating

[2016-07-13 23:56] eduardkoller commented on #2958
The '-add' command has been in the cli just for 1 sub-release, and since then it has been always 'create'.

[2016-07-13 23:56] #2958 closed

[2016-07-14 00:01] eduardkoller commented on #2946
Low priority. Even in non-interactive shells, the only impact is that *the very first* execution of the cli is being delayed by 30 seconds.

[2016-07-14 00:04] eduardkoller commented on #2938
Yep, looks like a bug. Let's fix it.

[2016-07-14 00:04] #2936 closed

[2016-07-14 00:05] #2934 closed

[2016-07-14 00:14] eduardkoller commented on #2933
@ahmetalpbalkan we cannot get a repro with 0.10.2.
Can you please try with this latest release, and see if you still see the issue?

[2016-07-14 00:20] eduardkoller commented on #2930
Targeting the China cloud from US-based clients is one of the mainstream scenarios.

[2016-07-14 00:20] #2930 closed

[2016-07-14 00:21] #2929 closed

[2016-07-14 00:24] eduardkoller commented on #2900
Not supported in CLI at this time.

[2016-07-14 00:24] #2900 closed

[2016-07-14 05:23] dimkanewtown commented on #1544
+1 this is a much needed feature (update + multiple update)

[2016-07-14 05:33] danielstocker commented on #3008
@singhkay thank you very much for having a look at this from the CLI side. I will go through the proper internal escalation channels to get the compute team to have a look from their end.

[2016-07-14 05:54] dimkanewtown opened #3011 "Connectionstring changes not applied to target site slot after slot swap"
CLI Version: **0.9.20**
OS Type: Win
Installation via:  npm
Mode: **ASM**
Environment: **AzureCloud**

Description:
If site connectionstring changes are applied to a named slot other than production ("staging" for example), the setting behaves as if "SLOT SETTING" checkbox is set and does not swap when the site slots are swapped in azure portal.

Steps to reproduce:
1) Create site "test-webapp" wi

[2016-07-14 14:01] vani578 commented on #3009
Hi Mikhail, yes I need this issue fixed. Why was this closed?

[2016-07-14 21:16] mw007 opened #3013 "azure vm show --depth throws error"
CLI Version: 0.10.2
OS Type: Linux Fedora 23
Installation via:  npm

Mode: ARM
Environment: AzureCloud

Description:
`azure vm show <resource-group> <vm-name> --json --depth full` results in the following error:

[code]

This occurs anytime `--depth` is specified with a value higher than 2.

Steps to reproduce:
1) Run `azure vm show <resource-group> <vm-name> --json --depth 3`

Error stack trace:

[2016-07-14 21:27] ravbhatnagar commented on #2925
@morsh - Can you please try adding an explicit depends on the StorageAccount in your appsettings resource and see if it solves this issue?
"apiVersion": "2016-03-01",
                    "name": "appsettings",
                    "type": "config",
                    "dependsOn": [
                        "[resourceId('Microsoft.Web/sites', variables('functionsWebAppName'))]"

[2016-07-14 21:54] ravbhatnagar commented on #2625
@lbrader - When you run azure group log show command without any params, by default it will show the logs from the last template deployment. In your case, you didn't had any, but still it should not have failed but returned and empty object. We will fix this.

When you ran this command with the --all, it will return the logs for all the operations (including CRUD and template deployment). And whic

[2016-07-14 23:34] rbouikila opened #3014 "azure storage blob upload not use proxy"
CLI Version: 0.10.0
OS Type: RedHat 6
Installation via:  npm

Mode: ARM

Environment: AzureCloud

Description:

This command doesn't use proxy configuration.
azure storage blob upload doesn't use proxy configuration.

This command use proxy configuration.
azure storage blob list .... work's fine
azure storage blob show ... work's fine

I set proxy configuration with azure config set .
azure config

[2016-07-15 01:03] amarzavery commented on #2071
Closing this as it is a low priority issue.

[2016-07-15 01:03] #2071 closed

[2016-07-15 01:03] amarzavery commented on #1959
closing this as it is a low priority issue.

[2016-07-15 01:03] #1959 closed

[2016-07-15 01:04] #2756 closed

[2016-07-15 01:04] amarzavery commented on #2720
with 0.10.1, you can switch to file based token storage once you turn on the env variable of "AZURE_USE_FILE_TOKEN_STORAGE". If you run into login failure, please turn this on and share out the ~/.azure/accessTokens.json with us(feel free to mask out the acesstoken entries).
Note, azure-cli for linux has already used file storage. We enable it for osx and windows as well for easier diagnostic.

[2016-07-15 01:04] #2720 closed

[2016-07-15 01:09] #2787 closed

[2016-07-15 01:14] amarzavery commented on #2788
@waldiTM - This should have been fixed by now. Please reopen the issue if required.

[2016-07-15 01:15] #2788 closed

[2016-07-15 01:17] amarzavery commented on #2887
@AbelHu - The `azure ad sp set` command has been updated.

[code]

[2016-07-15 01:17] #2887 closed

[2016-07-15 01:20] amarzavery commented on #1795
@MikhailTryakhov @jtuliani - Has this been supported now?

[2016-07-15 01:23] #1902 closed

[2016-07-15 01:23] amarzavery commented on #1774
@jtuliani @MikhailTryakhov - Any update on this?

[2016-07-15 01:24] amarzavery commented on #1778
@MikhailTryakhov @jtuliani - Has this issue been resolved? If so, can this be closed?

[2016-07-15 01:25] amarzavery commented on #1782
@jtuliani @MikhailTryakhov - Has this issue been resolved?

[2016-07-15 01:26] amarzavery commented on #1796
@MikhailTryakhov - Can you take a look at this issue?

[2016-07-15 01:32] amarzavery commented on #2138
@huangpf - Does this issue still exist?

[2016-07-15 01:33] amarzavery commented on #2051
This issue should be resolved as the node sdk is using a GA version of the graph api. Previously it was using internal version hence some actions were not permitted. Please reopen the issue , if the problem persists.

[2016-07-15 01:33] #2051 closed

[2016-07-15 01:35] amarzavery commented on #2076
@MikhailTryakhov @huangpf - Can this be done in ARM right now? If not, then is there any ETA for this?

[2016-07-15 01:36] amarzavery commented on #2086
This seems to be a quickstart template issue and not a CLI issue. Hence closing this.

[2016-07-15 01:36] #2086 closed

[2016-07-15 01:37] amarzavery commented on #1564
@yaxia - Any update on this? Was this issue repro'd in the way suggested by @howie ?

[2016-07-15 01:39] amarzavery commented on #1743
@vivsriaus - Has this issue been resolved?

[2016-07-15 01:39] amarzavery commented on #1745
@vivsriaus - Has this issue been resolved?

[2016-07-15 01:41] amarzavery commented on #2006
[code]

[2016-07-15 01:41] #2006 closed

[2016-07-15 01:41] vivsriaus commented on #1745
Yes

[2016-07-15 01:41] #1745 closed

[2016-07-15 01:41] vivsriaus commented on #1743
No, this is still pending

[2016-07-15 01:42] amarzavery commented on #2287
@msfcolombo - Can you please take a look at this request?

[2016-07-15 01:43] #2283 closed

[2016-07-15 01:43] amarzavery commented on #2283
closing this as it is a low priority issue.

[2016-07-15 01:50] yaxia commented on #1564
+@hasonmsft to take a look

[2016-07-15 02:25] amarzavery commented on #2379
It would be nice, if the API would return that information. The information can be retrieved by doing a GET on each item in the list. However, that would increase the execution time for the command.

@ravbhatnagar, @vivsriaus - It would be really nice if the ARM API would return that info in the List call, since that info is required by the API in the GET/show call.

[2016-07-15 02:27] #1512 closed

[2016-07-15 02:30] amarzavery commented on #1901
@davidebbo @aelnably - any plans to fix this?

[2016-07-15 02:31] amarzavery commented on #2028
@huangpf - Any thoughts on this one?

[2016-07-15 02:31] amarzavery commented on #2129
@davidebbo @aelnably - Any updates on this?

[2016-07-15 02:34] amarzavery commented on #2142
[code]

[2016-07-15 02:34] #2142 closed

[2016-07-15 02:35] hasonmsft commented on #1564
Still no luck for the repo. @howie , @didlich, can this issue still be reproduced from your side?

[2016-07-15 02:37] amarzavery commented on #1241
@hasonmsft @yaxia - Do you think this will be done? If no, then please feel free to close this issue.

[2016-07-15 04:02] msfcolombo commented on #2287
@colemickens The user cannot specify a creation time for vaults, keys or secrets. This value is set by the service. Vaults are created through [this ARM template](https://azure.microsoft.com/en-us/documentation/articles/resource-manager-template-keyvault/) which doesn't accept creation time. CLI and Powershell are just wrappers to ARM REST API. The two related Powershell cmdlets are [New-AzureRmKe

[2016-07-15 04:03] colemickens commented on #2287
I don't want to set creation time... I want to set "enabledForDeployment" **at** creation time, the same way one can do via PowerShell.

[2016-07-15 04:05] colemickens commented on #2287
Aka, add the `--enabled-for-deployment` flag to the `azure keyvault secret set` command.

[2016-07-15 04:06] msfcolombo commented on #2287
Got it! We can certainly do that.

[2016-07-15 05:22] huangpf commented on #2028
Looks like a feature request. ASM?

[2016-07-15 05:34] bingosummer commented on #2028
Yes. For ASM.
This is addressed several months ago. I'm not sure whether it's supported now.
Here is the background: https://github.com/Azure/azure-linux-extensions#known-issues

Do you think it makes sense to support this feature? If not, please feel free to close this issue. Thanks.

[2016-07-15 08:22] kvz commented on #2991
Say you want to run your Node.js server as an Upstart service, you might have a stanza like so

[code]

Inside your Node.js server, you might be calling azure-cli like so:

[code]

So you see, Bash (or any other interactive terminal program) does not come into play anywhere in this setup. Since `$HOME` is provided by the shell, HOME does not exist in your process.

But I think an easier way to tes

[2016-07-15 08:55] didlich commented on #1564
@hasonmsft, after nodejs and azure-cli update I didn't try it any more

[2016-07-15 11:02] jtuliani commented on #1796
It should not be possible to create a DNS SOA record set.  SOA record sets are created and deleted automatically when the zone is created/deleted.

Thus the following commands should NOT support the SOA record type
- azure network dns record-set create
- azure network dns record-set delete
- azure network dns record-set add-record
- azure network dns record-set delete-record

It *is* possible to u

[2016-07-15 11:11] jtuliani commented on #1778
@MikhailTryakhov can we see if the new Swagger-based SDK allows us to use PATCH as suggested above?  If the SDK doesn't support PATCH then we need to fix the SDK.

[2016-07-15 11:12] jtuliani commented on #1774
@MikhailTryakhov can we see if the new Swagger-based SDK allows us to use PATCH as suggested above? If the SDK doesn't support PATCH then we need to fix the SDK.

[2016-07-15 11:13] jtuliani commented on #1795
This is in progress/due to start as part of the change to the 2016-04-01 API version

[2016-07-15 11:16] jtuliani commented on #1782
@MikhailTryakhov My take:
•	We should either give an error or not give an error when deleting a non-existent zone, depending upon what other CLI commands for other resources do (e.g. what happens when you delete a resource group that doesn’t exist?)
•	Either way, there’s no need to GET first, since the API gives a different response in each case.

[2016-07-15 17:41] amarzavery commented on #3014
@hasonmsft - Can you take a look at this issue?

[2016-07-15 18:58] amarzavery commented on #1340
Looks like the command works.
[code]

[2016-07-15 18:58] #1340 closed

[2016-07-15 19:00] amarzavery commented on #1587
This wont be supported in ASM. Websites team will have to support this in ARM, whenever they have webapp commands ready.

[2016-07-15 19:00] #1587 closed

[2016-07-15 19:01] amarzavery commented on #1586
Looks like the command is working. Hence closing this issue. Feel free to reopen if required.

[2016-07-15 19:01] #1586 closed

[2016-07-15 19:02] #1493 closed

[2016-07-15 19:12] ravbhatnagar commented on #2906
Following up with the marketplace team which owns this.

[2016-07-15 19:36] amarzavery commented on #1567
@sauryadas @huangpf - I have verified this ASM command and there are bugs at multiple level. It would be nice if you can check this from the service side and let us know what is it that the service actually expects. That will help us in getting this issue fixed.

1. The user provides the date-time as a string as explained in the help. The command passes this string as is  to the hyak generated nod

[2016-07-15 19:55] amarzavery commented on #1715
Looks like the issue is fixed. Please feel free to reopen if required.

[2016-07-15 19:55] #1715 closed

[2016-07-15 20:00] amarzavery commented on #1916
@mpilant - The V2 version (ARM) of Azure provides you a capability to create a loadbalancer and have multiple vms in it.

This [article](https://azure.microsoft.com/en-us/documentation/articles/load-balancer-get-started-internet-arm-cli/) provides you more info on how to create one. The next steps in this article also provide you more info on different variations of the loadbalancer.

I am closing

[2016-07-15 20:00] #1916 closed

[2016-07-15 20:01] amarzavery commented on #1970
@yaxia @hasonmsft - please investigate. This issue has been sitting idle for a long time now.

[2016-07-15 20:08] amarzavery commented on #2024
unable to repro. Please feel free to reopen if required.

[2016-07-15 20:08] #2024 closed

[2016-07-15 20:46] amarzavery commented on #2062
This will not be supported in ASM in the CLI.

[2016-07-15 20:46] #2062 closed

[2016-07-15 20:47] #2084 closed

[2016-07-15 20:48] amarzavery commented on #2099
@akromm - Any idea when will this be supported?

[2016-07-15 20:54] amarzavery commented on #2384
@ravbhatnagar @vivsriaus @tianoMS - Highlighting this issue since we had an internal discussion about formatting for this command. Will the above issue be fixed while you are working on improving this command?

[2016-07-15 21:13] amarzavery commented on #2599
@infosatheesh2020 -  The command to execute is
`azure role assignment delete` . The command `azure role delete` is about deleting the role definition and the former is for deleting the role assignment.

Have verified that both commands work. As @shuagarw mentioned that **inbuilt role definitions** cannot be deleted. However role assignments and custom role definitions can be deleted.

Closing this

[2016-07-15 21:13] #2599 closed

[2016-07-15 21:25] amarzavery commented on #2569
@dukedougal - that is correct. The CLI provides a command to hide that.

PowerState tells you the status.
[code]

This issue is more about the REST API design of the Compute/ARM service and not the CLI itself. Hence I am closing this one.
@singhkay @mahthi would be in a better position to comment if at all there would ever be a change in the REST API of the service.

[2016-07-15 21:25] #2569 closed

[2016-07-15 21:28] amarzavery commented on #2571
@ravbhatnagar @vivsriaus - Any update or timeline to support this in ResourceManager?

[2016-07-15 21:30] amarzavery commented on #2648
Looks like the issue is fixed. Hence closing it. Feel free to reopen if required.

[2016-07-15 21:30] #2648 closed

[2016-07-15 21:31] amarzavery commented on #2591
@huangpf @sauryadas - Any updates on this?

[2016-07-15 21:32] amarzavery commented on #2689
@ravbhatnagar @vivsriaus - Any timeline for this fix?

[2016-07-16 02:16] amarzavery commented on #2664
@huangpf @sauryadas -
/cc @eduardkoller
 It took me some time to debug through the cli code, look at the hydra-specs and the [MSDN REST API specs](https://msdn.microsoft.com/library/jj157194.aspx) to find out the underlying issue.

So @esakkiraj is creating a Windows VM with a reservedIP. This setup needs at least one endpoint as rightly suggested by the service in the error message.

since, the u

[2016-07-16 02:30] amarzavery commented on #1430
The CLI help looks accurate hence closing this issue.

[2016-07-16 02:30] #1430 closed

[2016-07-16 02:34] amarzavery commented on #1517
help:      --php-version <php-version>                                the PHP version. Valid options are off, v5.4, v5.5 and v5.6

[code]

[2016-07-16 02:34] #1517 closed

[2016-07-16 02:50] amarzavery commented on #1512
The Websites team has removed this functionality from ASM. @cicorias provides the alternate approach in ARM, which is not usable for a site created in ASM mode. Website team needs to provide a good set of website commands in ARM mode.

[2016-07-16 02:51] amarzavery commented on #1599
@sauryadas @huangpf - Any updates on this issue?

[2016-07-16 02:51] amarzavery commented on #1599
If this issue is not going to be resolved then feel free to close it.

[2016-07-16 02:52] powareverb commented on #1685
This is a huge +1 for me, would be even better if this was implemented for both blob and file.  ATM I'm probably going to look at using azurefs + rsync to achieve same result but I don't expect it'll be particularly reliable/stable.