[2015-05-22 06:35] HimanshuBri commented on #1763
@anuchandy  yes its working fine for me.I again verified.

<pre>
<code>
C:\May\22May\azure-xplat-cli-dev>node bin/azure network lb address-pool create armresgrp21M lb21 lbadd21 --json
{
  "backendIpConfigurations": [],
  "loadBalancingRules": [],
  "provisioningState": "Succeeded",
  "name": "lbadd21",
  "etag": "W/\"d004c931-f2c6-44ba-93f6-af480c6e0b59\"",
  "id": "/subscriptions/bfb5e0bf-124b-4d

[2015-05-22 07:25] HimanshuBri commented on #1763
@anuchandy  can we close it?

[2015-05-22 08:51] rarevalob commented on #1749
Thanks!

[2015-05-22 10:49] roman-boltunov opened #1795 "ARM: Not possible to create PTR DNS record set"
Repro steps:
* create dns-zone record set create for type PTR.
* command fails with unsupported type exception.

**Error: The record type PTR is not supported. Resource records can contain only one type of record specified.**

Here is the -vv output:
[code]

[2015-05-22 10:51] roman-boltunov opened #1796 "ARM: Not possible to create SOA DNS record set"
Repro steps:
* create dns-zone record set create for type SOA.
* command fails with missing fields host & email.

Here is the -vv output:
[code]

[2015-05-22 12:01] jtuliani commented on #1795
PTR records are not yet supported by the Azure DNS service.  It's work-in-progress, and as a result you stumbled upon the support that is already in place in the Azure CLI.  Apologies for the confusion whilst we build out end-to-end support.

[2015-05-22 15:00] roman-boltunov commented on #1777
@HimanshuBri could you recheck this please?

[2015-05-24 14:11] top2tech opened #1802 "Failed to authenticate if login account has two factor authentication enabled."
### Repro:
azure login with a Microsoft account (outlook.com) which has two factor authentication enabled, when asking for password, first time tried the real password, failed to authenticate, then tried app password, also failed to authenticate.

### Error:
Password: ****************
+ Authenticating...
error:   Server returned error in RSTR - ErrorCode: NONE : FaultMessage: NONE
info:    Error i

[2015-05-26 16:35] anuchandy commented on #1681
This feature is added in this branch: https://github.com/anuchandy/azure-xplat-cli/commit/644db729cb17ddbc255b7e87f805fc2a1f74de60

We take dependency on two NPM modules: jsrsasign and ssh-key-to-pem. The jsrsasign  NPM module is not up to date, we build the latest from source to unblock VM Create RSA implementation.  I have requested jsrsasign author to update NPM module [ _https://github.com/kju

[2015-05-26 19:38] matiasdecarli commented on #1792
So.. I forked the repo and started working on this feature. Currently I'm passing the arguments (probe port and probe path), and seeing them being sent, but the API is responding with a:
[code]
which sounds pretty logical to me that they don't match, since this is the value that I wanna change.

Can anyone help me with this? I can't see a reason for the Request ended in this error, since im trying

[2015-05-26 19:39] vivsriaus opened #1804 "ARM: Output portion of template functionality is broken"
When a template has "output" parameters, azure group deployment create command doesn't display the output back to console.

[2015-05-27 01:00] anuchandy opened #1805 "ASM: Prepare design document for local networks and to manage association between local network and vnet"

[2015-05-27 01:01] anuchandy commented on #1805
Done with design documentation, review in progress. Keeping this issue open until review & implementation is done

[2015-05-27 01:33] anuchandy opened #1806 "ASM: network import destroy the gateway information associated with local network sites"

[2015-05-27 02:14] #1726 closed

[2015-05-27 21:20] devigned commented on #1802
You must use an azure org account or a service principle to authenticate using Azure CLI. Please see the  the [Log in from the Azure CLI](https://azure.microsoft.com/en-us/documentation/articles/xplat-cli-connect/) article.

[2015-05-27 21:23] #1802 closed

[2015-05-28 00:02] ruslangabitov commented on #1628
Hello @magaal, I was not able to reproduce this issue using latest release. We had this issue in our previous versions, but looks like it was fixed in 0.8.16 (https://github.com/Azure/azure-xplat-cli/releases/tag/v0.8.16-March2015)
Can you please try it again using latest code?
If it is still not working, can you specify command that you are trying to run?

[2015-05-28 03:48] ahmetalpbalkan opened #1809 "Add 'vm extension remove'?"
I realized `azure vm extension` does not have a subcommand to remove an extension from the VM. I feel like it's a common task that users might need.

How do you feel about adding this? @devigned @kmouss

![image](https://cloud.githubusercontent.com/assets/159209/7852381/7ab2cc78-04b1-11e5-8cc2-5e0614131eed.png)

![image](https://cloud.githubusercontent.com/assets/159209/7852389/9a9adfee-04b1-11e5-

[2015-05-28 05:45] anuchandy commented on #1809
running vm extension set with --uninstall flag will remove the extension from the VM.

[2015-05-28 05:48] ahmetalpbalkan commented on #1809
Aaaah totally my bad not seeing that. Thx @anuchandy.

[2015-05-28 05:48] #1809 closed

[2015-05-28 07:07] kmouss opened #1810 "ASM: Port conflict while creating a new VM in an existing cloud service"
it seems to always complaint about the same port

#azure vm create -c -w mstorepoc -n zms-master-1 -d /var/folders/zz/5_36g6912t53xzcb1_tg667c38zlrp/T/zms.XXXXXX.ZEyfwzzg/zms-master-1.sh -t ./mstore_azure.pem -e 22004 -P -z Small -S 10.64.1.4 zmsmaster mstore-udocker-node0.11 mstore
info:    Executing command vm create
+ Looking up image mstore-udocker-node0.11
+ Looking up virtual network
+ Looki

[2015-05-28 16:26] anuchandy commented on #1810
Here the issue is, user is trying to map two different external ports 8091 and 8090 to the same local portal 8090, which is not supported in RDFE. May i know what exactly user want to achieve by mapping multiple ports to same local port?

[2015-05-28 17:51] anuchandy commented on #1810
Are you trying to create load balanced endpoint?

There are two type of load balancer

1.	Internal Load balancer
2.	Load balancer (external facing)

When we create an end point, User may want to associate the end point with one type of LB.

To define an endpoint as part of internal load balancer (#1), we need to pass the name of the internal load balancer via --internal-load-balancer-name of endpo

[2015-05-28 21:07] nyetsche opened #1811 "Feature Request: SAS signatures with full URL"
It would be great if the `azure storage blob sas create` function could output an entire URL. Right now it only outputs the signature.

Ex:

[code]

Ideally, it would output something like:

[code]

Similarly for the `azure storage container sas create`.

Right now I am using release 0.8.17.

There's precedence for this, the [Azure Storage Explorer](https://azurestorageexplorer.codeplex.com/Source

[2015-05-31 07:44] ahmetalpbalkan opened #1815 "azure vm delete returns success for wrong VM name"
Mode: ASM.

[code]

I think this is not good. Returning success from this command for a non-existent VM name would heavily break the scripting use case with the xplat cli. For a caller, there's no way to find out the behavior if the specified VM name was valid or not.

For a good example, look at `rm` command in POSIX. `rm foo` would fail and exit with an error code if foo does not exist; however

[2015-05-31 11:44] infosatheesh2020 opened #1816 "ASM: Create new VM with existing OS disk"
We have OS disk retained from deleted VMs, and want to create new vm with the existing disks. Currently the option is not available in CLI, but we are not able to use portal as well, since we need the VM with old name which was more than 15 characters created using CLI, which is not supported by portal (> 15 character)

[2015-06-01 21:51] NaveenGoli commented on #1666
will provide on upcoming release.

[2015-06-02 01:41] matt-gibbs commented on #1811
Thank you @nyetsche
Closing this issue. Thank you for the fix.

[2015-06-02 01:41] #1811 closed

[2015-06-02 18:05] babumuralidharan commented on #1516
Bug fix part of release 0.9.3. Closing this issue.

[2015-06-02 18:05] #1516 closed

[2015-06-02 18:06] babumuralidharan commented on #1566
Bug fix part of release 0.9.3. Closing this issue.

[2015-06-02 18:06] #1566 closed

[2015-06-02 18:06] babumuralidharan commented on #1600
Bug fix part of release 0.9.3. Closing this issue.

[2015-06-02 18:06] #1600 closed

[2015-06-02 18:08] babumuralidharan commented on #1625
Bug fix part of release 0.9.3. Closing this issue.

[2015-06-02 18:08] #1625 closed

[2015-06-02 18:15] babumuralidharan commented on #1676
Bug fix part of release 0.9.3. Closing this issue.

[2015-06-02 18:15] #1676 closed

[2015-06-02 18:28] anuchandy opened #1817 "ASM: VM Load balanced set endpoint view and update"
Currently once we assign load balanced set to an endpoint (thus it become load balanced set endpoint) there is no way to update any of the properties of the endpoint. Calling 'endpoint update' will fail if there are multiple endpoints associated with the lb set.

We need commands for following operations:

1. List all load balanced set in a cloud service, which should show also endpoint in differe

[2015-06-02 18:39] anuchandy opened #1818 "ASM: VM correcting endpoint parameter names"
The parameters for the 'vm endpoint' commands should be consistent with portal & power shell.

The parameter 'lb-port' should renamed to 'public-port'
The parameter 'vm-port' should be renamed to 'local-port' or private-port

[2015-06-02 18:44] anuchandy commented on #1816
Can you please try following steps:

1. Create an image using the OS Disk (azure vm image create name-for-image -u path-to-os-disk-vhd --os linux|windows
2. use vm create with image as the image created in step 1.

[2015-06-02 20:34] anuchandy commented on #1792
@davidni replacing the tag networking with IAAS as this command comes under 'vm endpoint' subset.

@matiasdecarli We are working on enabling this feature. Not only probe but there are multiple properties that can be updated, the new set of commands supports all this.

[2015-06-02 20:38] matiasdecarli commented on #1792
@anuchandy Any ETA?

[2015-06-02 20:46] anuchandy commented on #1387
Please follow this issue https://github.com/Azure/azure-xplat-cli/issues/1681. Closing this one.

[2015-06-02 20:46] #1387 closed

[2015-06-02 21:03] anuchandy commented on #1792
@matiasdecarli sholud be in for the next cli release (3 weeks).

[2015-06-02 21:07] matiasdecarli commented on #1792
@anuchandy is there any branch in which I can see/test the new features?

[2015-06-02 22:04] kmouss commented on #1640
@shield007 it looks like the existing deployment might have been in Std storage. Could you please double check.

[2015-06-02 22:15] anuchandy commented on #1792
@matiasdecarli not yet. I will update issue comment as soon as it is available in the dev branch

[2015-06-02 22:48] BorisB2015 opened #1819 "Windows: Preserve console colors after running azure commands"
I have custom colors set in my Command Prompt console. After running azure CLI (any command) the text color reset to light gray. This is unexpected.

Command prompt admin console window on Microsoft Windows [Version 10.0.10125]
Tool version 0.9.3

[2015-06-04 09:05] damienpontifex commented on #1331
Closing as can be done with ARM and properties:edition

[2015-06-04 09:05] #1331 closed

[2015-06-05 02:43] johngossman opened #1821 "deploying templates from azure-quickstart-templates broken"
D:\Projects\azure-quickstart-templates\101-simple-linux-vm>azure group create "jgtesttemp3" "West US" -f azuredeploy.json -d "testDeploy" -e azuredeploy.parameters.json
info:    Executing command group create
+ Getting resource group jgtesttemp3
+ Creating resource group jgtesttemp3
info:    Created resource group jgtesttemp3
+ Initializing template configurations and parameters
+ Creating a deplo

[2015-06-05 14:41] yugangw-msft commented on #1821
#1820 is the fix

[2015-06-05 16:24] sedouard commented on #1821
dupe of https://github.com/Azure/azure-sdk-for-node/issues/1431#issuecomment-109323968

[2015-06-05 16:50] sedouard opened #1822 "Load Balancer Templates Broken - Regression"
Since npm version 0.8.16 load balancer templates haven't been working. Various errors between them but today's error (on version v0.9.2, the version that is free from the regression caused by https://github.com/Azure/azure-sdk-for-node/issues/1431#issuecomment-109358699) is:

[code]

It simply appears like something is missing.

This blocks really important templates for anything with multiple vir

[2015-06-05 16:55] yugangw-msft commented on #1822
I hit this error yesterday. After i cleaned up the ".streamline" folder, this issue went away.  Let me know whether this does the trick for you as well.

[2015-06-05 16:56] sedouard commented on #1822
thanks @yugangw-msft can you specify where the `.streamline` in relation to the package root?

[2015-06-05 17:00] yugangw-msft commented on #1822
In my mac, it is under "/users/<your name>/.streamline"., where the streamline package used by CLI dynamically compiles all ._js files

[2015-06-05 17:03] sedouard commented on #1822
that appears to fix it. but question is why does this start reproducing at `0.8.16`? Rolling back to `0.8.15` allows this to work. maybe you aren't using streamline before then?

Probably good to mention this trick somewhere besides buried in a an issue somewhere.

[2015-06-05 21:12] yugangw-msft commented on #1822
It is streamline bug/limitation. The streamline package has been used since the very early period of cli for easy coding. We have known such issues, but rewriting commands is not trivial undertake.
I will mention in the readme.

[2015-06-05 23:56] ahmetalpbalkan opened #1826 "ARM: 'azure vm extension list' does not exist"
$ azure vm extension list

This command does not exist in ARM mode but it does in ASM.

[2015-06-06 01:22] sedouard commented on #1822
Awesome thanks for looking into it!

[2015-06-06 01:22] #1822 closed

[2015-06-08 18:46] anuchandy commented on #1826
@ahmetalpbalkan this is a known issue, we don't have an ARM API to enumerate the extensions. We have plan to enable this command as soon as the SDK + server is updated to support this.

cc: @kmouss

[2015-06-08 21:15] jgoldsch opened #1828 "ARM: vm disk attach-new fails due to host-caching setting"
Performing attach-new to an ARM VM using a PLRS (Premium Storage) account results in this error

vm jgoldsch$ azure vm disk attach-new jgoldsch-perf-west-rg2 jgoldsch-perf-vm2-vm 1023
info:    Executing command vm disk attach-new
+ Looking up the VM "jgoldsch-perf-vm2-vm"
info:    New data disk location: http://jgoldschwestperfplrs.blob.core.windows.net/vhds/jgoldsch-perf-vm2-vm-20150608-1700583.v

[2015-06-09 00:56] anuchandy commented on #1828
@jgoldsch as per server error it seems "ReadWrite Caching is not supported in the premium storage".

I think the issue here is: you have updated VM first with a data disk in read write caching, though the provisioning failed the VM object already updated to have this data disk in read write mode. Now when you tried to add second disk with none caching, VM object already contains previously added d

[2015-06-09 17:33] anuchandy commented on #1792
@matiasdecarli the fix is available in this branch https://github.com/msopentech/azure-xplat-cli/tree/dev,

[2015-06-09 17:34] anuchandy commented on #1752
Fix: https://github.com/msopentech/azure-xplat-cli/tree/dev

[2015-06-09 17:38] matiasdecarli commented on #1792
Awesome news. Will try this tonight, thanks!

[2015-06-09 17:46] babumuralidharan commented on #1731
Fix part of sprint 49.

[2015-06-09 17:46] #1731 closed

[2015-06-09 18:00] babumuralidharan commented on #1785
Added as part of sprint49. Closing this issue.

[2015-06-09 18:00] #1785 closed

[2015-06-09 18:08] babumuralidharan commented on #1784
Closing this issue as we have sufficient background and in case the  publisher needs to ensure VHD size in even before trying to use image and create VM.

[2015-06-09 18:08] #1784 closed

[2015-06-09 18:09] babumuralidharan commented on #1763
fix part of sprint 49

[2015-06-09 18:09] #1763 closed

[2015-06-09 18:10] babumuralidharan commented on #1761
fix part of sprint 49

[2015-06-09 18:10] #1761 closed

[2015-06-09 18:10] babumuralidharan commented on #1759
fix part of sprint 49

[2015-06-09 18:10] #1759 closed

[2015-06-09 18:18] jgoldsch commented on #1828
OK, I created a new ARM VM:

vm jgoldsch$ azure vm show jgoldsch-rg-perf-3 jgoldsch-perf-vm3-vm
info:    Executing command vm show
+ Looking up the VM "jgoldsch-perf-vm3-vm"
+ Looking up the NIC "jgoldsch-perf-vm3-nic0"
+ Looking up the NIC "jgoldsch-perf-vm3-nic1"
+ Looking up the NIC "jgoldsch-perf-vm3-nic2"
+ Looking up the NIC "jgoldsch-perf-vm3-nic3"
data:    Id                              :

[2015-06-09 20:59] anuchandy commented on #1055
fixed in https://github.com/MSOpenTech/azure-xplat-cli/tree/dev

[2015-06-09 21:25] kmouss commented on #1816
closing this for now. Please confirm above steps work or not. thank you

[2015-06-09 21:25] #1816 closed

[2015-06-09 21:26] kmouss commented on #1810
Closing for now - unblocked.

[2015-06-09 21:26] #1810 closed

[2015-06-09 21:27] kmouss commented on #1757
Closing it for now.

[2015-06-09 21:27] #1757 closed

[2015-06-09 21:29] kmouss commented on #1611
This fix has been merged. Please re-open if you still see the issue.

[2015-06-09 21:29] #1611 closed

[2015-06-09 21:31] kmouss commented on #1495
Issue has been merged.

[2015-06-09 21:31] #1495 closed

[2015-06-09 23:40] gabrielhartmann opened #1831 "ARM: Template Validation Error Messages Are Not Helpful"
All errors in template validation produce errors of this form:

Error: Deployment template validation failed: 'The template resource 'MyUbuntuVM0/DockerExtension' at line '1' and column '7593' is not valid: Template language expression ...

followed by a stack trace.  In any expression of significant complexity these errors don't provide sufficient detail.

1. The line number is always '1' and the

[2015-06-09 23:48] yugangw-msft commented on #1831
Looks like a known issue, #1820 should addresed

[2015-06-09 23:49] yugangw-msft commented on #1831
FYI, we have published a new version to npm

[2015-06-10 13:37] matiasdecarli commented on #1792
Hi, I'm getting the very same error that I have in my branch, where should I report this?

[code]

[2015-06-10 17:09] anuchandy commented on #1792
@matiasdecarli

When an endpoint is a part of a load balanced set, any update on its property should be done via

"azure service load-balanced-set set" command.

[code]

[2015-06-10 18:30] matiasdecarli commented on #1792
This means that this will change the port on every endpoint on every VM that's part of that load balanced set?

[2015-06-10 18:33] anuchandy commented on #1792
Yes, it will.

[2015-06-11 00:02] NaveenGoli commented on #1670
we are developing new arm based cmdlets, site diagnostics  will be available in that.

[2015-06-11 04:34] yugangw-msft commented on #1707
I made the following 2 changes which should just address this issue.
#1832
#1739
Please note the fixes were about to remove all the overhead trying to find the command and load it, which used to be a very expensive operation; but if the commands is slow itself by doing lots of things, then the owner himself should improve it.

[2015-06-11 04:34] #1707 closed

[2015-06-11 16:37] yugangw-msft commented on #1821
the fix has been published as "azure-cli@0.9.4"

[2015-06-11 16:37] #1821 closed

[2015-06-11 16:45] gabrielhartmann commented on #1831
@yugangw-msft Are you sure that pull request addresses the error message situation?  Is the cli now producing error messages of the type: "Unexpected non-string token: [nicName] on line 42." ?

[2015-06-11 16:46] yugangw-msft commented on #1831
@vivsriaus , please take a look. This is a generic validation issue. In a rush to read through, my early comment did not appear correct.

[2015-06-11 17:31] anuchandy commented on #1705
@dhauge this is fixed in updated endpoint command set, please check https://github.com/msopentech/azure-xplat-cli/tree/dev

[2015-06-12 10:29] mcrsw opened #1837 ""sql server create" does not support specifying server version (e.g. to specify a V12 sql server)"
If you run:
`azure sql server create --defaultFirewallRule username p@55w0rd "West Europe"`
you get by default a V2 server.

I was hoping then to be able to run something like the following, to create a new V12 SQL server:
`azure sql server create --defaultFirewallRule --version 12.0 username p@55w0rd "West Europe"`

However, I get the error message:
`error: unknown option '--version'`

[2015-06-12 19:10] vivsriaus opened #1839 "Implement ARM move azure resource command"
similar to Move-AzureResource POSH cmdlet

[2015-06-13 00:08] squillace commented on #1681
@anuchandy is this merged? what build will this fix be in? It's NEEDED. :-)

[2015-06-13 05:55] anuchandy commented on #1681
@squillace it is merged in msopentech/dev branch https://github.com/msopentech/azure-xplat-cli/tree/dev . we will be sending PR to upstream by June/19

[2015-06-14 02:28] ahmetalpbalkan opened #1840 "Cosmetics in authentication failure message"
![image](https://cloud.githubusercontent.com/assets/159209/8146803/10723430-1202-11e5-9475-b98b0852cbdc.png)

I think this rather should be like:

with proper sentences and punctuation.

I also think the `Detailed error message from ADAL is as follows` part should be printed when a verbose flag is present, as it totally looks like it's there for debugging reasons.

[2015-06-15 16:11] jcollie commented on #1784
There's something wrong with the instructions provided in http://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-create-upload-vhd-generic/

I followed the instructions as closely as I could, and I still get the error:

    $ wget http://download.fedoraproject.org/pub/fedora/linux/releases/22/Cloud/x86_64/Images/Fedora-Cloud-Base-22-20150521.x86_64.raw.xz
    --2015-06-15 1

[2015-06-16 01:22] anuchandy commented on #1283
This is fixed.

[2015-06-16 01:38] kennetham opened #1843 "Failure to login to azure config mode arm"
Hi I am trying to deploy Cloud Foundry on Azure and it required me to set this up with service principal etc using Azure Xplat Cli with mode ARM.

I have been getting this error and have no idea what's the reason. I have a valid Microsoft account and Azure subscription.

[code]

Please advise what have I missed or configured wrongly or I am required to configure.

[2015-06-16 01:43] anuchandy commented on #1598
Tried generating the sdk from the latest spec and it has the method beginUpdatingDisk which set 'ResizedSizeInGB' property.

The sdk in production does not have this method, so the sdk needs to be refreshed.

[2015-06-16 02:52] devigned commented on #1843
Try running `azure account clear -q` and then login again.

[2015-06-16 03:01] yugangw-msft commented on #1843
what does your Microsoft account look like? a live account? If yes, no, it is not supported by xcli,

[2015-06-16 04:38] kennetham commented on #1843
@devigned I will try that.
@yugangw-msft I'm on Bizspark Subscription so my Microsoft account is using my company's email. It's not a live account. I linked my company email to a Microsoft account.

[2015-06-16 13:09] sudhansh opened #1844 "Available IPs check command in ARM"
Is there a command in ARM where I can check the available IPs in a given subnet.
In ASM there is something like- "azure network vnet static-ip check <subnet> <IP to check>" which gives me a list of 5 available IPs if the IP checked is not available.
I'm looking for something similar in ARM mode in order to check for available IPs in Virtual Network (V2) subnet.

[2015-06-16 21:53] anuchandy commented on #1586
@jruix

To assign a static-ip the service needs to have a deployment associated with it, in other words we assign static ip when we create the deployment.

For this, you need to use, --static-ip option in vm create command. The command creates a VM deployment under a cloud service and set the static-ip.

[2015-06-16 23:46] kennetham commented on #1843
@devigned I tried `azure account clear -q` and I still get the same error. I checked out the log it says that there is an undefined service. What could be the reason? I am on a Microsoft account, do I need some kind of different account setup within Azure?

[2015-06-17 00:56] anuchandy commented on #1628
Closing this, this is fix is available starting from v0.8.16

[2015-06-17 00:56] #1628 closed

[2015-06-17 01:03] anuchandy commented on #1741
This is fixed:

$ azure vm capture samplessh1 specializedimg1 -o Specialized
info:    Executing command vm capture
+ Getting virtual machines
+ Checking image with name specializedimg1 exists
+ Capturing VM
info:    vm capture command OK

$azure vm image show specializedimg1
info:    Executing command vm image show
+ Fetching VM image
data:    name "specializedimg1"
data:    label "specializedimg1

[2015-06-17 01:08] anuchandy commented on #1604
This is fixed in this branch https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-asm-network, fix will be merged in the next release.

[2015-06-17 02:20] devigned commented on #1843
@kennetham it sounds like you are trying to use an account that is not an Azure organization account (an Azure Active Directory user account) or a service principal.

If your login doesn't end with onmicrosoft.com, you will need to create an [organization account](https://azure.microsoft.com/en-gb/documentation/articles/resource-group-create-work-id-from-personal/) or a [service principal](https:/

[2015-06-17 02:53] kennetham commented on #1843
@devigned OH I need this step before I can do a `azure login`? I suppose this is what I need to achieve eventually. I will try that out thanks!

[2015-06-17 06:54] blelump commented on #1741
@anuchandy , thanks for info!

[2015-06-17 07:51] romangromov commented on #1840
Agree with @ahmetalpbalkan

[2015-06-17 10:43] kennetham commented on #1843
@devigned alright it's fixed! That's the one I needed to setup! Thank you!

[2015-06-17 10:43] #1843 closed

[2015-06-17 14:35] devigned commented on #1843
@kennetham we are working to improve this auth flow. Glad we could help you get going.

[2015-06-17 16:32] anuchandy commented on #1760
@ahmetalpbalkan

Now we are prompting for parameters instead of failing. The fix will be available in sprint 50 (next week)

[2015-06-17 16:39] anuchandy commented on #1477
Closing this issue as fix is already released

[2015-06-17 16:39] #1477 closed

[2015-06-17 18:42] ahmetalpbalkan commented on #1760
Great news. Thanks for update Anu.

[2015-06-17 19:04] sudhansh commented on #1844
Some response will be greatly appreciated?!

[2015-06-18 03:34] babumuralidharan opened #1847 "cli.interaction.promptifNotGiven method should validate null value"
Do an azure network vnet list
Cmd run will prompt for resource group name
Just hit enter without mentioning resource group name.
 command fails with api invalid error.

This is pretty much common error for all commands.

Ideally the fix should be in cli.interaction.promptIfNotGiven method. This method should fail if use provide empty/ null value.

__Verbose output below:__

[code]

[2015-06-18 11:43] frntn commented on #1604
Great work :+1:
Thanks for the update

[2015-06-18 15:49] anuchandy commented on #1567
The fix is merged to dev branch.

[2015-06-19 03:53] gangsir commented on #1689
Hi, @abonillasuse , sorry for replying late. Azure VM disks are supported by Azure 'Page' Blob. So please upload your vhd as a page blob instead of block blob.

[2015-06-19 03:55] gangsir commented on #1704
Hi, @kenazk , thank you for your feedback. We will look at this and improve the error message.

[2015-06-19 03:59] zhimingyuan commented on #1697
I suppose you are requesting to run xCLI on Linux and call AzCopy command line (run xCLI on Windows and call AzCopy is already supported).

AzCopy does not include the support for Linux, we have added it to our feature list, but no plan at this moment yet.

[2015-06-19 13:12] atrauzzi opened #1849 "Add support to run arbitrary commands on Web Apps"
I have a Web App that I'm deploying via FTP.  I'd like to be able to trigger actions in my environment after successful upload.  These actions don't require scripts and simply involve calling code that is already deployed to the environment.

It would be nice if there was a way to just remotely run something, without the overhead of making it a permanent web job.

[2015-06-19 13:55] abonillasuse commented on #1689
HI @gangsir a reference command would have been nice. I haven't found anything online.
This is what I actually tried
azure vm disk create abonilla12 --blob-url "https://abonilla.URL.net/disk1/disk12.vhd" -o linux

[2015-06-19 16:22] yugangw-msft commented on #1847
I have a PR for this, but after went through the code review, it turns out be a better time to merge it in the next sprint. Doing it now will expose a code bug in storage commands' common code that it passes in the "null" to the routine and expect it be a no-op. The storage team has already fixed in their branch and plan to merge next sprint.
@babumuralidharan, let me know if you have any opinions

[2015-06-19 17:25] kangman opened #1850 "autocomplete bash script very slow"
using the instructions provided on the readme.md page to enable autocomplete for the cli.  When I press tab to see option it takes a few seconds for options to populate as well as two tab presses.

Also there is no documentation within the cli tool for the --completion flag.

[2015-06-19 17:50] atrauzzi opened #1851 "Support blocking until web job completes"
If I'm scripting operations dependent on the completion of web jobs, it would be nice if I could block until they complete before moving on to other steps.

[2015-06-19 17:59] yugangw-msft commented on #1850
This performance issue have been fixed in the dev branch and we plan to publish out next week.
FYI, you can take a look at the simple gif file displaying the perf improvement
https://github.com/Azure/azure-xplat-cli/pull/1829

[2015-06-19 18:00] yugangw-msft commented on #1850
#1832 addressed this.

[2015-06-19 18:00] #1850 closed

[2015-06-19 18:02] yugangw-msft commented on #1851
@NaveenGoli, could you comment?

[2015-06-19 19:27] anuchandy commented on #1753
adding fix reference: https://github.com/MSOpenTech/azure-xplat-cli/pull/349

[2015-06-19 19:55] ruslangabitov commented on #1493
Fixed here: https://github.com/MSOpenTech/azure-xplat-cli/pull/344
Now command creates server certificates for each VM and default CN is set to *.cloudapp.net, but user can specify its own CN via --docker-cert-cn option if he wants to use <code>--tlsverify</code>.

[2015-06-19 20:05] ahmetalpbalkan commented on #1753
awesome thanks folks

[2015-06-19 23:09] matt-gibbs commented on #1709
passed along to ADAL team for improving the error test. Trying to custom parse it in the consumer is prone to break when they make updates so punting on that patch proposal.

[2015-06-19 23:09] #1709 closed

[2015-06-19 23:10] ahmetalpbalkan commented on #1709
Can we close once it's fixed in public? Somebody else might end up reporting this again.
cc: @devigned

[2015-06-19 23:15] anuchandy commented on #1844
Hello @FrankSiegemund is there any plan to add this API?

[2015-06-20 01:57] NaveenGoli commented on #1666
fixed in pull request https://github.com/Azure/azure-xplat-cli/pull/1857

[2015-06-20 01:57] #1666 closed

[2015-06-23 16:46] smereczynski opened #1862 "'vm create' without --ssh-cert or --userName --password if --custom-data used"
'vm create' command should be possible to run without --ssh-cert or name / --userName and --password parameters if --custom-data parameter is used. In example if I use --custom-data parameter pointing to my cloud.cfg file with #cloud-config inside:

    #cloud-config
    users:
      - name: misiek
        ssh-authorized-keys:
          - ssh-rsa <key>
        sudo: ['ALL=(ALL) NOPASSWD:ALL']

the

[2015-06-23 19:02] anuchandy opened #1865 "ASM: VM endpoint create is ignoring --load-balanced-set-name parameter"

[2015-06-23 19:16] cmdrkeene opened #1866 "storage account list not working"
I have an account set and have been able to complete other tasks (create docker hosts, create a vnet, etc.) but something is broken with the storage command:

This is for version 0.9.3.

Trying to install 0.9.4 but no OS X installer has been released

![screen shot 2015-06-23 at 3 14 19 pm](https://cloud.githubusercontent.com/assets/22959/8314922/bf72d6dc-19ba-11e5-95ad-53108350a4dd.png)

[2015-06-23 19:35] vivsriaus opened #1867 "azure group deployment create fails when instance count is specified as int"
Sample:
azure group deployment create -g svmsrg -n deploy2 --template-uri https://raw.githubusercontent.com/gbowerman/azure-myriad/master/vmss-ubuntu-vnet-storage.json

error:   Deployment template validation failed: 'The provided value for the template parameter 'instanceCount' at line '8' and column '28' is not valid.'.
info:    Error information has been recorded to /root/.azure/azure.err
error

[2015-06-23 19:35] anuchandy commented on #1681
@squillace this has been merged with upstream and will be available in the current release

[2015-06-23 19:36] yugangw-msft commented on #1866
So you are using osx installer version 0.9.3, correct? Could you paste here the stack traces from azure.err?

[2015-06-23 19:37] cmdrkeene commented on #1866
This is fixed in 0.9.4 - closing :)

[2015-06-23 19:37] #1866 closed

[2015-06-24 13:58] HimanshuBri commented on #1865
@anuchandy  working fine now
<pre>
<code>
C:\June\24june\azure-xplat-cli-dev>node bin/azure vm endpoint create DNdjava6 27 -k 27 -n vmEndpt1 -o tcp -m 15 -b LbSetTest1
info:    Executing command vm endpoint create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
info:    vm endpoint create command OK

C:\June\24june\azure-xplat-cli-dev>node bin/azure vm e

[2015-06-24 14:00] HimanshuBri commented on #1669
@anuchandy  yes now there is a option available in vm endpoint create for ProbeInterval.
But its giving error when try to use that.
<pre>
<code>
C:\June\24june\azure-xplat-cli-dev>node bin/azure vm endpoint create DNdjava6 27 -k 27 -n vmEndpt1 -o tcp -m 15 -b LbSetTest1 -e 20 -f 40
info:    Executing command vm endpoint create
+ Getting virtual machines
+ Reading network configuration
+ Updating n

[2015-06-25 09:00] qingfuwang opened #1875 "azure login would reset current subscription"
In arm mode
Steps:
1 azure login
2 set azure account
3 azure login
Expect
after step 3, the default subscription  set in step 2, remain default
Actual
the default subscription is reset

[2015-06-25 19:12] Pradebban opened #1880 "Not able to use XPLAT CLI in China Azure"
Hi,

I am using a partner account (21vianet) to manage a subscription in China.
I am looking to use XPLAT for managing websites, SQL and Storage in the subscription.

Am not able to login using the china account i have. Please let me know why is this happening.
Please Note: I have a different Microsoft account and managing the resources in a North America Subscription.

Below is the error message:

[2015-06-25 19:53] Pradebban commented on #1576
Any reason behind removing this command? and please let me know when can we expect the alternate XPLAT command ?

[2015-06-25 21:17] magaal commented on #1791
+1 to this.

[2015-06-26 06:41] Zigman13 opened #1884 "cannot create image via cli"
azure vm image create -l "West US" -v -o Linux -e Ubuntu -d "My Ubuntu" -f -p 96 ubuntu "/Users/john/UbuntuVMware.vhd"
info:    Executing command vm image create
verbose: Resolving the location 'West US'
verbose: Location resolved to 'West US'
verbose: Retrieving storage accounts
verbose: Getting list of available storage accounts
verbose: Creating a new storage account 'ubuntuvmwarevhd143530058'

[2015-06-26 07:29] Zigman13 commented on #1884
MacBook-Pro-John:~ john$ azure vm image create mama -u "/User/john/amazon8/UbuntuVMware.vhd" --os linux -l "West US"
info:    Executing command vm image create
+ Retrieving storage accounts
+ Creating a new storage account 'undefined1435303491713'
error:   The storage container User could not be created for VHD https://undefined1435303491713.blob.core.windows.net/User/john/amazon8/UbuntuVMware.vhd

[2015-06-26 07:40] Zigman13 commented on #1884
same on windows too

[2015-06-26 11:24] HimanshuBri commented on #1818
@anuchandy  yes its working fine now
![image](https://cloud.githubusercontent.com/assets/10084788/8376341/edcd109a-1c23-11e5-990b-72d7a6bef93f.png)

[2015-06-26 11:43] HimanshuBri commented on #1805
@anuchandy network vnet local-netwok add & remove commands are working fine now.

[2015-06-26 12:08] sreekanthbs commented on #1586
It is working fine with create vm with static-ip option.

[2015-06-26 12:26] sreekanthbs commented on #1790
@anuchandy  implementation is working fine . #1785 is closed.

[2015-06-26 12:28] sreekanthbs commented on #1789
@anuchandy implementation is working fine.

[2015-06-26 12:30] sreekanthbs commented on #1788
@anuchandy implementation working fine now.

[2015-06-26 12:31] sreekanthbs commented on #1786
@anuchandy implementation working fine now.

[2015-06-26 12:38] sreekanthbs commented on #1787
@anuchandy following issues still there
#243
#244
#258

[2015-06-26 12:42] sreekanthbs commented on #1760
Still issue persists in sprint 50
<pre>
<code>
C:\Jun2015\26-Jun\azure-xplat-cli-sprint-50>node bin/azure vm create "sree-rg" "sree-testvm" "East Asia" "Linux" --image-name "b39f27a8b8c64d52b05eac6a62ebad85_
_Ubuntu-14_04_2_LTS-amd64-server-20150309-en-us-30GB"
info:    Executing command vm create
+ Looking up the VM "sree-testvm"
Enter username: azureuser
Enter password for azureuser: ***********

[2015-06-26 13:00] sreekanthbs commented on #1604
It is working fine.
<pre>
<code>
C:\Jun2015\25-Jun\azure-xplat-cli-dev-asm-network>node bin/azure network vnet subnet create vnetsree subnet_sree -a 10.32.0.0/15
info:    Executing command network vnet subnet create
+ Looking up network configuration
+ Creating subnet "subnet_sree"
+ Setting network configuration
+ Looking up the subnet "subnet_sree"
+ Looking up network configuration
data:    Nam

[2015-06-26 15:24] devigned commented on #1884
What version of Azure CLI are you running?

[2015-06-26 15:32] Zigman13 commented on #1884
ON A WINDOWS , mac version a little later
C:\Users\zmon>azure
info:    Microsoft Azure: Microsoft's Cloud Platform
info:
info:    Tool version 0.9.4
.....skipped help......

also logs for windows
---------------------------------------------------
C:\Users\zmon>azure account list
info:    Executing command account list
data:    Name                                      Id
         Tenant Id  Curre

[2015-06-26 15:56] #1604 closed

[2015-06-26 16:32] yugangw-msft commented on #1880
Similar #1843, please check that out and follow instructions there. This is an issue from xplat side.
you can also consider to using certificate, unless your use new ARM commands

[2015-06-26 17:58] vivsriaus opened #1885 "ARM: azure group delete command should be a blocking command"
Like POSH implementation, make the delete command wait until the resource group deletion is complete.

[2015-06-26 18:34] ljhljh235 commented on #1727
@qingfuwang

We can reproduce the issue. We will prioritize this and fix this in a future release.

[2015-06-27 02:44] ahmetalpbalkan opened #1888 "ASM: 0.9.5 update breaks `azure vm create` semantics"
This command used to work in 0.9.4:

    azure vm create -e -l 'West US' mytestvm b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_10-amd64-server-20141020-en-us-30GB  azureuser 'myPa$$w0rd'

Now what happens after 0.9.5 is, I try ssh-ing to the VM and what I get is:

[code]

I tried explicitly specifying username/password with -g/-p, that doesn't work either. My suspicion is, this command is not sendi

[2015-06-27 03:24] devigned commented on #1888
We need to have a test for each regression. This shouldn't happen.

[2015-06-27 03:29] ahmetalpbalkan commented on #1888
@devigned can you please verify it's valid and not just me?

[2015-06-27 05:34] amarzavery commented on #1875
That is not the desired behavior. On every login, CLI sets the first subscription in the list as the default subscription.

[2015-06-27 05:36] amarzavery commented on #1849
@NaveenGoli - Can you please respond to this feature request?

[2015-06-27 07:32] aarontyler opened #1889 "Problems accessing Australian data centers"
Hi all,

I'm receiving the following error when attempting to create a public IP (or VM) in the "australiaeast" data centre:

error:   The provided location 'australiaeast' is not permitted for subscription. List of permitted regions is 'eastasia,southeastasia,eastus,eastus2,westus,southcentralus,centralus,northeurope,westeurope,japaneast,japanwest'. Please contact support to change your supported

[2015-06-27 07:40] kmouss commented on #1889
@aarontyler, yes Autralia and Brazil regions aren't not yet supported in the new ARM bases Azure VM. They are planned to come online soon though.

[2015-06-27 07:43] aarontyler commented on #1889
Thanks for the quick response @kmouss - is there any way that I can create a VM from the CLI (I attempting to create a shell script to setup an environment that uses CLI commands) while I wait... or am I stuck?

[2015-06-27 07:49] kmouss commented on #1889
You can still use other regions that are currently available to create VMs using Azure CLI. You can follow intructions from here:https://azure.microsoft.com/en-us/documentation/articles/xplat-cli-azure-resource-manager/#creating-virtual-machines

[2015-06-27 07:52] aarontyler commented on #1889
Sorry I meant to ask if it was possible to use the Australian data centres somehow as a workaround in the mean time, I presume the answer is the same though, can't use ARM with Aussie data centres yet. Thanks for your help anyways.

[2015-06-27 07:57] kmouss commented on #1889
The only work around is to switch mode to ASM in the meantime: azure configuration mode asm  and then create VMs in Australia..

[2015-06-27 07:58] kmouss commented on #1889
azure config mode asm

[2015-06-27 08:48] kmouss commented on #1888
@ahmetalpbalkan, I've just tried this with 0.9.5 and I was able to login; the only difference I created a VM in Central US. Maybe you can run your command with verbose to further debugging. Adding @babumuralidharan
[code]

[code]

[2015-06-27 09:28] ahmetalpbalkan commented on #1888
@kmouss yes it worked me as well. Looks like I was reusing the hostname and it collided with ~/.ssh/known_hosts even though I cleared the file in advance. Rebooting solved the problem.

[2015-06-27 09:28] #1888 closed

[2015-06-27 20:43] #1741 closed

[2015-06-27 21:58] ahmetalpbalkan commented on #1355
looks like this is fixed (mostly)

however the warning still gets printed if the cloud service name was taken:

[code]

if it's not taken, `--location option will be ignored` doesn't get printed.

Can you please take a look folks?

[2015-06-28 18:52] NaveenGoli commented on #1849
is there a reason why you wouldn't like to use webjob?

[2015-06-28 21:51] atrauzzi commented on #1849
Because they are extremely slow and unfriendly for one-off tasks like running migrations.  I have no feedback on when a job completes, so I can't sequence anything.

This story is made worse by the fact that you can only automatically trigger behaviour cloud-side when deploying via git.

AWS offers the ability to run one-off remote tasks simply by taking a command to run on the remote.  It's an ex

[2015-06-29 01:27] qingfuwang commented on #1875
Thanks for your confirm , i also thought it could be by design , but may be it's a scenario you team over look.

[2015-06-29 01:27] #1875 closed

[2015-06-29 11:56] jack71 commented on #1885
:+1:

[2015-06-29 14:55] yugangw-msft commented on #1875
@qingfuwang. Agreed, imo, we should do better when we have resources, for 2 reasons.
1.  Most time I log in just for the reason to refresh the token, so to continue to use the commands, so i have 0 interests to see the account get switched
2. A good system should remember user's references and make users' life easier. This ask essentially is the same with many cookie usage in a browser, the IDE se

[2015-06-29 17:01] yugangw-msft commented on #1880
Please feel free to reopen it with more data. Thanks.

[2015-06-29 17:01] #1880 closed

[2015-06-29 22:44] markcowl commented on #1862
@smereczynski Thank you for the report.  Routing to the appropriate service team.

[2015-06-29 23:35] markcowl commented on #1837
@mcrsw thank you for reporting this issue, assigning to the appropriate team

[2015-06-30 02:11] abatishchev opened #1892 "azure site repository sync: utils is not defined"
Hi,
When I run this command:

    azure site repository sync <sitename>

I'm getting an error:
[code]

[2015-06-30 05:42] davidebbo commented on #1849
Please see similar question [on forum](https://social.msdn.microsoft.com/Forums/azure/en-US/ade4e9c8-ac69-4dad-9073-12eaa46ffb33/remotely-trigger-work-without-creating-a-web-job?forum=windowsazurewebsitespreview), which is a better place than here (it's not an xplat cli issue).

[2015-06-30 05:44] davidebbo commented on #1849
BTW, the Kudu [Command API](https://github.com/projectkudu/kudu/wiki/REST-API#command) does that.

[2015-06-30 09:42] sreekanthbs commented on #1752
New endpoint refactored code has the fix. It is working fine
![issue_1752_1817](https://cloud.githubusercontent.com/assets/11171941/8428146/20b83458-1f3a-11e5-9443-f3282dc7dc3b.jpg)

[2015-06-30 11:39] atrauzzi commented on #1849
Again, a question I already asked and got an unsatisfactory answer.  The answer there was webjobs as well.  Which I've already described here as not being sufficient.

[2015-06-30 16:40] markcowl commented on #1892
@abatishchev Thanks for reporting the issue, forwarding to the appropriate team for investigation.  Can you tell us which version of the cli you are using? (executing the  'azure' command should tell us)

[2015-06-30 16:49] abatishchev commented on #1892
@markcowl, sure thing
[code]

[2015-06-30 18:30] ahmetalpbalkan opened #1893 "ARM: disk attach-new: race condition in concurrency + missing Lun param"
I am making two concurrent calls to attach disks to a VM and one fails because apparently there's a client side logic that's picking a LUN number on the client-side and therefore a collision happens when one wins...

And there's no way to specify a Lun in this command (if there was, I could still attach two disks concurrently):

Wins the race, gets Lun=0:
![image](https://cloud.githubusercontent.c

[2015-06-30 18:50] ahmetalpbalkan commented on #1893
Same with `azure vm disk attach`, there's no `--lun` argument.

![image](https://cloud.githubusercontent.com/assets/159209/8439007/144c3af0-1f1e-11e5-9359-b177f6cd61a0.png)

This will run into this race issue as well.

[2015-06-30 19:11] ahmetalpbalkan opened #1894 "ARM: -vv (more verbose) option is not documented"
![image](https://cloud.githubusercontent.com/assets/159209/8439343/4796b474-1f20-11e5-9375-88afd7239e6b.png)

So I just ran this `azure vm disk attach-new` command with `-v` flag, I was expecting to see some verbose output, all I saw actually was `info` level strings.

The reason I tried to use `-v` was more analogous to `curl -v` as I wanted to see what comes and goes in the wire (i.e. HTTP reque

[2015-06-30 19:59] devigned commented on #1894
What about `-vv`? That should give you very verbose.

[2015-06-30 19:59] devigned commented on #1894
or as it displays on the screen 'silly:'...

[2015-06-30 20:25] ahmetalpbalkan commented on #1894
OK it does the job although it is not documented :)

[2015-06-30 20:39] ahmetalpbalkan opened #1895 "ARM: 'vm disk attach-new' does not take --disk-name param"
Based on `-vv` this command creates a disk name like `VMName-YYYYMMDD-HHmmss` and uses it. This can be great default, however I'd like to provide my own disk name as well (with something like `--disk-name`).

[2015-06-30 21:26] devigned commented on #1894
I'm currently working on some nice templates to take our `azure help --json` and transforming it into some pretty documentation.

[2015-06-30 21:28] devigned commented on #1895
That seems like it could be a pretty quick PR if you are interested.

[2015-06-30 21:29] devigned commented on #1894
it's documented, but not very well: https://github.com/Azure/azure-xplat-cli/blob/master/Documentation/Debugging.md

[2015-06-30 21:30] ahmetalpbalkan commented on #1895
It'll probably take a lot of time of mine to get familiar with node.js, add the feature, figure out how to add tests+docs etc than somebody who's already familiar with the codebase :-) So I'm just leaving this here. If this was in #golang, I could just jump in but I can't :-(

[2015-06-30 21:31] devigned commented on #1895
No worries. We'll give it a look. Thank you for the suggestion.

[2015-06-30 21:39] ahmetalpbalkan commented on #1894
I read this as “it's written somewhere on the interwebs; not where people would usually look for it at”. :wink:

[2015-07-02 07:27] sreekanthbs commented on #1753
Azure vm create default storage account changed to portalvhds*

![issue_1753](https://cloud.githubusercontent.com/assets/11171941/8471841/b4483102-20b9-11e5-985c-14defae74a42.jpg)

[2015-07-02 07:33] gangsir commented on #1686
Thanks for the feedback. We will look at improving this in the future.

[2015-07-02 08:33] wouterdb opened #1896 "azure hdinsight job hive_create always fails"
it fails with ReferenceError: hdinsight is not defined.

I will submit a patch to fix it.

more details:
[code]

[2015-07-02 10:30] sreekanthbs commented on #1283
It is working fine. VM create with -c option doesn't require location.
<pre>
<code>
C:\Jul2015\Jul-2\azure-xplat-cli-dev>node bin/azure vm create DnsXplatTest bd507d3a70934695bc2128e3e5a255ba__RightImage-Windows-2012-x64-iis8-v13.4.12.2 azureus
er Brillio@2015 -n "XplatVMTest1" -c "DnsXplatTest"
info:    Executing command vm create
warn:    --vm-size has not been specified. Defaulting to "Small".

[2015-07-02 11:46] sreekanthbs commented on #1817
Implemented List all load balanced set in a cloud service
<pre>
<code>
C:\Jul2015\Jul-2\azure-xplat-cli-dev>node bin/azure service load-balanced-set list vmetodelacl
info:    Executing command service load-balanced-set list
+ Getting cloud service deployment
data:    Name         Port
data:    -----------  ----
data:    lbTestSet33  33
info:    service load-balanced-set list command OK
</code>
</p

[2015-07-02 23:54] infosatheesh2020 opened #1898 "ARM: azure vault : Issues while importing or creating keys to azure vault"
I have created new software vault as below:

azure config mode arm
azure group create 'testresourcegroup' 'North Europe'
azure provider register Microsoft.KeyVault
azure keyvault create --vault-name 'testkeyvault' --resource-group 'testresourcegroup' --location 'North Europe'

The output is below:

info:    Executing command keyvault create
+ Checking pre-condition
warn:    No object ID is selecte

[2015-07-03 07:38] gangsir commented on #1561
Hi, @edevil thank you for providing feedback to us. Sorry for late reply. We will add blob snapshot delete in next shipping sprint.

[2015-07-03 07:43] gangsir commented on #1241
Thanks for providing feedback. We will put this into our feature request backlog.

[2015-07-03 07:46] gangsir commented on #1178
Probably we will not be able to change the default blob type of this cmdlet because this will potentially break many existing customers. But we will consider adding a warning message to notify users to change the blob type to page if the source file is .vhd. Thanks for providing the feedback.

[2015-07-03 07:53] gangsir commented on #885
@kensykora Sorry for the late reply. We didn't see any repro of this issue in our recent large scale test. We recommend you to try the latest version of Azure CLI and let us know if the issue still exists. Thanks for providing feedback.

[2015-07-06 09:38] mraber opened #1899 "ASM: 'vm endpoint create-multiple' : no longer handles default values (since v0.9.5)"
Before version 0.9.5, I was able to create multiple endpoints at once with a parameter like '80:8080,443:8443'.
Now, I have to specify all 11 values to create a basic endpoint.

(same issue created here: MSOpenTech/azure-xplat-cli#400)

Example:

[code]

[2015-07-06 20:10] sedouard opened #1900 "Passwordless SSH key prompts password for ARM azure vm create"
Working with @aglazer On version 0.95 Set to arm mode and do:

[code]

The CLI prompts for a password but it should not.

[2015-07-07 15:59] madhon opened #1901 "Aspnet5 deployment script generator still references KRE instead of DNX"
doing the following should generate a deploy.cmd which uses DNX/DNVM etc not KRE as it is at the moment

[code]

[2015-07-07 18:52] devigned commented on #1899
@anuchandy

That's pretty rough syntax for default usage. I don't understand why we need to have all of the colons there.

[2015-07-07 20:14] anuchandy commented on #1899
The earlier format for endpoint create-multiple command was:

<lb-port>[:<vm-port>[:<protocol>[:<enable-direct-server-return>[:<lb-set-name>[:<probe-protocol>[:<probe-port>[:<probe-path>[:<internal-lb-name>]]]]]]]]

The new format is:

<public-port>:<local-port>:<protocol>:<idle-timeout>:<direct-server-return>:<probe-protocol>:<probe-port>:<probe-path>:<load-balanced-set-name>:<internal-load-balan

[2015-07-07 23:23] anuchandy commented on #1899
@mraber - you don't have to specify all 11 values. Intention of this fix is not to force user to specify unnecessary optional arguments (please refer above comment). In the updated format user still have to indicate his intention to skip an optional argument by specifying empty string.

[2015-07-08 09:59] mraber commented on #1899
@anuchandy  - Thanks for the answer. Indeed, I was exactly in the situation you described with the old format!
I like the new one but the help message should be more explicit. ;)

[2015-07-08 17:29] karlaugsten opened #1902 "Authenticating twice simultaneously results in ambiguous token error."
I was running tests in parallel and ran into an error when trying to log the same user on in different powershell jobs. The full stack trace is here:

[code]

Looks like the cli retrieves and stores two different tokens then doesn't know what to do with them. It could be a possible race condition or bug.

Thanks.

[2015-07-08 18:39] SandyChapman opened #1903 "azure site list fails"
Platform: OSX 10.10.4

[code]

Command execution:

[code]

Log file:

[code]

[2015-07-08 18:43] NaveenGoli commented on #1903
We are aware of this issue and investigating,

In the meantime, switch to ARM based commands,

Azure config mode arm

Webapp list with resource group..

Sent from my cool Windows Phone
________________________________
From: Sandy Chapman<mailto:notifications@github.com>
Sent: ‎7/‎8/‎2015 11:39 AM
To: Azure/azure-xplat-cli<mailto:azure-xplat-cli@noreply.github.com>
Subject: [azure-xplat-cli] azure

[2015-07-08 21:17] anuchandy commented on #1899
@mraber sure, we will fix the help text

[2015-07-09 15:51] devigned commented on #1902
@yugangw-msft or @amarzavery this seems odd. Any thoughts on why this is happening?

[2015-07-09 16:04] yugangw-msft commented on #1902
This is a known limitation on cli, though we can improve. For token persistence, there is no protection under parallel situation. It is possible, 2 command simultaneously triggers token refresh which ends up having 2 similar tokens in the security store, and later when cli retrieves token through adal so to send request on the wire, adal sees 2 matches and then throw.
We will need to have IPC mech

[2015-07-09 16:06] #1896 closed

[2015-07-10 00:50] amarzavery commented on #1903
@SandyChapman - How did you install the CLI (from npm or the mac installer)?

I suspect, it is the mac installer.

Can you uninstall the mac installer ```sudo azure-uninstall```

and install from npm
```npm install -g azure-cli```

Hopefully this should unblock you.

[2015-07-10 10:59] SandyChapman commented on #1903
@amarzavery That fixed it. Thanks! Feel free to resolve this (or keep it open if you plan on fixing the OSX installer before resolving this ticket).

[2015-07-10 22:29] stankovski commented on #1691
@ahmetalpbalkan - We shall update the adal node dependency to 0.1.13

[2015-07-10 23:13] stankovski commented on #1742
This has been fixed in the latest version of CLI.

[2015-07-10 23:13] #1742 closed

[2015-07-10 23:15] #1749 closed

[2015-07-11 01:53] #1691 closed

[2015-07-11 01:53] #1840 closed

[2015-07-11 01:57] ahmetalpbalkan commented on #1691
@amarzavery can you please leave a comment or reference this issue from somewhere else (eg commit or PR) while closing issues? :-) Is this fixed in public release? If not, let's keep it open.

[2015-07-11 03:43] yugangw-msft commented on #1903
I have understood the issue and have a fix for it #1908
This is a fallout of performance work for general command loading.

[2015-07-12 18:14] Kahelek opened #1910 "Still getting the multiple interfaces error while attempting to create VM in Azure"
This is bumming me out ..

C:\Windows\System32>azure vm create -z Large -l "South Central US" -n MyBrandNew-VM -w traffictrace -b "Frontend,Backend-2,Backend-3" -s "ABCDE" -f "port1:Frontend::traffictrace:Enabled","port2:Backend-2::traffictrace:Enabled","port3:Backend-3::traffictrace:Enabled" tr
affictrace.cloudapp.net Forti-disk-image azure Azure12345678!
info:    Executing command vm create
+ Lo

[2015-07-12 18:18] Kahelek commented on #1910
This is with node.js.  This is supposed to be fixed, per the post here:
https://github.com/Azure/azure-xplat-cli/issues/1785

I installed the latest .MSI from this article, node.js is running fine.  Just not this procedure.

[2015-07-12 18:22] Kahelek commented on #1785
I am running on Windows.  I am a fairly experienced Level III Tech Support guy (mostly networking), but this is my first time using the node.js on Azure (changing focus) ..

I'm not sure if xplat-cli is a derivative, or offshoot, of the stock azure cli that installs with npm install.  I tried running azure-xplay-cli install --g and that didn't help.  Now I tried to clone using git Desktop clone an

[2015-07-12 18:29] Kahelek commented on #1785
I think my problem is that azure-xplat-cli is not installed with the Windows version, although it seems logical that would be available per the MSI file to install at https://github.com/MSOpenTech/azure-xplat-cli/tree/dev

The problem is, even using that MSI file on that link,  azure-xplat-cli is not installed anywhere that you can find on your system, afterward.

 Directory of C:\Users\kahelek\Ap

[2015-07-12 18:30] Kahelek commented on #1910
I think my problem is that azure-xplat-cli is not installed with the Windows version, although it seems logical that would be available per the MSI file to install at https://github.com/MSOpenTech/azure-xplat-cli/tree/dev

The problem is, even using that MSI file on that link, azure-xplat-cli is not installed anywhere that you can find on your system, afterward.

Directory of C:\Users\kahelek\AppD

[2015-07-12 19:08] Kahelek commented on #1910
Cloned this in Desktop to node_modules, still not working,  bug doesnt seem fixed on windows

C:\Users\kahelek\AppData\Roaming\npm\node_modules\azure-xplat-cli [master]> azure vm create -z Large -l "South Central US" -n MyBrandNew-VM -w traffictrace -b "Frontend,Backend-2,Backend-3" -s "16c05fab-1b55-48fa-bdaa-2101ea2bedf1" -f "port1:Frontend:10.0.1.10:traffictrace:Enabled,port2:Backend-2:10
.0.2.

[2015-07-12 19:09] Kahelek commented on #1785
Cloned this in Git desktop to node_modules, still not working.

C:\Users\kahelek\AppData\Roaming\npm\node_modules\azure-xplat-cli [master]> azure vm create -z Large -l "South Central US" -n MyBrandNew-VM -w traffictrace -b "Frontend,Backend-2,Backend-3" -s "16c05fab-1b55-48fa-bdaa-2101ea2bedf1" -f "port1:Frontend:10.0.1.10:traffictrace:Enabled,port2:Backend-2:10
.0.2.10:traffictrace:Enabled,port3:

[2015-07-13 05:06] devigned opened #1911 "Azure account clear should provide the expected input at the prompt"
[code]

Should provide the user with the expected inputs. For example:
[code]

[2015-07-13 05:17] devigned opened #1912 "Cmd: `azure vm image list` in arm mode is tough to use"
Azure vm image list is difficult to use when in arm mode. Say I would like to grab the latest 14.04 Ubuntu box. I need to know too much information to find the box. I need to determine the region and the publisher prior to searching for an image.

I should be able to type `azure vm image search ubuntu` and get all of the ubuntu boxes back.

As a user, I don't care who the publisher and where the b

[2015-07-13 05:25] devigned opened #1913 "Switching between azure config mode arm and asm"
I first login with asm via `azure account download` and `azure account import [file path]`. I run some asm commands and everything works fine.

- Then I switch to ARM mode, I should be prompted to login if I have no Azure Active Directory credentials available.
- Upon successful `azure login`, after working in asm, I am unable to execute calls against arm as I'm greeted with the following
[code]
I

[2015-07-13 08:18] ArneCoder commented on #1786
Hi all - is this already implemented in latest Version?, wondering if iam able to use NSGs with Azure-Xpat-Cli

[2015-07-13 09:03] ferhaty opened #1914 "Feature request: BitBucket integration for Azure Websites"
Hi,

It's currently possible to link a GitHub repository to Azure Websites using the cli. However, it's not possible to link a BitBucket repository to Azure Websites using the cli.

For example:
`azure site deployment bitbucket [options] [name]`

It's possible through the UI at manage.windowsazure.com though. Is anyone working on BitBucket integration? Does the Azure API support it?

Kind regards,

[2015-07-13 10:07] bingosummer opened #1915 ""azure help XXX" does not work"
$ azure help vm
info:    Executing command help
error:   Object #<AzureCli> has no method 'loadCategory'

[2015-07-13 17:03] yugangw-msft commented on #1915
Thanks for reporting this. For now, please use "azure vm -h"

[2015-07-13 17:04] yugangw-msft commented on #1914
@NaveenGoli , please comment

[2015-07-13 17:07] #1903 closed

[2015-07-13 18:55] mpilant opened #1916 "How to load balance docker containers"
I would like to know if it is possible, using the Azure CLI on Ubuntu 14.04 LTS, to create a set of VMs with the Docker Extension to use the Azure Load Balancer.  Looking at the "azure vm docker create" it looks like it *might* be possible, but everything I've tried has failed.
Suggestions greatly appreciated.
- Mark

[2015-07-14 16:34] anuchandy commented on #1910
@Kahelek The error from  Azure server says 'The virtual machine can be part of only one subnet when there are more than one NIC', looking at the command you have used, here we are trying to associate the VM to more than one subnet.

This error also means - all NICs of a VM must be part of one and only one subnet associated with the VM.

[2015-07-14 17:46] Kahelek commented on #1910
Hi Anu,  hope all's well.  you missed the point.  :-)  This is not a constraint.

By your own admission, and prior submission:

Currently PS supports adding multiple NIC to VM http://azure.microsoft.com/blog/2014/10/30/multiple-vm-nics-and-network-virtual-appliances-in-azure/

This is with node.js. This is supposed to be fixed, per the post here:
#1785

I am running into the same error this #1785

[2015-07-14 18:11] ahmetalpbalkan opened #1918 "azure login does not work with passwords containing &"
I have an ampersand (`&`) in my password and apparently xplat-cli is sending the password **unescaped** as part of the URL parameters (totally my guess) and it probably looks like:

    ?username=foo@example.com&password=myPass&word

so it doesn't work and I'm locked out after a password change.  Can you please prioritize for the next release?

[code]

[2015-07-14 18:41] devigned commented on #1918
This is probably happening in the ADAL.js code. To verify what is happening, set the AZURE_ADAL_LOGGING_ENABLED env var to 1 (or anything truthy) and gather the debug output. This should have all we need to repro.

If you post the debug output back here, make sure there is no sensitive information in the output. If you don't want to post back here, you can send to me directly.

[2015-07-14 18:50] anuchandy commented on #1910
@Kahelek , you are right, the statement "all NICs of a VM must be part of one and only one subnet associated with the VM." is wrong.

Can you please try below:

Specify only one subnet as value for --subnet-names argument. This should be considered as the subnet for primary and default NIC of the VM.

For the other two NICs specify required subnet as a part of --nic-config param, where each nic in

[2015-07-14 19:27] skarademir commented on #1918
Looks like there is no escaping of the password before sending it over the wire via Oauth request

Here's the full stack:
[ cli.command('login [username]')](https://github.com/Azure/azure-xplat-cli/blob/436e5cef4794f516f8af1fd8204693d84c0f50ec/lib/commands/login._js#L34)
[code]
[promptPasswordOnceIfNotGiven: function (promptString, currentValue, _)](https://github.com/Azure/azure-xplat-cli/blob/99

[2015-07-14 20:12] ahmetalpbalkan commented on #1918
@devigned hmm it doesn't look like it's sent in the URL (search for `myPassword&` below)

[code]

[2015-07-14 20:23] skarademir commented on #1918
Federated logins are a separate rabbit hole and actually DO NOT have any character escaping:
[WSTrustRequest.prototype._populateRSTUsernamePassword = function(RSTTemplate, username, password)](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/70f016a6bf1819364f076f20c99f37c5e0304d47/lib/wstrust-request.js#L101)
[code]

[2015-07-14 20:41] devigned commented on #1918
@skarademir thank you for the awesome debugging!

[2015-07-14 21:29] vivsriaus opened #1921 "ARM: Add complete mode when creating new deployment"
Add complete mode when creating new deployment

[2015-07-15 00:01] Kahelek commented on #1910
Hi Anu

Indeed that did the trick. it wasn't clear at first that the proper selection was to constrain the identifiable subnets for the VM to the front-facing subnet, but sure enough.  That did it.

Thanks again ! ! !

[2015-07-15 00:02] #1910 closed

[2015-07-15 00:18] anuchandy commented on #1786
@ArneCoder  this got merged with upstream yesterday. https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/asm/network/network._js#L262, you will see this command set in next couple of days.

[2015-07-15 00:20] #1790 closed

[2015-07-15 01:13] Kahelek opened #1922 "Inserting multiple endpoints when running azure create vm ?"
when running a azure vm create with options, I run into a problem which is easily solved, but creates more problems ..

error:   Deployment traffictrace uses ReservedIP RIP Cloud but does not contain any endpoints. Deployment must contain at least one endpoint in order to use a ReservedIP.
info:    Error information has been recorded to C:\Users\kkoenig\.azure\azure.err
error:   vm create command

[2015-07-15 08:00] sreekanthbs commented on #1055
VM name is "XplatVM"
shutdown xplatvm is working fine. Xplat CLI is not case-sensitive
<pre>
<code>
C:\Jul2015\Jul-14\azure-xplat-cli-dev>node bin/azure vm shutdown xplatvm
info:    Executing command vm shutdown
+ Getting virtual machines
+ Shutting down VM
info:    vm shutdown command OK

C:\Jul2015\Jul-14\azure-xplat-cli-dev>node bin/azure vm list
info:    Executing command vm list
+ Getting vir

[2015-07-15 09:27] sreekanthbs commented on #1488
Now 'azure vm image list' showing publisher name in default output. Issue is fixed.
<pre>
<code>
C:\Jul2015\Jul-14\azure-xplat-cli-dev>node bin/azure vm image list
info:    Executing command vm image list
+ Fetching VM images
data:    Name                                                                                                                              Category  OS       Pu
blisher
data:

[2015-07-15 09:54] sreekanthbs commented on #1493
No each vm docker create creating server certificates for each VM.
PFB screen shot of the .docker folder for reference.
![docker_certificates](https://cloud.githubusercontent.com/assets/11171941/8695826/6b6d315c-2b05-11e5-9fad-2a1d4cd206f6.JPG)

[2015-07-15 11:32] sreekanthbs commented on #1601
Verified and working fine
<pre>
<code>
C:\Jul2015\Jul-14\azure-xplat-cli-dev>node bin/azure vm create LinuxVMXplat "0b11de9248dd4d87b18621318e037d37__RightImage-Ubuntu-12.04-x64-v13.4" azureuser -l "
West US" -t "C:/.ssh/github_rsa.pub"
info:    Executing command vm create
warn:    --vm-size has not been specified. Defaulting to "Small".
error:   --no-ssh-password and --ssh-cert can only be used w

[2015-07-15 13:58] kangman opened #1923 "No license field. when installing from source via npm"
getting this error

[code]

[2015-07-15 18:07] ruslangabitov commented on #1493
@sreekanthbs can you please explain what's wrong with the <code>.docker</code> folder on this screenshot?
There are client certs: <code> ca.pem, ca-key.pem, cert.pem, key.pem, client.csr </code>
And server certs for each VM you've created: <code> vmname-server-* </code>

[2015-07-15 19:46] ahmetalpbalkan opened #1925 "Remember default subscription choice between logins"
Every time my `azure login` credentials expire (pretty much happens 5 times a day), my default subscription choice (`azure account set {subsid}`) goes away and after I `azure login` the first subscription that appears in `azure account list` is selected as default.

I don't know how this subscription list is sorted but choosing the first subscription never makes sense to me and I keep redeploying

[2015-07-15 19:59] yugangw-msft commented on #1925
Agreed. See my comment at https://github.com/Azure/azure-xplat-cli/issues/1875 with similar ask.
We will address it.

[2015-07-15 20:11] ahmetalpbalkan commented on #1875
@amarzavery

why is this a desired behavior?

[2015-07-15 20:11] ahmetalpbalkan commented on #1925
@yugangw-msft thanks. Let's keep this open until fixed publicly.

[2015-07-15 21:47] DennisPallett opened #1926 "Add support for virtual networks when creating HDInsight cluster"
Currently, the Azure CLI cannot be used to associate a new HDInsight cluster with a virtual network. This is needed to be able to import data from a remote (on-sight) SQL Server into the (automatically provisioned) HDInsight cluster.

[2015-07-16 05:36] sreekanthbs commented on #1493
@ruslangabitov It is working fine as expected.

[2015-07-16 17:35] #1925 closed

[2015-07-16 19:44] amarzavery commented on #1923
@kangman - I do not see the warning "No license field". Can you pull from upstream dev and verify?
[code]

[2015-07-16 19:45] amarzavery commented on #1916
@kmouss , @devigned - Is this possible? What do you guys think?

[2015-07-16 20:45] ahmetalpbalkan opened #1931 "`azure login` error sentence punctuation"
![image](https://cloud.githubusercontent.com/assets/159209/8734763/0b1efecc-2bc1-11e5-9713-e49976bd29f5.png)

The highlighted sentence is what %99.9 of the users are interested in. It should end with a period followed by a `\n` or "Detailed error message from ADAL" probably should go to a more verbose logging level (-vv)?

[2015-07-16 20:46] ahmetalpbalkan commented on #1931
It's very weird, I just re-ran the same command without reauthenticating and it worked.

[2015-07-16 21:12] kangman commented on #1923
Hey @amarzavery,

I messed around with the package.json and it seems the license portion is not reading correctly when running npm install.  pulled the dev branch and tried npm install.  same error.

removed the "licenses" section and replaced it with

[code]

after that the install worked fine.

[2015-07-16 21:16] kangman commented on #1923
Also when playing with the original licenses section I get

npm WARN package.json azure-cli@0.9.5 license should be a valid SPDX license expression

Also it was weird that your license is plural with an array with type and url in there which was causing the SPDX issue.

https://docs.npmjs.com/files/package.json#license

for reference the SPDX licenses https://spdx.org/licenses/

[2015-07-16 21:54] infosatheesh2020 opened #1932 "azure account list : Object has no method readConfig"
[samanoha@bigboy test]$ azure account list
info:    Executing command account list
error:   Object #<Object> has no method 'readConfig'
info:    Error information has been recorded to /home/samanoha/.azure/azure.err
error:   account list command failed

[samanoha@bigboy test]$ azure -v
0.9.5
[samanoha@bigboy test]$ cat /home/samanoha/.azure/azure.err
Fri Jul 17 2015 00:48:40 GMT+0300 (EEST):
{ [Ty

[2015-07-17 00:31] aarsan opened #1933 "--run-list does not appear to work"
When I enable the chef extension and pass in a run list, it does not run it. I'm not sure if I have the syntax incorrect or if this is an incomplete parameter. This is the command i'm using:

    azure vm extension set-chef appserv1 --validation-pem /etc/chef/my-validator.pem --run-list ['appserver'] --client-config /etc/chef/client.rb --verbose

[2015-07-17 01:06] amarzavery commented on #1931
This has been partially fixed in this PR https://github.com/Azure/azure-xplat-cli/pull/1907.

[2015-07-17 01:07] ahmetalpbalkan commented on #1931
Looks good enough. Thanks.

[2015-07-17 01:07] #1931 closed

[2015-07-17 01:11] amarzavery commented on #1932
@infosatheesh2020

Can you please provide the following info:
- node version (node -v)
- operating system and version
- how did you install (via npm or mac installer)

can you execute  "azure account clear -q" and re-execute azure account list?

If that does not work then, may be the streamline files would be corrupted.

Can you remove the .streamline and .azure directories inside the user's home

[2015-07-17 01:23] anuchandy commented on #1933
+ @siddheshwar-more

[2015-07-17 01:26] #1818 closed

[2015-07-17 01:26] #1817 closed

[2015-07-17 01:27] anuchandy commented on #1792
closing this issue. this feature is available now.

[2015-07-17 01:27] #1792 closed

[2015-07-17 01:27] #1753 closed

[2015-07-17 01:28] #1752 closed

[2015-07-17 01:28] #1681 closed

[2015-07-17 01:29] #1055 closed

[2015-07-17 01:29] #1283 closed

[2015-07-17 01:30] #1488 closed

[2015-07-17 01:31] #1865 closed

[2015-07-17 04:48] #1727 closed

[2015-07-17 05:56] infosatheesh2020 commented on #1932
Thanks! it resolved after removed .azure and .streamline directory

FYI
Node Version: v0.10.36
OS: Fedora Release 22
Install: npm install -g azure-cli

[2015-07-17 05:56] #1932 closed

[2015-07-17 13:56] albertoperdomo opened #1935 "AD Accounts with MFA enabled don't seem to be able to interactively login, even with app passwords"
I'm able to login via `azure login -u user@domain.com`
If I enable MFA for the account, logging in does not work because MFA with 1-time password is not supported.

I've tried creating an app password in the MFA configuration settings and using that, but it's also failing to login.

[code]

I know there is an option to use certificate authentication, but it would be useful to take advantage of MFA

[2015-07-17 14:37] devigned commented on #1935
Unfortunately, this is expected with MFA and Azure CLI. We are enabling login for MFA enabled environments very soon.

Currently, you can create a service principal though Azure PowerShell or the Azure Portal. This service principal will be able to login via `azure login --service-principal`. To create a service principal via the portal, see: https://azure.microsoft.com/en-us/documentation/article

[2015-07-17 14:37] #1935 closed

[2015-07-17 14:58] flmader opened #1936 "ARM Mode and Multi-factor Authentication"
I cannot use the Azure Xplat CLI in arm mode with my organizational account that requires multi factor authentication. If I run the command "azure login" I receive the error message:
AADSTS50079: Strong authentication enrollment (proof-up) is required.

[2015-07-17 15:09] devigned commented on #1936
see #1935

[2015-07-17 15:09] #1936 closed

[2015-07-17 21:08] markcowl commented on #1902
we could consider a file locking mechanism for the token cache

[2015-07-17 22:27] ruslangabitov commented on #1900
Fixed here: https://github.com/Azure/azure-xplat-cli/commit/68913c8361469cca6e3a8f6fd9dedd863687ed7f

[2015-07-17 23:02] ruslangabitov commented on #1893
Added Lun option here: https://github.com/MSOpenTech/azure-xplat-cli/pull/431

[2015-07-17 23:05] ruslangabitov commented on #1895
Change command a bit: https://github.com/MSOpenTech/azure-xplat-cli/pull/403
Now you can set disk's name via --vhd-name option

[2015-07-17 23:46] ahmetalpbalkan commented on #1895
@ruslangabitov you rock!

[2015-07-17 23:48] ahmetalpbalkan commented on #1893
@ruslangabitov this is great! I guess, by design, the race condition (when `--lun` is not specified) will stay there but I feel better about having `--lun` explicit.

[2015-07-20 06:18] ferhaty commented on #1914
@yugangw-msft will be picking it up if no one is working on BitBucket integration. Pull request coming up :)

[2015-07-20 12:57] greenmang0 opened #1937 "Can't add vm to an existing availability set through command line."
The `azure vm` command does not provide any interface to add `vm` to an existing `availability set`.

[2015-07-20 13:46] greenmang0 opened #1938 "Admin password should be optional for Linux if ssh public key is specified"
In `azure vm create`, specifying `--admin-password` should be optional, if `--ssh-publickey-file` is specified for `--os-type Linux`

[2015-07-20 15:49] mpilant commented on #1916
I still have not been able to determine if it is possible with the Azure CLI, but I was able to do it using *both* portals (both current and preview portals are required).  Although at the moment, there seems to be a real network performance hit resulting in the two VMs I'm using having only about half the transaction performance of a single non-load balanced VM.  Very strange.

[2015-07-20 17:04] aarsan commented on #1933
I had the syntax wrong. It does actually work.

[2015-07-20 17:04] #1933 closed

[2015-07-20 17:39] ahmetalpbalkan opened #1939 "azure vm create --ssh-cert should imply --no-ssh-password"
(ASM)
When I create a VM with `--ssh-cert` parameter I get a prompt back asking for my password:

[code]

It looks like I need to append `--no-ssh-password` as well, however I think `--ssh-cert` should already imply this.

What is the reason we have this `--no-ssh-password` parameter? When it's missing, `--ssh-cert` has to be there and when `--ssh-cert` is there, it always makes sense to have  `--

[2015-07-20 19:43] anuchandy commented on #1937
these param sholud help:
--availabilty-set argument (in asm) or --avail-set in argument (in arm)

[2015-07-20 20:12] ruslangabitov commented on #1710
Added creation of SSH keys inside the 'vm create' and 'vm docker create' commands: https://github.com/MSOpenTech/azure-xplat-cli/pull/391

Usage:
  Command creates certs for each VM and saves them in <code>~/.azure/</code> folder or uses them if they are already there.
![image](https://cloud.githubusercontent.com/assets/6327511/8759494/c58a0a3e-2ca9-11e5-987f-870717204d98.png)

  To generate certs

[2015-07-20 20:23] ahmetalpbalkan commented on #1710
@ruslangabitov this is pretty cool! Does it overwrite for the new VMs created with the same name?

[2015-07-20 20:56] ruslangabitov commented on #1710
@ahmetalpbalkan no, it will use certs if there are already there.
yes, it saves them directly under <code>~/.azure</code>.

Yeah, I'll try to add 'vm ssh' command next, just wanted to share this part of the implementation first.

[2015-07-20 20:58] ahmetalpbalkan commented on #1710
@ruslangabitov this is great! can't wait to try the next steps as well. I think we should put the keys into `~/.azure/keys`, the root dir might be hard to deal with after some point. :-)

[2015-07-20 21:27] ruslangabitov commented on #1710
@ahmetalpbalkan yeah, good point, I'll change the folder.

[2015-07-21 00:27] devigned commented on #1916
I have not done this, but I imagine you should be able to. You'd just have to make sure you are load balancing on publicly exposed container ports.

@Azure/azure-linux-team what do you think about this one?

[2015-07-21 00:33] ahmetalpbalkan commented on #1916
I don't think the question has anything to do with Docker.  At the end, it's web servers running on virtual machines.

@mpilant I'm not sure I understood the question fully here. I am assuming you have servers created through portal and load balancing works just fine jn those (and you checked) however the azure CLI docker command for some reason associate the VM correctly with the Azure Load Balan

[2015-07-21 07:45] sreekanthbs commented on #1895
@ruslangabitov  its working fine now  we can set disk's name via --vhd-name option
![image](https://cloud.githubusercontent.com/assets/11171941/8795403/70738da0-2faa-11e5-992b-8e015f3f5be6.png)

[2015-07-21 07:53] sreekanthbs commented on #1710
@ahmetalpbalkan Now vm create and vm docker create generates SSh keys inside (~/.azure/ssh/ ) folder in https://github.com/MSOpenTech/azure-xplat-cli/pull/442/
![1710_442_2](https://cloud.githubusercontent.com/assets/11171941/8795542/76d702f2-2fab-11e5-882b-b4f03bb15192.PNG)

![1710_442](https://cloud.githubusercontent.com/assets/11171941/8795530/56c29422-2fab-11e5-9f2a-258b3de2c28d.PNG)

 ![1710_

[2015-07-21 08:47] sreekanthbs commented on #1893
@ruslangabitov its working fine now with -l option for lun param
<pre>
<code>
C:\July\22july\azure-xplat-cli-dev>node bin/azure vm disk attach-new -h
help:    Attach a new data-disk to a VM in a resource group
help:
help:    Usage: vm disk attach-new [options] <resource-group> <vm-name> <size-in-gb> [vhd-name]
help:
help:    Options:
help:      -h, --help

[2015-07-21 12:27] greenmang0 commented on #1937
I am using `arm` mode.  I checked `azure vm -h`, couldn't find any option to add an existing `vm` to an existing `availability set`. The `availset` command which is available in `arm` mode, is just for managing `availability sets`.

[2015-07-21 14:28] mgarstecki opened #1943 "Creating a VNet with "azure network vnet create" destroys the VPN configuration of another network"
Network manipulations with the CLI seem to erase informations about VPNs in the network configuration.

Scenario :
* I have a VNet (let's name it VNet-A) with a VPN connection to a distant network (let's name it CORP). The link is up and working.
* I execute a vnet create command. For example :
[code]
* The VNet is correctly created, however VNet-A has lost its VPN connection.
* When I download th

[2015-07-21 16:23] ahmetalpbalkan commented on #1916
@mpilant I think `azure vm [docker] create` command is designed to support quickstart scenario where user just wants to have one VM up and running with no other topology specified. In other words, I don't think everything is allowed through the CLI (David can comment better on this).

Have you looked at our new ARM templates model where you can describe the entire topology (including having docker

[2015-07-21 17:01] anuchandy commented on #1937
@greenmang0 , i mean --avail-set option in vm create command.

![image](https://cloud.githubusercontent.com/assets/1471612/8807151/7b7fddfe-2f8f-11e5-8775-fc815d673cdf.png)

[2015-07-21 17:26] mpilant commented on #1916
@ahmetalpbalkan So if I understand you correctly, the short answer is it is not possible to create a load balanced set using the Azure CLI.  However, with that being said, there may be another method allowing the creation without having to use the Azure portals.
Does that sound correct?

[2015-07-21 17:28] ahmetalpbalkan commented on #1916
I am not sure about supporting load balanced sets through the CLI. @devigned want to comment on this? ^

[2015-07-21 21:31] anuchandy commented on #1943
@mgarstecki could you check version 0.9.6? We did fixed this issue https://github.com/Azure/azure-xplat-cli/issues/1806. Please let us know if you see issue with this version..

[2015-07-21 22:08] mgarstecki commented on #1943
Thank you for your reply, I'll test the new version as soon as I can mount an isolated subscription (I don't want to kill my VPN again).

Hopefully I can do that tomorrow, I'll keep this issue updated.

[2015-07-22 05:47] greenmang0 commented on #1937
@anuchandy,  Yes, I get that. When I create a new `vm` I can add it to the existing availability set using above option, but can I  add **running** `vm` to the existing availability set? I tried it with `vm create`, but it complains that `vm` already exists.

[2015-07-22 05:58] anuchandy commented on #1937
@greenmang0 . yes right now we have only command to associate vm with an availability set during creation time. We don't have command to set it on already created vm. We will investigate and enable command for this, let us keep this issue open.

[2015-07-22 06:08] greenmang0 commented on #1937
Okay

[2015-07-22 07:36] AbelHu opened #1948 "A new customer cannot get his tenant ID by azure cli"
A new customer is trying azure cli. He just signed up. Then created new subscription "pay as you go" and then got to the portal. Installed azure cli in his machine. Typed below commands and found his tenant id is undefined.

~$ azure -v
0.9.6

~$ azure login
……

~$ azure account list
info:    Executing command account list
data:    Name           Id                                    Tenant Id  Cu

[2015-07-22 10:05] mgarstecki commented on #1943
I've tested version 0.9.6 and can confirm the issue is fixed.

Thanks !

[2015-07-22 10:05] #1943 closed

[2015-07-22 11:10] 6scaling opened #1949 "EndPoint ACL"
Hi,

We can't create ACL for Endpoint bind to 0.0.0.0/0

azure vm endpoint acl-rule create -n $VMService -e GF_ADMIN -a Deny -o 3 -t 0.0.0.0/0 -r DENY_ALL
info:    Executing command vm endpoint acl-rule create
error:   cidr part 0 should be a number in the range [1, 32] in paramater <remote-subnet>
error:   vm endpoint acl-rule create command failed

[2015-07-23 06:45] omerlh opened #1950 "website scale to a specific number of instance not working"
Hey
I tried to run this command:
azure site scale instances 5 MyWebSite
And it failed, with the following error in the log:
Thu Jul 23 2015 09:40:45 GMT+0300 (Jerusalem Daylight Time):
{ [TypeError: Cannot call method 'charAt' of undefined]
  stack: [Getter/Setter],
  __frame:
   { name: '__2',
     line: 69,
     file: 'C:\\Appium\\node_modules\\azure-cli\\lib\\commands\\asm\\site.scale._js',

[2015-07-23 22:42] devigned commented on #1948
Would you run -vv in the login command? We need a little more information.

[2015-07-24 03:07] ahmetalpbalkan opened #1953 "ARM: Required arguments listed incorrectly"
[code]

the command above would actually make you think `<api-version>` argument is required whereas it isn't.

    azure group create mygroup westus

works just fine. I don't think `<api-version>` should be listed there OR if it's also a positional but optional argument, then it should be `[<api-version>]`.

[2015-07-24 03:08] ahmetalpbalkan opened #1954 "ARM: typo in `group create --help`"
help:      -t --tags <tags>    Tags to set to the resource group. Can be mutliple. In the format of 'name=value'. Name is required and value is optional. For example, -t tag1=value

mutliple --> multiple.

[2015-07-24 03:12] ahmetalpbalkan opened #1955 "Completion does not autocomplete filenames"
I just added `azure --completion` script to my `~/.zshrc` and tried to deploy a template using command. I typed:

    azure group deployment create -n "myName" -f

then I hit `<tab>` `<tab>` and nothing happened. So I had to Ctrl+C and run a `ls` to see what the file was actually named. I think the completion should somehow detect `-f` (and likewise `-e` in this command) is a filename input and do

[2015-07-24 03:40] ahmetalpbalkan opened #1956 "ARM: `group deployment create` bad JSON file causes a vague error message"
I have an `azuredeploy.parameters.json` file which has bad JSON syntax in it, but I don't know yet.

Then I'm running and getting a vague error message like:

[code]

I think we should simply parse those two files once and see if the JSON parsing fails.

I opened the issue originally without knowing my JSON file was malformed and this error message led to a lot of confusion and I thought CLI was b

[2015-07-24 03:45] ahmetalpbalkan commented on #1956
Happens in full parameter names as well...

[code]

[2015-07-24 04:16] devigned commented on #1956
Looks like it's choking on the parameters.json when it's parsing. At least that's my guess based only on the stack trace.

[2015-07-24 04:18] devigned commented on #1955
That would be really helpful.

[2015-07-24 04:59] ahmetalpbalkan commented on #1956
@devigned you're right looks like JSON syntax was invalid. We should probably come up with a better error message here. Editing the issue.

[2015-07-24 06:43] devigned commented on #1956
Yes, absolutely. The error needs to be helpful.

[2015-07-24 16:03] yugangw-msft commented on #1955
I will take a look.

[2015-07-24 16:30] yugangw-msft commented on #1953
Api-version is actually needed. Note, this is a generic resource command, and each RP has a different version to use.
There are more RP specific commands rolled out since /build, such as "vm" or "storage", for those, the api-version is not needed, rather is set in the node sdk library which commands reference

[2015-07-24 16:37] yugangw-msft commented on #1954
@vivsriaus , sine this is simple, I just went ahead and correct it.

[2015-07-24 17:48] ahmetalpbalkan commented on #1953
@yuangw-msft so how did I manage to create a group without specifying the API version?

[2015-07-24 18:32] ahmetalpbalkan commented on #1953
ah my bad, I confused `resource create` and `group create`. sorry.

[2015-07-24 18:32] #1953 closed

[2015-07-24 19:27] flomader opened #1958 "service principal works on Windows but doesn't work on a Mac"
I created a Service Principal in Azure Active Directory in order to login to the Azure xplat cli. On my Windows machine everything works fine - i can login with the service princial and manage my resources.
When I run 'azure login --service-principal' with the same service principal on my Mac I can also log in and the subscription gets added. But when I run a command like 'azure group list' (or an

[2015-07-24 20:35] devigned opened #1959 "add in a .editorconfig"
There always seems to be pain dealing with code formatting issues. It would be easier to just specify in a .editorconfig. See: http://editorconfig.org. @yugangw-msft thoughts?

[2015-07-25 01:18] amarzavery commented on #1958
@flmader - Can you provide the following info:

- node version (node -v)
- azure version (azure -v)
- how did you install CI on Mac (via mac installer or via npm)?

[2015-07-25 01:19] #1954 closed

[2015-07-25 01:23] amarzavery commented on #1948
@AbelHu - Azure CLI does not support live id authentication. You need a work id or organization id to authenticate. You can create one by creating an Active Directory and then create a user under the active directory. You will have to link the user with subscription to get the ball rolling. Hope this helps.

[2015-07-25 08:41] flmader commented on #1958
Windows:
node - v.0.12.2
azure - 0.9.6
npm - 2.7.4

Mac:
node - v0.12.7
azure - 0.9.6
npm - 2.11.3

I installed azure-cli on both machines via npm:
npm install -g azure-cli

Thanks!

[2015-07-25 09:08] tsaarni commented on #1601
Sorry for spamming above.  Unfortunately I was not aware that mentions in fork generate messages into forked repo.

[2015-07-26 20:42] ahmetalpbalkan opened #1961 "ARM: Show output object of template deployment result"
Some templates emit outputs like this:

![image](https://cloud.githubusercontent.com/assets/159209/8895799/1320c1fa-339b-11e5-8f09-29576c291087.png)

And they get shown on the portal like:

when the deployment succeeds.

However when I deploy from CLI, that's not shown there and I have to go to the portal to find out about the output. That can be more seamless...

For instance, instead of showing

[2015-07-28 07:08] AbelHu commented on #1948
Thanks for your help.
Finally the customer referenced the second video “Building and Accelerating DevOps Pipeline on Azure” by this link[https://www.microsoftvirtualacademy.com/en-US/training-courses/building-linux-based-solutions-on-azure-11333]. Start to watch it from the 14th minute.

Steps:
If you do not currently have a work or school account, and are using a personal account to log in to you

[2015-07-28 07:08] #1948 closed

[2015-07-29 15:45] #723 closed

[2015-07-30 20:12] kolbe opened #1966 "CLI dies with "SyntaxError: Unexpected token" on JSON with BOM"
I'm using Azure CLI 0.9.6 (node: 0.10.23).

I have a utf8-encoded template file that happens to start with a utf8 BOM (0xefbbbf). I think this is added automatically by many editors on Windows or perhaps by Windows itself(?). It seems like it would be good for the CLI to be able to handle template files that work fine w/ the Portal web UI.

Removing the 3-byte BOM allows the CLI to handle the temp

[2015-07-31 02:10] yugangw-msft commented on #1966
this is just a bug that the cmdlet implementation misses a line of invoking the util method to strip the BOM.
fixing it...

[2015-07-31 02:25] #1955 closed

[2015-07-31 04:03] yugangw-msft commented on #1966
@vivsriaus,let me know if you have any comments

[2015-07-31 16:44] #1966 closed

[2015-07-31 19:38] hveiras commented on #1918
+1 I had the same issue. I confirm it was for the & in the password.

[2015-07-31 20:06] ahmetalpbalkan commented on #1918
@hveiras this should be in the next release, I think it's fixed in the https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/62 upstream.

[2015-08-01 00:00] #1915 closed

[2015-08-02 18:50] infosatheesh2020 opened #1970 "ARM: Storage account: accountName is outside the valid range"
I'm trying to create new storage account in azure ARM mode, but it complains that account name is outside valid range.

azure storage account create --resource-group TestGroup --location northeurope --type LRS TestStore
info:    Executing command storage account create
+ Creating storage account
error:   accountName is outside the valid range.
info:    Error information has been recorded to /home/

[2015-08-03 18:25] aarsan opened #1973 "azure vm extension get-chef does not return detailed status"
After enabling the chef extension, the State says "Enable". However, enabling the extension only begins the process of installing the Chef client and bootstrapping your machine. The details of this process are available through the portal but not via the command line tools.

[2015-08-03 20:40] roy128 commented on #1885
:+1:

[2015-08-04 01:37] aarsan opened #1976 "Can't see resource group logs. Throws incorrect api version"
When "azure group log show" is executed, the following error is returned:

The resource type 'eventtypes' could not be found in the namespace 'microsoft.insights' for api version '2014-04'. The supported api-versions are '2014-04-01,2014-11-01,2015-04-01'.

[2015-08-04 18:44] ahmetalpbalkan opened #1978 "Docs needed for How to use CLI for Azure China"
Issue #1880 still goes on...

I have an account on Azure China realm and I'm using `azure login` to sign in to the subscription using an AAD account:

[code]

This experience seems broken. @devigned @yugangw-msft

Also I should mention that as a user, I could not find any instructions on the web on how to use Azure CLI in China by Googling for quite a while. I came to GitHub repo and searched amon

[2015-08-04 19:25] yugangw-msft commented on #1976
should be addressed by #1975.we are rolling out a new release

[2015-08-04 19:25] #1976 closed

[2015-08-04 20:37] devigned commented on #1978
We will get this documented. The following should work:
[code]
That should acquire a token from the onmschina.cn graph endpoint and be used for future requests.

[2015-08-04 21:23] ahmetalpbalkan commented on #1978
@devigned that solved, changed the issue title to reflect we need clear for this.

[2015-08-04 21:24] devigned commented on #1978
Fantastic! Glad that helped.

Thank you for bringing this issue up. We'll get this documented.

[2015-08-04 21:30] ahmetalpbalkan opened #1979 ""azure storage" commands do not honor China API choice"
I used

    azure login -e AzureChinaCloud

to log in to the Azure China Cloud and all the ASM commands like `azure vm list -vv` are correctly honored this choice, requests are made to `management.core.chinacloudapi.cn`. However when I run storage commands like:

    azure storage blob      upload  -a $account -k $key [...] -vv
    azure storage container list  -a $account -k $key [...] -vv

I can

[2015-08-04 21:40] yugangw-msft commented on #1979
@yaxia could you please clarify? Note, the storage endpoint is not defined as part of azure environment property, so i do not know anywhere to cross check.
All china cloud environment is defined here: https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/profile/environment.js#L225

[2015-08-05 00:15] ahmetalpbalkan commented on #1710
Great stuff.. @ruslangabitov do you have any new we goodness can try out here?

[2015-08-05 00:22] ahmetalpbalkan commented on #1961
@devigned any ideas here?

[2015-08-05 00:30] devigned commented on #1961
Yeah, the output of the deployment would be convenient. Hmm... that shouldn't be that hard considering it's on the GET for the deployment (https://msdn.microsoft.com/en-us/library/azure/dn790565.aspx).

[2015-08-05 05:22] gangsir commented on #1979
We will get this fixed in next release. For now, I suggest you to set an environment variable with name "AZURE_STORAGE_CONNECTION_STRING" and specify the endpoints explicitly in the connection string like this:
BlobEndpoint=https://<accountname>.blob.core.chinacloudapi.cn/;QueueEndpoint=https://<accountname>.queue.core.chinacloudapi.cn/;TableEndpoint=https://<accountname>.table.core.chinacloudapi.

[2015-08-05 16:10] kleptog opened #1980 "Network Security Group command rejects single IP addresses"
While creating an nsg I get an error:

    $ azure network nsg rule create my-nsg allow-me --type inbound -f 8.8.8.8/32 -o '*' -e '*' -u '*' --action Allow --priority 100

The address is obviously fictional, but it fails with an error:

    info:    Executing command network nsg rule create
    warn:    Using default protocol: Tcp
    error:   IPv4 source address prefix must be in CIDR format. Ast

[2015-08-05 17:30] ahmetalpbalkan commented on #1979
@gangsir the request still goes to `core.windows.net`. Here's the env and the command executed with it. It parses `AccountName` just fine however ignores `BlobEndpoint`:

[code]

[2015-08-05 19:21] yugangw-msft commented on #1958
@flomader I am able to reproduce it on mac, i will take a look and let you know when the fix is made

[2015-08-06 02:50] garimakhulbe opened #1985 "Error: tenantID cannot be null"
I am trying to create a service principal using below CLI command:

 azure ad app create --name "testscale" --home-page "https://testscale" --identifier-uris "https://testscale" --password <password> --verbose

I am getting this error "tenantID cannot be null."
![image](https://cloud.githubusercontent.com/assets/9362976/9102679/f3498be8-3ba9-11e5-8e64-c4100ca9a452.png)

When I do 'azure account li

[2015-08-06 10:19] infosatheesh2020 commented on #1935
I had an organizational account with MFA enabled, but login worked fine with CLI (0.9.6) until yesterday (both for asm and arm mode). But it is not allowing to login today.

error:   Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50079: Strong authentication enrollment (proof-up) is required.\r\nTrace ID: 4510b277-97b7-4fd

[2015-08-06 10:21] infosatheesh2020 opened #1986 "Azure AD not working with MFA"
Issue similar to bug:1935

I had an organizational account with MFA enabled, but login worked fine with CLI (0.9.6) until yesterday (both for asm and arm mode). But it is not allowing to login today.

error: Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50079: Strong authentication enrollment (proof-up) is required.\r\nTr

[2015-08-06 15:46] flamingboo opened #1987 "xplat-cli with NSG"
With xplat-cli, I can see we can assign a NSG to a vnet or subnet.
Can we assign a NSG to a VM using xplat-cli?
Thank you

[2015-08-06 16:02] devigned commented on #1985
@amarzavery @yugangw-msft why would we have a tenant id that is null? That seems like a bug.

[2015-08-06 16:04] devigned commented on #1935
Perhaps your refresh token was still good from an earlier authentication. MFA is not currently supported via CLI. We are working to fix this, but until then, please use a service principal. See: http://www.dushyantgill.com/blog/2015/05/23/developers-guide-to-auth-with-azure-resource-manager-api/

[2015-08-06 16:05] devigned commented on #1986
Why comment on the other issue and open a new one? I have responded to your comment on the other issue. Please use a service principal as explained in #1935.

[2015-08-06 16:05] #1986 closed

[2015-08-06 18:28] infosatheesh2020 opened #1988 "ASM: Attaching reserved ip to cloud service"
Do we have any support for Attaching reserved ip to cloud service using CLI?

Equivalent command of Get-AzureReservedIPAssociation - ReservedIPName xxx -ServiceName yyyy

[2015-08-06 19:08] infosatheesh2020 opened #1990 "ASM: NSG rule creation with netmask 32 has error"
I tried to create nsg rule using
azure network nsg rule create --source-address-prefix xx.xx.xx.xx/32

it complains of below error in cli 0.9.6

info:    Executing command network nsg rule create
error:   IPv4 source address prefix must be in CIDR format. Asterix can also be used

I am able to do the same with azure powershell

[2015-08-06 23:21] vivsriaus opened #1992 "ARM: Add resource lock command"
Add ARM resource lock commands (create, list, show, set)

[2015-08-06 23:44] ruslangabitov commented on #1938
@greenmang0 I assumed that you are using CLI in ARM mode.
We had this issue in previous release, it is fixed now. Can you try it again?

[2015-08-07 00:17] #1978 closed

[2015-08-07 00:39] ahmetalpbalkan commented on #1978
Thanks

—Alp
http://alp.im

On Thu, Aug 6, 2015 at 5:18 PM, amarzavery <notifications@github.com>
wrote:

[2015-08-07 00:56] yugangw-msft commented on #1918
@ahmetalpbalkan, i picked up the version containing the fix. Note the fix is only applicable on federated account like our MS org id. For regular AAD accounts, it has always worked, so not impacted by this change.

[2015-08-07 01:11] yugangw-msft commented on #1970
Based on the sdk doc, this is not a valid name:
 https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/storageManagement2/lib/storageManagementClient.js#L355

@yaxia, would be nice to communicate through the exception message

 The name of the storage account within the
   * specified resource group. Storage account names must be between 3 and 24
   * characters in length and use nu

[2015-08-07 01:41] yugangw-msft commented on #1894
@ahmetalpbalkan , @devigned
We already documented it in the read.md. With the PR, I have re-organized the text under a top level section called "error diagnostic". The mentioned will appear along with setting up the "web debug proxy"

[2015-08-07 01:46] yugangw-msft commented on #1992
@vivsriaus, dupe of #1743. Feel free reactivate with comments showing the difference

[2015-08-07 01:46] #1992 closed

[2015-08-07 01:52] yugangw-msft commented on #1985
@devigned, most likely the user is not logging in as a org-id. I suggest reference to this issue for explanation https://github.com/Azure/azure-xplat-cli/issues/1948

[2015-08-07 07:02] ahmetalpbalkan commented on #1894
@yugangw-msft If it's a valid input to the program (esp. if it's a command line option) IMO should be documented on the program itself as well. If I'm using this tool for a few months, I am just going to run `azure -h` and see if there's a verbose flag. And if it's not there, I'm going to come to github (definitely not going to read that long README), and open an issue (like I did here).

All tool

[2015-08-07 10:32] greenmang0 commented on #1938
@ruslangabitov,

Yes, I am using CLI in ARM mode. Following command worked for me.

`azure vm create -g foorg -n foovm -l westus -y Linux -Q "Canonical:UbuntuServer:12.04.5-LTS:12.04.201507070" -M ~/.ssh/fookey.pub -F foovnet -j foosubnet -r foostorage -u foouser -f foonic`

Thanks.

[2015-08-07 10:32] #1938 closed

[2015-08-07 12:05] sreekanthbs commented on #1900
@ruslangabitov yes its working fine now.Thanks

![image](https://cloud.githubusercontent.com/assets/11171941/9135389/6889ae84-3d2a-11e5-93bb-78fc08827cc4.png)

[2015-08-07 13:41] sreekanthbs commented on #1806
@anuchandy  its working fine now. Thanks

[2015-08-07 15:32] infosatheesh2020 opened #2002 "ASM: NSG rule creation with source port Asterik has error"
azure network nsg rule create --nsg-name SatheeshTestNSG --name DenySSH --protocol TCP --source-address-prefix * --source-port-range * --destination-address-prefix * --destination-port-range 22 --action Deny --priority 1009 --type Inbound
info:    Executing command network nsg rule create
error:   source port parameter must be an integer between 0 and 65535

[2015-08-07 16:11] sedouard commented on #1900
Closing this out. Thanks!

[2015-08-07 16:11] #1900 closed

[2015-08-07 17:06] yugangw-msft commented on #1918
fixed.

[2015-08-07 17:06] #1918 closed

[2015-08-07 17:16] #1923 closed

[2015-08-07 17:16] #1911 closed

[2015-08-07 17:19] #1958 closed

[2015-08-07 17:29] garimakhulbe commented on #1985
Thanks.

[2015-08-07 17:29] #1985 closed

[2015-08-07 20:56] #1980 closed

[2015-08-08 02:07] ahmetalpbalkan commented on #1979
@gangsir any ETAs for the next release or the fix?

[2015-08-08 04:52] yugangw-msft commented on #1894
@ahmetalpbalkan
okay, I didn't get the original point, but it is just reasonable. So take a look what i have in my box, and let me know.
Since I am touching the command rendering, I also took other folks' suggestions and display the current mode.
![image](https://cloud.githubusercontent.com/assets/6014209/9149102/a2ea916a-3d4d-11e5-850a-f3a9184f0428.png)

[2015-08-08 04:59] ahmetalpbalkan commented on #1894
@yugangw-msft that's good progress. I think I can live with that. But if we want to make it totally right, here's one suggestion: In the screenshot above, the main cmd is `azure` and subcmd is `vm` which has another subcmd `start`.

Since `-vv` is `azure`-wide, it would be better to have it as `azure -vv vm start -h`. This reads as: “azure in debug mode, show help for `vm start`”. Many command lin

[2015-08-08 16:59] requiredfield opened #2004 "support for managing CDNs"
Azure announced custom origin support for CDNs a couple months ago:
https://azure.microsoft.com/blog/2015/06/04/announcing-custom-origin-support-for-azure-cdn/

It appears there's still no way to manage this through the azure command line tool, is that right? If so, are you planning to add this or would you consider it?

Thanks in advance.

[2015-08-09 02:33] infosatheesh2020 commented on #1935
Hi, I tried to set service-principal login, but not fully working.

I have followed the steps in managing a local AD adding the new application, and granting all the rights to the application. But when i login to that application, my existing subscription details are not listed.

azure login --service-principal
info:    Executing command login
warn:    Please note that currently you can login only

[2015-08-10 05:52] jimyjohny commented on #1791
In windows azure powershell, Set-AzureReservedIPAssociation  command allows to assign the IP to the running deployment.  Its more than 3 months since this feature is available. When can we expect this here ?

[2015-08-10 09:26] romangromov commented on #1935
Hi @devigned, same issue here for me: when I login to newly created application using `ClientID`, 'Key' and 'Tenant' provided in `Management Portal`, my existing subscription details are not listed, so I can't perform any king of commands with Xplat-CLI:

[2015-08-10 12:17] sreekanthbs commented on #1567
ASM get-deployment-event command is not working in MSOpenTech dev branch.
<pre>
<code>
C:\Aug2015\10Aug\azure-xplat-cli-dev>node bin/azure service get-deployment-event DndLinuxVM 2015-01-01 2015-12-31
info:    Executing command service get-deployment-event
+ Getting deployment events of deployments in the cloud service "DndLinuxVM"
error:   undefined is not a function
info:    Error information ha

[2015-08-10 13:58] devigned commented on #1935
It sounds like the Service Principal was either not provided rights to manage the service management api or is not in a role to manage any resources in the resource management apis. Please verify you have provided the account the correct rights and role.

@yugangw-msft and @amarzavery what do you think?

[2015-08-10 13:59] devigned commented on #1935
@infosatheesh2020 yes, service principal can be used for ARM. In fact, for automation scenarios, it's what you should use.

[2015-08-10 17:55] infosatheesh2020 commented on #1935
@devigned The problem is that I am not able to view the existing applications in my current organizational subscription. When I try to create new local AD, and create applications in it, I'm not able to access resources in my parent subscription (atleast i don't have access from new application created to add existing applications from parent subscription)

[2015-08-10 19:35] yugangw-msft commented on #1935
@romangromov
The subscription doesn't show up till someone grant the service-principal access to some resources underneath, which is mostly accomplished by using "role assignment create" command. After that related subscriptions will show up

[2015-08-10 19:46] yugangw-msft commented on #1935
@infosatheesh2020
If you are talking about the "active directory application" and be able to view it, make sure the service principal has read access to the AD graph. You can configured it in the portal. This specific scenario has nothing to do with the subscriptions.
Once you have provisioned the application in the tenant, you will get related service principal id and key, which you can log in wi

[2015-08-10 19:51] sondreb commented on #1935
@devigned If it is already very well known that MFA is not supported with azure-cli (and PowerShell), how come this is not communicated anywhere other than on this issue here on GitHub?

It drives me nuts having to waste hours on this when it could have been communicated in a dozen places on MSDN and other places.

Why would you tell customers to disable multi-factor authentication on their accoun

[2015-08-10 20:15] sondreb opened #2006 "What is supported of resource group operations?"
The readme says in the Features section:

**Resource Manager**
- Manage resource groups and deployments
- Query and download gallery templates
- Manage individual resources

I know this is possible with Powershell, there is a Move-AzureResourceGroup command. But where is this command in the azure-cli?

The link "command line tool reference" only contains a few operations: https://azure.microsoft.c

[2015-08-10 21:47] yugangw-msft commented on #2006
Resource Moving is being worked right now. Due to priority, cli doesn't have 100% parity with posh, though close

[2015-08-10 22:08] vivsriaus commented on #1885
The changes for these have been checked in, and will be included in the upcoming Azure CLI release.

[2015-08-10 22:08] #1885 closed

[2015-08-10 22:09] vivsriaus commented on #1867
This has been resolved, and will be included in the upcoming Azure CLI release.

[2015-08-10 22:09] #1867 closed

[2015-08-10 22:12] vivsriaus commented on #1804
This has been resolved, and will be included in the upcoming Azure CLI release.

[2015-08-10 22:12] #1804 closed

[2015-08-10 23:03] vivsriaus opened #2009 "ARM: Make ARM CRUD commands work at tenant and subscription level"
Similar to POSH, ARM commands should enable CRUD operation at tenant and subscription level resources.

[2015-08-10 23:07] vivsriaus commented on #1655
This has been resolved, and will be included in the next Azure CLI release

[2015-08-10 23:34] yugangw-msft commented on #1894
@ahmetalpbalkan thanks for the suggestion. My comments here,
1. Cli has 4 default options including "-h", "--json", "-v", and "-vv". Have you thought of accommodating all of them in the suggestion. If we only do it for "-vv", we have consistency loss.
2. "-vv" is just to output more information. We can understand it as "azure in debug mode", but it is a subjective view. For now Cli treats as a def

[2015-08-10 23:40] ahmetalpbalkan commented on #1894
@yugangw-msft yeah I guess that layout is not necessary. your screenshot above sounds good. Shall we go with that?

[2015-08-11 01:43] #1894 closed

[2015-08-11 01:44] yugangw-msft commented on #1894
@ahmetalpbalkan, yes, let us go with that. PR was merged.

[2015-08-11 03:07] ahmetalpbalkan commented on #1894
Thanks.

[2015-08-11 08:38] romangromov commented on #1935
@sondreb :+1: agree, I've spent my day trying to figure out this issue ...

[2015-08-11 08:43] romangromov commented on #1935
@yugangw-msft @devigned thank you guys for your help, finally get it to work with a few Power-Shell based cmdlets:

[code]

After this my `service principal` got an `Owner` role and now `azure login --service-principal` works like a charm.

[2015-08-11 09:18] pikumarmsft opened #2011 "Login issue ARM mode."
Hi
I am not able to login using ARM mode.
I am getting following exception when I use azure login -u *********@microsoft.com

Tue Aug 11 2015 14:38:33 GMT+0530 (India Standard Time):
{ [Error: Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50079: Strong authentication enrollment (proof-up) is required.\r\nTrace ID: c19b083

[2015-08-11 12:41] romangromov commented on #2011
@pikumarmsft please see https://github.com/Azure/azure-xplat-cli/issues/1935

[2015-08-11 15:08] devigned commented on #2011
Closing as it's a duplicate of #1935. We are targeting 9/2 release to enable MFA.

[2015-08-11 15:08] #2011 closed

[2015-08-11 15:25] devigned commented on #1935
@sondreb I understand the frustration. We expect to have this feature supported in the 9/2 release of CLI.

Per the error messages, we have received feedback on those and have tried to improve them over the past few releases. When I try to login with an organizational account with MFA enabled I receive the following in CLI v0.9.6:
[code]
This error certainly isn't the best... It won't be around mu

[2015-08-11 16:04] devigned commented on #1935
@romangromov glad to help :+1:

[2015-08-11 17:25] vivsriaus opened #2012 "ARM: Add remove azure group deployment command (P1)"

[2015-08-11 19:53] AndreyVavilov opened #2013 "ARM: Unable to add a nic in address-pool due to the error: Cannot read property 'get' of undefined"
Found issue in network nic address-pool add command:

[code]

And current state:

[code]

[2015-08-11 23:02] adrianhopebailie opened #2015 "azure vm image list "northeurope" "Canonical" throws getaddrinfo ENOTFOUND management.azure.com"
I am using the CLI with Azure Resource Manager
i.e. I have called `azure config mode arm`

If I call:
`azure vm image list-publishers "northeurope"`
"Canonical" is listed as a publisher.

But if I try:
`azure vm image list "northeurope" "Canonical"`
I get the error:
`error:   getaddrinfo ENOTFOUND management.azure.com`

`azure vm image list "northeurope" "GitHub"` works fine, as does `azure vm ima

[2015-08-12 06:10] bingosummer opened #2016 "Failed to install CLI on ubuntu 14.04.2 on Mooncake (China Azure)"
I tried to install CLI on China Azure with the following cmd.

sudo apt-get install nodejs-legacy
sudo apt-get install npm
sudo npm install -g azure-cli

I got:
npm ERR! fetch failed https://registry.npmjs.org/azure-asm-website/-/azure-asm-website-0.10.1.tgz
npm http 200 https://registry.npmjs.org/azure-asm-subscription/-/azure-asm-subscription-0.10.1.tgz
npm http 200 https://registry.npmjs.org/az

[2015-08-12 07:48] greenmang0 opened #2017 "Misleading error message when creating DNS zone"
[code]
[code]

[2015-08-12 08:38] greenmang0 opened #2019 "The `dns-record-set` command doesn't entertain `-z` flag"
[code]

[code]

[2015-08-12 17:43] rjmax opened #2020 "azure login for ARM doesn't support certificates"
ARM and AAD both support service principal based authentication using certificates.  However, azure login does not support using certs when logging in as a service principal - it only supports user/pass combinations.

[2015-08-12 20:26] ahmetalpbalkan opened #2021 "ARM: list /locations ; not /providers in "azure location list""
In ARM mode, `azure location list` currently prints locations for each RP in **human-readable form**:

[code]

However I don't care about RPs at all. I just want to see the locations. There is an endpoint like:

    https://management.azure.com/subscriptions/<subs>/locations

that is used in the portal that gives me system-names for the locations (which is something I need) in the following format

[2015-08-12 23:10] #1895 closed

[2015-08-12 23:10] #1893 closed

[2015-08-13 05:16] yugangw-msft commented on #2021
Yes, we should take this suggestion.

[2015-08-13 06:59] andyzhangx opened #2023 "Installation failed in ubuntu 15.04 by default. Requires node version >=0.11.10."
root@rhui-ubt-cli:~/node-v0.12.7# npm install -g azure-cli
npm WARN engine galaxy@0.1.12: wanted: {"node":">=0.11.10"} (current: {"node":"0.10.25","npm":"1.4.21"})
/

`linux-x64-v8-3.28` exists; testing
Binary is fine; exiting
/usr/local/bin/azure -> /usr/local/lib/node_modules/azure-cli/bin/azure
azure-cli@0.9.7 /usr/local/lib/node_modules/azure-cli

[2015-08-13 07:00] andyzhangx opened #2024 "[P2]azure vm list error (there are about 130 VMs totally, this bug does not always repro)"
root@rhui-ubt-cli2:~# azure account set 4be8920b-2978-43d7-ab14-04d8549c1d05
	info:    Executing command account set
	info:    Setting subscription to "OSTC Shanghai Test" with id "4be8920b-2978-43d7-ab14-04d8549c1d05".
	info:    Changes saved
	info:    account set command OK
	root@rhui-ubt-cli2:~# azure vm list
	info:    Executing command vm list
	+ Getting virtual machines
	error:   Parameter 'u

[2015-08-13 07:28] andyzhangx commented on #2024
azure.err:

Tue Aug 11 2015 06:29:30 GMT+0000 (UTC):
[TypeError: Parameter 'url' must be a string, not undefined]
TypeError: Parameter 'url' must be a string, not undefined
    at Url.parse (url.js:107:11)
    at Object.urlParse [as parse] (url.js:101:5)
    at createVMView (/usr/local/lib/node_modules/azure-cli/lib/commands/asm/vm/vmclient.js:3104:18)
    at /usr/local/lib/node_modules/azure-cli/

[2015-08-13 08:08] brendonco opened #2025 "how to upload recursive subdirectories with files to azure"
I have a for loop to upload one by one but subdirectories are not uploaded into Azure.  If it encounter a folder from my local, the upload will failed ```error:   storage blob upload command failed``` image is not a file.

How do I upload recursively using ```azure storage blob upload```?

[code]

[2015-08-13 15:13] jtuliani commented on #2017
Thanks for flagging.  This error message is indeed incorrect.  The message is actually coming from the Azure DNS service, so it's a service bug not a CLI bug.
We are tracking a fix on our backlog and I will close this ticket once it is done.

[2015-08-13 15:35] devigned commented on #2023
Did you install using the ubuntu instructions here: https://github.com/Azure/azure-xplat-cli#install-on-ubuntu?

[2015-08-13 18:46] jtuliani commented on #2019
Yes, there's definitely an issue here.
[code]
whereas without the '-z' it works fine.  We need to get this fixed.

[2015-08-13 18:53] jtuliani opened #2027 ""azure network dns-record-set list" does not display SOA records"
When I list the records in a zone, the SOA is not shown:
[code]
If I try to filter the list based on record type, it shows an NS record instead
[code]
But the SOA is definitely there (it has to be, for all zones, you can't delete it!):
[code]

[2015-08-14 00:57] andyzhangx commented on #2023
I have tried
sudo apt-get install nodejs-legacy
sudo apt-get install npm
sudo npm install -g azure-cli

or
sudo apt-get install node
sudo apt-get install npm
sudo npm install -g azure-cli

In ubuntu 15.04, it still not works. I need to install higher node version manually, the instruction should include how do we install azure-cli and necessary node packages in ubuntu 15.04.

[2015-08-14 01:55] bingosummer opened #2028 "Can not get and update the provision status of guest agent"
For classic VM, I can get and set ProvisionGuestAgent by:
$vm = Get-AzureVM -ServiceName XXX -Name XXX
$vm.GetInstance().ProvisionGuestAgent = $true
$vm | Update-AzureVM

But for Azure CLI, the provision status of guest agent can not be got or updated by "azure vm" command.
Any thought on this feature? Thanks

[2015-08-14 07:47] greenmang0 opened #2029 "The "azure storage account create" command doesn't accecpt "-n""
[code]

[2015-08-14 08:19] jtuliani opened #2030 "Replace (first) hyphen with space for 'dns-zone' and 'dns-record-set'"
Currently, for the Azure DNS service we have commands that look like:
[code]
'Network' is a category. 'DNS' is the service name.  'Zones' and 'record sets' are resource types.  It would therefore be much more intuitive and more consistent with other services within 'azure network' if these commands are re-formatted to turn the first hyphen into a space:
[code]

[2015-08-14 14:40] jtuliani commented on #2030
We will of course have to add help content for 'azure network dns -h'.  That's easy enough though.

[2015-08-14 17:00] romangromov commented on #2030
Thank you @jtuliani, looks nice for better user experience, will change

[2015-08-14 17:02] ahmetalpbalkan commented on #1979
@gangsir any ETAs for the next release or the fix? We have a product that relies on the xplat-cli in its release cycle and this is currently blocking the China release.

[2015-08-14 17:03] romangromov commented on #2027
@jtuliani thank you, will fix

[2015-08-14 17:12] yugangw-msft commented on #2029
@yaxia , this might have been fixed in the dev branch, but double check. Also the "-l, --location" argument is little confusing by using the "name"

[2015-08-14 17:20] yugangw-msft commented on #2023
@andyzhangx, i will take a look

[2015-08-15 11:27] damienpontifex opened #2034 "Support for creating and managing Event Hubs"
With Azure Powershell, we can manage Event Hubs by adding the Service Bus dll and using the management libraries from there.

We already have service bus namespace support, but can support for creating and managing event hubs be added to the xplat cli?

[2015-08-16 04:06] yugangw-msft commented on #2023
@andyzhangx It works for me, what error did you get?

![image](https://cloud.githubusercontent.com/assets/6014209/9291933/7d67468c-4391-11e5-9321-b8a9a2cd16f9.png)

[2015-08-16 04:15] yugangw-msft commented on #2023
@andyzhangx, also the output you mentioned early on only contains a warning, and the last line appeared the azure-cli was installed. Have you tried to run the "azure" and see it works or not.
The warning itself is known, and it has been there for long while, as far as i can remember. We can clarify that separately.

[2015-08-16 16:45] devigned commented on #2034
@djrosanova ideas?

[2015-08-17 01:56] andyzhangx commented on #2023
the following installation method seems to be working now:
 sudo apt-get install nodejs-legacy
 sudo apt-get install npm
 sudo npm install -g azure-cli

[2015-08-17 08:38] bingosummer opened #2036 "Failed to login with an co-administrator account"
I created a Microsoft account (outlook.com) and set it as a co-administrator in Azure Portal.
But when I login CLI, it failed with the following error.
+ Authenticating...
error:   Server returned error in RSTR - ErrorCode: NONE : FaultMessage: NONE
info:    Error information has been recorded to /home/azureuser/.azure/azure.err
error:   login command failed

What should I do to fix it? Thanks

[2015-08-17 08:40] bingosummer commented on #2036
And I can login using Powershell with the same account.

[2015-08-17 08:54] devigned commented on #2036
You can only login to Azure CLI with service principals or Azure Active Directory organizational accounts (only in non-multi-factor auth domains). See #1986

[2015-08-17 08:54] #2036 closed

[2015-08-17 09:22] bingosummer commented on #2036
As a service administrator, I created an Azure Active Directory, and added a user with an existing Microsoft account. And it did not work for Azure CLI login.
So, what I should do is to create a new user in my organization, right? Just like XXX@XXX.onmicrosoft.com?
But I can't add XXX@XXX.onmicrosoft.com as a co-administrator because "The co-administrator must be a Microsoft account, or a user in

[2015-08-17 12:44] romangromov commented on #2019
@jtuliani @greenmang0 thank you, will fix

[2015-08-17 12:48] romangromov commented on #2013
@AndreyVavilov thanks, fix merged into `dev` branch

[2015-08-17 15:51] #2023 closed

[2015-08-17 16:07] yugangw-msft commented on #2036
Please refer to  #1948 with details for you to configure a user and be able to use cli

[2015-08-17 19:04] #2019 closed

[2015-08-17 19:04] #2027 closed

[2015-08-17 19:04] #2030 closed

[2015-08-17 20:27] matthewdavis commented on #1884
Same issue using the azure docker container.

root@b76b73eae8fc:/tmp# azure -v
0.9.6

Mon Aug 17 2015 20:24:13 GMT+0000 (UTC):
[Error: write after end]
Error: write after end
    at ClientRequest.OutgoingMessage.write (_http_outgoing.js:413:15)
    at Request.write (/usr/lib/node_modules/azure-cli/node_modules/request/request.js:1208:25)
    at EventEmitter.<anonymous> (/usr/lib/node_modules/azure

[2015-08-18 01:17] bingosummer commented on #2036
@yugangw-msft Thanks. I have followed the steps in #1948, but the new user (XXX@XXX.onmicrosoft.com ) I created is not in the Microsoft (microsoft.onmicrosoft.com) directory, ant it is also not a Microsoft account. So what should I do to set XXX@XXX.onmicrosoft.com as a co-administrator? Should I link it to a subscription? How?
Thanks again.

[2015-08-18 08:19] yaxia commented on #2029
@greenmang0 The account name is marked as <name> which means a mandatory parameter without an option name. Besides, storage account names must be between 3 and 24 characters in length and may contain numbers and lower-case letters only. Would you please try:
[code]

For the "-l, --location" issue, I will fix it in a later release.

[2015-08-18 09:59] romangromov opened #2040 "Getting "The server failed to authenticate the request" after login as service principal in ASM"
Hi there,

I've configured a web Application inside my Active Directory via Management Portal and now able to login with `azure login --service-principal` command. Also, I've granted rights for this application to  `Access Azure Service Management (preview)`. CLI works fine in `ARM` mode, but when I try to perform any kind of command in `ASM` mode I'm always getting this error:

[code]

Also I was

[2015-08-18 11:58] MikhailTryakhov commented on #1935
Hi,
but what should we do with login problems via ASM?
I have the same 400 error trying to use ```azure login``` in ASM mode. Service principal didn't gelp too,
the error sending request is
"D:\Projects\azure-xplat-cli>azure network vnet create testAsmVnet -l "West US"
info:    Executing command network vnet create
info:    Using default address space start IP: 10.0.0.0
info:    Using default addr

[2015-08-18 15:36] yugangw-msft commented on #2040
Service principal's permission granted through RBAC only works  on ARM. It doesn't work on ASM, which requires co-admin.

[2015-08-18 18:26] SyntaxC4 commented on #1948
I followed these steps and things still didn't work. Luckily I was able to chat with @devigned and work ou the issue I was having which I am leaving here to unblock anyone else that runs into this issue.

It seems that if you have imported your accounts using `azure account download` before adding an organizational account as mentioned in the [steps](https://github.com/Azure/azure-xplat-cli/issues

[2015-08-18 18:34] markcowl commented on #2040
@romangromov So, the best thing to do would be to use separate credentials for each mode - you can use ```azure account download``` and  ```azure account import`` to download a cert for use with asm mode, and you can use service principal authentication using appid and secret in arm mode.

[2015-08-18 18:37] #2040 closed

[2015-08-18 18:59] romangromov commented on #2040
@markcowl thank you so much, works fine now!

[2015-08-18 19:29] #2029 closed

[2015-08-18 20:10] markcowl commented on #2016
@bingosummer Thanks for the report, we will take a look

[2015-08-18 23:08] yugangw-msft commented on #2016
This is not related with azure-cli because the error surfaces on downloading the package.
I would suggest either retry, or upgrade the npm version. The version being used is 1.3.10 which is rather old.
Anyway, this is the bug which should be reported to npm.

[2015-08-18 23:31] yugangw-msft commented on #2036
@bingosummer
The walk-through doesn't require be in the microsoft's org. Did you try the step 4 and did it work for you or not? I have tried using my personal subscription, and it worked.
  "From the Azure portal, select Settings and then select Administrators. Select Add, and add the new user as a co-administrator. This allows the work or school account to manage your Azure subscription."

[2015-08-19 11:25] greenmang0 commented on #2029
@yaxia , what do you mean by `The account name is marked as which means a mandatory parameter without an option name.` ?

I understand that `storage account name` doesn't accept `-` as mentioned earlier, (edited above in issue def) but every other `azure` command accepts  `-n` for the `resource name`, so was expecting the same from this command as well. This is just for the consistency purpose. Yo

[2015-08-19 12:38] yaxia commented on #2029
@greenmang0 Sorry, the text \<name\> was hidden because of the Markdown syntax. I've modified the reply.

For the consistency, we may fix it in a later release. Thanks for your suggestion.

[2015-08-19 15:08] rylev commented on #1935
For reference, I was able to get around this issue by using the publish settings file - https://github.com/Azure/azure-xplat-cli#use-publish-settings-file-management-certificate-authentication

[2015-08-19 16:00] rylev commented on #1935
Just realized the above doesn't work with arm mode. Shame.

[2015-08-19 21:54] mschwa opened #2046 "List just the vm images for you account?"
Maybe there's already a command for this, but when I try to run...

azure vm image list -s <my subscription id>

I get the full list of images available, and not just my own.

[2015-08-19 22:11] mschwa commented on #2046
From my limited understanding of JavaScript, it looks like in /blob/dev/lib/commands/asm/iaas/image.js
line 179 is being hit and all images are sent back to the client. The options.subscription is seemingly being accepted as an argument, but it doesn't look like it's ever being used?

[2015-08-20 07:13] mkliu opened #2047 "Access denied to the specified API version"
This happens to multiple operations, such as creating key vault, listing AD service principals. The error is

[code]

I'm on tool version 0.9.7. Login via service principal coz 2FA isn't supported here.

[2015-08-20 18:24] amarzavery commented on #2046
@mschwa - ```azure vm image list``` will hit the gallery and show the available images.
For listing the vms that you created in your subscription you can execute
```azure vm list```

[2015-08-20 18:29] amarzavery commented on #2047
@mkliu - Can you execute ```azure account clear -q``` and login again as a service principal.
- After logging in as an SP, if you execute ```azure account list``` do you see the list of subscriptions associated with this SP?
- Does a simple command like ```azure group list``` work. Note you need to be in ARM mode to execute this command. (```azure config mode arm```).

[2015-08-20 20:52] mkliu commented on #2047
@amarzavery i tried again on a clean computer, still the same thing.
azure account list works, and azure group list works too.

[2015-08-21 02:17] ahmetalpbalkan commented on #1979
@gangsir any ETAs for the next release or the fix?

[2015-08-21 02:33] ahmetalpbalkan opened #2048 "Cross-account `storage blob copy start` fails with authentication error"
The following AzCopy command **works** when I copy a public blob from some storage account into my storage:

However the following command **fails**:

[code]

I verified with `echo $AZURE_STORAGE_ACCESS_KEY` that there are no problems with the string escaping etc. Looks like a bug to me.

[2015-08-21 06:35] mkliu opened #2049 "--json should return strictly json format outputs.."
I guess the reason why we have this is to enable automation. However there are many commands which doesn't return json formatted strings and could completely break automation flow.

For example, when i create a new resource group, it returns a weird format output with a bunch of strings. I don't even need the output to make sense, but I need it to be properly formatted

[2015-08-21 07:05] ahmetalpbalkan opened #2050 "ASM: `azure vm location list` shows only a little information"
The API response actually returns a lot of valuable info (such as which VM sizes or storage types available) to the client, but the client doesn't show any of it... I was trying to look up which VM sizes are available where (I don't know where else to go) and I'm guessing not many users are aware of `--json` parameter and they will be missing out here...

![image](https://cloud.githubusercontent.c

[2015-08-21 07:22] BastienSemene commented on #1567
Same issue here with a slightly different output message but the cause seems to be the same.
Executed on Linux.
[code]

[2015-08-21 08:18] mkliu commented on #2049
same issue with those which does return json, the format isn't right. For example when i do azure group deploy --json, I want to look at the output variables from my deployment, but the outputted string is really hard to parse

[2015-08-21 12:06] romangromov opened #2051 "ARM: can't access 'Microsoft.Network/locations/operations/read' after login as --service-principal"
Hello again,

I'm using ` --service-principal` to login into ARM. Also, I've assign  an `Owner`, `Reader`, `Network Contributor` and `Virtual Machines Contributor` roles for my application, so I'm able to list/show resources in ARM. But when I try to `create/set/delete` something I'm getting error, please see repro steps below:

**Step 1**: list all vnet, works fine
[code]

**Step 2**: create new

[2015-08-21 15:40] MartynJones87 opened #2052 "ASM: Add slot to existing site. Error: Invalid Location"
I'm using version 0.9.7 of the CLI on Windows 10 Pro  and attempting to add a new slot to an existing site. When trying to use the following command:

`azure site create existingSite --slot staging`

Instead of adding the slot to the existing site, the command fails with an Error: Invalid Location.

The following is output to the console:
[code]

The azure.err file contains the following contents:

[2015-08-21 17:10] mschwa commented on #2046
I'm not looking for a list of my VM's I'm looking for a list of my VM Images. Is this available?

I selected a couple images from the VM depot a while back and Azure had a couple of blob storage accounts create for the images. I can see them listed in the regular Portal (Virtual Machines -> Images) but they don't display in the Preview Portal. I haven't yet created any VMs for these images; I was

[2015-08-23 01:27] gangsir commented on #1979
@ahmetalpbalkan sorry for late reply. Did you double check that you have an environment variable set correctly?

[2015-08-23 02:19] ahmetalpbalkan commented on #1979
@gangsir thanks, realized I had an extra `"` in my connection string and instead of erroring out, it was defaulting to Azure PROD realm. It works now.

[2015-08-24 09:44] romangromov commented on #2002
@infosatheesh2020 can't repro this issue, the `Asterisk` for `--source-port-range` works fine for me

[2015-08-24 15:36] keymon commented on #1990
+1

[2015-08-24 16:15] yugangw-msft commented on #2049
@mkliu
yes "--json" is for automation and not formatted to let human read. Any reason you can't use the non json option?

[2015-08-24 17:13] mkliu commented on #2049
@yugangw-msft I want to use it for automation. But the returned value isn't really json. For example, creating a new ARM deploy returns something like this:

Am I supposed to break down each new line and analyze myself?

[code]

[2015-08-24 23:17] infosatheesh2020 commented on #2002
@romangromov , Atleast it is reproduceable for me in 0.9.7

[test@bigboy scripts]$ azure network nsg rule create --nsg-name AdminNet_NSG --name "ALLOW VNET OUTBOUND" --protocol * --source-address-prefix "VIRTUAL_NETWORK" --destination-address-prefix "VIRTUAL_NETWORK" --destination-port-range * --action Allow --priority 900 --type Outbound
info:    Executing command network nsg rule create
error:

[2015-08-25 10:43] sreekanthbs commented on #2002
@infosatheesh2020  @romangromov  can't repro this issue. the Asterisk for --source-port-range works fine for me.
![image](https://cloud.githubusercontent.com/assets/11171941/9464736/fa7a60fa-4b43-11e5-8a73-4864481fa183.png)

[2015-08-25 10:55] romangromov commented on #2002
@sreekanthbswe need to verify on Mac/Linux as well, looks like it's environment related issue

[2015-08-25 11:36] sreekanthbs commented on #2002
@romangromov yes in linux the issue is reproducible

![image](https://cloud.githubusercontent.com/assets/11171941/9465604/9b540ef2-4b4b-11e5-8b32-0d47c4bce5c8.png)

[2015-08-25 13:37] romangromov commented on #2002
@sreekanthbs thanks, please verify fix in our repo

[2015-08-25 16:05] mraber opened #2062 "ASM: 'azure site set' : cannot select Java version"
It's not possible to enable Java with Tomcat or Jetty for a webapp (website).

CLI version : 0.9.7

[2015-08-26 10:19] sreekanthbs commented on #2002
@romangromov its working for me for all the below cases :
--source-port-range \* or
--source-port-range '*' or
--source-port-range "*"
![p1](https://cloud.githubusercontent.com/assets/11171941/9491073/fd177bba-4c09-11e5-98f0-13d7f17a54b5.png)
![p2](https://cloud.githubusercontent.com/assets/11171941/9491074/fd323446-4c09-11e5-8b68-ef6663d90794.png)

[2015-08-26 10:22] romangromov commented on #2002
Thank you @sreekanthbs.

Hi @infosatheesh2020, we will include fix for reported issue in next release, thank you

[2015-08-28 16:20] ahmetalpbalkan opened #2068 "ARM: Accept only canonical location formats as inputs"
For the location parameters we should only accept the canonical form (`westus`) and be less forgiving to build up a user behavior.

Opening an issue per internal email thread. @devigned

[2015-08-28 18:33] devigned commented on #2068
Thank you, kind sir.

We should definitely warn people that are using locations formatted outside of the canonical format. That is, if a command is executed with "West US" rather than "westus" we should warn. Some services accept either, but other are less forgiving.

[2015-08-28 18:36] ahmetalpbalkan commented on #2068
@devigned I was actually reading rpcapi spec yesterday and spec explicitly says all RPs must handle "west us", "westus", "West US" in inputs but in the responses proxied through CSM, RPs are supposed to tell location of the resources as well, but the spec doesn't make it clear if they should respond with any particular format or anything is fine... Looks like an irreversible mistake but anyways, a

[2015-08-28 21:54] szarkos commented on #1784
@jcollie, sorry for responding so late.  Can you please tell me what distribution you are using, and also the version of qemu-img and CLI tools you have?  I would like to narrow down this issue.

I tried to repro using the same Fedora image you tested above, however I could not reproduce the issue.  The resize worked as expected and I was able to create an image from the resulting VHD.  In my case

[2015-08-29 21:25] ahmetalpbalkan commented on #2046
@mschwa looks like you're running in asm mode. For instance I have this image on my account:

![image](https://cloud.githubusercontent.com/assets/159209/9564363/9e14933a-4e59-11e5-9991-098e96afcf87.png)

and it comes up in the `azure vm image list` (see the last line)

if you have multiple subscriptions and the image is in a subscription that's not the currently picked one you might need to `azure

[2015-08-30 22:41] aarsan opened #2070 "Passing in JSON as inline parameter does not seem to work."
Using the example from the documentation, using inline parameters from azure cli does not seem to work.

     azure group deployment create -f <PathToTemplate> {"ParameterName":"ParameterValue"} -g ExampleResourceGroup -n ExampleDeployment

I tried this from PowerShell, CMD, and Bash (cygwin). The error I have given is:

    Error converting value "myValue" to type 'Microsoft.WindowsAzure.Resource

[2015-08-31 06:18] ahmetalpbalkan commented on #2070
@aarsan can you please try surrounding the json with single quotes (`'`)? In shells like bash if you do:

[code]

you can see the quotes are gone.

[2015-08-31 10:24] mskutin commented on #2052
0.9.8 the same issue.

[2015-08-31 12:06] aarsan commented on #2070
@ahmetalpbalkan It turns out, the problem wasn't the way I was escaping. Instead of:

    {"ParameterName":"ParameterValue"}
it worked as:

    {"ParameterName":{"value":"ParameterValue"}}

None of the documentation I saw stated it this way.

[2015-08-31 12:06] #2070 closed

[2015-08-31 12:09] aarsan commented on #2070
And in case anyone is wondering, the way I escaped this in PowerShell was like this:

    '{\"ParameterName\":{\"value\":\"ParameterValue\"}}'

[2015-08-31 18:26] ahmetalpbalkan commented on #2070
@aarsan please refer to Deloying Templates documentation Parameters File section here: https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-deploy/#parameter-file

[2015-08-31 19:02] djberg96 commented on #1826
Was wondering about this myself, as I was writing my own wrapper and this was failing. Thanks for the heads up.

[2015-08-31 19:05] ahmetalpbalkan opened #2071 "ARM: --json does not make sense for "azure portal""
[code]

And then I run:

[code]

nothing happens regarding `--json`, I'm not sure how are the users meant to use `--json` here...

[2015-08-31 20:25] ahmetalpbalkan commented on #2048
Any acks/updates?

[2015-08-31 20:50] yugangw-msft commented on #2048
@yaxia, could you please take a look

[2015-08-31 21:01] yugangw-msft commented on #2071
The "--json" flag should not be here because this command doesn't emit out any valid data.
A bug.

[2015-08-31 21:21] ahmetalpbalkan commented on #1815
Any comments?

[2015-08-31 21:21] ahmetalpbalkan commented on #1939
Any comments?

[2015-08-31 21:21] ahmetalpbalkan commented on #2050
Any comments?

[2015-08-31 21:21] ahmetalpbalkan commented on #1760
Any updates?

[2015-08-31 22:27] ahmetalpbalkan commented on #1961
Let's do this, this'll be a very cool feature, I promise. I've been postponing giving certain talks just b/c this feature is missing.

[2015-09-01 00:24] aarsan commented on #2051
I am getting a similar error (probably related). I am trying to create public IPs (among other resources) using my service-principal account and get the following error:

    The client 'xxx-xxx-xxx' with object id 'xxx-xxx-xxx' does not have authorization to perform action 'Microsoft.Network/locations/operations/read' over scope '/subscriptions/xxx-xxx-xxx'

[2015-09-01 01:08] devigned commented on #1815
You make a great point, @ahmetalpbalkan. It should definitely fail unless quieted or forced.

[2015-09-01 02:13] yaxia commented on #2048
@ahmetalpbalkan , I cannot reproduce the issue at my side. Just share some findings from you command:
* The destination container name "snappy-test" was in both --soruce-uri and --dest-container. Though it won't impact as it will be override by the --dest-container option, let's try to remove it.
* In AzCopy, the source blob was snappy-20150818-os-2015-08-18.vhd while in xplat you were trying copy

[2015-09-01 02:19] ahmetalpbalkan commented on #1815
I doubt if quiet means ignoring error. For that unix tools do `-f` (like rm -rf doesnt fail if file doesnt exist).

[2015-09-01 05:05] ahmetalpbalkan commented on #2048
@yaxia In AzCopy that was the `/Pattern` so that was matching the blob name somehow. But the actual blob name is `liz-` so the xplat example is correct.  Also the blob is public.

Sending you email about the `-vv` output as it contains secrets.

[2015-09-01 07:50] BastienSemene commented on #1791
+1 for supporting reserved-ip assignment for existing resources.

[2015-09-01 11:31] infosatheesh2020 commented on #2002
@romangromov, will this fix in next release includes fix for /32 CIDR ranges in NSG? because Both needs to be fixed so that end user can really use it. until then people really can't use CLI for managing all their needs in NSG

[2015-09-01 13:13] jameshowe commented on #1961
+1 This would really help in scenarios where you need to some post processing e.g. update a config file with a connection string.

[2015-09-01 18:46] ahmetalpbalkan opened #2074 "azure portal --environment can be automatically inferred."
I only have accounts from AzureChina environment and I'm signed in to them. Based on that the CLI probably can determine the `-e AzureChina` argument and user can omit this parameter in the `azure portal` command for convenience...

It makes sense to have `-e` if the user is not logged in, but if they are it's just inconvenient (and users are logged in, most of the time?).

[2015-09-02 02:50] yugangw-msft commented on #2016
closing. feel free to reactivate with more information

[2015-09-02 02:50] #2016 closed

[2015-09-02 06:52] simathur opened #2076 "No way to set/unset IPForwarding flag in a running VM"
There is no way to do the following using the CLI:

"Get-AzureVM -Name <MyVM> -ServiceName <MyVMServiceName> ` | Set-AzureIPForwarding -Enable"

This is for VMs that are to be used as a NAT. The CLI should be able to fix the property on already configured VMs, not just new ones.

[2015-09-03 03:19] yugangw-msft commented on #2074
@ahmetalpbalkan Agreed, if the "env" is missing, we should load the one associated with the current account/subscription.

[2015-09-03 14:11] aarsan commented on #2051
I resolved this by using the GUI (web portal) and giving my service principal full rights at the subscription level. For some reason, no matter what rights I gave it from within PowerShell didn't work.

[2015-09-04 08:15] romangromov commented on #1935
FYI: 2FA now supported in ARM

[2015-09-04 12:51] romangromov commented on #2002
Hi @infosatheesh2020, please get latest Xplat-CLI `v0.9.9`, this issue should be fixed, please let me know, thanks in advance

[2015-09-04 13:19] romangromov commented on #1990
@infosatheesh2020 can you please show me an example cmdlet you are using in `azure powershell` to work with `xx.xx.xx.xx/32` ? Thanks in advance

[2015-09-04 13:24] infosatheesh2020 commented on #1990
@romangromov The below command works with powershell
Get-AzureNetworkSecurityGroup -Name PerftestNSG | Set-AzureNetworkSecurityRule -Name AllowBastionInbound-1-P-any -Type Inbound -Priority 1010 -Action Allow -SourceAddressPrefix 191.205.141.6/32 -SourcePortRange * -DestinationAddressPrefix * -DestinationPortRange * -Protocol TCP

[2015-09-04 13:27] infosatheesh2020 commented on #2002
@romangromov nice to hear. Since v0.9.9 is not available in npm, i tried

git clone https://github.com/Azure/azure-xplat-cli.git
cd ./azure-xplat-cli
npm install

But still its showing v0.9.8. Do I need to wait until release..

[2015-09-04 13:31] infosatheesh2020 commented on #1935
@romangromov Is this feature available in v0.9.9?

[2015-09-04 14:02] romangromov commented on #2002
@infosatheesh2020 please switch branch with `git checkout release-0.9.9`

[2015-09-04 15:10] infosatheesh2020 commented on #2002
Am I missing something?
[samanoha@bigboy azure-xplat-cli]$ git branch
  dev
* release-0.9.9
[samanoha@bigboy azure-xplat-cli]$ git pull -r
Current branch release-0.9.9 is up to date.
[samanoha@bigboy azure-xplat-cli]$ npm install
npm WARN package.json eyes@0.1.8 No repository field.
npm WARN package.json node-uuid@1.2.0 No repository field.
npm WARN package.json swagger-schema-official@2.0.0-a3309

[2015-09-04 15:29] romangromov commented on #2002
please run `git checkout release-0.9.9`. Also note: issue with types `INTERNET, VIRTUAL_NETWORK, AZURE_LOADBALANCER` still exist, I'm working on fix now, will post update here

[2015-09-04 15:34] yugangw-msft commented on #1935
Yes, it will be available in v0.9.9

[2015-09-04 15:42] infosatheesh2020 commented on #2002
@romangromov i'm not able to get it through :) No issues, I can wait until npm package is available.

[samanoha@bigboy azure-xplat-cli]$ git checkout release-0.9.9
Already on 'release-0.9.9'
Your branch is up-to-date with 'origin/release-0.9.9'.

[samanoha@bigboy azure-xplat-cli]$ npm install
npm WARN package.json eyes@0.1.8 No repository field.
npm WARN package.json node-uuid@1.2.0 No repository

[2015-09-04 15:51] infosatheesh2020 commented on #1935
Thanks :+1:

[2015-09-04 17:49] andrewconnell opened #2081 "Unable to login with OrgID"
I've been able to get to my resources by downloading a publishing profile, but to work with AzureAD I keep getting the TenantID is undefined error which I can see from `azure account list`.

However when I try to login using my OrgId (which works when I login via either web portal), I get an error about having to reauth because my credentials are expired. The details say the entry isn't fond in ca

[2015-09-04 18:23] yugangw-msft commented on #2081
@andrewconnell, log-in to a web portal doesn't require an org-id. Would help if you double check whether the "me@andrewconnell.com" is a user in the default tenant of your subscriptions
At the same time, if it is an org-id, in the ongoing azure-cli release (plan to go public sometime next week) we have fixed several issues in the login command.
For now, please do 2 workaround
1. "Azure account cle

[2015-09-04 18:52] andrewconnell commented on #2081
Seems clearing the account fixed it as I can now login using the same OrgID

[2015-09-04 18:52] #2081 closed

[2015-09-07 10:09] sreekanthbs commented on #2002
Hi @romangromov verified  asterisk, INTERNET, VIRTUAL_NETWORK, AZURE_LOADBALANCER are supported for prefixes as well as CIDR format.
root@DndLinuxVM:/home/azureuser/azure-xplat-cli-dev-asm-nsg-fixes# node bin/azure network nsg rule list TESTNSG7SEP
info:    Executing command network nsg rule list
+ Looking up the network security group "TESTNSG7SEP"
data:    Name                               Sour

[2015-09-07 10:11] romangromov commented on #2002
@sreekanthbs nice to hear, thank you!

[2015-09-07 10:25] infosatheesh2020 commented on #1935
@romangromov, I tried authenticating with 2FA. Below steps are followed.

[samanoha@bigboy azure-xplat-cli]$ node bin/azure login -u samanoha@mds.microsoft.com -p xxxxxxx
info:    Executing command login
\info:    Looks like you have Multi-factor authentication enabled. Try again...
\info:    To sign in, use a web browser to open the page http://aka.ms/devicelogin. Enter the code CBTTZGT52 to auth

[2015-09-08 07:04] 5kg commented on #1884
Same here, any updates?

Thanks!

[2015-09-08 13:13] danielschonfeld commented on #1988
+1 well needed!

[2015-09-08 22:25] yugangw-msft commented on #1935
@infosatheesh2020, could you please paste the "azure.err"' content here, or send to me at yugangw at microsoft dot com. Would be great if you could set env variable of "AZURE_ADAL_LOGGING_ENABLED" to '1', run the command, and capture the verbose log as well (Just remember to remove your credential captured in the log). We can take a look before pass over to the Azure AD team.
I assume it repro's t

[2015-09-09 01:34] keturn opened #2084 "progress indicator on `vm disk create`"
The VHD we're using with `vm disk create` is big enough that it'll take at least an hour to upload, in ideal bandwidth conditions. I'd love to have some sort of progress indicator to get a sense of if it is going to complete in a reasonable timeframe or if I'll need to set it up somewhere I can leave it overnight.

[2015-09-09 01:43] keturn opened #2085 "resume from interrupted upload on `vm disk create`"
A `vm disk create` task was interrupted with ECONNRESET. It'd be great if it were able to pick up where it left off. There's no indication in the UI of whether it's doing this or not; the web view of Storage shows the entire image size allocated; the command line doesn't make any mention of a previous upload attempt for this VHD, nor does it complain that there was already something by that name.

[2015-09-09 02:44] bingosummer opened #2086 "Can not create a ARM template using Azure CLI"
When I create a template (101-simple-linux-vm) using Azure CLI;
azure group create -n "xxx" -l "xxx" -d "xxx" -f azuredeploy.json -e azuredeploy.parameters.json
I got:
error: The request content was invalid and could not be deserialized: 'Error converting value "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#" to type 'Microsoft.WindowsAzure.ResourceStack.Frontdoor

[2015-09-09 15:06] sreekanthbs opened #2087 "ARM VM create with --image-name option not working"
ARM VM create with --image-name option from Installer 0.9.9 giving error <b>Cannot specify user image overrides for a disk already defined in a platform image.</b>
<pre>
<code>
root@DndLinuxVM:~# azure vm create armresgrp291M armvm12 eastus Windows -q 3a50f22b388a4ff7ab41029918570fa6__Windows-Server-2012-Essentials-20141204-enus -f nicsouth12 -u azureuser -p Brillio@2015 -i publicsouth12 -w public

[2015-09-09 17:10] shalupov opened #2088 ""sql server create" does not support specifying server name"
"azure sql server create --help" doesn't mention new server's name.
This option is available in Azure Web UI.

[2015-09-09 17:39] shalupov opened #2089 ""sql server create" does not support specifying firewall rules"
"azure sql server create --help" doesn't mention firewall rules.

[2015-09-09 17:50] shalupov opened #2090 ""sql db list" fails on V12 sql servers"
STR:
- Create SQL server via "sql server create"
- Check "sql db list" works on it
- Upgraded SQL server in Azure portal to V12
- "sql db list" fails with "HTTP Error 503. The service is unavailable"

[2015-09-09 18:30] nmackenzie commented on #2068
I would argue that it is not at all well known that there is a canonical format. For example, the output of azure vm location list is the full name of the region NOT the canonical format.

[2015-09-09 18:33] ahmetalpbalkan commented on #2068
@nmackenzie it has its own problems :-) currently it actually lists the wrong info https://github.com/Azure/azure-xplat-cli/issues/2050

Going forward that should be fixed and we can change  "location list" to show the canonical name primarily. I don't think that'd be a showstopper, this is just a first step.

[2015-09-09 18:34] ahmetalpbalkan commented on #2050
Updates? I feel like this is somewhat important and simple to fix.

[2015-09-09 18:42] squillace opened #2091 "Usability issues: azure usage list (0.9.8; mac) sports options using brackets, but requires (yet does not prompt)"
Azure usage list --help indicates (with brackets, which typically signal _optional_ usage) that reportedStartTime and reportedEndTime are optional. Then if not specified, instead of prompting for the values (as do other commands like vm quick-create and group deployment create with templates) just fails you out, forcing you to retype the entire command when it could just prompt you for the TWO val

[2015-09-09 18:43] squillace commented on #2091
@devigned @kmouss

[2015-09-09 22:57] keturn commented on #2084
Oh, I see a progress indicator now. I didn't the other day. Does it only show up at certain verbosity levels? Is there a difference between OS X and Linux?

[2015-09-09 23:34] squillace commented on #1826
tagging it to get notified when it drops. Thanks!

[2015-09-10 02:26] bingosummer commented on #2086
Same issue in azure-quickstart-templates repo.
https://github.com/Azure/azure-quickstart-templates/issues/584

Feel free to close this issue after you fix the bug.

[2015-09-10 14:31] shalupov commented on #2089
Sorry, somehow missed "sql firewallrule" command

[2015-09-10 14:31] #2089 closed

[2015-09-11 05:15] ahmetalpbalkan commented on #1961
I realized this is now fixed. And looks very cool. Thank you all.

![image](https://cloud.githubusercontent.com/assets/159209/9807542/6c224b7e-5809-11e5-9f85-a829b1d4feb7.png)

[2015-09-11 05:15] #1961 closed

[2015-09-11 05:40] ahmetalpbalkan opened #2094 "ARM: Template deployment output values rendered differently for objects"
If the ARM templates have an output that is of type `object` the portal UI renders them as:

![image](https://cloud.githubusercontent.com/assets/159209/9807771/e5c4f99c-580c-11e5-8cff-62f3ca795301.png)

which is okay, but CLI just does this:

![image](https://cloud.githubusercontent.com/assets/159209/9807774/eb65d3e4-580c-11e5-9c8c-4b0b33d22fe9.png)

Should be a rather small fix to convert it back

[2015-09-12 21:26] coderangerdan opened #2099 "SQL Database E"

[2015-09-13 03:45] devigned commented on #2091
@Matt-Westphal thoughts?

[2015-09-13 03:52] devigned commented on #2046
@mschwa did @ahmetalpbalkan 's suggestion work out for you?

[2015-09-13 19:10] ArneCoder commented on #1786
Thanks will check it out the next days!

[2015-09-14 15:49] jameshowe opened #2100 "Remove old web app settings if they are no longer part of the ARM template"
New web app settings are added when deployed as part of an ARM template, however, if settings are removed they are not removed from the web app.

Would be nice if this happened as part of the template deployment.

[2015-09-14 23:40] TGVarik commented on #1794
I have a similar issue:

[code]

Here's `azure.err`:

[code]

[2015-09-15 05:38] gkgupta opened #2102 "Fresh installation of latest version of Azure-CLI breaks"
I was doing setup on a new machine and installed latest azure-cli:
sudo npm install azure-cli -g

And it is giving error while executing:

[code]

[2015-09-15 05:46] gkgupta commented on #2102
Error details

[code]

[2015-09-15 07:02] ChoOo7 commented on #2102
I have the same issue.
Do you have any workaround ?

[2015-09-15 07:40] AbelHu opened #2103 "0.9.9: Cannot call method 'substr' of null"
I installed 0.9.9 in Ubuntu 14.04.2 LTS. I always get an error 'Cannot call method 'substr' of null' when using 'azure storage blob' commands.

command:
azure storage blob show --container CONTAINER-NAME -a STORAGE-ACCOUNT -k STORAGE-KEY

Error:
info:    Executing command storage blob show
error:   Cannot call method 'substr' of null
info:    Error information has been recorded to /home/MYACCOUNT/

[2015-09-15 07:45] yugangw-msft commented on #2102
@yaxia please investigate. #2103 is the same issue

[2015-09-15 07:46] yugangw-msft commented on #2103
@yaxia , please investigate with #2102

[2015-09-15 08:02] ChoOo7 commented on #2102
Tested with node 0.10.25 and 0.12.0
from a fresh
git clone https://github.com/Azure/azure-xplat-cli.git

Still have the issue

[2015-09-15 09:14] yaxia commented on #2102
I am sorry that it's an issue in the code. Passing the connection string with the service endpoint (e.g. -c 'DefaultEndpointsProtocol=https;BlobEndpoint=https://<account_name>.blob.core.windows.net/;AccountName=<account_name>;AccountKey=<account_key>') or call "azure login" before storage commands can work around the issue.

[2015-09-15 09:23] yaxia commented on #2103
Please check the work around: https://github.com/Azure/azure-xplat-cli/issues/2102#issuecomment-140333586

[2015-09-16 16:33] Matt-Westphal commented on #2091
thanks for the info.  I'll take a look at this as soon as a can.

[2015-09-16 21:40] ahmetalpbalkan opened #2105 "Discrepancy between portal and `azure resource list` behavior on deleting resource groups"
I have a resource group that's **currently under deletion** process, yet I can still see the resources on the portal:

![image](https://cloud.githubusercontent.com/assets/159209/9919298/c5ec6164-5c80-11e5-8278-c18baeedc79a.png)

However if I try to do the same from the CLI I get a not found error:
![image](https://cloud.githubusercontent.com/assets/159209/9919307/cfc8c6e6-5c80-11e5-9468-814c5542ce

[2015-09-17 07:47] yugangw-msft commented on #2103
fixed

[2015-09-17 07:47] #2103 closed

[2015-09-17 07:48] yugangw-msft commented on #2102
fixed

[2015-09-17 07:48] #2102 closed

[2015-09-17 08:26] romangromov commented on #2013
@yugangw-msft fix was merged to latest release, hence can we close this issue?

[2015-09-17 08:28] yugangw-msft commented on #2013
certainly.

[2015-09-17 08:28] #2013 closed

[2015-09-18 06:15] gkgupta commented on #2102
This is still breaking when I do a fresh install via npm. And even when I do a fresh install of an older version like 0.9.7 or 0.9.8. My application uses this extensively and we have automated deployment setup which installs nodejs and azure-cli and invokes the same via shell scripts.
So can you please release this fix as well.

[2015-09-18 06:21] devigned commented on #2102
@gkgupta can you try with `npm install github:azure/azure-xplat-cli#a2de47095`? I don't think this fix has hit npm yet.

[2015-09-18 12:40] benjguin commented on #1742
I encountered the issue on v0.9.9 too

[2015-09-18 16:27] joshgav opened #2111 "Create and manage App Service Plans"
There doesn't seem to be a way to create a new App Service Plan (aka ServerFarm) from the CLI.
In fact, there doesn't seem to be a way to create a new App Service Plan from the portal either without creating a *App.

As a result, I can't create a new webapp entirely from the CLI.

Can you add that ability?

[2015-09-18 19:45] sjkp opened #2112 "Comments in arm templates makes the template invalid"
If an ARM template contains comments (//) with containing / the template deployment will fail.

I have a ARM template that looks like this:
[code]
When i try to deploy it with:
azure group create -n website -l westeurope -f website.json -e website.param.dev.json -d website

I get the following error
info:    Executing command group create
+ Getting resource group sjkpwebsite
+ Updating resource gr

[2015-09-18 20:45] ahmetalpbalkan opened #2113 "ARM: `azure vm image list` prompts for publisher"
Hello, I'm new to Azure and I don't know the publishers you folks have. I just want to list all the VM images you got and  pick from there:

[code]

but this command does not let me do that by prompting me for publisher name. Why? @devigned @yugangw-msft

[2015-09-18 20:46] ahmetalpbalkan opened #2114 "ARM: weird error message in prompt for missing parameters"
empty publisher (just hit return)

[code]

The error is vague, you shouldn't give this to the user...

What's more interesting is I also hit return for location parameter, it prompts again, but not for publisher:

[code]

I'm guessing there parameters are not systematically validated in a central utility...

[2015-09-18 20:57] ahmetalpbalkan opened #2116 "ARM: `azure vm docker create` experience broken with toString error"
[code]

@ruslangabitov can you please take a look?

error:

[code]

[2015-09-18 21:06] ruslangabitov commented on #2116
@ahmetalpbalkan sure

[2015-09-18 21:06] ahmetalpbalkan opened #2117 "ARM: `azure usage list` date formats for parameters not documented"
[code]

right now I have no clue what `reportedStartTime` and `reportedEndTime` should look like. As a Linux person, I'll go with Unix epoch:

[code]

Well that didn't work... So the time format is not valid. What's the correct one? We have a ton of these formats... Please document this.

[2015-09-18 21:07] ahmetalpbalkan opened #2118 "ARM: `azure ad` branding of "Active Directory""
I wonder since when "active directory" is all lowercase. :)

![image](https://cloud.githubusercontent.com/assets/159209/9971156/975a48ea-5e0e-11e5-82aa-20a5851ae3dc.png)

[2015-09-18 21:18] ahmetalpbalkan opened #2119 "ASM: `azure vm docker create` DockerExtension not getting added to the VM"
cc: @ruslangabitov can you please take a look:

This is the ASM mode. I created a VM with `azure vm docker create` command 10 minutes ago but the DockerExtension still didn't make it to the VM according to `/var/log/waagent.log`... I doubt if the infra is broken because ARM templates are working just fine.

I created the VM with command:

    azure vm docker create ahmetb-exttest b39f27a8b8c64d52b

[2015-09-18 21:27] ahmetalpbalkan opened #2120 "`azure storage account create` early validation for taken names"
Small improvement tip:

`azure storage account create` already prompts user for values, but it first prompts for "account name" which might be taken and then asks for 2 more questions, then if it's taken finally fails.

You got three options here:

1. Move `name` prompt to the end.
2. Validate availability of `name` just after prompting for it.
3. If user is already in prompt mode and account name

[2015-09-18 21:35] squillace opened #2121 "azure vm docker create fails to understand the resource group parameter (arm mode)"
When using 0.9.9 in ARM mode, passing the resourcegroup parameter fails, though the group exists and the arguments are to spec with the docs. Repro machine, macbookpro 2015, azure-cli 0.9.9.

[code]

@ahmetalpbalkan @ruslangabitov

[2015-09-18 22:39] ahmetalpbalkan opened #2122 "ARM: typo in `azure vm quick-create`"
![image](https://cloud.githubusercontent.com/assets/159209/9972644/72a6859c-5e1b-11e5-90df-8111715e8679.png)

"An NIC"

[2015-09-18 22:45] ahmetalpbalkan opened #2123 "ARM: `azure vm quick-create` interesting naming of resources"
Just used `azure vm quick-create` and created a VM in `westus`.

![image](https://cloud.githubusercontent.com/assets/159209/9972679/058f510e-5e1c-11e5-885a-ed8364ac3abc.png)

2 questions that crossed my mind:

* Why is it `westu`? Can't we have `westus`?
* Instead of `-pip` can't we do `-public-ip`? I was confused what that is until I clicked on it ––even though I know cmd will create vnet/NIC for

[2015-09-18 22:49] ahmetalpbalkan opened #2124 "ARM/ASM: `azure vm extension` argument ordering is a bit weird"
Without looking at --help, take a guess, which one sounds/looks more natural to you:

[code]

or

[code]

If we're still breaking such things, let's fix this pre-1.0.

[2015-09-18 22:57] ahmetalpbalkan opened #2125 "ARM: `azure vm quick-create` maliciously using alphabetically-first subscription"
When I use `azure vm quick-create`, this command picks the alphabetically first Storage Account in the region to store VHDs. This is the same mistake fixed in #1753 for asm...

We don't do this, you never know what a user does on a particular storage account that's not explicitly created by portal. Right now by running this command, I just contaminated a storage account that has nothing to do with

[2015-09-18 23:05] ruslangabitov commented on #2087
Azure SDK team remove support for ASM images in ARM.
You should use --image-urn param.
Fixed here: https://github.com/MSOpenTech/azure-xplat-cli/pull/500

[2015-09-19 02:10] devigned commented on #2113
I know... This something that needs to change.

[2015-09-19 11:42] romangromov commented on #2112
BTW: JSON do not supports comments, please see RFC 4627 for details

[2015-09-19 21:41] ahmetalpbalkan commented on #2121
@ruslangabitov just fyi, looks like you're unassigned by the bot.

[2015-09-20 03:58] devigned commented on #2121
@stankovski why would @ruslangabitov get unassigned by the bot?

[2015-09-20 04:24] stankovski commented on #2121
Not sure, we'll need to take a look at the bot on Monday. Bot should not be making any changes to the issues in GitHub.

[2015-09-20 17:57] sjkp commented on #2112
Fair enough if that is the reason, but then it would be cool, if the error was not just when using the Xplat-CLI. Because the template works fine when using. e.g. powershell.

[2015-09-20 19:14] devigned commented on #2112
If it does work in PowerShell, it's because JSON.Net handles comments, which I would say is less of a feature than a bug. Azure CLI will not support comments, which are outside of the RFC.

Rather, I could see a time when the templates could be in yaml format, which support comments and is much more concise.

[2015-09-20 19:14] #2112 closed

[2015-09-20 19:15] devigned commented on #2125
@singhkay thoughts on this one?

[2015-09-20 19:19] ahmetalpbalkan opened #2126 "ARM: delete for `azure vm quick-create`"
`azure vm quick-create` is really useful to get a VM to try something and play with things, however it provisions multiple resources (IP, NIC, VNET, VM) and after the user is done with the VM, deleting those is _a bit_ painful: User has to go to portal and locate the resources...

If multiple VMs are `quick-create`d within the same RG with similar names, it becomes even harder to distinguish names

[2015-09-20 19:21] ahmetalpbalkan commented on #2121
@stankovski @devigned rough guess from my experience, you're using (_a library that uses_) HTTP PATCH operation to update the issue, and in the request you send, there's a field "assigned_to", even though it's empty string/number or simply null, GitHub will interpret is as "unassignment" and make it so. Might be related to the Github library you're using. Similar problem here: https://willnorris.c

[2015-09-20 22:30] singhkay commented on #2125
I'll defer to @kmouss on CLI :)

[2015-09-21 00:11] ahmetalpbalkan commented on #2125
cc: @anuchandy as well. He helped on earlier issue on asm mode.

[2015-09-21 18:47] ruslangabitov commented on #2121
That's not a Docker issue, but problem with 'vm create' in general.
You were specifying <code>NIC Name</code> instead of <code>NIC ID</code>.
To create a VM using <code>NIC name</code> you have to use <code>-f</code> option instead of <code>-D</code>
![image](https://cloud.githubusercontent.com/assets/6327511/10001341/21e3fd50-6056-11e5-9783-5d358c456635.png)

Anyway I've added validation for NIC

[2015-09-21 18:54] ruslangabitov commented on #2119
Fixed here: https://github.com/MSOpenTech/azure-xplat-cli/pull/506

[2015-09-21 23:14] devigned commented on #2113
@kmouss can we do away with publisher?

[2015-09-21 23:21] devigned commented on #2118
nice nit. We'll get that updated

[2015-09-21 23:25] devigned commented on #2117
@Matt-Westphal thoughts?

[2015-09-22 18:09] jaimetotal opened #2129 "Creation of Virtual Application/Directories"
For a given website, it would be nice to create/delete a virtual application or a virtual directory, as this is a constant thing I have to do.

Is it possible to add this feature?

PS: How I can I check the current Azure REST api for management of websites?

[2015-09-22 18:10] jaimetotal opened #2130 "Create website associated for a pricing plan"
By the management portal is possible to create a website associated with a given pricing plan/server farm but it seems that any server farm related configuration is still not possible.

Is it possible to include this feature?

[2015-09-22 20:22] Matt-Westphal commented on #2117
The start and end time should be in the format mm/dd/yyyy.  I'll update the help to show the expected format

[2015-09-22 20:23] Matt-Westphal commented on #2091
I'll modify the code to prompt for start and end date if it's not supplied as a parameter

[2015-09-22 20:25] ahmetalpbalkan commented on #2117
@Matt-Westphal I actually used `yyyy-mm-dd` format and it worked quite fine. If it's `mm/dd/yyyy` I will probably open another issue, that's not a valid date in technical environments and just an American thing really.

[code]

[2015-09-22 20:36] Matt-Westphal commented on #2117
yyyy-mm-dd  will continue to work.  I thought that providing mm/dd/yyyy as an example it will help people understand.  I've also seen examples in the Azure source where the help topic uses something like:
--reportedStartTime <datetime>', $('The start of the time range to retrieve data for, in UTC format.'))

[2015-09-22 20:40] ahmetalpbalkan commented on #2117
@Matt-Westphal

-1 for this. let's not have not documented features. They often lead to confusion and over time bugs.

-1 for this as well. As a foreigner person living in USA for the past 3 years that's still confusing to me. Especially in such technical things we should totally avoid `mm/dd` format if we could. I haven't seen it used anywhere else like this one, feels a bit awkward.

Not sure wh

[2015-09-22 21:15] jeffpatton1971 commented on #1937
This thread is a little old, but it appears that there is no way currently to add a vm to an existing availabilityset. I have tried doing this in PowerShell with no success, the error returned from the server was changing property 'availabilityset.id' is not allowed
Basically what I did was grab the availabilitysetreference from a vm that was in the proper set, and then setting the vm.availability

[2015-09-24 04:28] sreekanthbs commented on #2087
Hi @ruslangabitov image-urn for ARM is working fine. Closing the issue

[2015-09-24 04:28] #2087 closed

[2015-09-24 06:48] gkgupta commented on #2102
@devigned thanks a lot. This issue is breaking installs of previous version of azure-cli as well. Thus breaking our automate fresh installation scripts.

[2015-09-24 07:17] yaxia commented on #2048
As discussed in mail, there is no repro from my side. It may caused by the some codes were referring to old packages. We agree to close the issue.

[2015-09-24 07:17] #2048 closed

[2015-09-24 07:18] ahmetalpbalkan commented on #2048
Makes sense, turns out the bug was about the node streamline package removing artifacts from earlier versions after the npm upgrades.

[2015-09-24 16:06] devigned commented on #2117
I would prefer to see the yyyy-mm-dd format (https://en.wikipedia.org/wiki/ISO_8601). If it's in the help documentation (all supported formats), then I think we can live with it (even if it some are US centric).

We should use 8601 for Azure CLI datetime going forward and document the existing usage while also enabling 8601 format in existing cmds without introducing breaking changes.

my 2¢

[2015-09-24 20:40] ahmetalpbalkan opened #2135 "ARM: `azure vm quick-create` with SSH key"
I know we want to keep `vm quick-create` command simple but using passwords in Linux VM sort of bugs me every time. It's not a common practice. Maybe in the `<admin-password>` field can we do something like `<admin-password | @path-to-public-key>` that would allow users to pick an option?

[2015-09-24 20:42] ahmetalpbalkan commented on #2125
@kmouss please comment.

I also realized if storage account is missing, the cli creates one named `cli$RANDOMSTRING`, this is different than `portal$RANDOMSTRING` and if there's one already, it might be weird to not to reuse the portal one.

[2015-09-25 00:15] ronaldmendoza opened #2136 "ASM: Unable to delete certificate using 'azure service cert delete'"
$ azure --version
0.9.9 (node: 0.12.7)

OS X 10.10.5

Unable to delete certificate from a specified cloud service. Running with or without '-q' results in error.

$ azure service cert delete -v -q -d [someCloudService] [someValidThumbprint]

info:    Executing command service cert delete
verbose: Getting cloud service certificates
verbose: Deleting certificates
error:   undefined is not a function

[2015-09-25 02:56] ericis opened #2137 "Login was failing and now "no subscriptions found for this account""
v0.9.9

Originally, I was getting "password expired" although I could log into Azure management portal just fine. The sign-in process would prompt me to choose Personal vs. Organizational account and I always choose Personal.

I tried selecting "Organizational" account during portal login and was prompted to reset my password. A few hours later I was suddenly able to login to CLI tools (prompted b

[2015-09-25 03:56] ramayer opened #2138 "ARM: "azure vm show --json" should show as much information as "azure vm show""
When I use

it shows more information than

In particular, the json version is lacking "Private IP Address" and "Public IP Address" associated with the VM.   I would have expected the two to show the same information.

[2015-09-25 04:45] ramayer commented on #2050
Agreed it doesn't look hard to fix technologically - but the process of signing things like "contributor license agreements", etc makes it kinda a pain ( http://windowsazure.github.io/guidelines.html ).

Maybe I should just post a patch in the comment here?

[2015-09-25 06:38] ahmetalpbalkan commented on #2050
@ramayer our CLAs are actually not that hard and it takes less than a minute to fill the form out. If you have a fix, please send out. :)

[2015-09-25 09:58] jinmiaoms opened #2139 ""azure login -u" hangs with multi-factor auth"
I have CLI 0.9.9.  When I do "azure login -u", after entering password, it tells me to go to the website to enter code and do multi-factor auth.  I did that, but the command line just stays spinning without anything happening.  I'm running a Ubuntu VM in East US.

[2015-09-25 13:12] yugangw-msft commented on #2139
Could you please set the environment variable of "AZURE_ADAL_LOGGING_ENABLED" to 1, run the login, and share out the console log or send it to me at yugangw at microsoft dot com. Make sure to remove your password from the log.
Thanks for reporting this.
            Yugang

[2015-09-25 16:28] ahmetalpbalkan commented on #2119
I can confirm the fix.

[2015-09-25 19:34] crawford opened #2141 "azure vm get-serial-output truncating logs"
I'm running version 0.9.9 configured in ARM mode.

When I request the serial output for my machine, regardless of the `--max-length` flag, the output is truncated to 742 lines which amounts to 68172 bytes. There is much more output than what this command shows. https://portal.azure.com shows the correct output.

[2015-09-25 23:49] BorisB2015 opened #2142 "Provide more evident error cause for case of incorrect value template-url"
Repro:

1. Create appropriate group (TestRG) and run:

azure group deployment create TestRG TestDeploy --template-uri https://raw.githubusercontent.com/gbowerman/azure-myriad/master/vmss-vnet-storage-ubuntu.json

2. You will get (among other things):

error:   Unexpected token N

which is not obvious that it is the result of

GET https://raw.githubusercontent.com/gbowerman/azure-myriad/master/vmss

[2015-09-26 08:32] djanosik commented on #1742
I can confirm it's still an issue.

[2015-09-26 11:14] yugangw-msft commented on #1742
@djanosik @benjguin
Same error like the original report? also you are on OSX, windows, or nix?

[2015-09-26 11:16] djanosik commented on #1742
Same error report. I am on Windows.

[2015-09-26 11:22] yugangw-msft commented on #1742
@djanosik
Could you please set the environment variable of "AZURE_ADAL_LOGGING_ENABLED" to 1, run the login, and share out the console log or send it to me at yugangw at microsoft dot com. Make sure to remove your password from the log.
Also want to confirm you are using version 0.9.9, the latest, right?

[2015-09-26 12:09] djanosik commented on #1742
@yugangw-msft Here it is... https://gist.github.com/djanosik/49be12b4b4f010fd4d39

[2015-09-26 12:57] yugangw-msft commented on #1742
@djanosik thanks. Most likely the login command didn't clean up old entries before acquire new one. Could you run the command "[creds.exe](https://github.com/Azure/azure-xplat-cli/blob/dev/bin/windows/creds.exe) -s -t AzureXplatCli:target=* -g" and share out the output? You can omit the portion of "Credential: "

[2015-09-27 12:54] djanosik commented on #1742
@yugangw-msft I will try to share the output later. But I know it will fix the problem.

[2015-09-28 09:13] infosatheesh2020 opened #2143 "ASM: azure network vnet list command has issues"
Listing VNET using CLI shows below errors:

#azure network vnet list
info:    Executing command network vnet list
+ Looking up the virtual network sites
error:   Cannot read property 'vpnGatewayAddress' of undefined
info:    Error information has been recorded to /home/samanoha/.azure/azure.err
error:   network vnet list command failed

[samanoha@crystal Downloads]$ cat /home/samanoha/.azure/azure

[2015-09-28 10:50] heidi-ann opened #2144 "Moving VMs across zones"
I am developing a collection of scripts to rapidly deploy a large number of machines across azure.

I started in one zone with the following workflow:
- create standard linux VM and setup
- using ```azure vm capture``` to create VM image
- use ```azure vm create``` to create clone

Now I am trying to clone across zones. Using ```azure vm create``` fails with "Error: The cloud service location must

[2015-09-28 12:15] infosatheesh2020 opened #2145 "ASM: azure vm endpoint create-multiple has issues"
Hi,

We have issues while creating multiple endpoints for VM using CLI 0.9.9

[samanoha@crystal test]$ azure vm endpoint create-multiple testvm1 41080:41080:tcp:::tcp:41080::::lbs-cms-41080:qa1-cms-ilb:

info:    Executing command vm endpoint create-multiple
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
error:   InternalError : The server encountered a

[2015-09-28 12:27] romangromov commented on #2143
Hi @infosatheesh2020, can you please attach output for `azure network vnet list --json` command?

[2015-09-28 12:45] infosatheesh2020 commented on #2143
@romangromov I have sent the info to your email

[2015-09-28 12:50] romangromov commented on #2143
@infosatheesh2020 thanks, it's a bug, will fix

[2015-09-28 12:52] infosatheesh2020 commented on #2143
Thank you @romangromov

[2015-09-28 15:03] sreekanthbs commented on #2121
@ruslangabitov i verified in azure-dev branch & the issue is reproducible.
![image](https://cloud.githubusercontent.com/assets/11171941/10139267/b299eb7e-661f-11e5-83eb-d191eea0afa6.png)

[2015-09-28 15:59] squillace opened #2147 "[ARM] --tags format option seems to throw arg parsing (azure vm create; 0.9.9 mac yosemite)"
Have a look. It looks right:

I don’t know what to do here. Imperatively creating a full network infrastructure for a VM, and I go to create the vm and….

[code]

Here’s the docs:

[code]

I think it’s the tags string; I removed that, and it all goes through. Did I misformat the tags?

[code]

It sure looks like I did... but I think I obeyed the docs on tags:

[code]

@ahmetalpbalkan fyi

[2015-09-28 16:59] squillace commented on #2138
+1. I would expect --json to show even more information, since you'd never ask for json for readability -- you ask because you need to develop against it. In this case, the response contains a reference to the NIC, and then you go and do azure network nic show and pass the name and you'll get what you want.

But in this case, I completely agree that for a vm basic networking information should be

[2015-09-28 17:34] ahmetalpbalkan commented on #2121
@sreekanthbs as Ruslan mentioned above can you please try `-f` instead of `-D` if you're using NIC Name, not ID.

[2015-09-28 18:04] romangromov commented on #2143
@infosatheesh2020 fix merged to `dev`, will be available on next release

[2015-09-28 18:20] ahmetalpbalkan commented on #2147
looks like a bug if you removed `--tags` and it all worked. can you move `--image-urn` above `--tags` and see it still works?

[2015-09-28 18:36] squillace commented on #2147
Hmmm. Did that, now it doesn't pick up the last argument:

[code]

[2015-09-28 18:43] squillace opened #2148 "ARM: usability: 0.9.9 azure vm create throws internal exception when unable to parse image-urn"
Usability: I do not want to have to guess that I somehow used a bad --image-urn parameter. Can we actually return the error that we could not find the image-urn specified? this should not be an internal exception. You'll notice that I misplaced where the `latest` portion was supposed to go:

--image-urn canonical:UbuntuServer:14.04.3-LTS:14.04.latest \

[code]

[2015-09-28 18:44] ahmetalpbalkan commented on #2147
I think I know what might be happening here. ; is a command delimeter in bash. Can you try surrounding value of --tags with single quotes?

If that works this cmd is suboptimal. 

It should allow multiple usages like: --tag a=b --tag c=d. That's a better convention/design. 

— Ahmet Alp Balkan http://alp.im

On Mon, Sep 28, 2015 at 11:36 AM, Ralph Squillace
<notifications@github.com> wrote:

[2015-09-28 18:51] squillace commented on #2135
+1.

[2015-09-28 19:00] ruslangabitov commented on #2121
@sreekanthbs can you please verify in MSOpenTech's dev branch https://github.com/MSOpenTech/azure-xplat-cli/tree/dev? It's not in Azure's repo yet.

[2015-09-28 20:48] gavdraper commented on #1892
Also getting this same issue on OS X running version 0.9.9 of the cli tools

[2015-09-28 21:11] squillace commented on #2139
@jinmiaoms when you went to the web site, pasted in the code and cicked the Submit button, it takes you to a second page where it sorta implies you're logged in, but you're NOT. YOu have to continue and click the specific ID rectangle, typically the one that is highlighted, and then the cli will unblock. It should be only one step, but it's currently two.

I'm assuming you already figured this out

[2015-09-28 23:02] ahmetalpbalkan opened #2150 "ARM: cannot resize VM"
Getting some internal error while resizing the VM. Please triage.

[code]

verbose error:

[code]

[2015-09-28 23:08] ahmetalpbalkan commented on #2147
I think what's happening here. `;` is a command delimeter in bash. Can you try surrounding value of --tags with single quotes? If that works this cmd is suboptimal.

It should allow multiple usages like: `--tag a=b --tag c=d`. That would be a better convention/design. 

[2015-09-28 23:15] ahmetalpbalkan commented on #2150
Error comes from

    PUT https://management.azure.com/subscriptions/<subs-ID>/resourceGroups/ahmet-prem/providers/Microsoft.Compute/virtualMachines/vm?api-version=2015-06-15

call:

    HTTP 400 Bad Request
    "{\015\n  "error": {\015\n    "code": "InvalidParameter",\015\n    "target": "bootDiagnostics.storageAccountName",\015\n    "message": "Required parameter 'bootDiagnostics.storageAccountNa

[2015-09-29 02:37] mohitarora commented on #2139
I have a separate issue. I get following error when i login

error:   adalAuth.logoutUser is not a function
info:    Error information has been recorded to /Users/mohit/.azure/azure.err
error:   login command failed

I removed cli and re-installed it

$ azure -v
0.9.9

[2015-09-29 02:43] yugangw-msft commented on #2139
@mohitarora, could you please delete the streamline precompile folder and see whether this works? For windows, the folder is under your user profile folder such as C:\Users\<name>\.streamline. Let me know if you are at osx, i can tell you the folder path as well.

[2015-09-29 02:46] mohitarora commented on #2139
I was indeed on OSX and deleted the folder and that helped. Thanks a lot.

[2015-09-29 02:49] yugangw-msft commented on #2139
@mohitarora glad it helped. Did you use "npm install" to get the cli or use mac installer?
We are considering to clean up the streamline folder as part of installation so to eliminate this error.

[2015-09-29 03:03] mohitarora commented on #2139
I used npm install to get the cli

[2015-09-29 03:25] yugangw-msft commented on #2139
@mohitarora, thank you, this confirms.

[2015-09-29 04:57] ahmetalpbalkan commented on #2119
@amarzavery @ruslangabitov is this not making it to 0.9.10? https://github.com/Azure/azure-xplat-cli/blob/release-0.9.10/ChangeLog.md#20151002-version-0910 We already got at least 4 or 5 bug reports from customers noticing this issue. Given the announcements upcoming, more and more people will start noticing...

[2015-09-29 05:07] ruslangabitov commented on #2119
@ahmetalpbalkan I've send a PR fixing this issue: https://github.com/Azure/azure-xplat-cli/pull/2153
@amarzavery plz review it when you'll have time.

[2015-09-29 05:27] ahmetalpbalkan opened #2154 "ARM/ASM: Commands showing help messages should not exit with code 0"
We have commands that are just listing help messages (typically their subcommands) and they're exiting with exit code 0 (success). That is not a good convention to follow and UNIX tools often exit with non-zero codes when some argument is missing and they print the help message.

### Some examples:
[code]

However, if the command is explicitly to retrieve help via `--help`/`-h`, it should exit wit

[2015-09-29 05:33] jinmiaoms commented on #2139
I did do that, but it simply resubmitted my form.  I thought I even tried both Edge and IE.
Unfortunately I lost the environment that had this issue.  The new VMs I created didn't prompt me for 2FA at all, which is also strange ...

Date: Mon, 28 Sep 2015 14:11:22 -0700
From: notifications@github.com
To: azure-xplat-cli@noreply.github.com
CC: jinmiao@hotmail.com
Subject: Re: [azure-xplat-cli] "azu

[2015-09-29 05:33] ahmetalpbalkan opened #2155 "ARM/ASM: Inconsistent exit codes upon errors"
Haven't dug so deeply however I can tell certain errors do not exit with a non-zero exit code upon failure:

[code]

vs

[code]

This is not ideal. Imagine someone having a script like:

[code]

the error will not be effective and script will keep going instead of exiting.

Also an example from `git`:

[code]

[2015-09-29 05:58] sreekanthbs commented on #2121
@ruslangabitov yes its working fine in  https://github.com/MSOpenTech/azure-xplat-cli/tree/dev branch.
Now it is throwing accurate error message.
![image](https://cloud.githubusercontent.com/assets/11171941/10156300/1f1a3ed4-669d-11e5-9f22-55a29c4f0f67.png)

[2015-09-29 06:48] sreekanthbs commented on #2116
<pre>
<code>
C:\Sep2015\29Sep\azure-xplat-cli-dev>node bin/azure vm docker create armresgrp16s dockerexttest  -l "West US" --ssh-publickey-file C:\Users\sreekanth.bandaru\.s
sh\github_rsa.pub -u azureuser -z Standard_D2 -y Linux --image-urn 'canonical:Ubuntu15.04SnappyDocker:15.04-SnappyDocker:15.04.119' -f nic29
info:    Executing command vm docker create
+ Looking up the VM "dockerexttest"
info:

[2015-09-29 06:56] ahmetalpbalkan commented on #2116
@ruslangabitov have you recently fixed this?

[2015-09-29 07:09] sreekanthbs commented on #2116
@ahmetalpbalkan I worked on https://github.com/MSOpenTech/azure-xplat-cli/tree/dev

[2015-09-29 08:33] ruslangabitov commented on #2116
@ahmetalpbalkan @sreekanthbs This error is thrown after request to Azure API is sent.
I've tried to specify <code>--image-urn</code> without a quotes, just <code>canonical:Ubuntu15.04SnappyDocker:15.04-SnappyDocker:15.04.119</code> and it worked, looks like CLI can't parse URN with quotes or something.
@sreekanthbs can you please try without quotes? Lets create separate issue for that, since it's

[2015-09-29 10:05] sreekanthbs commented on #2116
@ruslangabitov @ahmetalpbalkan I tried without quotes for image-urn and it is working fine
<pre>
<code>
C:\Sep2015\29Sep\azure-xplat-cli-dev>node bin/azure vm docker create armresgrp16s dockerexttest  -l "West US" --ssh-publickey-file C:\Users\sreekanth.bandaru\.s
sh\github_rsa.pub -u azureuser -z Standard_D2 -y Linux --image-urn canonical:Ubuntu15.04SnappyDocker:15.04-SnappyDocker:15.04.119 -f ni

[2015-09-29 10:12] infosatheesh2020 commented on #2145
Sorry, this seems not CLI issue, turned out to be azure fabric issue

[2015-09-29 10:12] #2145 closed

[2015-09-29 15:24] ahmetalpbalkan commented on #2116
@ruslangabitov can you print the string you got (or do -vv). Bash doesn't transmit single quotes to the programs like you said.

[2015-09-29 16:11] sreekanthbs commented on #2119
@ruslangabitov I can see <ResourceExtensionReferences> element but it is empty. Extensions are not added I guess.
<pre>
<code>
C:\Sep2015\29Sep\azure-xplat-cli-dev>node bin/azure vm docker create docker-exttest b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_04_3-LTS-amd64-server-20150908-e
n-us-30GB -e 22 -l "West US" --ssh-cert C:\Users\sreekanth.bandaru\.ssh\github_rsa.pub azureuser --no-ssh-passwo

[2015-09-29 16:12] ahmetalpbalkan commented on #2119
@sreekanthbs can you please double-check you are on a branch that has the commit? Happened to me in this issue as well, I was working on a wrong branch.

[2015-09-29 16:58] amarzavery commented on #2119
@ahmetalpbalkan,
@ruslangabitov - Please send a PR for this fix to the release-0.9.10 branch for it to be included in this release.

[2015-09-29 17:00] amarzavery commented on #2119
@ruslangabitov - Please send a PR to the release branch (release-0.9.10) for it to be included in this release.

[2015-09-29 17:30] sreekanthbs commented on #2119
@ahmetalpbalkan verified in MSOpentech dev branch

[2015-09-29 17:46] ahmetalpbalkan commented on #2119
@sreekanthbs I just double-checked from MSOpenTech/dev branch (commit 397974b) and your command works on me and Docker gets installed to the VM. Maybe `rm -rf ~/.streamline` can fix the glitch in your case.

[2015-09-29 17:54] ruslangabitov commented on #2119
@amarzavery I've send PR to <code>release-0.9.19</code> branch: https://github.com/Azure/azure-xplat-cli/pull/2157, I saw your comment in my first PR and I'll fix it.

[2015-09-29 21:46] ahmetalpbalkan opened #2159 "ARM: unfriendly error message from `azure vm image list` in India regions"
[code]

verbose:

[code]

[2015-09-29 21:47] ahmetalpbalkan commented on #2148
@squillace this looks like an actual server error. Server should not return 500 in case of bad input. Please escalate to ARM product team.

[2015-09-29 22:28] ruslangabitov commented on #2116
@ahmetalpbalkan I've ran command, here is the output:
[code]

[2015-09-29 23:29] rjmax commented on #2148
The error is coming from PIR, so we should route appropriately.

[2015-09-29 23:41] ahmetalpbalkan commented on #2116
@ruslangabitov yeah now compare that to what happens when you surround the image name with single quotes. :smile:

[2015-09-29 23:43] ahmetalpbalkan commented on #2116
@ruslangabitov weird enough, I can't repro this error anymore...

[2015-09-30 01:06] amarzavery commented on #2137
@ericis - Sorry for the experience. Currently CLI can only login via Organizational account. If you have a subscription linked to the organizational account then the CLI will list the subscription, once the login via organizational account is successful.

How did you create an organizational account ?

[2015-09-30 01:17] amarzavery commented on #2129
@jaimetotal - Websites is soon going to be deprecated.
Here is the underlying nodejs library that makes the REST calls: https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/webSiteManagement/lib/webSiteManagementClient.js

I would recommend switching to ARM

azure config mode arm

azure webapp -h

[2015-09-30 10:54] jaimetotal commented on #2129
Thanks for the commands.

Regarding the ARM mode, I can't still create the virtual application within the webapp.

[2015-09-30 17:19] #2121 closed

[2015-09-30 23:26] ahmetalpbalkan opened #2163 "Linux: Process exits right away after clean installation"
I just installed a clean "Ubuntu 14.04.3 LTS" VM and installed the CLI. However CLI process exits right away with exitcode=1 without any output at all, it is unusable.

[code]

### strace output:

[code]

any ideas what's going on here?

[2015-10-01 03:21] yugangw-msft commented on #2163
@ahmetalpbalkan
i don't see this in my "UBuntu 15.04", i can try your configuration and see whether this reproes.
At the same time, could you check out what version node you are using? I would like understand more the following line of the trace
    execve("/usr/local/sbin/node", ["node", "/usr/local/bin/azure"], [/* 25 vars */]) = -1 ENOENT (No such file or directory)

[2015-10-01 05:09] ahmetalpbalkan commented on #2163
@yugangw-msft I just purged the nodejs package and retried. Turns it it was a corrupt installation, it's working now... However, when I used Ubuntu's PPA and installed `nodejs` and then `npm` packages using `apt-get` and then `sudo npm install -g azure-cli`, running `azure` command gave me the following:

[code]

so I had to symlink it (`sudo ln -s /usr/bin/nodejs /usr/bin/node`) and then it worke

[2015-10-01 18:37] #2163 closed

[2015-10-01 18:37] ahmetalpbalkan opened #2165 "Unfriendly communication in MFA login"
What does exactly "Try again..." mean below?

![image](https://cloud.githubusercontent.com/assets/159209/10230202/c789faa2-6830-11e5-9961-adceb0e35e27.png)

[2015-10-01 18:58] yugangw-msft commented on #2165
@ahmetalpbalkan
This is a text introduced by the re-try logic (will be removed shortly), that cli launches the old flow first, and on err it retries with new device flow.  The text is outputted to justify, that you need to input password twice, once in the command flow and the other in the browser, which is a redundant cli forces on you.
2 notes,
a. In the upcoming release, we will expose the flag

[2015-10-01 19:00] ahmetalpbalkan commented on #2165
I see thanks for the heads up.

It'd be better to not to expose inner workings of the cli to the user as the default behavior. Great to hear it'll be fixed. Keeping it open for tracking.

[2015-10-01 19:01] yugangw-msft commented on #2163
@ahmetalpbalkan, I will sort out the recommended installation stories for different version of Ubuntus and let you know.

[2015-10-02 10:21] romangromov opened #2167 "Travis build failure due to 'arm group template' test cases"
The reason is merged PR https://github.com/Azure/azure-xplat-cli/pull/2164 with failed Travis build https://travis-ci.org/Azure/azure-xplat-cli/jobs/83047750

[2015-10-02 14:13] moulip opened #2168 "[DEBIAN] Can't upload disk on Azure"
Hi,

I am no longer able to upload disks using azure-cli :+1I get this error on the command-line :+1:
info:    Executing command vm disk upload
info:    VHD size : 70 GB
info:    Uploading 3604480.5 KB
error:   Object conectix�����������waWi2k��������0�X;E�A�E���s��>� has no method 'on'
info:    Error information has been recorded to /home/julien/.azure/azure.err

Here's the output of azu

[2015-10-02 16:06] yugangw-msft commented on #2167
This is a known test flakiness. The test should not replay a public gallery template which will change and and fail test.

[2015-10-02 21:53] johndehavilland opened #2169 "template list command missing api version"
The command

throws the following error:

This is with azure cli v. 0.9.9

[2015-10-04 19:53] ahmetalpbalkan commented on #2068
Any updates?

[2015-10-05 07:46] oyvindholmstad opened #2173 "Upload of WebJob fails with Azure CLI on Linux (process out of memory)"
We are trying to use the Azure CLI on linux to upload a WebJob as part of our continuous deployment pipeline.

But the command fails after > 20 mins of waiting on the "Uploading WebJob" step.

Some more info:

- The cli is properly authenticated. We can trigger already existing WebJobs just fine.
- The exact same run.zip uploads successfully from Microsoft Azure Powershell on Windows.
- The zip-fi

[2015-10-05 17:55] dlepow commented on #2169
I just hit this error too.

[2015-10-05 17:59] yugangw-msft commented on #2169
@vivsriaus, please investigate.

[2015-10-05 20:50] squillace commented on #2169
+1. help doesn't even specify an api switch:

[code]