[2015-10-05 21:34] simonsabin commented on #2169
Getting the same error with the Powershell cmdlets
https://social.msdn.microsoft.com/Forums/azure/en-US/1a5a32c8-3975-4c3e-afae-8797dba2af36/getazureresourcegroupgallerytemplate-error-missing-api-version-query-string-allowed-values-are?forum=windowsazuremanagement

[2015-10-05 21:41] ramayer commented on #2050
@ahmetalpbalkan : "our CLAs are actually not that hard and it takes less than a minute"

Quoting your CLA page:  " Please carefully review the document; you may also need to have your employer sign the document. "

that'll take well over a minute to get my employer to sign such an agreement.

[2015-10-05 21:52] jeffpatton1971 commented on #1937
le sigh..
# Jeff Patton@C02PX3KSG8WL | 16:51:44 | 10-05-2015 | F:\Projects\Lowes\ops\Azure\PowerShell $  [master ≡]
$VM.AvailabilitySetReference |gm

   TypeName: Microsoft.Azure.Management.Compute.Models.AvailabilitySetReference

Name         MemberType Definition
----         ---------- ----------
Equals       Method     bool Equals(System.Object obj)
GetHashCode  Method     int GetHashCode()
Ge

[2015-10-05 22:07] ahmetalpbalkan commented on #2050
@ramayer understood. Makes sense to defer this to the product team to fix. @devigned is this planned? I think this is rather an important functionality and currently calls to the wrong endpoint and returns wrong info.

[2015-10-06 03:52] yugangw-msft commented on #2169
We are actively working with the service team to get sdk and cmdlets fixed in the upcoming release.Will post further updates

[2015-10-06 10:00] enyosolutions commented on #1791
+1  For supporting this. I have to destroy a network and start from scratch because of this

[2015-10-06 10:32] moulip commented on #2168
I have tried with nodejs 0.12 and I get another error. Undefined is not a function

azure.err:
[TypeError: undefined is not a function]
TypeError: undefined is not a function
    at /usr/lib/node_modules/azure-cli/node_modules/azure-storage/lib/common/services/storageserviceclient.js:431:35
    at /usr/lib/node_modules/azure-cli/node_modules/azure-storage/lib/common/services/storageserviceclient.j

[2015-10-06 11:10] simonsabin commented on #2169
Hi Yugangw-msft

Is it the same problem across all the affected cmdlets. Is the release likely to be this week? Is there a work around?

[2015-10-06 15:57] yugangw-msft commented on #2168
@yaxia any ideas for the original error?
@moulip, did you get azure-cli "npm install"? If yes, could you please delete the "/home/julien/.streamline" and try again?

[2015-10-06 16:11] moulip commented on #2168
Yes I have installed azure-cli with npm install azure-cli -g.
Everything went fine. I have deleted .streamline, I get the same error.
undefined is not a function. Still with nodejs 0.12

[2015-10-06 16:14] yugangw-msft commented on #2168
@yaxia, could you please take a look the second issue as well?

[2015-10-06 18:09] infosatheesh2020 commented on #2002
@romangromov, Still I am having the below error while creating NSG rules

[samanoha@test tools]$ azure network nsg rule create --nsg-name GatewayNSG --name ALLOW_AZURE_LOAD_BALANCER_INBOUND --source-address-prefix AZURE_LOADBALANCER --source-port-range * --protocol * --destination-address-prefix * --destination-port-range * --action Allow --priority 1001 --type Inbound
info:    Executing command n

[2015-10-06 19:17] romangromov commented on #2002
@infosatheesh2020 on Linux based environment you have to escape Asterisk symbol, like so:
* --source-port-range \* or
* --source-port-range '*' or
* --source-port-range "*"

[2015-10-06 20:07] infosatheesh2020 commented on #2002
Thanks @romangromov . I'm still getting error for AZURE_LOADBALANCER source address

[samanoha@crystal scripts]$ azure network nsg rule create --nsg-name TestNSG --name test --source-address-prefix AZURE_LOADBALANCER --source-port-range '*' --protocol '*' --destination-address-prefix '*' --destination-port-range '*' --action Allow --priority 1005 --type Inbound
info:    Executing command network n

[2015-10-06 20:31] BillAtPros opened #2175 "storage blob upload gets MD5 Mismatch w/ node 4.0.0."
Azure-Storage has fixed this error in 0.6.0. Need to update dependency for xplat-cli

[2015-10-06 20:42] romangromov commented on #2002
@infosatheesh2020 you have to wait for `v.0.9.10` xplat-cli release. `AZURE_LOADBALANCER` reported above is not fixed in `0.9.9`, but fixed in `v.0.9.10`

@amarzavery Hi Amar, when we can expect `v.0.9.10` release will be pushed to npm public?

[2015-10-07 07:23] infosatheesh2020 commented on #2002
@romangromov Thank you very much for the information, much appreciated!

[2015-10-07 09:13] infosatheesh2020 commented on #2002
@romangromov I try to use 0.9.10 branch, it complains me that underscore module is missing, but I already have it from npm.

[samanoha@crystal azure-xplat-cli]$ git branch
  dev
* release-0.9.10
[samanoha@crystal azure-xplat-cli]$ node bin/azure -v

module.js:340
    throw err;
          ^
Error: Cannot find module 'underscore'
    at Function.Module._resolveFilename (module.js:338:15)
    at Func

[2015-10-07 09:24] romangromov commented on #2002
@infosatheesh2020 try to run `npm install` at first.
Yes, `VIRTUAL_NETWORK` fshould work fine as well as `AZURE_LOADBALANCER`

[2015-10-07 10:01] infosatheesh2020 commented on #2002
Thanks @romangromov

[2015-10-07 10:06] romangromov commented on #2002
@infosatheesh2020 please let me know if it working fine for you or not

[2015-10-07 10:36] infosatheesh2020 commented on #2002
@romangromov, it didn't worked for me

[samanoha@crystal azure-xplat-cli]$ node -v
v0.10.36

[samanoha@crystal azure-xplat-cli]$ sudo npm install underscore-cli
npm WARN package.json node@0.0.0 No repository field.
npm http GET https://registry.npmjs.org/underscore-cli
npm http 304 https://registry.npmjs.org/underscore-cli
npm http GET https://registry.npmjs.org/JSONSelect
npm http GET https://reg

[2015-10-07 11:48] romangromov commented on #2002
@infosatheesh2020
1) clone the project: `git clone https://github.com/Azure/azure-xplat-cli.git`
2) checkout release-0.9.10 branch: `git checkout release-0.9.10`
3) install project dependencies: `npm install` (not `npm install underscore-cli`)
4) try to reproduce actual issues related to this topic.

If you are not able to set-up project for some reason following steps above - please start another

[2015-10-07 12:30] infosatheesh2020 commented on #2002
@romangromov Thank you very much, i'm able to setup the project and everything (VIRTUAL_NETWORK, AZURE_LOADBALANCER and * ) works like a charm. Good that I don't need to wait for npm official release, and thanks again for helping me this much!

[2015-10-07 12:30] #2002 closed

[2015-10-07 13:14] romangromov commented on #2002
@infosatheesh2020 glad to help you!

[2015-10-07 16:29] infosatheesh2020 commented on #2002
@romangromov One comment here.. Destination port range is not working..
Ex: --destination-port-range "22-24"
The same works in powershell. Can you have a look

[2015-10-08 08:22] romangromov opened #2177 "ASM: NSG Rule create do not supports port range"
ASM: `azure nsg rule create` commands should support port range for `--source-port-range` and `--destination-port-range` options.

Example of allowed values: `80, 80-81, *`

[2015-10-08 08:23] romangromov commented on #2002
@infosatheesh2020 bug, will fix, started separate issue for this https://github.com/Azure/azure-xplat-cli/issues/2177

[2015-10-08 08:23] romangromov commented on #2177
will fix

[2015-10-08 08:59] infosatheesh2020 commented on #2177
Thanks! @romangromov can we expect this in 0.9.10 release?

[2015-10-08 09:27] romangromov commented on #2177
@infosatheesh2020 not sure about that, will try and let you know

[2015-10-08 14:33] kgibson-ud commented on #2168
Hi, I am running into this error as well, but I only experience it when uploading dynamic disks. Fixed VHDs work correctly for me. I know my VHDs are OK because they upload correctly if I use Azure Powershell.

I'm running Node v.0.12.7 on Windows 7 Professional 64-bit. azure-cli is v0.9.9, and I installed it with npm install.

I have also tried installing it using the standalone installer on anot

[2015-10-08 14:47] moulip commented on #2168
Hi,

I think this is the issue ! I am using dynamic disks too. But it's still a bug since it is working under Powershell with the same vhd.

[2015-10-08 16:11] romangromov commented on #2177
@sreekanthbs please verify fix in our repo, thanks

[2015-10-08 20:44] squillace commented on #1684
+1. I was just going to file another issue on this, because **some** operations have a --no-wait switch, and I was going to ask for one universally. When is this coming out....?

[2015-10-09 07:09] sreekanthbs commented on #2177
@romangromov verified.its working fine  for --source-port-range and --destination-port-range options.
Verified in both windows & linux env.
![image](https://cloud.githubusercontent.com/assets/11171941/10387879/aa0fc346-6e82-11e5-8b63-6a9d2373e4a0.png)

[2015-10-09 07:14] infosatheesh2020 commented on #2177
@romangromov can you let me know the branch so that even if this fix is not in 0.9.10 npm version, I can still use it from branch..

[2015-10-09 15:57] yugangw-msft commented on #2165
Addressed by #2178, and will be out with the release of 0.9.10

[2015-10-09 15:57] #2165 closed

[2015-10-09 16:02] yugangw-msft commented on #2169
Addressed by #2176. Please check out the comments in the PR for the adjustment we had to make in the cmdlets because the new service api-version introduced breaking change.
This will be released out in the next couple of days with release-0.9.10

[2015-10-09 16:02] #2169 closed

[2015-10-09 16:23] yugangw-msft commented on #2139
@jinmiaoms, AAD has deployed a bug fix which should get the spinning issue go away. JFYI, with the release-0.9.10, we have put in more improvement on the device flow and will support login using non org-id

[2015-10-09 16:23] #2139 closed

[2015-10-09 16:25] yugangw-msft commented on #2167
Fixed through #2176

[2015-10-09 16:25] #2167 closed

[2015-10-09 16:31] squillace commented on #2139
@yugangw-msft: Can you elaborate more on the end result here? Using azure login -u with EITHER an org id OR a msa will take us to the 2fa page, which will then auth us without requiring the SECOND button to be pushed? or, what?

[2015-10-09 16:32] yugangw-msft commented on #2148
@devigned, could you route?

[2015-10-09 16:36] yugangw-msft commented on #2147
@squillace, did Ahmet's suggestion work? If that works, we can close this, and open a new one for tag value format improvement

[2015-10-09 16:38] yugangw-msft commented on #2144
@kmouss , please advise.

[2015-10-09 16:39] yugangw-msft commented on #2143
The change has been integrated to release-0.9.10

[2015-10-09 16:39] #2143 closed

[2015-10-09 16:40] yugangw-msft commented on #2142
@vivsriaus, please consider

[2015-10-09 16:43] yugangw-msft commented on #2137
With #2178, you can login using non org-id. Either way, this is not an issue any more

[2015-10-09 16:43] #2137 closed

[2015-10-09 16:44] squillace commented on #2147
I did not try it; I'll try it today and let you know.

[2015-10-09 16:48] yugangw-msft commented on #2050
@ahmetalpbalkan, we have couple of active issues about "location", for this one, my understanding is specific to the VM location command. Based on that, the fix should be made by the service team.

[2015-10-09 16:50] yugangw-msft commented on #2177
Closing as the fix was in

[2015-10-09 16:50] #2177 closed

[2015-10-09 16:56] romangromov commented on #2177
@yugangw-msft fix for this issue is not yet merged, related PR with fix https://github.com/Azure/azure-xplat-cli/pull/2182

[2015-10-09 17:02] yugangw-msft commented on #1892
@gavdraper, if you remove the '.streamline' folder under your user folder, does that help?

[2015-10-09 17:11] romangromov commented on #2177
@infosatheesh2020 now fix merged to `dev` branch, `git checkout dev`

[2015-10-09 17:24] yugangw-msft commented on #2139
@Squillace, the spec is here:

•	`azure login` full interactive through device code (interactive, device code, default case)
•	`azure login -u {username}` interactive w/ prompt for password (semi-interactive, non device code)
•	`azure login -u {username} -p {password}` login w/ username and password. Upon failure directed w/ “Failed to authenticate because interactive login is required. ” (non-int

[2015-10-09 17:26] squillace commented on #2139
and this works with either MSA or aad id? (not discussing the SP case here)

[2015-10-09 17:30] infosatheesh2020 commented on #2177
@romangromov Thank you!

[2015-10-09 17:31] yugangw-msft commented on #2139
@squillace, the sceanario #1 of using "azure login" w/o any parameters works for both MSA and aad id.
I have edited my previous comment

[2015-10-09 17:35] squillace commented on #2139
@yugangw-msft double confirmation: NONE of the other methods (lines 2-4, above) can be used with MSA ids? ONLY the full interactive version?

[2015-10-09 17:39] yugangw-msft commented on #2139
@squillace that is correct, because we don't invoke the new device flow which is the only way to get MSA login

[2015-10-09 17:46] squillace commented on #2139
Great. can you point me to the doc code in the project for that? I want to make sure the --help switch explains this precisely.

[2015-10-09 17:46] squillace commented on #2139
and, THANKS!!! :100:

[2015-10-09 18:02] yugangw-msft commented on #2139
@squillace, it is here (https://github.com/Azure/azure-xplat-cli/blob/release-0.9.10/lib/commands/login._js#L39). Please propose the text and i will incorporate. I know we will mention the instruction in the release note, but it is not maintainable.

[2015-10-09 18:13] squillace commented on #2139
Help should be completely in `--help`. It's the "man page" way. Can you explain this line?

`.option('-e --environment [environment]', $('Environment to authenticate against, must support active directory'))`

What is meant here by "environment"? This, unfortunately, doesn't mean anything at all without context...

[2015-10-09 18:51] yugangw-msft commented on #2139
Check out the code here(https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/profile/environment.js#L148d).
In short, this is the parameter people can use to specify other cloud env, such as ChinaCloud, and in near future, we will add US Government Cloud. You can also run "azure account env add" to add other env such as an internal test env.

[2015-10-09 19:03] squillace commented on #2139
ah! that kind of environment; perfect, thanks. I'll submit a PR, and you all can review.

[2015-10-09 19:56] yugangw-msft commented on #2139
@Squillace, thank you! Please submit the PR to dev branch, I will integrate it to the release branch if we get a chance to refresh the installer.

[2015-10-09 22:50] squillace opened #2185 "azure login (0.9.10): can't use documented -p parameter"
personally, I don't think we should even have the cleartext password parameter, but if it's docced, it should work:

[code]

By the way, same with `--password`.

[2015-10-09 22:54] squillace opened #2186 "Azure login (0.9.10): documentation says I'll be prompted; instead, told to use interactive"
I think this is mostly UX: but if I specify a -u, then prompt me. Or rewrite the docs to say that if we detect an MFA requirement, we'll redirect you to the interactive login. Can we just pass the code path TO the interactive login, given that we DID just pass you a username for you to work with?

[code]

[2015-10-09 23:03] huangpf commented on #2159
@ahmetalpbalkan
Instead of throwing the exception from the service side, may I know what's the right error message in your opinion?

[2015-10-09 23:05] ahmetalpbalkan commented on #2159
@huangpf there's nothing friendlier we can show here I believe, I just wanted to report this call is failing.

[2015-10-09 23:23] huangpf commented on #2159
I can reproduce this on my end as well, but I think this is related to the resources that are available in the specific location. For example, ```South India``` is not listed in the ```Microsoft.Compute/locations/publishers``` list.

[code]
[code]

[2015-10-09 23:26] amarzavery commented on #2185
It works..
[code]

[2015-10-09 23:36] ahmetalpbalkan commented on #2159
Ah may be CRP or PIR is not there yet?

[2015-10-09 23:44] squillace commented on #2185
I'm on mac with NPM upgrade, and with an org id (mscorp) so... no, it doesn't. What can I say?

[2015-10-09 23:47] yugangw-msft commented on #2185
@squillace,  could you provide a faked password text w/o the pair of "<>"?  It appears  they are being picked up as command redirect?

[2015-10-09 23:55] squillace commented on #2185
Wait: My bad, as you suspected. Because it's a strong password, some of the characters in the pwd are bash/zsh escaped. If I wrap it with quotes, it works. We should put something like that in the help as a note....

Closing! Maybe the other one is the same; I'll review.

[2015-10-09 23:55] #2185 closed

[2015-10-10 00:18] huangpf commented on #2150
I think now the ```vm set`` command will actually require the boot diagnostics parameters, which should be optional. I will try to get a fix by the next release. Thanks.

[2015-10-10 00:28] huangpf commented on #2159
@ahmetalpbalkan I think so. Could you please help close this issue? Thanks.

[2015-10-10 00:28] #2159 closed

[2015-10-10 15:04] squillace commented on #2139
Submitted https://github.com/Azure/azure-xplat-cli/pull/2189.

[2015-10-12 03:53] yugangw-msft commented on #2175
we will get azure-cli work with node 4.* after the nodejs/node#2996 get resolved, which is impacting all commands with keyboard interaction such as prompt for keyword, or missed parameter value.

[2015-10-12 10:22] matin-nayob opened #2191 "New Feature: azure vm list --depth full option"
Hi,

It would be great if there was an option in the "azure vm list" command to return the equivalent set of data for all VMs that is provided by the "azure vm show --depth full" command.
This way you would not need to iterate over each VM returned by "azure vm list" and call "azure vm show" individually.

Thanks,
Matin

[2015-10-12 16:52] ronaldmendoza commented on #2136
Version 0.9.9

This also repro's in ASM for Linux:
silly:       ], type: 'undefined_method', message: "Object #<ServiceCertificateOperations> has no method 'delete'" }
info:    Error information has been recorded to /home/mfadmin/.azure/azure.err
verbose: TypeError: Object #<ServiceCertificateOperations> has no method 'delete'
    at /usr/local/lib/node_modules/azure-cli/lib/commands/asm/service.c

[2015-10-12 18:28] ahmetalpbalkan commented on #2147
@squillace ping

[2015-10-12 18:29] ahmetalpbalkan commented on #2150
Thanks for the update.

[2015-10-12 18:30] ahmetalpbalkan commented on #2191
@matin-nayob Can you please check if `azure vm list --json` has the info you need?

[2015-10-12 18:36] ahmetalpbalkan commented on #2186
+1 happens to me as well. I can't login to my corp account right now. It used to wait for MFA login, it doesn't anymore.

[code]

Strangely enough I was already logged in while running this cmd. Next time I run the command without `-u`:

[code]

Weird.

[2015-10-12 19:14] JJ commented on #1899
It's also wrong in the VMDepot script for installing a particular image.

[2015-10-12 21:04] squillace commented on #2186
I'm unblocked, but the docs say that using -u will prompt you; but if your account is configured with mfa, it will NOT prompt you but instead just tell you that you used the wrong command. I'm submitting a PR with the docs, but it **should** just redirect to the mfa interactive right there, and not make the user retype something that they did correctly the first time. Basically, `azure login` is n

[2015-10-12 21:15] ahmetalpbalkan commented on #2186
I was happy with just `-u` and then it prompting my password. I wonder why that's now changed to be always non-interactive.

[2015-10-12 22:16] squillace commented on #2186
that's why the issue: I expected `azure login -u <username>` and then the pwd prompt. If I needed to use MFA, **THEN** I'd get the code and the advice to redirect to aka.ms/devicelogin. But, no. Just the failure, with the frustrating advice, because if I'd known, I would have just used `azure login` in the first place....

[2015-10-13 08:05] matin-nayob commented on #2191
Hi @ahmetalpbalkan The `--json` option only seems to change the output format to json, it doesn't return all the data that `--depth full` returns.
Specifically whats missing from the `azure vm list` output that I'm after is the full networkProfile section of the VM (i.e. the public IP and DNS settings of the attached NIC).

[2015-10-13 09:35] bingosummer commented on #2028
@devigned Any comment?

[2015-10-13 21:04] ahmetalpbalkan commented on #2191
@matin-nayob something like this might help in the meanwhile:

[code]

I just noticed we have a `--depth` argument on `azure vm show` command (which is only valid if you have `--json` as well...) As far as I can tell bare `azure vm show` command makes an extra request to fetch the NIC info etc.

[2015-10-14 08:55] matin-nayob commented on #2191
That's the approach I've currently gone with (also using jq is which brilliant for parsing json!).
I guess I was looking for a way to encapsulate that inside a single call to `azure vm show` so that I wouldn't have to make a call to `azure vm list` plus an extra call to `azure vm list` for each VM that I return from the first command.
I suppose this is more of a convenience request rather than mis

[2015-10-14 14:39] infidel opened #2196 "azure group template download fails with Object #<Object> has no method 'trim'"
On Ubuntu 14.04:

[code]

I just upgraded from 0.9.9 due to #2169.

[2015-10-14 16:00] yugangw-msft commented on #2196
@infidel,  you will need to specify the download folder, it is required per service api change
[code]

[2015-10-14 20:28] yugangw-msft commented on #2186
@squillace @ahmetalpbalkan
I have following notes , and hope it explains how and why it impacts the old behavior. You might know some already, but I still mention them so to get the points more logical. Let me know any comments/suggestions

1. For Msa (such as live-id) and org-id with MFA enabled (like our 'microsoft.com'), you have to login by inputting the code in the browser interactively. You

[2015-10-14 23:30] buchireddy opened #2198 "Can I access multiple azure accounts with azure-cli from same machine at same time?"
We actually have multiple azure accounts (for some valid reason) and I want to be able to run azure-cli commands for different accounts at the same time from same machine in different shells.

The problem with that is, once I login to one azure account with azure login, token will be stored in ~/.azure directory so I am not sure if I can login into another account exactly at the same time on that

[2015-10-14 23:42] infidel commented on #2196
OK, I just tried that but I received the same error about "trim". With "group template show" I can see the URL and I can download it manually as a work-around.

[2015-10-14 23:44] yugangw-msft commented on #2196
@infidel  could you please remove the "/home/luked/.streamline" and try again?
thanks!

[2015-10-14 23:48] infidel commented on #2196
Thanks, that works now.

[2015-10-15 00:12] yugangw-msft commented on #2196
@infidel
I have filed the issue on the streamline package. This has happened on several users
https://github.com/Sage/streamlinejs/issues/290

[2015-10-15 03:21] yugangw-msft commented on #2198
@buchireddy, my colleague amar has already answered your question at SO.
In short, azure-cli has no parallel protections on machine wide resources which are used to store aad access tokens and account information persistence. Even 2 concurrent login sessions use different account/username, because of the cross tenant token refreshing, it is still possible for both sessions to retrieve multiple tok

[2015-10-15 09:05] sondreb opened #2199 "Two-factor authentication was not released in 0.9.9 (or 0.9.10)"
Previously it was communicated that two-factor authentication (2FA) was coming in v0.9.9, this did not happen and now that 0.9.10 is out, it's still not supported.

https://azure.microsoft.com/en-us/blog/azure-cli-supports-microsoft-account-logins/

Are you planning to support two-factor authentication? Is there major hurdles and issues that makes it impossible from the command prompt? Why can't y

[2015-10-15 11:03] mrmunch commented on #1736
I have the same problem but I use *******@outlook.de

[2015-10-15 11:18] mohitsriv commented on #1736
We just shipped interactive Microsoft account login yesterday.  Try running just azure login (no parameters) and follow the instructions for logging in via your browser.

[2015-10-15 16:38] yugangw-msft commented on #2199
@sondreb
2FA does happen with 0.9.10. If you use the interactive flow though "azure login", that will log you in.
Do you expect all done in the command prompt, w/o browser interaction? If yes, then no, that is a different thing that we never claimed to deliver.

[2015-10-15 17:48] sondreb commented on #2199
This works great, thanks! I simply wish you had communicated this better in the press release, it does not come across as it supports 2FA. I have no issues with the web flow, though it would be nice if you could auto-launch the URL.

[2015-10-15 17:48] #2199 closed

[2015-10-15 17:54] buchireddy commented on #2198
Thanks for the reply @yugangw-msft and @amarzavery

Do you have any plans of sticking the token in an environment variable so that all the CLI commands in that session could use the token without persisting it? Now, I'm not sure if that makes sense but that makes it easy for our use case.

I'm just starting on Azure so I'm not sure why Azure doesn't use access/secret keys like AWS but that is also

[2015-10-15 19:02] yugangw-msft commented on #2199
@sondreb, thanks for the confirmation.
Yes, we are looking at the part of "auto-launch the URL", and will let you know if we have made progress

[2015-10-16 00:08] colemickens opened #2200 "Method to remove NSG from a nic"
How do I remove a NSG from a nic?

I wound up doing it through the portal for now...

[2015-10-16 07:21] tk421 commented on #1539
@jliu70 @kmouss It is unfortunate that examples are not provided. They are also very hard to find on Internet. [I posted a question in StackOverflow](http://stackoverflow.com/questions/33164650/azure-xplat-to-run-a-customscriptextension-in-a-windows-vm) to try to get an example.

[2015-10-16 08:04] romangromov commented on #2200
@colemickens try this one `azure network nic set your-res-group YourNic --network-security-group-id ""`

[2015-10-16 12:21] chungvinhkhang opened #2201 "Save Azure Vhd command on CLI"
Hi,
Is there anything which similar Save-AzureVhd of powershell that could help to download a vhd

[2015-10-16 13:45] shanselman opened #2202 "Make an alias for "app" instead of "site.""
Given app service, why not alias "site" and "app." Change it to app as the primary/main way but then keep site working.

    Azure app list

You get the idea

[2015-10-16 16:52] amarzavery commented on #2202
@shanselman
The site commands are in the RDFE/ASM mode.
The arm mode has webapp commands
[code]

Are you suggesting that we alias the ASM **site** commands as **app** commands?

[2015-10-16 16:59] amarzavery commented on #2201
I don't think there is a command to download a vm disk.
@kmouss , @babumuralidharan - Can you clarify?

[2015-10-16 17:19] amarzavery commented on #2186
Closing this issue as Yugang clearly explained the reasons for design change. Please feel free to open the issue, if the need arises.

[2015-10-16 17:19] #2186 closed

[2015-10-16 18:56] shanselman commented on #2202
I *think* I am? I, like most of the planet, have yet to grok and absorb the
whole RDFE/ASM switch. In fact, no non-Microsoft likely knows that. I do
know that I type "azure site list" now and "azure app list" should also
work.

On Fri, Oct 16, 2015 at 9:52 AM, Amar Zavery <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-10-16 19:32] amarzavery commented on #2202
I agree. Will look into aliasing them as app commands.

[2015-10-16 21:39] squillace commented on #2186
@yugangw-msft I appreciate the detailed explanation very much! thanks. I'd feel fine if we just say now: "we're going to MFA as the future for everyone; we've chosen to get there now and we know that it's breaking but the future will be secure."

I'll leave this issue closed, but I'll continue submitting the PR to update the online --help switch to clarify based on the comments you've included her

[2015-10-17 21:03] drunkwolfs opened #2203 "error: Credentials have expired, please reauthenticate."
I was working and after a while has appeared an error:
"Credentials have expired, please reauthenticate
Detailed error message from ADAL is as follows: Error: Entry not found in cache."

Then I re-made authentication, but it did not help:
[code]

I used google.com, and then do:

[code]

"azure login" does not work:

[code]

PLEASE HELP ME

[2015-10-18 15:25] gregjhogan opened #2204 "Feature Request: Add SQL commands to ARM mode"
Please add the following commands to ARM mode:

##### Commands to manage your SQL Server database servers
[code]
##### Commands to manage your SQL Server firewall rules
[code]
##### Commands to manage your SQL Server databases
[code]

[2015-10-18 22:19] colemickens commented on #2200
Looks like that worked. I had tried something similar but with `--network-security-group-name`. This indeed worked. Thanks.

[2015-10-18 22:19] #2200 closed

[2015-10-19 00:21] yugangw-msft commented on #2203
@drunkwolfs,  please run "azure account clear /q" and then run "azure login". The windows storage persistence code might have bug.

[2015-10-19 07:52] romangromov commented on #2200
@colemickens glad to help

[2015-10-19 09:07] romangromov opened #2205 "azure login: getting error 'Credentials have expired, please reauthenticate'"
I've changed my password for  `v-...@microsoft.com` email, and now `azure login` doesn't work anymore for me:
1)  `azure login` prompts to open browser:
[code]
2) Ok, done, we should be good here:
![screenshot_5](https://cloud.githubusercontent.com/assets/1655573/10573634/7c1f7f1a-7659-11e5-8f35-4966512b4878.png)

3) Xplat-CLI fails with error details below:
[code]
4) tried `azure account clear`,

[2015-10-19 17:57] drunkwolfs commented on #2203
how to get <your user id> list?
Thanks for the help.
I have already has configured a virtual machine with the help of Azure web-panel.

[2015-10-20 08:18] ramayer commented on #2198
@yugangw-msft: "It is totally feasible for azure-cli to use lock mechanism to protect them, but we just have not received enough ask to get that happen."

Consider this one more request to be able to use the command-line tools on more than one Azure account at a time.

[2015-10-20 16:10] yugangw-msft commented on #2203
@drunkwolfs , assume you are asking about how to get account list? that is "azure account list"

[2015-10-20 16:14] yugangw-msft commented on #2205
@romangromov , are you still blocked?
You can use the script "\<azure-cli-repo-root\>tools\\windows\\scripts\\listTokens.cmd" to check out whether tokens were ever issued.
If still no clue, please [turn on fiddler](https://github.com/Azure/azure-xplat-cli/blob/dev/tools/windows/scripts/enableFiddler.cmd), capture the traffic and send to me at yugangw at microsoft dot com, and i will forward to AAD

[2015-10-20 17:59] romangromov commented on #2205
@yugangw-msft after some experiments, I was able to checkout outdated branch and login. This issue happens only in latest `dev` branch

[2015-10-20 20:23] yugangw-msft commented on #2205
@romangromov, since recent release, there is no change occurred which could impact sign-in https://github.com/Azure/azure-xplat-cli/compare/release-0.9.10...dev
I am able to log in using my corp account with the latest dev. Could you try again and let me know whether it is still broken?

[2015-10-20 20:33] yugangw-msft commented on #2198
@buchireddy, regarding making the token as part of environment variable, this might not be very feasible, because one login session azure-cli will produce multiple token for each tenant your account is associated with, plus a pairing refresh token for every one.
However, if you login using service principal (a pair of key and secret), then it is feasible for parallel process, because azure-cli per

[2015-10-21 18:03] mohitarora commented on #2169
+1 I also encountered the same error.

[2015-10-21 22:10] yugangw-msft commented on #2203
@drunkwolfs, i am closing it as there is nothing actionable and no more responses

[2015-10-21 22:10] #2203 closed

[2015-10-21 22:11] yugangw-msft commented on #2205
@romangromov , please reopen if you see it with the latest dev

[2015-10-21 22:11] #2205 closed

[2015-10-21 23:28] buchireddy commented on #2198
Thanks for update @yugangw-msft

Seems like using service principal is my best bet. I will surely try that and update you on how it goes.

Do you have any documentation or blog posts about best practices of using service principals?

[2015-10-22 02:35] yugangw-msft commented on #2198
@buchireddy check out this post: http://blog.davidebbo.com/2014/12/azure-service-principal.html, which has pretty good conceptual introduction.
It was written using Powershell commands, but equivalent cmdlets exist in azure-cli.

[2015-10-22 07:52] romangromov commented on #2205
@yugangw-msft checked on latest `dev`, working fine now, thanks for looking into this!

[2015-10-22 14:05] paulb2015 opened #2210 "Deploying VM with a different subnet fails"
When I attempt to deploy a VM on to a second subnet on a virtual network it always fails. I can deploy VM's to the first subnet without a problem.

I have one virtual network called VNET.

When I deploy the first VM it is successful and creates a subnet called DATA.
When I deploy the second VM if fails, but only if the subnet is different (DATA2)

Error log and template I am using below:

Error Lo

[2015-10-23 03:12] LiliDeng opened #2212 "ASM - azure network application-gateway issue"
First I run below command to create a AG successfully.

azure network application-gateway create liliag liliagvnet subnet-1 --instance-count 2 --gateway-size

Then wants to add backend pool by below command, but it needs me to add one frontendport port firstly.

azure network application-gateway address-pool add -w liliag -n liliagbackendpool -r 192.168.2.36,192.168.2.37
info:    Executing command

[2015-10-23 08:11] romangromov commented on #2212
@LiliDeng once Application Gateway create, the next step is to import it's configuration:
`azure network application-gateway config import your-gateway-name "D:\config.json"`.
After this you can modify child resources, like frontend ports, address pools, etc.

Here is an example of `config.json`, Note: all of nodes (frontend ports, pools, etc.) are required:

[code]

[2015-10-23 08:14] LiliDeng commented on #2212
Thanks Roman, currently I do like this way, so it is the only way that we configure AG?

[2015-10-23 08:21] romangromov commented on #2212
@LiliDeng yes, this is only one way to get it work. We know, it's not obvious, but you have to do this because of it's designed this way on server end

[2015-10-23 08:26] LiliDeng commented on #2212
@romangromov thanks so much, I cost some time investigating it before I got the answer.

[2015-10-23 09:39] madhana opened #2213 "Azure CLI does not ignore quotes when used for passing values for templates"
When deploying a template through AzureCLI, user gets prompted for different parameters. if the input is in quoted (for instance "West US" as a value for a location parameter), Azure CLI does not ignore the quotes when constructing the POST response.
example case :
root@09f97847c36b:/# azure group deployment create rgdemochina testdeployment --template-uri https://raw.githubusercontent.com/azure/a

[2015-10-23 11:33] paulb2015 commented on #2210
The problem is because I wasn't declaring both subnets in the above template.

[2015-10-23 11:33] #2210 closed

[2015-10-23 18:04] yugangw-msft commented on #2213
@madhana, it is hard to make a general fix for azure-cli as it needs option like setting to tell it that a double quot is to be trimmed, vs a quot as part of a normal value.
I suggest you use a corrected version of parameters.

[2015-10-23 18:06] yugangw-msft commented on #2212
Solution is available. Closing

[2015-10-23 18:06] #2212 closed

[2015-10-23 19:31] colemickens opened #2216 "ARM: `azure ad app` missing `list|show` and json output is malformed"
I need to create an app from the xplat-cli and then be able to query for the app again to retrieve the ApplicationId that is assigned to it.

This information seems to only be accessible, currently, as you create the app, since `azure ad app list` and `azure ad app show` are not valid commands.

So I decided to try this to create the app and then pull the application id out of the returned json:
`

[2015-10-23 20:10] colemickens commented on #2216
Actually, even without --json, the output looks cut off:

[code]

[2015-10-23 20:13] yugangw-msft commented on #2216
@shuagarw, please take a look. 2 sub items, the "--json option support" and to clarify whether cut-off exists

[2015-10-23 20:18] colemickens opened #2217 "ARM: `azure ad sp create` does not accept applicationId as a named arg"
[code]

then:

[code]

Also, I feel that the named arg should be `--application-id` to be consistent with other calls, and with the error message. If the named arg is not renamed, then the error message should say `missing required argument 'applicationId'`.

[2015-10-23 20:41] colemickens opened #2218 "ARM: AD: Instructions for creating an authorized Service Principal don't work"
https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/#authenticate-service-principal-with-password---azure-cli

Trying to follow those instructions for creating a ServicePrincipal (only I need "Contributor" instead of "Reader"), but they don't work.

First, I think the issue is related to Step 4 which says: "[...] For the ServicePrincipalName param

[2015-10-23 20:51] colemickens commented on #2218
If I use the `--spn` option and pass a identifierUrl that was used to create the app, it works.

But I'd still like to understand why I can't use the objectId of the SP I just created. Especially since the ObjectId returned on the new Role Assignment is the SP's ObjectId... I would have expected it to have accepted it.

Here's the results after switching to --spn (including all output again becaus

[2015-10-24 15:36] #885 closed

[2015-10-24 15:36] #724 closed

[2015-10-24 15:39] jeffwilcox commented on #1178
@gangsir it sounds like you are recommending closing this issue as "won't fix". If so, shouldn't this issue be closed, instead of sitting open? The issue was opened in early 2014.
@shanselman any input on this?

It seems like teams are more willing to take breaking changes to important things like this in our services-first world; just because we have users does not mean that we should be afraid t

[2015-10-24 15:42] jeffwilcox commented on #1697
@zhimingyuan so are you recommending the closing of this issue?

[2015-10-24 15:43] jeffwilcox commented on #1685
+1

[2015-10-24 15:43] jeffwilcox commented on #1512
@amarzavery is the original issue fixed or otherwise addresses? Although it feels like this discussion thread has morphed, it's a very old thread...

[2015-10-27 04:08] howie commented on #1564
Hi yaxia

We also have this problem.
You can  reproduced by open two terminal and run  azure storage blob upload simultaneous .

[2015-10-27 09:25] esbenboye opened #2226 "Faulty JSON when getting a list of users through CLI tool"
I'm pulling out a list of users, using the CLI command  `azure ad user list --json`(using the CLI Tool for Mac), but the json I get back is faulty.
At line 799 (After exactly 100 objects - Don't know if this means anything), I get an error, where an array is ended, and a new one is started:
(Real values replaced by me, and I've cut the result down to exactly where the problem is)

[code]

This pos

[2015-10-27 21:35] squillace commented on #1487
@devigned FYI. I'm good with jq now; but the basic display should still be clear and usable.

[2015-10-27 21:35] squillace commented on #2091
@Matt-Westphal Thanks.

[2015-10-27 21:36] squillace commented on #2148
@devigned Did anyone route this? I don't know who should get this.

[2015-10-27 23:23] colemickens commented on #2218
I'm now getting errors with the method that was previously working:

[code]

I don't know how to interpret this error message. The principal id `0a0cf6cb...` doesn't seem to have been specified by me anywhere. (It is the SP's "Object Id" from the previous step which created the app's SP)

[2015-10-28 08:36] waldiTM opened #2230 "body.outputStream.on is not a function"
azure vm image create using node 4.1.1 and azure-cli 0.9.10 fails:
[code]

[2015-10-28 16:52] devigned commented on #1487
@squillace yes, the display is trying to do too much...

[2015-10-28 16:54] devigned commented on #2148
@singhkay I think this is up your alley. Thoughts?

[2015-10-28 17:16] singhkay commented on #2148
@squillace I'll connect you with the PIR team offline

[2015-10-29 07:51] romangromov opened #2236 "ARM: 'azure network nic inbound-nat-rule/address-pool add' throws error"
[code]

[2015-10-29 07:52] romangromov commented on #2236
Will fix, + @DeepakRajendranMsft for visibility

[2015-10-29 09:09] sreekanthbs commented on #2236
@romangromov network nic inbound-nat-rule add is working fine in azure-xplat-cli-arm-nic-fix branch
<pre>
<code>
C:\Oct\29Oct\azure-xplat-cli-arm-nic-fix>node bin/azure network nic inbound-nat-rule add armresgrp29O nic29 -l lb1 -r natrule1
info:    Executing command network nic inbound-nat-rule add
+ Looking up the network interface "nic29"
+ Looking up the load balancer "lb1"
+ Updating network i

[2015-10-29 09:11] sreekanthbs commented on #2236
@romangromov  the same issue is with network nic address-pool add .
I verified in azure-xplat-cli-arm-nic-fix branch also its not working for address-pool name option.
<pre>
<code>C:\Oct\29Oct\azure-xplat-cli-arm-nic-fix>node bin/azure network nic address-pool add armresgrp29O nic29 -l lb1 -a pool1
info:    Executing command network nic address-pool add
+ Looking up the network interface "nic29"
+

[2015-10-29 09:23] romangromov commented on #2236
@sreekanthbs fixed for `address-pool add` as well

[2015-10-29 09:43] sreekanthbs commented on #2236
@romangromov yes its working fine now for both nic  inbound-nat-rule add & nic address-pool add .

[2015-10-29 17:14] tung-jin-chew-hp opened #2238 "Unable to set port range on network security group rule"
It's currently not possible to set a port range when creating/editing a network security group due to a bug in lib/commands/arm/network/nsg._js validatePortRange.js. The Web UI allows ranges, e.g. 9000-10000.

Here's an example:
[code]

[2015-10-29 17:15] #2236 closed

[2015-10-29 17:38] tung-jin-chew-hp commented on #2238
This is an example of it working with the #2239 patch (both add and set use the same _validatePortRange function):
[code]

[2015-10-29 22:50] stuartpreston opened #2245 "ARM: Timeout on azure vm image list with specified Publisher and Offer"
0.9.10;Windows 10

I'm getting frequent timeouts (i.e. taking >30s) to get an image list where I know the Publisher and Offer.  E.g.  ```azure vm image list "West Europe" Canonical UbuntuServer```

returns:
[code]

(The PowerShell equivalent ```Get-AzureRmVMImageSku -Location "west europe" -PublisherName Canonical -Offer UbuntuServer``` returns within 1 second).

[2015-10-30 00:33] ronaldmendoza commented on #2143
I'm still seeing this error in release-0.9.10

$ azure network vnet list -vv
info:    Executing command network vnet list
verbose: Looking up the virtual network sites
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       method: 'GET',
silly:       headers: { user-agent: 'WindowsAzureXplatCLI/0.9.10', x-ms-version: '2015-04-01' },
silly:

[2015-10-30 08:50] romangromov commented on #2143
@ronaldmendoza can you please send me output JSON for `azure network vnet list` command? v-rogrom@microsoft.com

[2015-10-30 09:40] romangromov opened #2247 "ARM: `azure network traffic-manager profile endpoint create` throws Error"
[code]

[2015-10-30 09:42] romangromov commented on #2247
Will fix,

@sreekanthbs please verify fix in our repo, `arm-fixes` branch

[2015-10-30 11:07] luisfcorreia opened #2248 "ARM: Add VPN gateway creation commands"
Add whatever is necessary to implement these Powershell Azure 0.9.8 (in Resource Mode) commands:

New-AzureVirtualNetworkGateway
New-AzureVirtualNetworkGatewayConnection

[2015-10-30 11:24] sreekanthbs commented on #2247
It is working fine now.
<pre>
<code>
azure network traffic-manager profile endpoint create armresgrpdnszone xplatTestTMPE xplatTestTMPEndPoint eastus -y externalEndpoint -e xplatTMPEndptdns1.azure.com -u Enabled -w 100 -p 200
info:    Executing command network traffic-manager profile endpoint create
+ Looking up the Traffic Manager profile "xplatTestTMPE"
+ Updating Traffic Manager "xplatTestTMPE"

[2015-10-30 11:45] romangromov opened #2249 "ARM: 'azure network gateway vnet create' throws error"
[code]

[2015-10-30 11:47] romangromov commented on #2249
Will fix,

@sreekanthbs please verify fix in our repo, `arm-fixes` branch. Comment: `enable-bgp` should be `false` by default, so you have to update related test case.

+@yugangw-msft for visibility

[2015-10-30 11:49] romangromov commented on #2248
@luisfcorreia Vnet gateway CRUD commands in ARM already available in Xplat-CLI, and gateway connections is on the road

[2015-10-30 12:56] sreekanthbs commented on #2249
@romangromov yes with enable-bgp as false its working.
But sometime its giving error for connect Etimedout
![image](https://cloud.githubusercontent.com/assets/11171941/10846184/9a5250ce-7f33-11e5-87aa-cb1f959c7f37.png)

[2015-10-30 12:58] romangromov commented on #2249
About `Etimedout` - it's external, reported, no updated about this

[2015-10-30 14:30] sreekanthbs commented on #2249
@romangromov With Enablebgp as true we are still getting the same issue
<pre>
<code>
C:\Oct\30Oct\Arm-Fixes\azure-xplat-cli-arm-fixes>node bin/azure network gateway vnet create -g xplatTestGroupVnetGateway25637 -n xplatTestvpngateway2050 -l eastus -y
RouteBased -p xplatTestIpGateway9052 -m xplatTestVnetGateway9921 -e GatewaySubnet -a 10.0.0.11 -b true
info:    Executing command network gateway vne

[2015-10-30 14:34] romangromov commented on #2249
@sreekanthbs because of `Enable BGP property cannot be set for non express route gateway`. Maybe  we need to choose another type for this gateway?

[2015-10-30 15:24] sreekanthbs opened #2250 "ARM : network application-gateway commands are very long running"
Most of the app-gateway commands run for 20 or more minutes.
Even after one command complete we need to wait for 10-15 mins before running another command otherwise error comes - Another operation on this resource is in progress.

![app-gatewayissue tmp](https://cloud.githubusercontent.com/assets/11171941/10849775/5167651a-7f48-11e5-8c57-8a5ad73a95f8.PNG)

[2015-10-30 18:14] yugangw-msft commented on #2230
@waldiTM,  if you remove the /usr/local/.streamline, does that help?

[2015-10-30 18:19] yugangw-msft commented on #2218
@colemickens, there is a known latency that when you create a fresh new graph object such as "user", "service principal", it would take a while to get the change propagated to the role management system so that you "role assignment" commands can work.
You might have figured out, the guid should be the object id of the spn "http://kube-spoke/9d916086-a574-4e8b-9add-8e793101fac5". The azure-cli comm

[2015-10-30 18:21] yugangw-msft commented on #2226
@vivsriaus , please investigate

[2015-10-30 18:23] #2247 closed

[2015-10-30 18:24] yugangw-msft commented on #2245
@huangpf , please take a look

[2015-10-30 18:26] yugangw-msft commented on #2217
@vivsriaus , please fix it

[2015-10-30 18:28] yugangw-msft commented on #2216
@vivsriaus , please take a look. There are several json format issue we can fix them at the same time

[2015-10-30 18:28] #2213 closed

[2015-10-30 18:37] huangpf commented on #2245
@stuartpreston The command finished within seconds on my end. Could you please help retry it with the ```-vv``` option to collect the debug message? Thanks.

[2015-10-30 19:09] stuartpreston commented on #2245
Here you go: https://gist.github.com/stuartpreston/937737bbfe0b1e6efea8

[2015-10-30 19:19] romangromov commented on #2250
Anyway, this is `external` for Xplat-CLI

[2015-10-30 20:21] huangpf commented on #2245
I see... it looks like a network and/or the CLI timeout handling problem:

How about these commands?
[code]

Or
[code]

[2015-10-30 20:37] stuartpreston commented on #2245
The MicrosoftWindowsServer one seems to return quickly, in 2 or so seconds. This is presumably because there are fewer versions to enumerate. It seems that a request is issued for each version of the sku.

Running against the westus region timesout.  But of course I'm still routed to query against West Europe really because of my physical location (the UK)

[2015-10-30 20:39] #2249 closed

[2015-11-02 00:34] devigned commented on #1889
@mukaibot, I'm going to reopen. If you can do it from the portal, you should be able to do it from the CLI.

[2015-11-02 01:47] bingosummer commented on #1737
When I use `azure resource create` to create a storage account, I hit a similar error here with the empty body.

[code]

However, if I use `azure storage account show XXX`, I find that the storage account has been created successfully.

Here is `azure.details.err`.
[code]

[2015-11-02 08:16] romangromov commented on #2238
@yugangw-msft bug, will fix

[2015-11-02 09:01] romangromov commented on #2238
+@sreekanthbs

[2015-11-02 10:13] sreekanthbs commented on #2238
Verified and it is working fine.
<pre>
<code>
root@dndubuntu1204:/home/azureuser/azure-xplat-cli-azure-dev# node bin/azure network nsg rule set armrestestgrp2n nsg2n nsgrule2n -d 'Allow incoming traffic from proxy22' -p 'Tcp' -f '15.203.169.110/16' -o '*' -e 'VirtualNetwork' -u '7000-7500' -c Allow -r Outbound
info:    Executing command network nsg rule set
+ Looking up the network security group

[2015-11-02 19:23] Rowdster commented on #2169
This was closed, but I am still having this issue.  What was the fix?

[2015-11-02 22:01] yugangw-msft commented on #2169
@Rowdster, what was the azure-cli version in your box?
Please have at least 0.9.10. You can run "azure -v" to check out the version

[2015-11-02 22:52] squillace commented on #2135
@amarzavery @devigned Where are we on this? Current behavior is in fact highly non-standard and decidedly unsecure at the same time. But it's easier! :-)

[2015-11-03 01:40] Rowdster commented on #2169
yugangw-msft, thanks.  I was at 0.9.9

[2015-11-03 03:01] bingosummer commented on #2250
Does Xplat-CLI has `network application-gateway` command in ARM mode?
I can only find the command in ASM mode.

[2015-11-03 03:02] bingosummer commented on #1737
Could anyone help on this issue?

[2015-11-03 08:20] squillace commented on #2147
OK, @yugangw-msft,  clearly this was hi-pri. Tags **does** in fact work fine when you wrap it in quotes; @ahmetalpbalkan's right.

Since this kind of escaping is common, I propose we leave it, doc it, and move on. Sorry for the delay.

[2015-11-03 08:20] #2147 closed

[2015-11-03 08:37] romangromov commented on #2250
@bingosummer not yet, it's on the road.
+@MikhailTryakhov who owns `network application-gateway` in `ARM`: when we can expect mentioned commands to be merged?

[2015-11-03 08:43] romangromov commented on #2248
@luisfcorreia please let us know you are not blocked and able to use `VPN gateway` commands in Xplat-CLI. Please let me know if you have any other additional questions or close the issue

[2015-11-03 08:46] luisfcorreia commented on #2248
I'm not able to create the actual Connection as there is no command for that.

I have to use a template for that specific operation

[2015-11-03 08:48] MikhailTryakhov commented on #2250
@bingosummer it's on review now - will be in next release (I hope)
@sreekanthbs please move this issue to another repo.
@romangromov  thank you, we still wait for review

[2015-11-03 08:55] romangromov commented on #2248
@luisfcorreia yes, `connection`-related commands are in progress, we are sorry for delay. Will respond here since it included

[2015-11-03 19:31] pcgeek86 opened #2258 ""Azure vm list" command doesn't output ResourceGroupName"
Many of the Azure VM commands require you to enter a Resource Group Name. Therefore, the `azure vm list` command should output the Resource Group that a VM belongs to. Is there a way to achieve this, and if not, can we get that added to the output?

Also, `azure vm list` should not *require* a user to specify the Resource Group Name. It should enumerate all VMs from all Resource Groups by default,

[2015-11-03 19:56] pcgeek86 opened #2259 "Parameter Error deploying ARM JSON Template to Resource Group"
I'm using Mac OS X El Capitan 10.11.1, and am running into an error using the Azure xplat CLI tool to deploy an ARM JSON Template to a new Resource Group. The error pertains to a parameter. I suspect that I am incorrectly escaping the quotes, but it seems that it's parsing the parameters correctly.

[code]

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[code]

[2015-11-03 21:19] yugangw-msft commented on #2259
@pcgeek86, do you mind sharing the template file? @vivsriaus can take a look.

[2015-11-03 21:39] yugangw-msft commented on #2258
@huangpf , it is a reasonable ask

[2015-11-03 21:40] yugangw-msft commented on #2230
closing, please feel free reopen it with more information.

[2015-11-03 22:08] ahmetalpbalkan opened #2261 "ARM: 'azure vm create' promps only for some required arguments"
If I just run `azure vm create` it only prompts for certain required fields, not all...

This makes all the prompt strings I typed earlier useless...

[code]

[2015-11-03 22:10] ahmetalpbalkan commented on #2261
So if I specify `--image-urn`, then it keeps prompting me for:

[code]

but shortly after I get:

[code]

whoops. All gone again.

[2015-11-03 22:15] ahmetalpbalkan commented on #1955
@yugangw-msft can you please take a look here? This does not fix the bug entirely

0.9.10:

    $ azure vm extension set [bla bla] --public-config-path <tab><tab> <-- does not work

can you please reopen?

[2015-11-04 00:07] yugangw-msft commented on #1955
@ahmetalpbalkan, my PR introduced a new file related flag so auto-complete can recognize as a file related option and do a "ls". At that time I did convert some existing options though, but obviously i could not know all of them.
Re-think now, maybe i don't even need to introduce a file flag; rather i should just do a "ls", even for a not file related option. Not that experienced on non-windows pl

[2015-11-04 01:10] huangpf commented on #2258
+@sauryadas to help triage.

[2015-11-04 03:24] pcgeek86 commented on #2259
@yugangw-msft Thanks, @devigned was able to identify the problem. I was structuring the parameters incorrectly. David is going to improve the user experience / messaging here. Thanks!

Cheers,
Trevor Sullivan

[2015-11-04 09:59] sreekanthbs opened #2262 "ARM: network lb frontend-ip create with -b, --subnet-id giving error but provisioning state is succeeded"
ARM network lb frontend-ip create with -b, subnet-id, as well as -e, --subnet-name and  -m, --vnet-name without --json option is giving some error message but the provisioning state is Succeeded.
It created lb frontend-ip when we checking frontend-ip list.
When we execute the same commands with --json it is not giving any error messages.

Identified this issue in release-0.9.11 branch.
![image](ht

[2015-11-04 15:27] bitsofinfo commented on #1937
Is this available yet? How can I add an existing VM to an availability set via the CLI in ARM mode? Annoying

[2015-11-04 18:08] romangromov commented on #2262
@sreekanthbs I will take a look into this

[2015-11-04 20:27] pcgeek86 opened #2263 "Resizing Azure VM throws exception about boot diagnostics"
I'm trying to resize an Azure VM, using Resource Manager (ARM) mode, and I'm getting an error about boot diagnostics. What might cause this?

<img width="753" alt="screen shot 2015-11-04 at 12 25 16 pm" src="https://cloud.githubusercontent.com/assets/466713/10950933/534c3efa-82ef-11e5-8186-09ae90e780c4.png">

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitte

[2015-11-05 08:32] romangromov commented on #2262
@sreekanthbs please verify fix in our repo, `arm-lb-fip-fix` branch

[2015-11-05 09:33] sreekanthbs commented on #2262
@romangromov verified in arm-lb-fip-fix with all options and it is working fine.

[2015-11-05 18:35] yugangw-msft commented on #2196
We have fixed the issue by no longer publishing streamline files to npm. Please try out the latest azure-cli@0.9.11

[2015-11-05 18:35] #2196 closed

[2015-11-05 21:23] infosatheesh2020 commented on #2177
@romangromov Shall we get a feature to specify destination port in Comma?

Like below:
--destination-port-range "22,25,80,8080"

[2015-11-06 02:29] damienmci commented on #1937
I too am stuck with an existing VM needing to be moved into an existing Availability Set via ARM PowerShell.
Currently using 0.9.8 PowerShell in ARM mode.
Any update on this?

[2015-11-06 05:50] colemickens opened #2267 "azure ad sp list doesn't work"
[code]

[code]

[2015-11-06 05:56] colemickens commented on #2267
I had to manually set it in azureProfile.json. That seems to get it going. Not sure why it was empty. I logged in with AD and it was filled in for every entry in accessTokens.json.

[2015-11-06 07:01] romangromov commented on #2177
@infosatheesh2020 currently, only this notations supported on server end: `80, 80-81, *`

[2015-11-06 07:56] amanda0411 opened #2268 "Wrong graph end point for AzureChinaCloud"
Hi
I see that the value of "activeDirectoryGraphResourceId" for "AzureChinaCloud" is "https://graph.windows.net/" in file envrionment.js. Actually, the value for AzureChinaCloud should be "http://graph.chinacloudapi.cn". Could you have a look? :)

[2015-11-06 12:50] infosatheesh2020 commented on #2177
@romangromov Thanks for the info

[2015-11-06 14:58] joergrech opened #2269 "The specified item could not be found in the keychain"
I have a similar problem to issue #2081 with azure-cli 0.9.11 on Mac OSX . I cannot execute most command and login via web or username/password does not help. I can view my subscriptions ("azure account list" does work) but not my VMs ("azure vm list" does not work). Even trying older versions, removing keychain entries or clearing account data ("azure account clear", uninstalling and removing dir

[2015-11-06 16:57] yugangw-msft commented on #2269
@joergrech there is a known issue that if your user name (given & family name) contains non-ansi character, the login command will not be able to save and retrieve the access token correctly with the error you mentioned. We will fix that in the upcoming release. If that is the case for you as well, for now, you can either chose a different user with all ansi character, or manually remove the key c

[2015-11-06 17:48] joergrech commented on #2269
Ah ok, It might be associated with my user name on my Mac which contains an "ö" umlaut. Do you mean another user account on my Mac when you say "chose a different user with all ansi character" - or a new account on the Azure platform? However, removing the two key chain entries "azure access token" will not help (this will require a new login and after login the error reappears).

[2015-11-06 17:57] yugangw-msft commented on #2269
@joergrech, i meant the user account on the azure platform which you used in the command of "azure login". If you go to azure portal, you can take a look at the user detail through the "Directory" tab, i suspect the user name or id contains non english character.
And depend on the user type, cleaning up the entries might not help, because "login" command involves several interactions with active d

[2015-11-06 23:31] #2262 closed

[2015-11-08 18:29] joergrech commented on #2269
Btw. can you state the last version before this faulty mechanism was introduced? I upgraded from a 0.8 or 0.7 version that worked but I did not remember the number and 0.8.12 etc is not working. Would be great if you could tell me before I have to try them all :-)

[2015-11-09 20:11] huangpf commented on #2263
@pcgeek86 May I know what's the version of your CLI? The new release ```0.9.11``` shall have this fixed.

[2015-11-09 22:50] pcgeek86 commented on #2263
@huangpf Interesting, I re-installed xPlat CLI the other day in preparation for a demo, and must have inadvertently updated it. I just retried the command, and it worked correctly.

Thank you sir!

**closing as "fixed in 0.9.11**

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-09 22:50] #2263 closed

[2015-11-09 22:51] pcgeek86 commented on #2258
Any updates on this @huangpf? Thanks!

Cheers,
Trevor Sullivan

[2015-11-09 22:55] sauryadas commented on #2258
This is up for discussion we'd evening .Will be updated by Thursday am. Thanks

Best
{Saurya}

On Nov 9, 2015, at 5:51 PM, Trevor Sullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

Any updates on this @huangpf<https://na01.safelinks.protection.outlook.com/?url=https%3a%2f%2fgithub.com%2fhuangpf&data=01%7c01%7csaudas%40microsoft.com%7cbb889722dab24a46f1cb08d2e9585d05%7c72f

[2015-11-10 03:22] mohitarora opened #2274 "azure service show --json <servicename> doesn't show PaaS role IPs"
When I run azure service show --json <servicename> it doesn't show the detailed information. No information about instances and deployments of cloudservice is shown,

[2015-11-10 03:44] milburnr commented on #1791
This is an older thread but I was looking for this very thing, and the posts above are no longer true. I just assigned two reserved IPs to different cloud services that are existing with VMs running in them.
Get-AzureReservedIP |Select ReservedIPName,Address
lists the reserved IP information.
Get-AzureService |Select ServiceName
lists the services you have.

Set-AzureReservedIPAssociation -Reserve

[2015-11-10 16:33] pcgeek86 opened #2275 "0.9.11 xPlat CLI :: azure location list --json outputs comma-separated string for locations"
I think that it would be better to output a JSON array for locations, instead of a comma-separated string. See screenshot.

<img width="759" alt="screen shot 2015-11-10 at 10 32 00 am" src="https://cloud.githubusercontent.com/assets/466713/11068341/7c36fe8a-8796-11e5-9ca4-b86030a884dc.png">

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-10 17:11] yugangw-msft commented on #2269
This bug should have there for a long time. It is a basic de-serialization bug on querying windows credential storage and mac key-chain.
I will try to sort out a bug fix this week and you can start to use dev branch.

[2015-11-10 18:28] romangromov commented on #2275
+1

[2015-11-11 23:29] sauryadas commented on #2258
We will discuss the ask but wanted to point out that you can list all resource groups in a subscription through

and then list all VMs

This possibly is helpful when you have a long list of resource groups and multiple VM's in each resource group

[2015-11-12 01:58] pcgeek86 commented on #2258
@sauryadas I am well aware of that, thank you though. My recommendation is to reduce the number of steps that the end user has to follow in order to get the desired result. It is a matter of efficiency.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-13 02:27] huangpf commented on #2245
@yugangw-msft This is a general issue about CLI's time-out handling, not specific RP commands. So I think you shall triage this one?

[2015-11-13 07:58] romangromov opened #2281 "ARM: 'network express-route provider list' should output comma separated bandwidth"
As per Amit Srivastava <amsriva@microsoft.com>:

Could you please get this fixed?

[2015-11-13 07:58] romangromov commented on #2281
Will fix

[2015-11-13 08:04] romangromov commented on #2281
+@sreekanthbs to verify fix

[2015-11-13 09:45] sreekanthbs commented on #2281
@romangromov  Its working fine now , bandwidth details are getting displayed  as a comma separated list. 50Mbps, 100Mbps, 200Mbps etc.

[2015-11-13 18:45] pcgeek86 opened #2283 "Built-in help for "azure role" is messy"
Most of the Azure xPlat CLI commands provide easy-to-consume, structured, built-in help. The `azure role` command provides a bunch of examples that cause the output to become extremely long, and very messy. This should be fixed up, to be more consistent with the other Azure xPlat commands.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-11-13 22:16] colemickens commented on #2218
Thanks @yugangw-msft. After implementing a simple sleep, I can see that this works, both with the identifier url or the object id. Thanks for the information.

[2015-11-13 22:16] #2218 closed

[2015-11-14 19:08] pcgeek86 opened #2285 "New JSON parsing errors"
I have just started receiving error messages from the JSON output emitted by the Azure cross-platform CLI tool. I used to be able to use tools like `jsawk` to parse output, but now it's getting truncated, which is causing JSON parsing errors.

I'm using Mac OS X 10.11.1 with `azure` xPlat 0.9.11 on Bash 3.2.57(1)-release.

<img width="577" alt="screen shot 2015-11-14 at 12 04 07 pm" src="https://c

[2015-11-15 21:53] petemill opened #2286 "The provided account key undefined is not a valid base64 string."
When providing a valid storage connectionstring, or storage account name and key pair via environment variables, azure-cli fails reporting the key as not valid. Though, it seems the validation function is always passed in `undefined` rather than the key.

Reproducable steps:

[code]

I have tried multiple versions of node and even used the azure-cli docker image to discount environment differences

[2015-11-16 01:12] colemickens opened #2287 "Can't figure out how to set keyVault enabledForDeployment"
See title.

I can't figure out how to set "EnabledForDeployment" to true for a KeyVault that I'm creating or modifying.

[2015-11-16 16:49] #1889 closed

[2015-11-16 18:34] #2248 closed

[2015-11-16 19:02] romangromov commented on #2248
@luisfcorreia `connection` CRUD commands now merged to dev branch, will be available in next xplat-cli release (0.9.12)

[2015-11-16 19:04] luisfcorreia commented on #2248
great, will test soon

[2015-11-16 21:00] stuartleeks opened #2290 "Error with "azure storage cors set" on Windows"
I'm running 0.9.11 on Windows and get an error when attempting to run the command below.

Running the same command on 0.9.11 on Ubuntu succeeds.

[code]

The error that I get is:

[code]

[2015-11-16 21:08] stuartleeks commented on #2290
Ok, despite staring at this for a long time before posting the answer popped into my head almost immediately after posting this issue!

Spot the difference to the working command below

[code]

HINT: I forgot to escape the quotes in PowerShell!

[2015-11-16 21:08] #2290 closed

[2015-11-16 22:48] pcgeek86 opened #2291 "Missing Azure Automation commands"
Unless I'm missing something, the Microsoft Azure xPlat CLI Tool is missing commands to manage Azure Automation. @jodoglevy @devigned

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-11-17 00:49] devigned commented on #2130
@davidebbo if there is no existing plan, then you are not able to create a web app. This is a rough experience for a consumer.

I had to resort to creating a webapp with a resource template. That was not nearly as fun as `azure webapp create ...`

[2015-11-17 01:00] davidebbo commented on #2130
I haven't used on the xplat much, but my understand is that for the most part, each command becomes a single PUT. And creating an app service plan is a very separate action from creating an app that goes within it. So I'm not convinced we want to combine them, as that would create a very complex command (there are many switches for the plan creation).

[2015-11-17 01:41] amarzavery commented on #2283
The examples were provided in the help to make the users better understand the usage.
@namratab - From the Authorization team should be able to give more context for this approach.

[2015-11-17 01:51] amarzavery commented on #2287
**--enabled-for-deployment <boolean>**           specifies whether the Azure Compute resource provider can access secrets

**--enabled-for-template-deployment <boolean>**  specifies whether Azure Resource Manager can access secrets

[code]

Did you find any issues with those switches?

Adding @seanbamsft from the keyvault team to his conversation/

[2015-11-17 01:52] amarzavery commented on #2286
@yaxia - Can you please help validate this issue?

[2015-11-17 01:57] colemickens commented on #2287
Sorry, I meant to come back. I am using this: `azure keyvault set-policy --vault-name "my-vault-name" --enabled-for-deployment true` successfully.

I was expecting it to also be a creation-time flag, since it is in the Powershell kit.

[2015-11-17 02:04] amarzavery commented on #2275
This is what the server sends currently. The intention is to stay close to the wire so the cmd does not break due to server side changes.
Roping in Vivek from the ARM team to comment on this.

@vivsriaus - What are your thoughts on this?

[2015-11-17 02:06] #2269 closed

[2015-11-17 08:29] romangromov commented on #2238
@tung-jin-chew-hp please make sure `azure network nsg rule set` working fine now and let me know, otherwise please close the issue, Thanx!

[2015-11-17 09:03] greenmang0 opened #2294 "Issue with login when specific version of xplat cli is installed"
[code]

Works with a latest version.

[2015-11-17 12:38] tboloo commented on #2269
@amarzavery -> when the fix would be available? I have installed v0.9.11 and the problem is still present. I had to update my profile on live.com to remove non-ASCII characters to make azure-cli work.

[2015-11-17 17:10] yugangw-msft commented on #2269
@tboloo  we plan to release a fix through the upcoming release. The time will be at the beginning of December

[2015-11-17 17:49] romangromov commented on #2281
It's done, closing issue

[2015-11-17 17:49] #2281 closed

[2015-11-17 18:22] amarzavery commented on #2294
As you said azure login works with the latest version. Then, is there a reason to specifically use 0.9.8 ?

[2015-11-17 18:58] pcgeek86 commented on #2285
1. I've downgraded to Azure xPlat CLI 0.9.10, which exhibited the same issue. I'm thinking it's not a fault of the tool itself.
2. I've also tried `zsh` instead of `bash` on Mac OS X. The behavior is the same there.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-17 19:53] devigned commented on #1921
:+1: + @squillace

[2015-11-17 19:54] squillace commented on #1921
Yes. Definitely must have support for incremental and complete.

[2015-11-17 22:10] pcgeek86 commented on #2275
Thanks for the explanation @amarzavery. My suggestion would be to update the REST API.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-17 22:25] pcgeek86 commented on #2283
Thanks @amarzavery for the response. While I appreciate the examples, I think the documentation should be more easy to understand.

Look at all the other commands under Azure xPlat CLI. They clearly list out (one command per line) the sub-commands, but the `azure role` command does not. Examples are fine, but they should be provided under a different context.

This looks clean and readable:

![ima

[2015-11-17 22:36] namratab commented on #2283
Thanks for the feedback, @pcgeek86 .
From what I remember, there wasn't any separate 'context' for xplat commands (similar to the Description, Syntax, Examples sections that are present in PowerShell help documentation) where we could provide a detailed (greater than one-line) summary and provide examples.
@amarzavery I can sync with you to see how this can be improved.

[2015-11-18 08:03] greenmang0 commented on #2294
@amarzavery, Yes since I do not update packages (especially third party) on production unless required.

[2015-11-18 18:50] yifan opened #2298 "need support for copying vhd (page blob)"
Currently if I try to use azure cli to copy .vhd to a different storage account, I will get an error message as following:
[code]

[2015-11-18 20:23] #2298 closed

[2015-11-18 20:23] yifan commented on #2298
the error was about source blob has different blob type as destination blob

[2015-11-18 23:18] pcgeek86 commented on #2283
@namratab Thanks for the response. I guess I wasn't suggesting that there was a separate "section" of help, but rather that the help should be organized a bit more. When I am viewing the `azure role` sub-commands, I shouldn't see all of the information that is specific to each sub-command. I should only see a summary of the sub-commands. When I enter a more specific sub-command (eg. `azure role sh

[2015-11-19 00:17] amarzavery commented on #2294
@greenmang0 - Can you post the details of the azure.err file? If you installed via npm  ```npm install -g azure-cli``` then it could be a streamline issue. If you remove the .streamline file under the User's home profile directory `~` then most likely this will be fixed.

That being said, we cannot publish a patch to the same version 0.9.8 of azure-cli to npm. I don't think this is possible via np

[2015-11-19 00:19] amarzavery commented on #2287
Ah I see, so it is a feature request. @seanbamsft - Can you see if this can be implemented for keyvault creation as well?

[2015-11-19 09:28] greenmang0 commented on #2294
@amarzavery, removal of `~/.streamline` did the trick, thanks.

[2015-11-19 09:28] #2294 closed

[2015-11-19 18:40] akamalov commented on #2217
Confirming a bug...

[2015-11-20 02:05] jimyjohny commented on #1791
@milburnr - It works only in Windows. The feature is needed for running cli from a Linux OS.

[2015-11-20 09:38] romangromov opened #2309 "ASM: 'network traffic-manager profile endpoint create/set' ignores Status option"
[code]

[2015-11-20 09:38] romangromov commented on #2309
Will fix

[2015-11-20 09:39] romangromov commented on #2309
Just for reference https://github.com/Azure/azure-xplat-cli/pull/2306

[2015-11-20 11:43] sreekanthbs commented on #2309
@romangromov yes its working fine now.Verified for both create & set its taking the status option now.
<pre>
<code>
C:\Nov\20Nov\azure-xplat-cli-asm-tm-fixes>node bin/azure network traffic-manager profile endpoint create ClitmpTest1 CliServiceTest1.cloudapp.net CloudService -u Disa
bled
info:    Executing command network traffic-manager profile endpoint create
+ Looking up the Traffic Manager prof

[2015-11-20 11:56] romangromov commented on #2309
@sreekanthbs good, thanx!

[2015-11-20 17:39] pcgeek86 opened #2311 "Urgent: Need ability to create Azure AD Users"
The Azure xPlat CLI Tool currently does not support the ability to create Azure Active Directory (AAD) User Accounts. The only sub-commands available are `show` and `list`.

We have an urgent need to create Azure AD user accounts through Azure xPlat CLI.

![image](https://cloud.githubusercontent.com/assets/466713/11307707/264fc6c6-8f77-11e5-9ac7-46f2f9309b5a.png)

Cheers,
Trevor Sullivan
Microsoft

[2015-11-20 18:54] amarzavery commented on #2311
@namratab - Authorization team would be in a better position to comment on that.

[2015-11-20 20:55] mweaverh opened #2312 "Export hangs: azure datalake store filesystem export"
This just hangs (8 minutes+), and pegs a cpu at 100%:
[code]

Import seems to work fine.
Thanks for taking a look.

[2015-11-20 21:38] colemickens opened #2313 "Azure Group Deployment JSON Output broken"
https://gist.github.com/3d693f78a9d1ebd7ca3d

That's the output of `azure group deployment show -g <group> <deploy-id>`.

[2015-11-21 14:55] bingosummer opened #2317 "The security group rules in "azure network nsg show" should be grouped by "Direction""
To make it more clear, the rules should be grouped by "Direction." The inbound rules and the outbound rules should be separated.

The current order:
[code]

I think it should be:
[code]

[2015-11-22 05:32] yugangw-msft commented on #2269
@joergrech, @tboloo , the fix is in the dev branch, which you can get it through "npm install -g  http://github.com/Azure/azure-xplat-cli/tarball/dev".  If your current azure-cli is stuck on invalid entries, please manually remove them from the keychain; otherwise, restore you original name in your profile and good to go. Let me know if you see any issues.

[2015-11-22 08:00] #2309 closed

[2015-11-22 08:05] romangromov commented on #2317
@bingosummer actually this is not an issue, won't fix

[2015-11-22 10:08] bingosummer commented on #2317
@romangromov It makes sense for me if the list is separated into two groups by `Direction` just as Azure Portal. On the portal, the inbound rules and outbound rules are separated. In each group, the rules are sorted by `Priority`.

![image](https://cloud.githubusercontent.com/assets/4787647/11323105/e04bfda0-90bd-11e5-816f-501eb4ee1c03.png)

[2015-11-23 08:22] romangromov opened #2318 "ASM: can't use commands after successful login"
1) Run any command in ASM, getting error: `We don't have a valid access token`:
[code]

2) Ok, lets run `azure login`:
[code]

3) Again, run any command in ASM:
[code]

[2015-11-23 08:58] romangromov opened #2319 "ARM: 'azure network nsg rule list' fails with error for non-existing security group"
[code]

[2015-11-23 08:58] romangromov commented on #2319
will fix

[2015-11-23 09:40] romangromov commented on #2317
@bingosummer this make sense

[2015-11-23 11:11] sreekanthbs commented on #2319
It is working fine now. Showing proper error message.
![image](https://cloud.githubusercontent.com/assets/11171941/11335261/032cfdee-9201-11e5-8a4b-3ae6c331fe8e.png)

[2015-11-23 11:15] sreekanthbs commented on #2317
It is working fine, nsg rules are grouped by Direction and in each group sort by Priority.
![image](https://cloud.githubusercontent.com/assets/11171941/11335325/7275787a-9201-11e5-91a2-d1ff0dcaa4fe.png)

[2015-11-23 11:54] ahmetalpbalkan commented on #2275
@amarzavery I reported this long time ago. My thoughts: #2021, #2050.

[2015-11-23 11:55] ahmetalpbalkan commented on #2021
5 months and still not fixed :)

[2015-11-23 13:22] bingosummer commented on #2317
Thanks, @romangromov and @sreekanthbs . Closing this issue.

[2015-11-23 13:31] romangromov commented on #2317
@bingosummer fix not merged yet, please re-open

[2015-11-23 14:18] nydick commented on #2203
I've seen this problem too.   It didn't get better until I did:
    azure logout me@mydomain.onmicrosoft.com
    azure account clear -q
    azure login me@mydomain.onmicrosoft.com
    azure account set 'Name of My Account'
    azure config mode arm

[2015-11-23 18:27] #2317 closed

[2015-11-23 18:45] #2319 closed

[2015-11-23 18:46] romangromov commented on #2317
bingosummer merged to `dev`, will be included in next release

[2015-11-24 20:20] alexandreweiss commented on #1966
@yugangw-msft
I'm using 0.9.12 and nodejs 0.10.36 and still have the same problem with a template coming from VisualStudio 2015. Do you want me to supply more info. (alias alweiss)
Thanks ! Alex
info:    Executing command group deployment create
verbose: Initializing template configurations and parameters
error:   Unexpected token }
info:    Error information has been recorded to /home/adm-carrefo

[2015-11-25 01:06] tantommy commented on #2286
I've also just run into the same issue following the same steps.

[2015-11-25 02:32] mumrik58 opened #2321 "ASM: "azure vm image list --json" works wrong"
When I called "azure vm image list", it works.

[code]

But when I called "azure vm image list --json", it returns broken json.
It seems to become interrupted on the way.

here is the snapshots.

![image](https://cloud.githubusercontent.com/assets/2739701/11581579/d9abaebe-9a86-11e5-830d-f27111455b3b.png)

I had a interrupted json.

![image](https://cloud.githubusercontent.com/assets/2739701/11581

[2015-11-25 02:32] petemill commented on #2286
Thanks @tantommy

[2015-11-25 08:21] romangromov opened #2322 "ARM: 'network gateway local-network' is too long, replace with 'network local-gateway'"
Feedback from Amit Srivastava <amsriva@microsoft.com>:

‘network gateway local-network’ sounds very verbose, and 3 nouns in them. Could it not have been made something simpler ‘network local-gateway’. Same for ‘network vpn-gateway’ instead of ‘network gateway vnet’? ‘network vpn-connection’ seems better to me that ‘network gateway connection’. Essentially I was thinking of contracting from 3 parts

[2015-11-25 08:21] romangromov commented on #2322
This is workitem, not an issue, will do.

[2015-11-25 12:45] savs commented on #2230
I'm seeing the same error.

azure vm image create -vv -u https://mything.blob.core.windows.net/vm-images/thing.vhd --location "West Europe" --os linux -p 32 -f thing mydisk.vhd

silly:   Starting to calculate MD5 hash for input file (use -m to skip it)
error:   body.outputStream.on is not a function
verbose: stack TypeError: body.outputStream.on is not a function
    at /usr/local/lib/node_modules

[2015-11-25 18:59] amarzavery commented on #2313
@vivsriaus - Can you please take a look at this?

[2015-11-25 19:01] amarzavery commented on #2312
@begoldsm - Can you please take a look at this Datalake issue?

[2015-11-25 19:02] amarzavery commented on #2311
@shuagarw - Authorization team any ideas?

[2015-11-25 23:55] sachamicrosoft opened #2324 "ARM: equivalent to"
Is there a Resize-AzureVNetGateway command implemented for the CLI to upgrade VPN Gateways to the High-Performance version?

IE: equivalent to this PS command: https://msdn.microsoft.com/en-us/library/azure/mt270352.aspx?

[2015-11-26 02:21] pcgeek86 commented on #2021
@ahmetalpbalkan I had a **massive** discussion around this same thing in the Azure PowerShell module.

@devigned Can we get this fixed in both Azure xPlat and Azure Resource Manager (ARM) PowerShell?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-26 08:05] romangromov commented on #2324
@sachamicrosoft the `HighPerformance` is SKU type in `ASM` mode. There is special command in `ASM` to resize an existing Vnet Gateway *azure network vpn-gateway resize*:

[code]

Example:
`azure network vpn-gateway resize vnet1 HighPerformance`

[2015-11-26 14:08] xied75 opened #2325 "azure-cli create and upload ssh keys?"
Dear all,

I tried to find it but no success, can the cli create and upload local private keys to Azure for VM deployment use?

Best,

Dong

[2015-11-26 19:30] stuartpreston commented on #2285
I was able to repro this on OSX when I am using a binstub that points at the version of Node in my path (5.0.0 in my case). If using the Azure-cli downloadable package that bundles v0.12.7 and points the binstub at it then I don't have the issue described.

It looks like a 64KB limit is being hit somewhere that isn't being hit when redirecting stdout, when using Node 5.0.0 on OSX at least...

![20

[2015-11-27 07:44] romangromov commented on #2322
done

[2015-11-27 07:44] #2322 closed

[2015-11-27 11:14] tboloo commented on #2269
@yugangw-msft - fix works, thank you for your support.

[2015-11-27 17:55] JPvRiel opened #2326 "Azure CLI ARM method of Uploading VHD unreliable and suboptimal"
I'm not sure if I found the correct ARM way of uploading a VHD image file for a custom prepared OS (a Linux distro not officially supported or available in the marketplace). I did try ```azure storage blob upload``` given that after going through the azure help in arm mode, I didn't see anything like the previous ```azure vm image create``` command in asm mode.

Azure VHD page blob upload stalls a

[2015-11-29 08:56] yooakim commented on #2090
I experience this issue as well when trying to work with a V12 database. It works fine to list the server:

[code]

but when I try to use the CLI to list the databases it does not work:

[code]

The error file contains the following:

[code]

[2015-11-30 17:50] yugangw-msft commented on #2021
@ahmetalpbalkan, this specific ask belongs to the cmdlet area of azure resource manager team, we (onesdk team) usually let them schedule the work. But this has been there for 4 months, from multiple people, with good values, so i went ahead and made the change this time. This will get out in next week's release

[2015-11-30 17:56] yugangw-msft commented on #2275
@pcgeek86, with the fix to #2021, this bug should not reproduce because it is gone. The output of "provider show" has already used the array format.
Let me know if you have any other comments/suggestions

![image](https://cloud.githubusercontent.com/assets/6014209/11479747/74fe988c-9748-11e5-867c-9865adf22c4e.png)

[2015-11-30 18:41] yugangw-msft commented on #2318
@romangromov , could you run "account list" to see whether you have multiple accounts. if yes, is the the account, you logged in, the active one?

[2015-11-30 20:07] pcgeek86 commented on #2275
@yugangw-msft This ticket is in regards to `azure location list`, not `azure provider show`. The two commands provide two different perspectives.

1. Someone wants to know the locations that a specific service (Resource Provider) is supported in (`azure provider show ...`).
2. Someone wants to know all of the Azure locations globally (`azure location list`)

This ticket pertains to item #2.

Cheer

[2015-11-30 21:06] ahmetalpbalkan commented on #2021
@yugangw-msft thanks a bunch for being proactive.

[2015-11-30 23:08] yugangw-msft commented on #2275
@pcgeek86, yes, this is what we are heading to.  The PR #2327 will address the item 2 you mentioned, which is to display all global locations available to the selected subscription. Like Ahmet mentioned in #2021, the new "location list" command will display the system name as well, which is required in some resources cmdlets.
The current version of "location list" does the same of "provider list/s

[2015-11-30 23:18] pcgeek86 commented on #2275
@yugangw-msft Thanks -- I will check out the new version when it is released.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-30 23:20] pcgeek86 commented on #2285
@yugangw-msft @devigned Any thoughts on this, folks? It's not just me. I'd prefer to have xPlat CLI use the installed version of Node.js, instead of installing a local copy of Node.js just for xPlat CLI.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-30 23:58] yugangw-msft commented on #2285
@pcgeek86, i have not looked this issue in detail, but if it is because you used node 4+ version, my suggestion is to stay with 0.12.x, unless you do have the need to use newer version
Azure-cli doesn't work with node 4.0 and 5.0 very well, mainly because of the key input bug (https://github.com/nodejs/node/issues/2996). The fix went in with 5.1.0, and i plan to give another try this month to sort

[2015-12-01 01:28] begoldsm commented on #2312
Yes looking today.

Thanks!
Ben

On Nov 25, 2015, at 11:01 AM, Amar Zavery <notifications@github.com<mailto:notifications@github.com>> wrote:

@begoldsm<https://github.com/begoldsm> - Can you please take a look at this Datalake issue?

-
Reply to this email directly or view it on GitHub<https://github.com/Azure/azure-xplat-cli/issues/2312#issuecomment-159701917>.

[2015-12-01 01:36] begoldsm commented on #2312
@mweaverh how big is the file you are trying to download? The upload/download logic is currently sequential so if you are trying to download a large file it will take a very long time. There is an improvement scheduled to increase the performance for ingress and egress through the xplat cli in our next development push.

If this is happening with even small files (say, < 10MB) then please let me k

[2015-12-01 01:37] begoldsm commented on #2312
@mweaverh I just realized that the file is quite small. I am continuing to investigate now.
Thanks!

[2015-12-01 12:24] fbejarano opened #2329 "Resize disk size online"
Hi

Is there any way to resize the size of a disk without delete the disk or deattach it?

I have some VMs with RAID 0 in premium storage with 32 disks of 64 GB (2 TB). I need resize the size to 128 (x2) to have 4 TB.

How could do that without break the raid0.

Is there any option of an disk update resize or some that resize the disks? I have azure-cli 0.9.12 in use.

The premium storage is very

[2015-12-01 17:50] #2275 closed

[2015-12-01 18:41] yugangw-msft commented on #2268
fixed it

[2015-12-01 18:41] #2268 closed

[2015-12-02 04:10] squillace opened #2334 "macos: create a homebrew recipe"
There's no reason not to support the default package manager of mac dev. @devigned

[2015-12-02 05:16] yugangw-msft commented on #2021
Fix is in dev branch

[2015-12-02 05:16] #2021 closed

[2015-12-02 05:23] yugangw-msft commented on #2050
@huangpf , please comment. I have checked in the change for general "location list", this  one is specific to your VM cmdlet.

[2015-12-02 05:24] yugangw-msft commented on #2326
@huangpf , please take a look

[2015-12-02 05:35] AzureRT commented on #2326
@sauryadas

[2015-12-02 05:35] huangpf commented on #2326
@sauryadas

[2015-12-02 05:36] huangpf commented on #2050
@sauryadas

[2015-12-02 07:38] ahmetalpbalkan commented on #2021
Looks good, thanks.

![image](https://cloud.githubusercontent.com/assets/159209/11524996/978a6e52-9884-11e5-9aa0-fbb00c029975.png)

[2015-12-02 08:01] romangromov commented on #2318
@yugangw-msft well, now getting another error:

[code]

[2015-12-02 08:14] romangromov commented on #2324
UPD: `azure network vpn-gateway resize` is broken on server end, related issue https://github.com/MSOpenTech/azure-xplat-cli/issues/244

[2015-12-02 09:26] alexandreweiss opened #2336 "Need ability to create Azure AD Groups"
The Azure xPlat CLI Tool currently does not support the ability to create Azure Active Directory (AAD) Groups. The only sub-commands available are  show  and  list and member list.

![xplat](https://cloud.githubusercontent.com/assets/15915851/11527054/e16d28d4-98de-11e5-8a3c-2b7bf27b2284.PNG)

We have a need to automate Azure AD group creation through Azure xPlat CLI to be able to apply RBAC throu

[2015-12-02 09:27] alexandreweiss commented on #2336
Issue 2311 also exists for Users https://github.com/Azure/azure-xplat-cli/issues/2311

[2015-12-02 09:27] alexandreweiss commented on #2311
Also created issue https://github.com/Azure/azure-xplat-cli/issues/2336 for ability to create groups
Thanks !
Alex

[2015-12-02 09:35] fbejarano opened #2337 "azure arm mode error"
Hi

I have azure 0.9.12 y nodejs v0.10.37

I want to create a new VM than I have created yesterday, and today, I can not create it because an error to add it to my Virtual Networt. Ok I have seen in MS doc that you can not add a vm to a Virtual Network if use de asm. Yesterday yes, today not OK...  I have done the change to the cli from asm to arm with login authentication, etc. OK. I have too man

[2015-12-02 15:52] anweiss opened #2338 "Role assignment failure for service principal object"
I'm having an issue when executing an `azure role assignment create` command like so:

[code]

The error is as follows:

[code]

Using v0.11 of the CLI

[2015-12-02 17:17] yugangw-msft commented on #2318
@romangromov, your subscription is disabled. Could you log in the portal and see what is the detail causes, say spending limit was reached, etc. FYI, "azure account list" should also have a field telling you the subscription status.

[2015-12-02 17:47] AyeJeigh opened #2339 "Azure login not persistent"
Hello,

For some reason, I can't get my azure-cli login to be persistent.  When I get into work in the morning, I have to manually run "azure login" or "azure account import" and it works for the rest of the day.  However, the next morning none of my commands work and I get this error:

"error:   We don't have a valid access token. Please run "azure login" again."

I've tried clearing my creds lik

[2015-12-02 18:06] yugangw-msft commented on #2339
@AyeJeigh if you used MSA account such as "live id", the token your got is valid for 12 hours. So you need to login ever day.
If you like longer life span, I suggest you create org-id from your subscription, a one time setup to create a user like "Aye@ayehotmail.onmicrosoft.com", then logging using that will give you token lasting up to till 90 days.
Hope this help.

[2015-12-02 18:08] AyeJeigh commented on #2339
Thank you for your quick response yugangw,  I was thinking it had something to do with my account itself.  I appreciate you taking the time to help me out.

Thanks again!

[2015-12-02 18:09] yugangw-msft commented on #2338
@anweiss, if the service principal was freshly created, could you wait couple of minutes and try again. There is a known latency on propagating AAD graph object change to RBAC service

[2015-12-02 18:23] AyeJeigh commented on #2339
One more thing Yugangw.  Does the token for a "live id" expire after 12 hours from login or 12 hours from last activity?

[2015-12-02 18:52] yugangw-msft commented on #2339
@AyeJeigh it is "from login". More accurately, login gets "access token" and "refresh token". The "access token" always expires after a hour, but with the "refresh token", the expired "access token" can be exchanged for a valid one automatically. The crucial part is the "refresh token" from a "live id" is only good for 12 hours. For org-id, the "refresh token", is good for 2 weeks, and can be auto

[2015-12-02 18:53] AyeJeigh commented on #2339
Thank you for the valuable information @yugangw-msft

[2015-12-02 18:53] #2339 closed

[2015-12-02 18:58] sauryadas commented on #2258
@pcgeek86 @mukaibot Thanks for your patienc!. We are working on this now and will have this roll out shortly . I will keep you posted.

[2015-12-02 19:23] huangpf commented on #2258
Sample output:
[code]

[2015-12-02 20:50] pcgeek86 commented on #2258
@sauryadas @huangpf Thank you very much! This will be helpful for users of the Azure xPlat CLI Tool. :)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-02 20:56] sauryadas commented on #2321
Can you please elaborate on what you mean by "It seems to become interrupted on the way."? provide a snapshot maybe? .. I tried to do a repro and had no issues viewing the complete json.

[2015-12-02 21:01] pcgeek86 opened #2341 "ARM 0.9.11 :: azure vm extension list-image-publishers should not have mandatory --location parameter"
The `azure vm extension list-image-publishers` should not have mandatory `--location` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-02 21:02] pcgeek86 opened #2342 "ARM 0.9.11 :: azure network nic list should not have mandatory --resource-group parameter"
The `azure network nic list` command should not have a mandatory `--resource-group` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-02 21:02] pcgeek86 commented on #2334
Big +1 for this

[2015-12-02 21:26] pcgeek86 opened #2343 "Major design flaw in Azure VM Extensions interface"
The Azure VM Extensions interface suffers from the same, major design problem that the Azure VM Image Gallery interface has. This was reported months ago (by me), and supported by other, prominent members of the community, and ultimately hasn't seen any action.

In order to obtain an authoritative list of all VM Extensions, a user would have to call into the Azure Resource Manager (ARM) REST API *

[2015-12-02 21:32] squillace commented on #2334
I'm +1ing my own issue. Just on principle.

[2015-12-02 22:09] anweiss commented on #2338
Thanks @yugangw-msft. Indeed that was the issue.

[2015-12-02 22:09] #2338 closed

[2015-12-03 02:46] ahmetalpbalkan commented on #2124
Funny I came here again to open this issue and found out I already did.

[2015-12-03 02:51] ahmetalpbalkan opened #2347 "[ARM/ASM] azure vm extension set --uninstall parameter and extra arguments"
The following command adds an extension to a VM:

[code]

and the following one uninstalls it:

[code]

however the `--uninstall` command is fine with taking `--public-config-path` and `--private-config-path` arguments as well (it does not give any errors) although these extra arguments are totally not used in this step... Maybe the version number is extra, too.

I think what's going on here is, i

[2015-12-03 03:30] ahmetalpbalkan opened #2348 "Intermittent errors from OS X keychain"
Sometimes when I run an azure CLI command I get the error:

[code]

However if I run again it works just fine, usually I run a command before getting the error, that works just fine as well.

I observed this in ASM more however it could be happening in ARM as well. It is rare but I've encountered this probably 10 times in the past 6 months. I'm not sure what the pattern is.

[2015-12-03 03:31] ahmetalpbalkan commented on #2348
Whoops apparently this is duplicate of #2269.

[2015-12-03 03:31] #2348 closed

[2015-12-03 03:34] yugangw-msft commented on #2337
@fbejarano, I think the resource type of "Default-Storage-WestEurope" might not be what you expect, because it is Microsoft.ClassicStorage. Why the command of "azure storage account keys list" assumes the "Microsoft.Storage". Different things. Do you mean to use the "Default-Storage-WestEurope" type. @yaxia for further suggestions.

[2015-12-03 03:35] yugangw-msft commented on #2336
@vivsriaus, does you team still own it?

[2015-12-03 03:38] yugangw-msft commented on #2311
@vivsriaus , your team still owns the graph cmdlets?

[2015-12-03 03:48] yugangw-msft commented on #2318
I also made one more commit through #2345 in case your original error was caused by you fetched recent changes from the dev branch. anyway, give it and try and ping me if you see any new issue.
At the same time, I am closing this issue, but feel free to reopen it.

[2015-12-03 03:48] #2318 closed

[2015-12-03 06:29] sedouard commented on #1921
:+1: +1000

[2015-12-03 07:41] fbejarano commented on #2337
Default-Storage-WestEurope is a resource group, I know that the command assumes Microsoft.Storage but why it not assumes the differents Ids? If you have an infrastructure with a virtual network you can not add VMs to that network in asm and then if you change to arm you can not do operations to Classic??

[2015-12-03 08:27] DavidKarlas opened #2349 "azure cli is not working on OSX if user has unicode char in his giveName/familyName"
For example... My family name is Karlaš...(I set this in my Microsoft account)...
Result is that in OSX KeyChain it's stored as "Karla\305\241" which azure cli later doesn't like...

My workaround:
Delete Azure keys in OSX->Keychain application
Login microsoft account, change my last name to "Karlas", logout
Re-login to reflect family name change...
Use "azure login" and aka.ms/devicelogin
Works..

[2015-12-03 08:34] romangromov commented on #2342
@pcgeek86 the ability to list all nics in subscription was presented only in latest swagger-based SDK for node. It's not possible to list all nics in 0.9.11. Currently, I'm working on moving Xplat-CLI networking commands to use swagger-based SDK.

FYI: @DeepakRajendranMsft

[2015-12-03 09:08] DavidKarlas commented on #1839
Isn't this implemented via https://github.com/Azure/azure-xplat-cli/pull/2181?

[2015-12-03 09:12] DavidKarlas opened #2350 ""azure resource move" doesn't support moving between different subscriptions"
I tried pretty much every combination of supplying --subscription in different places but all it seems to do is use it for both resources... Source and Destination so either SourceGroup reports error that it doesn't exist or Destination depending on which subscription I provide via --subscription...

/cc @vivsriaus because you implemented (https://github.com/Azure/azure-xplat-cli/pull/2181)

[2015-12-03 10:19] romangromov opened #2351 "'azure login': Get Device Code request returned http error: 504"
Can't authorize with `azure login`, getting timeout error:

[code]

Using `dev` branch or any public version of Xplat-CLI.

[2015-12-03 12:47] romangromov commented on #2351
After 4-5 hours it automagically working fine, closing the issue

[2015-12-03 12:47] #2351 closed

[2015-12-03 15:41] vivsriaus commented on #1921
This has already been implemented and will be out in the next CLI release (next week).

[2015-12-03 15:42] vivsriaus commented on #1839
Indeed!

[2015-12-03 17:38] yugangw-msft commented on #2349
@DavidKarlas, this is the same issue with #2269
The fix is in dev branch already, which you can try out with "npm install -g http://github.com/Azure/azure-xplat-cli/tarball/dev".  Please go to "keychain access", and remove the entries with kind of "azure access token", then you should be good to do.
the installer will be available around Dev 8

[2015-12-03 17:41] #1921 closed

[2015-12-03 18:08] DavidKarlas commented on #2349
Ok, tnx, I didn't find that issue when I opened this bug report...

[2015-12-03 18:08] #2349 closed

[2015-12-03 22:55] vivsriaus commented on #2350
@DavidKarlas Thanks for bringing this to our attention. Indeed, the resource move command was lacking the -destination-subscriptionId parameter. I've fixed this in this PR: https://github.com/Azure/azure-xplat-cli/pull/2355

I'll respond to this thread when this is merged and available in the upcoming Azure CLI release.

[2015-12-03 23:09] huangpf commented on #2258
@mukaibot

Yes, it will be there:
[code]

[2015-12-04 01:18] ahmetalpbalkan opened #2356 "[ARM] azure vm create --ssh-publickey-file weird representation"
If I create VMs with ARM templates my SSH key looks very normal:

[2015-12-04 01:21] ahmetalpbalkan commented on #2356
sorry I hit Submit too early, this issue now has a proper description :)

[2015-12-04 01:30] devigned commented on #2285
@pcgeek86 I don't think it's the version of node. I was able to replicate with node 5.1.

[2015-12-04 01:53] sauryadas commented on #2050
Thanks for the feedback! We will take a look at this sometime in the future. Please run the same command

in ARM mode and you will see useful information.

[2015-12-04 01:53] #2050 closed

[2015-12-04 02:03] devigned commented on #2334
+1 agreed. Perhaps, I'll do that this weekend.

[2015-12-04 04:07] mumrik58 commented on #2321
I added the snapshots. >sauryadas
thanks.

[2015-12-04 06:31] huangpf commented on #2321
@mumrik58 Is the ```WebLogic``` image shown in your screenshot a user image created/captured by your subscription? I can't seem to find this one under mine, and I only saw this one ```c290a6b031d841e09f2da759bbabe71f__WebLogic-Linux-6-12c-2014```.

BTW, is it feasible for you to share the result of ```vm image list -vv``` with us for further debugging?

And how about ```vm image show xxx --json```

[2015-12-04 06:41] huangpf commented on #2341
@pcgeek86 The parameter is required in the command, because it's currently required in the client library API, and it doesn't handle optional, default, or omitted ```location``` input in the command level yet.

[2015-12-04 06:45] huangpf commented on #2343
@pcgeek86 The listed commands are mostly in line with the design of REST APIs.

+@sauryadas & @singhkay Maybe a smart ```quick-list``` method is what users want for both PS & CLI?

[2015-12-04 06:46] huangpf commented on #2341
Given that we are triaging the overall issue in #2343, can we close this one? Thanks.

[2015-12-04 08:48] bingosummer opened #2357 "[AzureChinaCloud] Fail to login"
[code]

.azure\azure.err:
[code]

[2015-12-04 14:02] statikon commented on #1791
+1. Currently there is no way to assign a reserved ip to a cloud service in cli.

[2015-12-04 17:58] pcgeek86 commented on #2285
@devigned When @stuartpreston pointed out that the packaged version (included with the azure-cli DMG package) of Nodejs worked fine, and that he was able to reproduce it by installing the latest version of Nodejs, I think we kind of nailed down that it's a problem with the newer version of Nodejs. Wouldn't you agree? I think it works fine on old versions of Nodejs, but breaks with the newest versi

[2015-12-04 17:59] pcgeek86 commented on #2341
@huangpf Sure, that makes sense to track it in #2343.

[2015-12-04 17:59] #2341 closed

[2015-12-04 18:47] sauryadas commented on #2150
I verified this and it worked okay for me, resized  standard A! to Standard DS1
![image](https://cloud.githubusercontent.com/assets/15387759/11598041/58c8715e-9a74-11e5-9420-e76930858bb6.png)
@ahmetalpbalkan - Can you please confirm that this is fixed?

[2015-12-04 18:48] ahmetalpbalkan commented on #2150
@sauryadas I trust you. :-)

[2015-12-04 18:48] #2150 closed

[2015-12-04 19:01] sauryadas commented on #2329
@fbejarano Have you tried the command

[2015-12-04 19:31] stuart-shelton-hp commented on #2313
It looks as if, for certain operations, the CLI with the '--json' option is only outputting values and not keys:

[code]

(Tested with azure-cli versions 0.9.10 && 0.9.12)

[2015-12-04 20:41] devigned commented on #2285
I believe I misunderstood. I stand corrected.

[2015-12-04 21:56] sauryadas commented on #2046
@mschwa please let me know if this worked out for you or not.

[2015-12-04 23:50] ahmetalpbalkan opened #2361 "[ARM/ASM] Not having --quiet impacts scripting in a bad way"
Hi folks, I started writing some bash scripts (which are set of commands executed in a particular order, often interacting with UNIX programs following the UNIX philosophy where the universal communication channel, pipes, between these programs are text streams) on top of `azure` CLI..

The immediate problem I noticed is, we print a lot of status/help messages to standard output (`stdout`). For ex

[2015-12-04 23:52] ahmetalpbalkan commented on #1758
any progress?

[2015-12-05 06:16] huangpf commented on #2046
@mschwa

For ASM, ```vm image list``` would list all platform and user images.

For ARM, images captured by ```vm capture``` are output and also stored in the storage account, but there is currently no API to list them back. It will be a future work item in the upcoming releases (in months).

[2015-12-06 15:16] mumrik58 commented on #2321
@huangpf I didn't create ```the WebLogic``` image.
Here is the result the execution of  "vm image show xxx --json".
[code]

And the result of  ```vm image list -vv``` is also interrupted.
[code]

thanks.

[2015-12-06 20:05] huangpf commented on #2321
@mumrik58
I can't reproduce the error on my dev machine (Windows + node v0.12.7), but from your first and second sets of logs, it seems the interruption occurred at different item of the list. Also, if you can ```show``` the image that was broken from the ```list``` command, it means that that format of the response has no problem.

So, I would guess it might be because the CLI installed on your s

[2015-12-07 09:03] fbejarano commented on #2329
I dont have this command

$ azure --version ; nodejs --version
0.9.12 (node: 0.10.37)
v0.10.37

$ azure vm s
show       shutdown   start      static-ip

[2015-12-07 17:52] yugangw-msft commented on #2329
@fbejarano, what mode you are in? "Azure Service Management" or "Azure Resource Management", you can run "azire" and check out the last line of output

[2015-12-07 18:45] #2285 closed

[2015-12-07 23:38] sauryadas commented on #2144
Thanks for the feedback Heidi. Can you please follow the steps below and let us know if it works or not?

Ensure that you copy the image VHD to a blob container location that doesn't have folders (virtual directories). By default the image you captured is stored in nested folders in a storage blob container (URI similar to https://clixxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/system/Microsoft.Comp

[2015-12-08 00:05] sauryadas commented on #2085
Since there no action required here i will close this issue.

[2015-12-08 00:05] #2085 closed

[2015-12-08 12:11] romangromov opened #2366 "ARM: 'azure network dns zone export' should produce zone file with first record of SOA"
Currently, the records order is in alphabetical order, but first record must be SOA:

[code]

[2015-12-08 12:11] romangromov commented on #2366
Will fix

[2015-12-08 13:46] romangromov commented on #2366
+@sreekanthbs to verify fix, use branch `arm-dns-zone-export-soa` in our repo

[2015-12-08 14:12] sreekanthbs commented on #2366
@romangromov working export with first record as SOA

[2015-12-08 15:24] pcgeek86 commented on #2285
@yugangw-msft Thank you for resolving this bug!!! I'm hoping to use the latest version of Node.js to run Azure xPlat.

[2015-12-08 17:29] #2366 closed

[2015-12-09 00:48] bitcrazed opened #2368 "Azure Website SSL Certificate support from XPlat tools"
Does the XPlat tools team plan on reinstating a set of commands permitting the management of SSL certificates?

If not, please provide some context: In this devops world, we'd like to script the entire deployment and configuration of our environment and avoid manual steps necessary to, for example, configure certs and SSL bindings.

TIA.

[2015-12-09 03:35] fpereira1 commented on #1892
@yugangw-msft I don't see a `.stramline` folder under my user folder `~/`

[2015-12-09 03:40] fpereira1 commented on #1892
https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/utils.js#L404

@yugangw-msft - Looking at this line above, shouldn't it written as:

    }).withFilter(new RequestLogFilter(log));

instead of:

    }).withFilter(new utils.RequestLogFilter(log));

[2015-12-09 05:42] fpereira1 commented on #1892
I've submitted a PR for this issue, it looks like it was introduced in a refactoring task in https://github.com/Azure/azure-xplat-cli/commit/b1c23942cd12df3e279ffea7338fff79a401ff13#diff-0261004ab0f5706809fa8fe41a29f27aL118

[2015-12-09 05:59] #1892 closed

[2015-12-09 07:10] fbejarano commented on #2329
asm because I have a classic infrastructure.

Un saludo,
Francisco Bejarano

[image: OKN]

[image: Francisco Bejarano][image: Francisco Bejarano]

Francisco Bejarano – francisco.bejarano@openknowledgenetwork.com – (+34)
902 301 222
© OKN® – Hi-impact® B-talent® – Marqués de Monteagudo, 22-5a. Madrid 28028
(Spain)
Tel: (+34) 902 301 222 - Fax: (+34) 917 266 476 - Web:
www.openknowledgenetwork.com

[2015-12-09 08:09] ahmetalpbalkan commented on #2357
+1. it appears like the new device login flow has broken China login.

[2015-12-09 15:09] jcastiblanco commented on #2203
@nydick @yugangw-msft  I have the same problem from yesterday.  I was working with Azure CLI v2.8  After a few minutes working without problem, i received a message, that I need to relogin.   Since then, It could be imposible to me login though azurecli.
this is the error message:
error: We don't have a valid access token. Please run "azure login" again. info: Error information has been recorded t

[2015-12-09 17:11] yugangw-msft commented on #2357
I have contacted AAD team to clarify whether the chinacloud has the device flow supports. 2 months ago I asked and told it was not deplyed yet, though planned,

[2015-12-09 17:57] yugangw-msft commented on #2361
I have following comments on this issue before come out with my suggestion
1. Based on the philosopher of [silence is golden](http://www.linfo.org/rule_of_silence.html), for most azure-cli cmdlets, running on unix should output nothing unless error. I agree "account set" should not output that much as we have.
2. Azure-cli is written to run on unix, but also on windows, which is more verbose by de

[2015-12-09 18:35] ahmetalpbalkan commented on #2357
@yugangw-msft in any case we should not break? :)

[2015-12-09 18:39] ahmetalpbalkan commented on #2361
@yugangw-msft --silent is totally alright. I don't think there's any point of “silent by default” as most of our operations (at least the ones I use) take at least ~1 minute and I appreciate progress output in interactive mode, it's just when I'm scripting I find myself doing `1>/dev/null` all the time. :-)

[2015-12-09 23:36] bhagyasri7 opened #2371 "Downloading the publish profile for ARM Webapp"
Hello, I find the Azure CLI very helpful. I am looking for a way to download the publish profile for the webapp in CLI.

[2015-12-10 01:26] amarzavery commented on #2350
This fix is a part of release-0.9.13 https://github.com/Azure/azure-xplat-cli/releases/tag/v0.9.13-December2015

[2015-12-10 01:27] #2350 closed

[2015-12-10 05:09] yugangw-msft commented on #2357
The device flow never works. I will post back when it is full deployed and close this issue. For now always provider "-u username" to the login command. Of course if your account is 2fa enabled, you are out of luck

[2015-12-10 18:08] sedouard commented on #2049
+1000 To this one. Why is it that random commands decide not to output proper JSON with the `--json` flag? This breaks automation. If output can be tabular, there should be a compatible JSON adapted view as well, right?

[2015-12-10 18:08] sedouard commented on #2049
example: `azure ad app create`

[2015-12-11 00:17] yugangw-msft commented on #2334
@devigned , @pcgeek86 @squillace
I know nothing on homebew, one simple question here, if i use homebrew to install azure-cli, will that conflict with prior/later installations through npm, particularly the common "/use/local/bin/azure"?

[2015-12-11 18:00] caleteeter opened #2377 "Blob snapshot functionality needed"
The cli does not have provisions for snapshotting blobs.  I know this was raised before but the issue was closed.  Is there an update on when this feature will be added?

[2015-12-11 18:40] yugangw-msft commented on #2377
@yaxia please comment

[2015-12-12 22:05] pcgeek86 opened #2378 "0.9.11 ARM :: Essential VM image details aren't emitted"
# Environment

- Mac OS X El Capitan
- iTerm2
- Azure xPlat CLI 0.9.11
- Nodejs 0.12.7

# Symptom

Under the Azure Resource Manager (ARM) mode in the Azure xPlat CLI Tool, there are essential VM image properties that aren't being returned by the `azure vm image list` sub-command.

# Reproduction Steps

Run these commands:

[code]

# Expected Result

I'd expect the full VM image details to be retur

[2015-12-13 18:13] pcgeek86 opened #2379 "0.9.13 ARM :: "resource list" command doesn't emit API Version"
1. The `azure resource list --resource-group myrg` command doesn't return the API Version of each ARM resource instance.
2. The `azure resource list --resource-group myrg --details` command doesn't return the API Version of each ARM resource instance.

Considering that other commands, such as `azure resource show`, requires you to specify the API Version, this information should be returned.

Chee

[2015-12-13 18:19] pcgeek86 commented on #2258
This issue was fixed in the `0.9.13` release, several days ago. **Thank you**, @huangpf!!

https://github.com/Azure/azure-xplat-cli/commit/3bde55ec736a6bf84e3529d2fb1592f657985a3d

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-13 18:19] #2258 closed

[2015-12-13 20:19] devigned commented on #2334
[code]

Should do it :)

[2015-12-13 20:19] #2334 closed

[2015-12-13 22:00] pcgeek86 commented on #2334
@devigned Very nice. :)

[2015-12-14 03:06] yaxia commented on #2377
Ack. I will update the when the plan is finalized.

[2015-12-14 17:18] pcgeek86 opened #2380 "0.9.13 ARM :: Error message about Boot Diagnostics Extension on Premium Storage"
The error message about Boot Diagnostics not being supported on Premium Storage doesn't explicitly point the user to use the `--boot-diagnostics-storage-uri` parameter. It isn't immediately clear what the correct course of action is, but rather only the fact that Premium Storage accounts don't support Boot Diagnostics.

<img width="1680" alt="screen shot 2015-12-14 at 9 12 23 am" src="https://clou

[2015-12-15 00:36] squillace commented on #2135
@amarzavery @devigned reping.

[2015-12-15 03:35] gatneil opened #2381 "Validation Error Message For Invalid Resource Name"
I ran azure group template validate (CLI version 0.9.11), and I get the error message below saying that I've named a resource incorrectly, but it does not specify which resource is named incorrectly. The error should indicate which resource is incorrectly named, ideally with the specific reason why it is named in correctly (e.g. 'there is a $ in the name, which is not supported; the resource name

[2015-12-15 11:40] devigned commented on #2135
@singhkay thoughts on this?

[2015-12-15 13:08] colrack opened #2382 "Implement session persistence option in network loadbalancer rule create and set"
Please implement the ability to change session persistence on a load balancer rule.

This is currently possible from the new Azure Portal and from Resource Explorer at resources.azure.com (see attached files). As for now it seems to be an implemented feature in Azure/azure-sdk-for-node.
Parameter name is `loadDistribution` and possible values are `Default` , `SourceIP` and `SourceIPProtocol`.

The

[2015-12-15 17:54] romangromov commented on #2382
@colrack thanks, let me check if we can implement this for next release or not

[2015-12-15 18:21] singhkay commented on #2135
Adding @sauryadas who owns CLI

[2015-12-15 18:57] squillace commented on #2325
@xied75 Yes. See https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-use-ssh-key/#create-a-vm-with-your-public-key-file:

[code]

[2015-12-15 18:58] squillace commented on #2325
@xied75 if that's what you mean by "create and upload". of course, you must create your .pem files first.

You can have the cli generate the keys for you:

`help:      -G, --generate-ssh-keys                                 Auto generate SSH keys, will be ignored if --ssh-cert is specified.`

[2015-12-15 19:14] squillace commented on #2135
@sauryadas OK, so what's the triage with respect to this issue?

[2015-12-15 19:23] yugangw-msft commented on #2381
@vivsriaus , please comment

[2015-12-15 19:41] squillace commented on #1487
@sauryadas another dangling one.

[2015-12-15 19:53] xied75 commented on #2325
@squillace no that's not what I'm asking, I didn't ask to upload a key while creating a vm, I need to upload the key as a single op.

[2015-12-15 21:08] squillace commented on #2325
So, @xied75, you have a key, and an existing ASM vm, and you want to upload that key to use it from a client machine?

[2015-12-15 21:21] squillace commented on #2325
if so, you need https://github.com/Azure/azure-linux-extensions/tree/master/VMAccess#211-classic. There is no direct call for this in the asm cli other than that one.

[2015-12-15 21:35] xied75 commented on #2325
@squillace the whole point of raising issues here is to bring the discussion and eventually implement it or reject with a reason. I know it can't be done currently.

Ssh keys in other clouds are standalone entity, it does not 'belong' to anything. Therefore the creation shall be a single step too. During vm deployment one simply refer to the name of the key. So if I deploy 100 vms they can all ref

[2015-12-15 22:14] squillace commented on #2325
Forgive me @xied75, but I'm still not clear what you're looking for. SSH keys on Azure have nothing to do with Azure; they're an SSH connection thing. You could use SSH with usernames and passwords if it were secure enough; but because Linux VMs are best secured with ssh-rsa or .pem public key files, you simply pass the same .pub or .pem file to all 100 VMs in Azure when you create them as you wou

[2015-12-16 02:01] pcgeek86 opened #2384 "0.9.13 ARM :: No API Version information output with "azure provider show""
# Issue

The `azure provider show --namespace Microsoft.Network` command doesn't emit any information about API Versions, that each Resource Type supports.

<img width="1498" alt="screen shot 2015-12-15 at 6 59 28 pm" src="https://cloud.githubusercontent.com/assets/466713/11829989/41945032-a35e-11e5-8454-2c520694b187.png">

# Expected Result

I would expect that the `azure provider show` command w

[2015-12-16 05:27] colemickens opened #2385 "azure vm image list doesn't work"
[code]

[2015-12-16 05:30] colemickens commented on #2385
`azure vm list westus canonical ubuntuserver` works, but I don't understand why. The failure above indicates that it needs "version", but I'm passing in the offer in this case.

We should also consider publising this list of ImageURNs somewhere, or making the API that this queries available.

[2015-12-16 05:34] colemickens opened #2386 "azure vm quick-create should create any non-existing resource groups"
It seems that in quick-create, in the interest of being quick, we should create (or at least offer to create) the resource group ahead of the VM instance.

[2015-12-16 05:43] colemickens commented on #2386
For example, it creates the storage account for the user.

[2015-12-16 15:25] xied75 commented on #2325
http://docs.aws.amazon.com/cli/latest/reference/ec2/create-key-pair.html
http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ApiReference-cmd-CreateKeyPair.html
https://cloudstack.apache.org/api/apidocs-4.4/user/registerSSHKeyPair.html
http://shankerbalan.net/blog/ssh-keys-on-cloudstack-guest-instances-using-cloud-init/
http://docs.openstack.org/cli-reference/content/novaclient_commands.

[2015-12-16 17:52] squillace commented on #2325
@xied75, we **HAVE** "create a key pair for me" in the CLI. You use the `help: -G, --generate-ssh-keys Auto generate SSH keys, will be ignored if --ssh-cert is specified` switch on the `azure vm create` command, and the key pair is generated for you on your machine AND added to the vm that you are creating. You can then reuse that keypair, or you can continue generating new keypairs for each machi

[2015-12-16 20:36] EgoAleSum commented on #2230
I'm experiencing the same error with Node 5.2.0 on Windows 10 x64 and azure-cli 0.9.13. A customer of mine is reporting the same issue from a Linux client.

[2015-12-16 21:34] ahmetalpbalkan opened #2387 "[ARM] vm quick-create should probably create the resource group, too"
The

    $ azure vm quick-create <group> <vm> <location> linux ...

fails if `<group>` does not exist. I think if we create the `<group>` in `<location>` for the user if it's missing it would be great for a newcomer customer to get things going without having to figure out all details of Azure.

Even as an experienced user, I want to see quick-create to be quick. Every time I run this it fails wit

[2015-12-16 21:35] ahmetalpbalkan commented on #2343
+1 for this.

[2015-12-16 22:42] pcgeek86 commented on #2343
@huangpf From an end user perspective, they don't care if the tool matches the REST APIs or not. This is not valid criteria to judge success against. Your software design goal should not be to "match the REST API."

Please talk to @kmouss and @squillace about this.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-16 23:24] yugangw-msft commented on #2230
add @sauryadas @huangpf

[2015-12-16 23:25] yugangw-msft commented on #2230
@yaxia , is this a know node 4+ issues from azure-storage?

[2015-12-17 00:18] huangpf commented on #2343
@pcgeek86
Thanks for the suggestion. We are not having the design goal to match the REST API, but rather it's this current REST API for listing images that is limiting our design goal. With that said, we are aware of this issue on both PS & CLI ends, and trying to come up with a suitable solutions. Please keep let us know the feedback, and we would also keep you posted. Thanks.

[2015-12-17 00:22] squillace commented on #2343
@huangpf +1. We need to have a client experience that is actually good.

We can assert that the REST api should be fixed; that's one possiblity. We can assert that the client should do the looping for us; that's another possibility.

Where the actual bug should be fixed is irrelevant to the customer, however, except insofar as roundtrips or performance is concerned. As any client is going to have

[2015-12-17 00:23] squillace commented on #2343
@johngossman so that I can gripe over the vacation.

[2015-12-17 01:04] huangpf commented on #2230
I also think this is a storage client issue, as shown from the logs.

@yugangw-msft Is ```5.2.0``` the official version that works with Azure CLI?
@EgoAleSum Is it feasible for you to try it with a lower node version, like: ```v0.12.7```?

[2015-12-17 01:06] pcgeek86 commented on #2343
Perfectly stated, Ralph. *Perfectly.*

@huangpf I would recommend that your focus be on end user experience, instead of trying to make the front-end interface "match the REST API." I'm basically just repeating myself here, but I feel that it needs to be said, because there is clearly a lack of focus on the user experience.

**Should** the user have access to the raw API? Of course, so that they ca

[2015-12-17 01:29] colemickens opened #2388 "Azure-xplat-cli on Windows.... where did it go?"
So the README of this repo and [this page]() say to install the MSI. And then nothing else.

Where did they go? How do I use them? Etc?

[2015-12-17 01:43] yaxia commented on #2230
It is the same issue as https://github.com/Azure/azure-xplat-cli/issues/2168. The root cause is [here](https://github.com/wastoresh/azure-xplat-cli/blob/dev/lib/commands/asm/iaas/upload/pageBlob.js#L732). When it tries to upload a dynamic disk, the thrid parameter of ```blobService.createPagesFromStream``` is supposed to be a stream, but it passes an buffer instead, which doesn't has an ```on``` l

[2015-12-17 02:21] EgoAleSum commented on #2230
Thanks all for responding quickly.

If it's a problem with dynamically allocated VHDs, at least I can give a quick workaround (fixed-size VHDs) to my customer (I'm an Azure TSP for MS Canada btw). However, would be nice to have this bug fixed...

@huangpf I can try with 0.12 tomorrow (from the office, where the connection to Azure is faster :) ) if necessary... However #2168 seems to say that's al

[2015-12-17 02:55] huangpf commented on #2230
Thanks @yaxia

@EgoAleSum - Yes, I can reproduce the issue by uploading dynamic VHD, so it's not about the aforementioned version issue. Working on the fix now.

[2015-12-17 03:36] yugangw-msft commented on #2388
@colemickens, click [this link](http://aka.ms/webpi-azure-cli), the browser will download the msi and you can double click it so invoke windows installer engine and install the azure-cli. After it is done, you open any command window, and type "azure" to start.

[2015-12-17 03:40] colemickens commented on #2388
I tries this. It did not work. Does it require a logout and login to pick
up the new PATH?
On Dec 16, 2015 7:36 PM, "Yugang Wang" <notifications@github.com> wrote:

[2015-12-17 03:42] yugangw-msft commented on #2388
Logout is not necessary. Did you open a branch new command window?

[2015-12-17 07:39] huangpf commented on #1884
@yaxia @yugangw-msft
Any idea about the ```write after end``` error?

[2015-12-17 17:55] ahmetalpbalkan opened #2389 "[ARM] azure vm list: resource group names printed uppercase"
[code]

why?

(0.9.13)

[2015-12-17 17:59] #2382 closed

[2015-12-17 17:59] yugangw-msft commented on #2382
@colrack , thanks for the contribution!

[2015-12-17 19:36] colemickens commented on #2388
I thought I had. It works now anyhow. Thanks for the support!

[2015-12-17 22:28] colemickens commented on #2387
:+1: https://github.com/Azure/azure-xplat-cli/issues/2386

[2015-12-17 22:34] ahmetalpbalkan commented on #2387
@colemickens ah you beat me

[2015-12-17 22:34] #2387 closed

[2015-12-17 22:34] ahmetalpbalkan commented on #2386
+1 (#2387)

[2015-12-17 22:36] colemickens opened #2390 "[arm] certain actions don't work under Fiddler or mitmproxy"
I noticed that very basic requests will work in Fiddler and mitmproxy. Unfortunately, more complicated requests do not.

Steps:

1. Open Fiddler.
2. Enable HTTPS interception, ignore cert errors.
3. Start capturing.
4. Open Command Prompt
5. azure login
6. set https_proxy=http://localhost:8888 (or whatever port you're running Fiddler on)
7. set HTTPS_PROXY=http://localhost:8888 (paranoia about thi

[2015-12-17 22:48] colemickens commented on #2390
Another bit of information, in this case, it looks like the SSL connection was kept open, but the client sent CONNECT again, even though it shouldn't have.

Also, let me know and I can provide repro directions for linux+mitmproxy if that's helpful at all.

[2015-12-17 22:49] devigned commented on #2390
Hi Cole,

Does it work if you do the following (via https://github.com/Azure/azure-xplat-cli#use-web-debugging-proxy):
[code]

Also, on linux are you using set or export?

[2015-12-17 22:51] devigned commented on #2390
Also, take a look at this thread: https://github.com/npm/npm/issues/2472

[2015-12-17 22:52] colemickens commented on #2390
On Linux I'm using export.

On Windows, I just did `set NODE_TLS_REJECT_UNAUTHORIZED=0` and I'm seeing a failure. Though, it's now "tunneling socket could not be established, cause=Parse Error" (different cause).

[2015-12-17 22:53] devigned commented on #2390
Sorry... Just making sure the computer's plugged in.

[2015-12-17 22:54] devigned commented on #2390
Could this be part of the issue? https://github.com/npm/npm/issues/3084

[2015-12-17 23:14] colemickens commented on #2390
Hm, no luck so far.

On Linux, per those two npm issues, I tried:
1. `npm config set registry http://registry.npmjs.org`
2. `npm config set strict-ssl false`
3. translated localhost->127.0.0.1
4. `export NODE_TLS_REJECT_UNAUTHORIZED=0`

I also tried setting "proxy" and "https-proxy" via `npm config set` but those had zero effect on the actual traffic.

I'm not sure how to do the first and second o

[2015-12-18 21:29] squillace commented on #1710
@ruslangabitov when do we get this?

[2015-12-18 21:41] squillace commented on #1710
@ruslangabitov @ahmetalpbalkan I note in https://github.com/Azure/azure-xplat-cli/issues/1710#issuecomment-123204193 that we are STILL specifying .pem files in testing (bad; they include private information). Here's the help for `azure vm create` in arm right now:

[code]

No one should use .pem files as certificate files because they contain private information. We have heard this, and we now tak

[2015-12-18 23:15] huangpf commented on #1884
@Zigman13 @matthewdavis @5kg
The error occurs while uploading VHDs in dynamic type, and the current workaround is to upload the fixed type for it.

[2015-12-19 01:01] huangpf commented on #2389
The service returns upper cases values, and you can see them from ```-vv``` logs.

It's possible to make additional calls to query the actual group names, but we decided not to slower the calls, and thus just leave it as-is.

[2015-12-19 01:08] huangpf commented on #2386
+@sauryadas

[2015-12-19 03:44] huangpf commented on #2385
The ```ubuntuserver``` is OK, but the following offer has problem: ```azure vm image list westus canonical Ubuntu15.04Snappy```.

And the error occurs when the command gets the version ```15.04.201508290653``` from the sku, but fails to make a further call to get the details. The same error can be seen from calling:
[code]

[code]

[2015-12-19 03:58] colemickens commented on #2385
It seems to me that the first example I posted, `azure vm image list westus canonical` should also work, but doesn't.

[2015-12-19 04:02] colemickens commented on #2385
If this is how users are expected to discover images (since we don't seem to publish a list anywhere) then specifying any level of the imageurn should result in a list of results.

I should get a ton of results from `azure vm image list westus` and I should get a small subset of results when I specify everything except the version.

As it stands now, I have to ... basically guess... that "canonica

[2015-12-19 04:13] huangpf commented on #2385
You can use the following commands to list ```publisher```, ```offer```, and ```sku``` names, in that order.

[code]

The command ```vm image list``` requires ```publisher``` (along with ```location```) input, because there are too many calls to get all the publishers, and it would impact the command's running time significantly.

[2015-12-19 04:17] colemickens commented on #2385
That's great. Thank you!

[2015-12-19 04:17] huangpf commented on #2385
```azure vm image list westus canonical``` doesn't work because of the same reason that the publisher publishes a version string that would fail the later call to get the particular version image. This is a problem that the service team needs to address, or we probably need to make the query command more robust regarding exception cases.

```azure vm image list westus MicrosoftWindowsServer``` or

[2015-12-19 04:20] colemickens commented on #2385
Thank you for this detailed information.

Does that mean that the PS version is affected similarly?

[2015-12-19 04:22] ahmetalpbalkan commented on #2389
Wow very interesting, I did not expect that. :) Thanks. I guess that's a wontfix. I followed up other uppercase vs lowercase issues with xRP folks before, often nothing is coming out of those discussions.

[2015-12-19 04:22] #2389 closed

[2015-12-19 04:27] pcgeek86 opened #2391 "0.9.13 ARM :: azure network vnet show "[object Object]" for NSG"
When I run the `azure network vnet show` command, a Virtual Network Subnet that has a Network Security Group (NSG) associated with it, shows `[object Object]`.

This could be improved to show the name of the NSG that is associated with the VNet Subnet.

![screen shot 2015-12-18 at 9 12 52 pm](https://cloud.githubusercontent.com/assets/466713/11911283/3c7e754c-a5ce-11e5-9096-ab4c89d07dde.png)

Chee

[2015-12-19 04:31] huangpf commented on #2385
No problem. Hope it helps.

The PS counterpart ```Get-AzureVMImage``` is different in that its 1st parameter set requires all parameters of location, publisher, offer, and sku, but it doesn't make the further call to verify the image in particular versions. Its 2nd parameter set takes an additional version input to get the particular image.

[code]

The problem of not being able to query the detai

[2015-12-19 04:37] colemickens commented on #2385
I see.

In this case, my main concern was addressed (discover-ability via list-{publishers,offers,skus}).

We can go ahead and close this unless you want to keep it open to correlate with any internal bug for the version-detail-query server side issue mentioned.

[2015-12-19 04:54] huangpf commented on #2385
You're welcome. Let's keep it open to track the aforementioned issue, and try to get a fix by next sprint. Thanks.

[2015-12-19 16:39] romangromov commented on #2391
Will fix

[2015-12-21 08:00] romangromov commented on #2391
+@sreekanthbs to verify fix

[2015-12-21 10:47] sreekanthbs commented on #2391
@romangromov It is working fine. Showing Network security group id
![image](https://cloud.githubusercontent.com/assets/11171941/11927179/af61c2d4-a7f0-11e5-965b-e936d181abea.png)

[2015-12-21 19:04] ahmetalpbalkan commented on #1710
@squillace +1. But I think we should open a separate issue to discuss/track this. I feel like this'll get lost here.

[2015-12-21 21:52] ahmetalpbalkan commented on #2385
+1 I'm seeing the same error.

[2015-12-21 22:00] squillace opened #2393 "vm docker create must take .pub files"
We need to treat `azure vm create` scenarios not only securely but identically. This means that with linux VM creations, we need to be able to generate/pass .pub files to each one.

1. azure vm quick-create (https://github.com/Azure/azure-xplat-cli/issues/2135)
2. azure vm create (https://github.com/Azure/azure-xplat-cli/issues/1710)
3. azure vm docker create

This issue is to fix number 3; moving

[2015-12-21 22:01] squillace commented on #1710
done. https://github.com/Azure/azure-xplat-cli/issues/2393

[2015-12-22 00:43] squillace commented on #2250
I'm looking at 0.9.13, and it's not there. where is this? @MikhailTryakhov

[2015-12-22 01:03] ahmetalpbalkan commented on #2393
cc: @sauryadas would love to hear your input as well

[2015-12-22 06:32] sreekanthbs commented on #2250
@MikhailTryakhov Moving this issue to MSOpentech repo. Reference to the issue
https://github.com/MSOpenTech/azure-xplat-cli/issues/560

[2015-12-22 06:32] #2250 closed

[2015-12-22 18:25] caleteeter commented on #2004
+1 on this, is the option to create profiles, endpoints, etc for CDNs in the near term roadmap fro the CLI?

[2015-12-22 19:02] romangromov commented on #2391
PR with fix merged, please close the issue. Thanks

[2015-12-23 00:35] sjkp commented on #2368
2nd this. Is there even an api? want to use it for letsencrypt

[2015-12-23 00:42] sepiroth887 commented on #1937
bump. Any traction on this? Or even with PS?

[2015-12-23 01:05] huangpf commented on #2380
+@sauryadas
I think the fix (or wait) shall depend on the timeline of having premium support boot diagnostics.

[2015-12-23 01:07] huangpf commented on #2378
A new command ```azure vm image show``` will be added for querying the details of an image.

[2015-12-23 16:59] bitcrazed commented on #2368
Like minds ... this is precisely why I want an API - so that I can automate our LetsEncrypt certs.

[2015-12-23 19:52] ahmetalpbalkan commented on #2393
@squillace I think `vm docker create` is just a special case of `vm create`. I'd say let's change title of this issue to drop `docker` keyword. Because #1710 is entirely about CLI itself creating the ssh keys and managing them for you (you don't even see a ssh word while creating the VM). I'd like to keep that issue like that.

[2015-12-23 19:54] ahmetalpbalkan commented on #2385
@huangpf any ideas how this passed the test runs in the first place?

[2015-12-23 20:01] huangpf commented on #2385
@ahmetalpbalkan
It's very likely because at that time there is no problematic version in the published images. This actually is also a service issue in that it lists certain versions of images, but the get operation on them will fail.

[2015-12-23 20:02] ahmetalpbalkan commented on #2385
@huangpf oh I now see the root cause of this issue. Thanks.

[2015-12-23 21:03] pcgeek86 commented on #2378
@huangpf Cool, thanks! Do you think maybe it would be better to simply tack on a `--details` parameter instead? I think that has been done elsewhere in the tool. Just a suggestion though.

Cheers,
Trevor Sullivan

[2015-12-23 21:04] squillace commented on #2393
@ahmetalpbalkan I agree that it's a special case. But as it turns out, quick-create is also a special case, and that was treated with a separate bug. We added ssh-rsa support to arm vm create, and then did NOT add it to docker create, and nothing, not one thing in #1710 mentions paying any attention to docker create. In short, the myopia is strong, Luke.

Now, if you request it and think it's appr

[2015-12-23 21:06] ahmetalpbalkan commented on #2393
I was saying this issue should stay open without `docker` keyword. Maybe we can merge `vm quick-create` and `vm create`, but #1710 has nothing to do with accepting .pub files as inputs. It's about getting rid of .pub files entirely.

[2015-12-23 21:08] squillace commented on #2393
Ah, I misunderstood. I'm with you. Modifying.

[2015-12-23 21:13] squillace commented on #2393
@ahmetalpbalkan sound about right? Or should I cut down to clarify further?

[2015-12-23 21:14] pcgeek86 commented on #2391
@romangromov @sreekanthbs Thanks for resolving this!

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-12-23 21:14] #2391 closed

[2015-12-23 21:19] pcgeek86 commented on #2380
@huangpf If you talk to Sirius, I think the "solution" for VMs on Premium Storage is to specify a Standard Storage Account. As best I can tell, Premium Storage Accounts are specifically designed for Virtual Machines, and as such, I don't see any plans for them to implement block or append blobs.

Let me know what he says. For the foreseeable future though, I think users should probably be directed

[2015-12-23 21:48] ahmetalpbalkan commented on #2393
@squillace this is getting super confusing. I thought you were simply asking for --ssh-cert argument accepting id_rsa.pub file, now you're talking about generation of the file (overlaps with #1710) and "handle by default if exist" (I'm guessing you're saying use existing one if one present at $HOME/.ssh, which is not a good idea).

Feel free to call me sometime. :)

[2015-12-23 22:01] huangpf commented on #2378
@pcgeek86 Sure, I think we should consider adding that. Thanks.

[2015-12-23 23:22] squillace commented on #2393
Right. emailed you. My intention by referencing #1710 was to say that whatever implementation was decided there, it should also apply to quick-create and docker create. Having individual issues for what is a general "azure vm create" problem with all three commands is as confusing to me as anything else. :-)

[2015-12-24 01:19] colrack opened #2396 "Update docs/wiki on how generate cli stub code"
When you develop and make some changes / improvements to the code you may need to regenerate stub code to obtain `plugins.arm.json` and `plugins.asm.json` files.

You can do this running `./bin/azure --gen` on the project root directory.

Please update the docs on how to do this cause I had to found it out by myself.

Thanks

[2015-12-24 02:46] colrack commented on #2396
I found out that this is already reported in Documentation / [SetupRepo.md](https://github.com/Azure/azure-xplat-cli/blob/dev/Documentation/SetupRepo.md).

My fault, sorry.

Maybe it would be useful to report it in the wiki too

[2015-12-24 02:46] #2396 closed

[2015-12-24 04:58] huangpf commented on #2380
@pcgeek86 Thanks for the feedback. We would triage and consider it.

[2015-12-26 20:32] ahmetalpbalkan opened #2397 "[ARM] vm extension commands are extemely confusing"
[code]

May I ask how are `list-image-publishers` , `list-image-types`, `list-image-versions`, `get-image` are even related to VM Extensions? As a person publishing extensions, I have no idea what these commands are about.

When I run `list-image-publishers` it appears to be giving me VM Image publishers. Are we sure these commands should not be under `azure vm image`? This looks very odd to me.

[2015-12-27 03:25] yugangw-msft commented on #1937
@sauryadas , @huangpf , please comment

[2015-12-27 04:09] huangpf commented on #1937
This feature is TBD on the service side, and I believe there is an item for it in the latest planning.

@sauryadas Could you please help check it with Mahesh, and share the timeline, if feasible? Thanks.

[2015-12-28 15:12] jeffpatton1971 commented on #1937
Thanks @huangpf a timeline on when this may become available would be amazing.

[2015-12-31 09:26] romangromov opened #2400 "Test cases contains debug output"
When I run `npm -s run-script unit-arm` then I get the following output:

[code]

which contains not only test name, but extra debug output information, like `Creating`, `Deleting`, etc.

[2015-12-31 20:25] VickiFu commented on #1791
Thanks @statikon I spend hours and try to hookup the ip to vm with my mac machine...it doesn't work. It takes a second to do it in windows machine. Azure should document it better...

[2016-01-03 01:15] smith1511 opened #2401 "Need way to override default error log location (~/.azure)"
When trying to use the Azure CLI from a service account on Linux the CLI will attempt to write to the directory "$HOME/.azure".  However some service/system accounts don't have a home directory set.

It would be good if this location could be specified for each command, or possible globally using the 'azure config...' commands.

[2016-01-04 17:46] yugangw-msft commented on #1791
add @jtuliani @sauryadas for comments

[2016-01-04 17:55] yugangw-msft commented on #2368
@bitcrazed , i have communicated this feature ask to web site service team and we will post updates back. Thanks

[2016-01-04 19:02] huangpf commented on #2397
The extension image cmdlets will be changed to ```vm extension-image list/show/list-publishers/list-versions```, which will be similar to the ```vm image``` pattern.

[2016-01-04 19:04] ahmetalpbalkan commented on #2397
@huangpf I don't think there's a thing called "extension images", it's extensions. This image thing is confusing. Do you mind telling where is that word coming from?

[2016-01-04 19:25] huangpf commented on #2397
https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Compute/ComputeManagement/Generated/VirtualMachineExtensionImageOperations.cs#L37

https://msdn.microsoft.com/en-us/library/mt150024.aspx

Note that the commands to adding/getting extensions to VMs remain the same, i.e. ```vm extension set/get ...```. The change is only about querying the source images of the extension p

[2016-01-04 23:01] yugangw-msft commented on #2401
@smith1511, there is "AZURE_CONFIG_DIR" environment variable you can use to re-direct.

[2016-01-04 23:07] smith1511 commented on #2401
Perfect - i'll close the CR.

[2016-01-04 23:07] #2401 closed

[2016-01-05 00:04] yugangw-msft commented on #2361
@ahmetalpbalkan, based on old comments there is an terminology of "terse" used already in azure-cli, but never wired up. I made it work and in future you just use "--terse". Sounds good?

[2016-01-05 00:09] ahmetalpbalkan commented on #2361
@yugangw-msft I'm programming since I was 9, first time I'm hearing the "terse" word (but then English is my second language). My opinion is, word choice is not correct, I'd suggest validating this with someone else's opinion. I don't need this argument, I just want to inspire the next versions of CLI to have the right concept implement.

[2016-01-05 00:38] yugangw-msft commented on #2361
@ahmetalpbalkan, thanks for the input. First time i came across the "terse" as well.
@devigned, @amarzavery, not critical, but chip in your comment. This falls into the language domain and English is not my main language .
My opinion on "silent" was I felt it rather close in the meaning to the "quiet" flag which has been used across cli command already. But just now i looked up the dictionary, and

[2016-01-05 00:42] ahmetalpbalkan commented on #2361
if we ever write a new CLI, `--quiet` probably should not mean `--yes`/`-y` so that we can use `--quiet`/`-q` for silencing the output. :)

[2016-01-05 00:58] yugangw-msft commented on #2361
Based on the conversation, i am removing the "--terse" flag from the PR of "logging improvement" due to less values. The current discussion is about cli's future.

[2016-01-05 03:39] huangpf commented on #2343
The extension image cmdlets will be changed to ```vm extension-image list/show/list-publishers/list-versions```, which will be similar to the ```vm image``` pattern.

https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Compute/ComputeManagement/Generated/VirtualMachineExtensionImageOperations.cs#L37

https://msdn.microsoft.com/en-us/library/mt150024.aspx

Note that the co

[2016-01-05 17:25] devigned commented on #2361
Informational messages and diagnostics should go to stderr. They should not be on stdout.

--quiet / -q is the way to go.

[2016-01-05 22:51] squillace commented on #2397
@huangpf The problem here is the word "images". As a user, I don't care much what the REST operation is; what I want to know is what extensions are available to me to use. That they extensions are "images" is not simply "merely" confusing, it's directly confusing.

Is there a case in which there is a vm extension that is NOT an image? If so, then that might make sense. If there is no case in which

[2016-01-05 23:24] huangpf commented on #2397
Hi @squillace,

Thanks for the feedback. @sauryadas are welcome to add any comments.

But in my opinion, extension images (a term introduced by the extension service API team, not PS/CLI team) refer to what *types* of extensions that can be added to VMs (i.e. BGInfo, CustomScript, etc.) alongside with configuration information, like version, config input, etc. They are similar to gallery items.

O

[2016-01-05 23:27] ahmetalpbalkan commented on #2397
@huangpf "extension images" term is not part of any public documentation and has never been (@squillace can confirm). CLI should be consistent with docs. I also developed extensions and I have not seen "extension images" term anywhere in internal design docs either.

[2016-01-05 23:54] huangpf commented on #2397
Actually, I already reported to the PIR team that I was also not able to find any public documentation about PIR APIs for ARM VM images & extension images. But the case is that this term has already been published in the other official releases of ASM client, ARM client, and PS. It's probably new to CLI, but it's not a new concept elsewhere.

ASM client:
https://github.com/Azure/azure-sdk-for-net/

[2016-01-06 00:38] pcgeek86 commented on #2343
@huangpf It seems like you're putting effort into side-stepping the issue, instead of fixing it.

Cheers,
Trevor Sullivan

[2016-01-06 00:43] huangpf commented on #2343
```list``` command will list all available ones, and the only parameter it takes is location.

[code]

[2016-01-06 01:35] huangpf commented on #2343
@pcgeek86
Users now can list all available ones and filter or process it on the console. Data query feature (like filtering) by the command itself needs to be decided alongside with the request on the PS side, re: Azure/azure-powershell#691.

[2016-01-06 23:14] pcgeek86 commented on #2343
@huangpf Thanks, I understand now. I didn't see the `list` command by itself, when I first read your comment. I appreciate you pointing out my oversight.

Cheers,
Trevor Sullivan

[2016-01-07 01:45] squillace commented on #2135
@sauryadas just repinging for the new year. :-) @madhana you were just in a meeting with us and Corey in which this specific bug came up. Can we fix or won't fix, yet?

[2016-01-07 02:03] madhana commented on #2135
Sorry for the lack of response here. I think this is a valid ask. We will take a look at this in the next few days

[2016-01-07 02:13] squillace commented on #2135
Coolio. Thanks.

[2016-01-07 14:00] fatso83 opened #2407 "Failing download of diagnostics.zip when already existing, but no errors"
[code]

The above snippet is meant to illustrate the case where you already have a file called `diagnostics.zip` in the current dir. This will make the command to download the logs fail silently.

[2016-01-07 19:38] huangpf commented on #2135
@squillace I tend to agree that it's better for CLI user to use pub key/path for linux VMs.

BTW, I think this item is a feature request, not a bug, for the quick-create command. So, assign to @sauryadas for now.

[2016-01-07 19:43] huangpf commented on #1487
@squillace ```--json``` option is meant to used for showing the details, so it's not a blocking issue, and I think ```description``` is probably not needed in the default list view, which is blocking the display of other fields.

[2016-01-07 20:18] squillace commented on #2135
@huangpf that sounds fine. Either "fixing it" or "adding that feature" is very, very important. :-)

[2016-01-07 20:44] squillace commented on #2397
@huangpf I appreciate the research. We're still missing the point, perhaps because the CLI is used by end-user sysops and devs, and they are looking for "VM Extensions". Why? Because that's what our [docs say](https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-extensions-features/). The fact that our REST api has "images" in the operation name is great for the REST api; end

[2016-01-07 20:50] squillace commented on #2397
Then there's the other issue, which is the list-publishers/offers crap. And by "Crap" I mean "crap", in that I cannot find a single customer this helps, rather than hurts. This is, like the "image" issue, a mirror of the same issue with `azure vm image list-publishers`, which is the way the REST api was built and which is a complete mistake and waste of time and which is going to be fixed. I'd get

[2016-01-07 20:50] huangpf commented on #1487
Some sample output after the update
[code]

[2016-01-07 21:15] huangpf commented on #2397
@squillace I totally understand your concerns and I would agree with you that we don't have to re-use the same name from the REST API. But just FYI, there is another goal to unify the UX of client, PS, & CLI, as much as possible, because these are going to be a more cohesive bundle release soon. (BTW, that PS cmdlet documentation doesn't look accurate, and the PIR documentation for listing extensi

[2016-01-07 21:22] ahmetalpbalkan commented on #2397
@huangpf Can you point me to an example of "extension image" or "extension artifact"? I don't think we don't know what those are.

If you want to disambiguate listing extensions on the VM and list available extensions, here's a simple idea:

* `azure vm-extensions list`: lists available `vm-extensions`
* `azure vm get-extensions <vm>`: shows extensions on the VM.
* `azure vm set-extension <vm>`: s

[2016-01-07 21:34] squillace commented on #2397
@huangpf Agree on the coming design. I'll be meeting with him and mohit and david this coming week to lay out a few principles on such things so that they can make good decisions. If @ahmetalpbalkan's nice I may invite him. :-)

About the ambiguity, are you discussing the difference between extensions that the current may see or have access to and the extensions that exist but which they may not u

[2016-01-07 22:18] huangpf commented on #2397
@ahmetalpbalkan Please refer to the links I mentioned above for ```image```. ```artifact``` is just one of the possible options, referring to the concept of VM image artifact and the REST API (```ArtifactTypes``` in ```"id":"/Subscriptions/xxx/Providers/Microsoft.Compute/Locations/westus/Publishers/Microsoft.Compute/ArtifactTypes/VMExtension/Types/BGInfo/Versions/2.1"```), which is kind of like a

[2016-01-07 22:23] ahmetalpbalkan commented on #2397
Alright, I'll withdraw from this conversation. The terminology used in the REST API design is not satisfying either, it is just making things more confusing. I wish we can find a way to avoid REST API to influence the CLI design.

[2016-01-07 22:36] #1487 closed

[2016-01-07 22:38] huangpf commented on #1710
@squillace If the issues in this thread have been resolved, can we close this one, and focus on #2393? Thanks.

[2016-01-07 22:59] ahmetalpbalkan commented on #1710
@huangpf this issue should not be closed. The title says "handle usage and creation of VM SSH certs inside the CLI". I think we're not there yet and this thread must discuss it.

In other words, this thread is not about various commandlets not taking the --ssh-key argument; it is about hiding the SSH key management entirely from the user by default. Please read the title and the initial issue desc

[2016-01-07 23:05] huangpf commented on #1710
Then the label says ```Ready For Test``` should probably be removed.

[2016-01-07 23:27] huangpf commented on #1710
This should be a very convenient feature for Linux CLI users, but I don't think we can "eliminate credentials from ```azure vm create```..." because CLI can also be used to create Windows VMs by providing user name & password.

[2016-01-07 23:29] ahmetalpbalkan commented on #1710
@huangpf yeah but for Linux, username/password is not a reality. I'm not saying we should eliminate it for Windows, simply because SSH is obviously for Linux. If you haven't already, please download gcloud cli and create some instances to understand this proposal.

[2016-01-07 23:31] huangpf commented on #1710
@ahmetalpbalkan Thanks for the suggestion again. We will look into it. @sauryadas.

[2016-01-08 00:07] squillace commented on #2397
@ahmetalpbalkan you bet.

@huangpf if that's the case, then the solution that Ahmet gave (`azure vm-extensions list`) is actually best. My guess, though, is that you don't want to add another "top level" command. In that case, I'd suggest `azure vm available-extension list`, because:

1. It pushes the command underneath the top level
2. Differentiates between the instances on your vm and the possi

[2016-01-08 00:20] huangpf commented on #2343
Close this issue for now, as the code has been checked in by PR #2398

[code]

Listing all images from a location:
[code]

Listing all images from a location and publisher:
[code]

Listing all images from a location and publisher:
[code]

Listing all images from a location, publisher, and type:
[code]

[2016-01-08 00:20] #2343 closed

[2016-01-08 07:51] romangromov commented on #2342
@pcgeek86 `azure network` commands migrated to SDK from `autorest`, merged to `dev`, now `--resource-group` is optional where it is possible.

[2016-01-08 11:22] waldiTM opened #2409 "azure vm create is silent about disabled provisioning"
azure vm create provides two parameters with URL to os disk/image, "-Q" and "-d". The difference is not really clear, as using only "-d" produces a running system.
However if only "-d" is provided, all the other information, ssh key, admin user, internally called an os profile, are silently ignored.

[2016-01-08 16:56] squillace commented on #2386
+1

[2016-01-08 17:24] yugangw-msft commented on #2342
Closing. Fix will be in the upcoming release

[2016-01-08 17:24] #2342 closed

[2016-01-08 19:23] huangpf commented on #2409
Is the OS disk a generalized or specialized image? If it's a specialized one, it can't be used with the OS profile credentials.

Could you please help elaborate a bit more about 'running system' in that what would happen to the VM if you specify the url in -Q? Thanks.

[2016-01-08 22:15] pcgeek86 commented on #2343
@huangpf Thanks, just to be sure, the `list` command also supports `--json` parameter?

Cheers,
Trevor Sullivan

[2016-01-08 22:27] pcgeek86 opened #2414 "How do you create a VPN Gateway?"
I'm trying to create a VPN Gateway, which I thought would be fairly straightforward, but I'm getting prompted for a "Private IP Address" parameter. There's no documentation for this parameter, so I have no idea how to create one.

1. Please ensure documentation is detailed.
2. Please provide an example for creating a VPN Gateway.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsull

[2016-01-08 22:54] huangpf commented on #2343
Yes, it's as follows:

[code]

[2016-01-08 23:50] delgadom commented on #2173
I am getting the same error when downloading a large file through the node.js interface.

    <--- Last few GCs --->

      761431 ms: Mark-sweep 1394.8 (1445.7) -> 1394.7 (1445.7) MB, 442.9 / 0 ms [allocation failure] [GC in old space requested].
      761869 ms: Mark-sweep 1394.7 (1445.7) -> 1394.7 (1445.7) MB, 439.0 / 0 ms [allocation failure] [GC in old space requested].
      762324 ms: Mark-

[2016-01-09 00:08] pcgeek86 commented on #2343
@huangpf Thanks, I'll keep an eye out for the next release.

[2016-01-09 01:07] colrack commented on #2414
Hi
I played with vpn connections few months ago so I can answer
Following cmds are for ARM mode

1) create a group
`azure group create vpngroup --location westeurope`

2) create a public ip for the gateway
`azure network public-ip create --resource-group vpngroup --name gwpip --location westeurope`

3) create a vnet
`azure network vnet create --resource-group vpngroup --name gwvnet --location west

[2016-01-09 01:13] pcgeek86 commented on #2414
@colrack Wow, thanks so much for that. I really appreciate the help. Let's leave this issue open so that the documentation can be fixed. :) The `--private-ip-address` parameter is what confused me the most. I haven't ever seen the requirement to configure a private IP address on a VPN Gateway before. You don't should have to specify the subnet name or subnet ID, at least in theory. :)

Ciao!
Trevo

[2016-01-09 01:28] huangpf commented on #2397
Thanks @squillace and @ahmetalpbalkan. I actually kind of like the suggestion of ```vm available-extension``` as for the category name.

I would like to close this thread for now, because since the incoming release, these two different types of extensions will start to belong to different command categories, i.e. ```vm extension``` vs. ```vm extension-image```, as a first step to reduce the confus

[2016-01-09 01:29] #2397 closed

[2016-01-09 01:31] huangpf commented on #2397
Related PR #2398

[code]

Listing all images from a location:
[code]

Listing all images from a location and publisher:
[code]

Listing all images from a location and publisher:
[code]

Listing all images from a location, publisher, and type:
[code]

[2016-01-09 01:32] huangpf commented on #2385
This issue should have been fixed. Close for now.

[2016-01-09 01:32] #2385 closed

[2016-01-09 01:34] huangpf commented on #2380
Fixed by https://github.com/Azure/azure-xplat-cli/pull/2398

Will be available in the incoming release. Close for now.

[2016-01-09 01:34] #2380 closed

[2016-01-09 01:42] huangpf commented on #2409
In summary, the ```-Q``` option is to create VMs from 1) platform image and 2) generalized user image. In the 2nd case, users can specify ```-d``` for where the OS disk VHD will be put to, and users have to specify OS profile for the user credentials as well.

The ```-d``` option only is to attach and create a VM from the 'specialized' user image. In this case, users must not specify the OS profil

[2016-01-09 01:54] kahwooi opened #2415 "Bugs: KeyVault key create Invalid URI"
I am using:

[code]

When I try to add a key to the KeyVault with the following command:
[code]

I got the failed message below:
[code]

Solution:

I remove ```opening and closing apostrophe``` from --vault-name and --vault-key, it solve my problem.

[2016-01-09 04:27] devigned commented on #2020
ADAL supports cert auth: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/blob/master/sample/certificate-credentials-sample.js

[2016-01-09 22:24] yugangw-msft commented on #2020
@devigned  It is known that ADAL has the interface. What is not certain is what to ask from the end user. The following was what I have communicated to a partner. I am pasting here in case the community has any feedback to get the design usable.

Based on the api exposed by adal, the end to end experience using azure-cli would look like
1. A users will need to provide the private key of the certif

[2016-01-10 06:52] roopafelix commented on #1980
I created NSG for my subnet abc.
Added two rules
Here i have application deployed into  VM.After applying these two rules. .It should deny accessing from all IP's Except 8.8.8.8/32 .But Issue here is
"I am unable to access my application in 8.8.8.8/32 also"

Name     : MyVNetSG
Location : South Central US
Label    : Security group for my Vnet in South central  US
Rules    :

              Type: In

[2016-01-10 12:10] romangromov commented on #2414
@pcgeek86 please suggest description for `--private-ip-address` parameter - will update

[2016-01-11 08:10] oyvindholmstad commented on #2173
No, I ended up using the [REST Api](https://github.com/projectkudu/kudu/wiki/WebJobs-API). This is from my upload script:

[code]

Nb! I start the webjob with run.cmd, so you may have to remove that if your zip has something else.

[2016-01-11 21:19] ahmetalpbalkan opened #2418 "[ARM] azure vm image list, without knowing publishers"
**Claim:** Discovering and searching images in the ARM CLI without knowing the publisher name is impossible.

I'm not sure if this is an API [limitation | design] [mistake | success], but in the ARM mode I can't list all the images in the system without knowing the publisher name. For instance in ASM mode I can do:

[code]

and discover images easily (pay attention to the fact that as a user I don

[2016-01-11 21:48] rjmax commented on #2020
It seems that requiring a path to the pem is acceptable based on the
approaches used by others.  This way, access to the cert is handled by
filesystem ACLs rather than via providing the password.

It feels like we should ask the ADAL folks about why a refresh token isn't
provided.  As a mitigation, we can cache the path of the pem to use,
correct?

This issue at hand is removing secrets from the d

[2016-01-11 21:49] pcgeek86 commented on #2414
@romangromov I don't have a suggestion, because I don't know how it is intended to work. The Azure engineering team that's responsible for this feature should be held responsible for providing a description. This goes for every feature of the platform.

Cheers,
Trevor Sullivan

[2016-01-11 23:51] FdezRomero commented on #1937
@sauryadas @huangpf Without being able to re-assign an existing VM to an Availability Set, nor via the Azure Portal nor the CLI, how are we supposed to achieve the Azure SLA? Recreating the VMs?

[2016-01-12 00:47] sauryadas commented on #2135
@squillace work item has been created. Should be available in the Feb CLI release

[2016-01-12 00:49] sauryadas commented on #2386
+1. Work item created and should be available in the feb CLI release.
1)Will be available in ARM mode only.
2)The user will need to provide a resource group name. We will not create one by default.

[2016-01-12 00:54] squillace commented on #2135
Yay!

[2016-01-12 03:47] staticcat opened #2420 "Non-interactive option for all commands"
When automating calls through the CLI, scripts can appear to have locked up. In fact this is typically just that extra input is being requested by the CLI call. It would be better have the scripts fail if extra input is required. This could be done through a general option on all azure CLI commands. I suggest "--non-interactive".

[2016-01-12 08:02] DaveVdE commented on #2368
I'm also curious. I want to automate the creation of a new web app and need to be able to programmatically upload a certificate and assign it to a web app.

[2016-01-12 19:04] squillace opened #2421 "microsoft/azure-cli: can we get an updated Dockerfile"
The Dockerfile at https://hub.docker.com/r/microsoft/azure-cli/~/dockerfile/ pulls in some seriously old version. Can we get that updated? I pulled it the other day and I got .9.10; we're at .13.

[2016-01-12 20:41] colrack commented on #2421
Hi

I already opened https://github.com/Azure/azure-cli-docker/issues/23 for this.
[azure-cli-docker](https://github.com/Azure/azure-cli-docker) is at `0.9.13`, docker hub at `0.9.10`.

I propose to integrate `azure-cli-docker` releases as part of the release process of `azure-xplat-cli` and have in release notes instructions on how to run it, something like `docker run -it microsoft/azure-cli:X.X

[2016-01-12 23:14] squillace commented on #2421
+1 agreed. closing.

[2016-01-12 23:14] #2421 closed

[2016-01-12 23:38] ahmetalpbalkan commented on #2421
@squillace I think @devigned is supposed to update dockerfiles and make releases on the azure-xplat-cli repo. :)

@colrack the Dockerfile of WALinuxAgent is for development of that project, the Dockerfile at https://github.com/Azure/azure-xplat-cli/ is for releasing of software, which is a different thing. We must not confuse these two things.

[2016-01-12 23:49] colrack commented on #2421
@ahmetalpbalkan yes I know, but thanks for clarifying if others were confused.
I'm just saying having a Dockerfile for development would be nice. Maybe I'll open another issue

[2016-01-12 23:57] AlanSt opened #2423 "There doesn't appear to be a valid way to create an azure ad service principal"
azureuser@vm:~$ azure ad sp create  --applicationId blah

  error: missing required argument `application-id'

azureuser@vm:~$ azure ad sp create  --application-id blah

  error: unknown option `--application-id'

[2016-01-13 01:26] sauryadas commented on #1937
Mahesh @mahthi will provide an update when he is back

[2016-01-13 03:18] yugangw-msft commented on #2423
@AlanSt try what the [test code](https://github.com/Azure/azure-xplat-cli/blob/dev/test/commands/arm/ad/arm.ad-app-tests.js#L57) does

[2016-01-13 03:19] yugangw-msft commented on #2415
@karlaugsten , please comment

[2016-01-13 07:33] romangromov opened #2426 "-h option returning help with any alphabet given after -h"
![screenshot_10](https://cloud.githubusercontent.com/assets/1655573/12287882/01baa7c4-b9e1-11e5-9ae2-e15b7c5954cc.png)

[2016-01-13 11:27] yosuah opened #2428 "Moving Storages and VMs between ResourceGroups is not possible and the error message is not clear/helpful"
Hello,

I was trying to use the move functionality to move Storage accounts between resource groups, but this failed. This very recent document suggests that moving is currently not possible for essential things like Storage and VMs: https://azure.microsoft.com/en-us/documentation/articles/resource-manager-supported-services/

Currently if you try to move a resource like this, the error message wi

[2016-01-13 12:50] colrack commented on #2414
@romangromov https://github.com/Azure/azure-xplat-cli/pull/2427 LGTM

Since as of now `--subnet-name` must be `GatewaySubnet`, default to it if not provided would be nice.
It would be also nice to assign a dynamic ip to the gateway if `--private-ip-address` is not provided.

[2016-01-13 17:52] romangromov commented on #2414
@colrack this make sense, both proposal implemented now, thanks

[2016-01-13 21:12] akurmi commented on #2368
<I just hand crafted this template so it may have some syntax errors>
Here is an ARM template to upload a certificate and create SSL bindings. This template should be executed in the resource group of web app:

{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "certificateName": {
      "type": "st

[2016-01-13 21:15] pcgeek86 commented on #2414
Great suggestions, @colrack. Thanks for implementing them, @romangromov.

Cheers,
Trevor Sullivan

[2016-01-13 21:15] #2414 closed

[2016-01-13 21:16] sjkp commented on #2368
@akurmi nice - didn't know it was supported in ARM. I'm have made a few advances in regard to ease the installation of lets encrypt certs on azure websites. But they rely on either site extensions  https://github.com/sjkp/letsencrypt-siteextension or letsencrypt-win-simple with a azure specific plugin https://github.com/sjkp/letsencrypt-win-simple neither of the solutions are perfect though.

[2016-01-13 22:16] karlaugsten commented on #2415
Hey @kahwooi, yes you will need to drop the single quotes if you are running the commands in a cmd.exe prompt. In a powershell prompt you can keep the quotes.

[2016-01-14 09:23] yaxia commented on #2025
You might want to try:
[code]

[2016-01-14 12:03] shahidhk opened #2430 "azure network nic inbound-nat-rule add flag changed in 0.9.14, but not documented anywhere"
For `azure network nic inbound-nat-rule add` command, the `--inbound-nat-rule-name` in `v0.9.13` has been changed to `--lb-inbound-nat-rule-name` in `v0.9.14`, but it is not documented anywhere (not in changelog also).

How come a breaking change happen in a patch release (assuming semver is followed) and it is not documented?

[2016-01-14 13:41] carbontwelve commented on #2385
When I issue the command `azure vm image list -p canonical` it asks me to confirm the location so I enter `North Europe` and it provides me with the following error:

[code]

I get the same error if I execute the command `azure vm image list "North Europe" "canonical"`

[2016-01-14 17:38] yugangw-msft commented on #2430
@shahidhk azure-cli is still in pre-release. I have reflected this in the release tab; otherwise, this should have caused major version change, which we are not doing.
@romangromov, please confirm whether this is expected. Next time, I will pay attention to call out the cmdlet interface change in the changelog.
@amarzavery for FYI.

[2016-01-14 17:49] shahidhk commented on #2430
@yugangw-msft Thanks for the update. I understand that azure-cli is still in pre-release. But, could not find this in changelog for the release.

[2016-01-14 17:50] huangpf commented on #2385
@carbontwelve May I know which version did you use? ```0.9.14``` shall have the fix.

[2016-01-14 17:54] romangromov commented on #2430
@yugangw-msft that is true, `--inbound-nat-rule-name` changed to `--lb-inbound-nat-rule-name` to follow the same style with other parameters naming convention. In future cases, will declare braking changes in PR description so you can update change log quickly

[2016-01-14 18:28] RevCBH opened #2431 "ARM: azure vm quick-create should support instance size parameter"
When trying to create an image backed by a Premium_LRS storage account, there's no way to select an appropriate instance type.

[2016-01-14 22:27] yugangw-msft commented on #2430
closing. no code change is needed; other than we need to do better moving forward

[2016-01-14 22:27] #2430 closed

[2016-01-14 22:28] yugangw-msft commented on #2431
@huangpf , @sauryadas

[2016-01-14 23:32] colemickens commented on #2388
I just went through this process again.

I've closed and reopened all command prompt (and Powershell) windows and `azure` is still not available.

Signed out, signed in, everything works. It'd be nice if that step was explicitly called out and  not necessary.

[2016-01-15 01:10] huangpf commented on #2431
I think this is a question about which parameters shall be exposed or not for the 'quick' command.

Premium storage is more of an advanced user case, so it shall be achieved by using ```vm create```? @sauryadas

[2016-01-15 01:40] RevCBH commented on #2431
Fair, but regardless of storage, it'd be nice to select a different size.
On Thu, Jan 14, 2016 at 8:10 PM huangpf <notifications@github.com> wrote:

[2016-01-15 07:17] huangpf commented on #2431
@RevCBH May I know which image do you refer to? Is it available to all users? I would like to try to reproduce the problem and look a bit further into it. Thanks.

[2016-01-15 07:48] phstudy commented on #2259
@pcgeek86 Could you share the correct parameters settings? I also face this problem. Thanks!

[2016-01-15 07:58] phstudy commented on #2259
I found the correct format, it looks like

[code]
:smile:

[2016-01-15 15:29] remkoboschker opened #2435 "Should resource group names be able to have a dash in it?"
I'm trying to move a resource group named "Default-Web-WestEurope". However the move command throw an error on the the regular expression checking the resource group name.

https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/resource/resourceUtils.js line 103.

Is this the correct behaviour? If not I'll be happy to add the dash in a pull request.

[2016-01-15 16:20] RevCBH commented on #2431
Yeah, it's a public image: openlogic:CentOS:6.7:6.7.20150815

I was trying to run a command like:

azure vm quick-create \
  --resource-group "$AZURE_RESOURCE_GROUP_NAME" \
  --name vendorimagebuildbox \
  --location "$AZURE_LOCATION" \
  --os-type "Linux" \
  --image-urn "openlogic:CentOS:6.7:6.7.20150815" \
  --admin-username username \
  --admin-password xxxxxx

With the goal of performing cust

[2016-01-15 17:35] #2020 closed

[2016-01-15 18:11] romangromov commented on #2435
btw: I'm able to create resource group with dash in it's name: `test-roman-group`

[2016-01-15 19:29] huangpf commented on #2431
Actually, I was able to quick-create a VM from the image ```openlogic:CentOS:6.7:6.7.20150815``` with that command's default size ```Standard_D1```:
[code]

And if you check it by the command ```azure vm image show westus openlogic CentOS 6.7 6.7.20150815```, it doesn't say anything about the VM size. So I guess the problem might be that the auto-creation of the storage account was ```Premium_LRS`

[2016-01-15 23:16] ramayer-fli opened #2436 ""azure network nic create... --public-ip-name ..." used to assign a public IP, but no longer does."
With an older version of the azure-cli, from Sep 10, 2015, the following script would associate a public IP address to the NIC card of the VM it launches.

With the version of azure-cli that "npm install azure-cli" installs today, the NIC is not associated with the public IP address.

[code]

Since the ```azure network nic create ... --public-ip-name``` command completed without warnings or errors

[2016-01-15 23:33] ramayer-fli commented on #2436
When I look in https://portal.azure.com the "Network interface" .... "Settings" ... "IP addresses" ... "Public IP address" checkbox-buttons say "disabled" with the current version of azure-cli that npm installs.      It seems the default from the Sep 10 version of azure-cli was to have that "enabled" when ```azure network nic create``` had a ```--public-ip-name``` parameter.

With the current azur

[2016-01-16 00:56] remkoboschker commented on #2435
So, I guess it should be allowed in the getResourceGroupForMove function. I'll try a move with a dash in the name in a forked cli tomorrow.

[2016-01-16 21:10] tonymitchell opened #2437 "'vm reset-access' --ssh-cert argument doesn't accept RSA format"
The 'vm create' command was updated (https://github.com/Azure/azure-xplat-cli/issues/1681) to support specifying the users SSH RSA public key (e.g. id_rsa.pub), however the related 'vm reset-access' command was not.  If you've created a VM with an SSH RSA key, you should be able to reset-access to it as well should something go wrong.  Additionally, if you use the reset-access command to add new u

[2016-01-17 07:36] ramayer-fli commented on #2436
The same script works fine with this version of the Azure CLI a86e3de009d44bfcb8d4f2448dfb05e9b8f1e043

[2016-01-17 09:00] romangromov commented on #2436
@ramayer-fli will take a look soon, stay tuned

[2016-01-18 09:10] romangromov commented on #2436
@ramayer-fli thanks for flagging this, regression bug, confirmed. I've send PR with fix, now you should be able to create NIC with attached PublicIp:

[code]

[2016-01-18 11:14] heidi-ann commented on #2144
Sorry I abandoned this a while ago.

I hit quite a few problem like this and could not find much help.
Sorry to say it, but i switch to Amazon EC2 and got the job done a few hours.

[2016-01-18 11:14] #2144 closed

[2016-01-18 21:55] ramayer commented on #2436
Thank you very much for the patch that fixes the issue!

I applied your patch to my local copy!

[2016-01-18 21:56] ramayer-fli commented on #2436
Thank you very much for the patch that fixes the issue!

I applied your patch to my local copy, and our automation scripts are working again.

[2016-01-18 21:56] #2436 closed

[2016-01-19 07:05] ramspoluri opened #2443 "ARM:network gateway connection create not working when each gateway is in different resource group"
looks like --vnet-gateway2 <vnet-gateway2> is considering it to be part of same resource group as --vnet-gateway1 <vnet-gateway1>

[2016-01-19 07:12] ramspoluri opened #2444 "In ARM mode, azure network help is not showing "Commands to manage public ip addresses""
azure network -h
azure network public-ip -h

[2016-01-19 08:28] romangromov commented on #2444
@ramspoluri can you please tell me which version of Xplat-CLI you are using? Just run `azure -v`

In latest release of `0.9.14` I can't repro this issue - working fine:

[code]

[2016-01-19 08:32] romangromov commented on #2443
@ramspoluri thanks for flagging this,

Please change issue title with `ARM:network gateway connection create not working when each gateway is in different resource group`

Will look into this and come back, stay tuned

[2016-01-19 10:40] romangromov commented on #2443
@ramspoluri thanks for reporting, I've send PR with fix (not yet merged) to `dev` branch. Now you should be able to provide resource group for each gateway you want to connect. If resource-group not specified for gateway, then connection resource-group will be used with warning given.

Also sharing quick guide how to create connection:

[code]

Thanks,
Roman

[2016-01-19 14:53] ramspoluri commented on #2443
thanks @romangromov

[2016-01-19 14:58] ramspoluri commented on #2444
Apologies. While scrolling through the azure network help (180+ lines), I missed this section all the time. It was always there in front of my eyes.

[2016-01-19 14:58] #2444 closed

[2016-01-19 21:04] ahmetalpbalkan opened #2447 "~/.azure/azureProfile.json should be chmod 0600"
This `$HOME/.azure/azureProfile.json` file contains subscription IDs and names, what we consider as medium-sensitive information. It has permissions `(0644/-rw-r--r--)`.

It should be `(0600/-rw-------)`.

[2016-01-19 22:17] #2443 closed

[2016-01-20 07:48] romangromov commented on #2435
@remkoboschker your fix merged, please verify and close the issue, Thanx!

[2016-01-20 07:57] #2435 closed

[2016-01-20 08:02] remkoboschker commented on #2381
Hi,
I just closed #2435 dealing with a hyphen in a resource group name. I guess the same regex is causing your issue as it does not match for underscores in your `name: 'exports_validateTemplate__2',`

[2016-01-20 08:15] romangromov opened #2452 "README.md is out of date"
and contains **wrong** information, like `login with publish settings file` and `list of features`

[2016-01-20 18:59] yugangw-msft commented on #2452
@romangromov "logging with publishing settings" means "azure account import", and the list of features are not to date for sure, please feel free to submit a PR to fix them. Thanks!

[2016-01-21 00:01] colhountech opened #2455 ""azure webapp list" has incorrect help usage"
[resource group] is not an optional argument. Optional arguments should be enclosed in square braces. Required arguments should be enclosed in angular brackets.
e.g.
[code]
should be:

[code]
for further reference, see [a similiar issue with dotnet-cli](https://github.com/aspnet/dnvm/issues/479)

This issue exists in an inconsistent manner across the app.

[2016-01-21 02:57] ahmetalpbalkan opened #2456 "ARM: Setting vnet tags not working in MITM mode"
I'm running `mitmproxy` on my Mac to eavesdrop on the requests via a man-in-the-middle proxy.

I'm running the command:

    azure network vnet set -t "tag1=value1" my-rg my-vnet -vv

What I see on the wire (in mitmproxy) that "GET Virtual Network" call happens and gets a response and nothing happens later on....

What I see on `-vv` output is that in addition to the "GET Virtual Network" request

[2016-01-22 04:54] chrisharrison commented on #1937
So basically there is no way for me to add a VM to a load balancer without shutting down and completely re-creating the VM?

This is a single click in AWS.

[2016-01-22 07:19] jstrom-MSFT opened #2465 "Issue with azure vm create not parsing parameters correctly"
I am trying to create a new VM via Azure CLI and seem to be stumbling over actually getting a VM to deploy:

Command Executing:
The command should do the following:
-          Use an existing resource group (MYRGCLI)
-          Use an existing network card (MYVMCLINIC)
-          Deploy to “West US”
-          Deploy a Windows VM
-          Standard A1 instance size
-          Use an existing publ

[2016-01-22 19:57] lmazuel commented on #2385
Hello,

I was having the same issue. The `list` now works
[code]

But not the `show`

[code]

By adding the `-vv` we still see the REST API error to the details request.

Actually, I was working with REST API directly, got an error, and Google brought me here. Do you know if there is a bug report somewhere regarding the REST API directly? It's maybe the best way to fix this.

Thank you!

[2016-01-22 20:27] ahmetalpbalkan commented on #2385
@lmazuel

[code]
?

[2016-01-22 21:33] huangpf commented on #2385
@lmazuel
I also noticed this problem, but it's different from the original post here. Could you please file another issue for it?

The cause is on the service side in that some of the images shown by the ```list``` operation can't be queried using the ```get`` operation. The ```-vv``` option will show the details.

Since this is a service API issue, you can contact Azure support for your subscript

[2016-01-22 21:46] lmazuel opened #2466 "azure vm image show doesn't work"
Hello,

[code]

You might be interested to see https://github.com/Azure/azure-xplat-cli/issues/2385 as reference.

[2016-01-22 22:20] huangpf commented on #2466
To add a note: ```azure vm image show westus canonical ubuntu15.04snappy 15.04-Snappy``` lists the image in version ```15.04.201508290653```, which means it exists, but it couldn't be queried using the ```show``` command, i.e. the get operation. So it's a service API problem. +@sauryadas @kmouss

[2016-01-23 04:48] greenmang0 commented on #1937
@chrisharrison,

You are comparing apples and oranges :)

[2016-01-23 14:37] despairblue commented on #1937
@greenmang0 You mean azure is not comparable to AWS? Would you mind to elaborate that a little more? I think I can't follow you. :)

[2016-01-23 17:12] metaskills commented on #1837
Indeed... being able to create a specific version would really help. Is there a way to upgrade the version after you create it? From my searching, I could not find that. Even if there was, it is not a synchronous task. So that means it is even more critical being able to create with a specific version.

[2016-01-23 23:18] waderyan opened #2469 "Documentation is lacking for many commands"
I'm trying to use the CLI extensively and frequently am left frustrated with the lack of documentation.

For example, I want to change the branch that I deploy to from 'master' to 'stage1'. From scouring the help, I see that I can run `azure site repository branch` to "Set your repository branch".

When I try to run the command `site repository branch stage1 <site-name>` with <site-name> my websit

[2016-01-24 05:17] yugangw-msft commented on #2465
@huangpf @sauryadas please comment

[2016-01-24 05:18] yugangw-msft commented on #2456
I will take a look first

[2016-01-24 05:21] yugangw-msft commented on #2428
@vivsriaus, please comment

[2016-01-24 05:24] yugangw-msft commented on #2423
@AlanSt, this has been fixed in 0.9.14. the parameter is "--applicationId"

[2016-01-24 05:24] #2423 closed

[2016-01-24 06:17] huangpf commented on #2465
@jstrom-MSFT
I can't reproduce the problem on my end using the command you posted:
[code]

Could you please use the ```-vv``` command to check the password that you input is the same as the one you type in the one-line command or by prompt? Thanks.

[2016-01-24 22:36] jstrom-MSFT commented on #2465
huangpf, do you have an internal alias?  I'll send you the raw vv output of my subscription without any edits.  I can reproduce every time in my subscription.

[2016-01-25 02:32] huangpf commented on #2465
@jstrom-MSFT Sure, sent you a message. Just let me know.

[2016-01-25 02:34] yugangw-msft commented on #2390
@colemickens, i took a look at the fiddler case. This issue should repro on all requests with a non empty body. The error story plays out like following.
1. sdk library will always put in the header of "content-length", before hands over to [request package](https://github.com/request/request)
2. the "request" package see the HTTP_PROXY is set, it will first create a http tunnel by sending out the

[2016-01-25 03:49] colemickens commented on #2390
@yugangw-msft The steps for running Fiddler are:

1. Install `mitmproxy` using your distro conventions.
2. Run `mitmproxy` once and then close.
3. There is a public CA certificate in your `~/.mitmproxy` directory. Use distro conventions to install this new root certificate authority. Keep the private key safe. Ubuntu root CA install instructions are here: http://askubuntu.com/questions/73287/how-d

[2016-01-25 05:22] colemickens opened #2473 "not sure how to use azure vm disk create"
I'm trying to copy a VHD to my own storage account so I can boot a VM with it.

[code]

[code]

but it doesn't work if I omit --location either:

[code]

[code]

To be honest, I'm not even sure if this is the right things to do for the aforementioned goal.

[2016-01-25 06:21] colemickens commented on #2473
I think I was in ASM mode. I found the storage blob copy command as well which is what I needed.

[2016-01-25 06:21] #2473 closed

[2016-01-25 10:26] romangromov commented on #2238
@yugangw-msft this can be closed, fixed

[2016-01-25 10:27] PhoneixS commented on #1791
I think this not only need to be documented but also implemented in linux cli!

[2016-01-25 10:30] #2238 closed

[2016-01-25 10:35] romangromov commented on #2017
@greenmang0 @jtuliani now working fine in latest xplat-cli release of 0.9.14:

[code]

Please close the issue, @yugangw-msft

[2016-01-25 10:37] romangromov commented on #1987
@flamingboo no, this scenario is not supported

[2016-01-25 10:38] romangromov commented on #1987
@yugangw-msft please close the issue

[2016-01-25 10:39] romangromov commented on #1844
Please respond @DeepakRajendranMsft

[2016-01-25 10:40] romangromov commented on #1806
@yugangw-msft this can be closed

[2016-01-25 10:40] romangromov commented on #1805
@yugangw-msft this can be closed

[2016-01-25 10:41] romangromov commented on #1789
@yugangw-msft this can be closed

[2016-01-25 10:41] romangromov commented on #1788
@yugangw-msft this can be closed

[2016-01-25 10:41] romangromov commented on #1787
@yugangw-msft this can be closed

[2016-01-25 10:44] romangromov commented on #1776
@yugangw-msft this can be closed

[2016-01-25 10:45] romangromov commented on #1775
@yugangw-msft this can be closed

[2016-01-25 10:45] romangromov commented on #1773
@yugangw-msft this can be closed

[2016-01-25 10:48] romangromov commented on #1770
@yugangw-msft this can be closed

[2016-01-25 10:49] romangromov commented on #1769
@yugangw-msft this can be closed

[2016-01-25 10:49] romangromov commented on #1768
@yugangw-msft this can be closed

[2016-01-25 10:50] romangromov commented on #1767
@yugangw-msft this can be closed

[2016-01-25 10:50] romangromov commented on #1764
@yugangw-msft this can be closed

[2016-01-25 10:50] romangromov commented on #1786
@yugangw-msft this can be closed

[2016-01-25 10:50] romangromov commented on #1772
@yugangw-msft this can be closed

[2016-01-25 10:51] romangromov commented on #1777
@yugangw-msft this can be closed

[2016-01-25 11:00] romangromov commented on #1780
@yugangw-msft this can be closed, because we always need to escape reserved terminal chars on Linux

[2016-01-25 11:03] romangromov commented on #1781
@yugangw-msft this can be closed, fixed

[2016-01-25 11:10] romangromov commented on #1783
@yugangw-msft this can be closed

[2016-01-25 11:12] romangromov commented on #1990
@infosatheesh2020 this can be closed

[2016-01-25 11:37] infosatheesh2020 commented on #1990
@romangromov Thanks!

[2016-01-25 16:44] #1783 closed

[2016-01-25 16:47] #2017 closed

[2016-01-25 16:47] #1987 closed

[2016-01-25 16:47] #1806 closed

[2016-01-25 16:48] #1805 closed

[2016-01-25 16:48] #1789 closed

[2016-01-25 16:48] #1788 closed

[2016-01-25 16:48] #1787 closed

[2016-01-25 16:49] #1776 closed

[2016-01-25 16:49] #1775 closed

[2016-01-25 16:49] #1773 closed

[2016-01-25 16:49] #1770 closed

[2016-01-25 16:49] #1769 closed

[2016-01-25 16:50] #1768 closed

[2016-01-25 16:50] #1767 closed

[2016-01-25 16:50] #1764 closed

[2016-01-25 16:50] #1786 closed

[2016-01-25 16:50] #1772 closed

[2016-01-25 16:50] #1777 closed

[2016-01-25 16:51] #1780 closed

[2016-01-25 16:51] #1781 closed

[2016-01-25 16:51] #1990 closed

[2016-01-25 19:49] huangpf commented on #2465
Confirmed that ```MySecretPassword123!!``` would work. It seems inputting password in bad format via the prompt would make the command think that it's attaching an OS disk, and thus fail the VM provision. But this awaits further confirmation from @jstrom-MSFT.

[2016-01-25 22:25] yugangw-msft commented on #2390
@colemickens, thanks.
The root fix will be at [autorest](https://github.com/Azure/autorest/blob/master/AutoRest/Generators/NodeJS/NodeJS/Templates/MethodTemplate.cshtml#L139) as sdk libraries are generated. @amarzavery will find time to remove the lines, and produce new library code without setting the "content-length"; rather let "request" package do it. Once that is done, azure-cli's package jso

[2016-01-25 23:05] ahmedelnably commented on #2469
Hello Wade,
Thanks for reporting that, will try and find you the answer and follow up soon
Regards,
Ahmed

[2016-01-25 23:06] ahmedelnably commented on #2407
Hello Carl-Erik,
Thanks for reporting that, will try and find you the answer and follow up soon
Regards,
Ahmed

[2016-01-25 23:08] ahmedelnably commented on #2371
Hello bhagyasri7.
Thanks for reporting that, will try and find you the answer and follow up soon
Regards,
Ahmed

[2016-01-25 23:09] ahmedelnably commented on #2368
We just announced the support for this in PowerShell, we are currently looking into ways to support this in CLI, though no ETA yet
Here is the doc article to the PowerShell commands:
https://azure.microsoft.com/en-us/documentation/articles/app-service-web-app-powerhell-ssl-binding/

[2016-01-25 23:13] ahmedelnably commented on #2130
Unfortunately we don't have ARM support for our CLI right now, we are looking on supporting that soon, though no ETA yet for that

We have that supported in PowerShell if that is a viable option for you

[2016-01-25 23:14] ahmedelnably commented on #2111
Thanks Josh for reporting that, we are looking into that and will update soon

[2016-01-25 23:16] ahmedelnably commented on #2052
Thanks for reporting, looking into that and will follow up soon

[2016-01-25 23:17] ahmedelnably commented on #1950
Thanks for reporting this issue, we are looking into that and will follow up soon

[2016-01-25 23:37] sauryadas commented on #2046
@mahthi Do we have a plan to support this in ARM?

[2016-01-26 00:11] sauryadas commented on #2418
@ahmetalpbalkan Agree with what you have to say here. This has been discussed at length and it looks like this is not a trivial API change . I will update this bug when i have a work item for this.
Cant really get rid of any of the following commands. At the very least there is some option to discover an image, even though it is 4 levels deep.

![image](https://cloud.githubusercontent.com/assets/1

[2016-01-26 02:43] christopheranderson commented on #2173
This is likely an issue with the Azure CLI itself, and not a service side issue. Using the REST API is definitely the best course of action, for now, if you hit this issue.

[2016-01-26 06:10] bitcrazed commented on #2368
Great step forward. Thanks for responding to our requests and feedback!

Now, if only I could FULLY administer my Azure services from my Mac and Linux boxes via the CLI 😏

[2016-01-26 19:05] mahthi commented on #2046
We are working on a new platform capability to manage disks in a better fashion and with that we will introduce the APIs to list the captured disks.

[2016-01-26 21:43] ChrisCompy commented on #2062
The site settings javaVersion, javaContainer and  javaContainerVersion should work in CLI – they are settings on the updateWebsiteConfig rest api.

[2016-01-27 14:48] romangromov commented on #1779
@yugangw-msft this can be closed now

[2016-01-27 14:49] romangromov commented on #1779
https://github.com/Azure/azure-xplat-cli/issues/1779

[2016-01-27 14:49] romangromov commented on #1779
@yugangw-msft this can be closed

[2016-01-27 17:23] #1779 closed

[2016-01-27 19:11] wallverb opened #2480 "NIC private ip is not working"
Running commands:

`azure network nic create ... -a 10.1.2.1 ....` and `azure network nic set ... -a 10.1.2.1 ...` completely ignores -a flag (the same with --private-ip-address)

It might be related to typo in code - when i try to see what `nic = self._parseNic(resourceGroupName, nic, options, _);` returns in `set` method in `nic._js` file then I will get:

[code]

Notice `privateIpAddress` vs `p

[2016-01-27 20:56] bitsofinfo commented on #1937
+1 @greenmang0

[2016-01-27 22:06] huangpf commented on #2046
@sauryadas @amarzavery @yugangw-msft
This is a feature request as there is no API to implement this yet. Shall we introduce another tag to manage this type of *issues*?

[2016-01-27 22:08] huangpf commented on #2465
Close for now; feel free to open again, if there is a repro.

[2016-01-27 22:08] #2465 closed

[2016-01-27 22:09] huangpf commented on #2466
@amarzavery
Why @azuresdkci would do unassignment here?
[code]

[2016-01-27 22:13] huangpf commented on #2378
@sauryadas What's your opinion? Please help triage.

[2016-01-27 22:39] seesharprun opened #2481 "Public IP Address not binding to NIC"
I'm writing a lab using Azure CLI to create a VM with some basic ARM concepts. This may be user error but I've been trying to figure out why my PIP is not being associated to my NIC.

After running the below lab steps, I have to go to the portal manually and **enable** my PIP on the NIC.

I suspect there is an issue with the *"--public-ip-name"* parameter or that I may not be using it correctly.

[2016-01-28 05:30] sauryadas commented on #2431
@RevCBH You can update the VM size to your choice by running the following command after the quick-create .

[2016-01-28 08:31] AbelHu opened #2483 "Cannot delete blobs with snapshots."
Do you have a plan to implement this feature?
https://github.com/Azure/azure-xplat-cli/blob/896b1bae02e56c5a732358b665ebf3bab2f9d7b7/lib/commands/storage/storage.blob._js#L189-L191

[2016-01-28 09:15] romangromov commented on #2480
@wallverb can't repro this issue, working fine both create/set:

[code]

[2016-01-28 09:58] romangromov commented on #2481
@seesharprun thank you for flagging, As workaround, try to place `--public-ip-name` parameter before specifying `--subnet-name`, like:

`azure network nic create -g "CLITestGroup" -l "West US" -n "TestNIC" –-public-ip-name “TestPIP
--subnet-name "TestSubnet" --subnet-vnet-name "TestVNET"
”`

[2016-01-28 10:30] romangromov commented on #2480
@wallverb can you please provide step-by-step repro so I can help you? Thanks

[2016-01-28 14:38] wallverb commented on #2480
@romangromov Here is step by step reproduction - this time I used docker on my OSX to make sure it's fresh start :)

`docker run -it --rm node:latest bash`
`npm install -g azure-cli`

`azure -v`
0.9.14

[code]

[code]

[code]

As you can see both times dynamic IP is used.
Here are the `-vv` results of last 2 commands

[code]

As you can see information about private IP never gets into `body` part

[2016-01-28 15:17] romangromov commented on #2480
@wallverb thanks a lot, got your problem. Known issue, already fixed in `dev` branch of this repo, will be shipped with release of `0.9.15`.

Duplicates https://github.com/Azure/azure-xplat-cli/issues/2436,
PR with fix https://github.com/Azure/azure-xplat-cli/pull/2440

You can apply fix on your Xplat-CLI local copy or clone this repo and switch to `dev` branch or wait for next `0.9.15`

Hope this

[2016-01-28 15:40] wallverb commented on #2480
@romangromov Awesome - thanks a lot for your help

[2016-01-28 15:40] #2480 closed

[2016-01-28 17:07] jkdufair opened #2485 "Cannot connect to storage emulator"
Trying to use this tool with the storage emulator. Tried specifying connection string as `"UseDevelopmentStorage=true" `to no avail. Was able to connect using:

`$ export AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/d

[2016-01-28 22:36] seesharprun commented on #2481
I can't believe it was user error! Thanks for the assist.

[2016-01-28 22:49] seesharprun commented on #2481
Spoke too quick, I tried
[code]

and even tried
[code]
I see in the verbose output: ``Looking up the public ip "TestPIP"` but the NIC and VM still do not have a public IP address, just internal.  Not sure what the next step is from here.

[2016-01-28 22:55] polarapfel opened #2486 "Azure CLI json output only a subset of ARM REST endpoint return json"
Hi there,

I noticed that Azure CLI is not passing through the ARM REST API return json when running with the --json parameter. For example, when creating template deployments, the json output written by Azure CLI does not show the correlationId even though I can see it in the debug output (-vv parameter).

Can you please pass through the unfiltered ARM REST json return object? Or at least add thi