[2016-01-29 07:57] romangromov commented on #2481
@seesharprun known issue in official installer v.0.9.14, already fixed in `dev` branch of this repo, will be shipped with release of `0.9.15`.

Duplicates this #2436,
PR with fix here #2440

You can apply fix on your Xplat-CLI local copy or clone this repo and switch to dev branch or wait for next release of 0.9.15.

Hope this helps,
-Roman

[2016-01-29 14:38] romangromov opened #2489 "Travis build failing in dev branch"
due to the following test cases:

1) arm compute vm create for extension get and set:
2) arm compute vm Enable diagnostics extension on created VM in a resource group:
3) arm compute vm Set AEM for the created vm:

This blocked pending PRs from merge.

@amarzavery @yugangw-msft

[2016-01-29 17:37] amarzavery commented on #2489
@huangpf  - I am working on this right now. It seems the compute team did not update the chef extension commands to use the latest ARM compute client

[2016-01-29 18:01] huangpf commented on #2489
I had run the live test cases for VM, i.e. ```npm run unit-arm-vm-live```. Are there other test cases that cover these issues?

[2016-01-29 18:40] amarzavery commented on #2489
@huangpf - This test "commands/arm/vm/arm.vm.enable-aem-tests.js" is present in testlist-arm.txt but not in testlist-arm-vm-live.txt or testlist-vm-live.txt or testlist-arm-vm.txt

[2016-01-29 19:59] huangpf commented on #2489
I think the 3rd party extension team should be notified to add their tests into the live test file ```testlist-arm-vm-live.txt```.

```testlist-arm-vm.txt``` should be short and quick, so it shouldn't be included here.

[2016-01-29 21:15] amarzavery commented on #2489
This has been fixed and the PR has been merged.

[2016-01-29 21:15] #2489 closed

[2016-01-29 21:16] amarzavery commented on #2485
@yaxia - Can you please take a look at this issue ?

[2016-01-29 21:16] amarzavery commented on #2486
@vivsriaus - Can you please take a look at this issue ?

[2016-01-29 21:17] amarzavery commented on #2483
@yaxia - Can you please take a look at this issue ?

[2016-01-29 21:19] amarzavery commented on #2384
@vivsriaus  - Can you please take a look at this issue ?

[2016-01-29 22:23] sauryadas commented on #2466
@yugangw-msft can you please assign this to the right service API owner?

[2016-02-01 10:49] romangromov opened #2493 "ARM: 'azure network dns record-set list' do not outputs empty record sets"
will fix

[2016-02-01 13:52] sijday commented on #1937
FFS

[2016-02-01 17:59] ahmedelnably commented on #2111
Hello Josh,
We have this in PowerShell, we are looking in ways to get the same support in CLI
-Ahmed

[2016-02-02 15:21] mraber commented on #2062
I'm not sure to understand your answer. The command `azure site set` does not provide any option to set the Java version.
The only available options are : `--net-version` and `--php-version`

[2016-02-02 15:56] dlepow opened #2497 ""Unsupported wstrust endpoint version" error after login -u on Mac CLI version 0.9.14"
Two customers report issue when attempting to log into Mac CLI using "login -u <username">. See Disqus comments and error stack trace at https://azure.microsoft.com/en-us/documentation/articles/xplat-cli-install/.

[2016-02-02 19:35] huangpf commented on #1913
+1

[2016-02-03 05:14] BrendanThompson commented on #2390
Having this same issue when trying to use CNTLM. As the `azure-cli` doesn't support authenticated proxies. Anything with a `GET` works, it just falls over when it's a `POST` or `PUT`

[2016-02-03 05:54] amarzavery commented on #2497
Is the account a valid org id for which 2FA is disabled? Can they try interactive login ?

[2016-02-03 06:00] #2493 closed

[2016-02-03 14:45] dlepow commented on #2497
I will ask.

From: Amar Zavery [mailto:notifications@github.com]
Sent: Tuesday, February 2, 2016 11:55 PM
To: Azure/azure-xplat-cli <azure-xplat-cli@noreply.github.com>
Cc: Dan Lepow <Dan.Lepow@microsoft.com>
Subject: Re: [azure-xplat-cli] "Unsupported wstrust endpoint version" error after login -u on Mac CLI version 0.9.14 (#2497)

Is the account a valid org id for which 2FA is disabled? Can they

[2016-02-03 15:42] amarzavery commented on #2497
This issue was reported by Somahant
I am using azure version 0.9.14 and still see the issue.  I am not able to login via CLI.  I need this functionalitiy to automate how we start the resources via ARM on demand.
/usr/local/bin/azure login -vv -u smohanat@akamai.com
info:    Executing command login
Password: ***********
verbose: Authenticating...
error:   Unsupported wstrust endpoint version. Curre

[2016-02-03 15:42] amarzavery commented on #2497
This issue was reported by Craig Silva
Just wanted to add that my experience is the same as the above with cli v 0.9.14.

I'm trying to work out the logic of providing a docker install that fails before doing anything i.e. no gui web client.

Is there a work around?

[2016-02-04 07:07] romangromov commented on #2481
@seesharprun please confirm all is fine now

[2016-02-04 08:32] fbejarano commented on #2420
+1

[2016-02-04 16:08] MasaGon opened #2502 "vm create error with --admin-username and --ssh-publickey-file on v0.9.15"
When using vm create on ARM mode with both --admin-username and --ssh-publickey-file,

error:   Authentication using either SSH or by user name and password must be enabled in Linux profile.

It is NOT reproduced on v0.9.14.

[2016-02-04 18:02] yugangw-msft commented on #2390
We have regenerated and published node sdk library with the change i mentioned. #2492 picked up those libraries. I tried out the latest dev branch, fiddler now is able to capture delete, put, etc w/o problems. 2 notes:
1. Old cmdlets, those asm ones, were no updated, because related libraries are not actively maintained through code generators. If you use those commands, the proxy will not work,

[2016-02-04 19:44] inglele opened #2503 "create image fails"
azure vm image create --os linux --blob-url https://mysa.blob.core.windows.net/vhds akm-4.0-sles11-sp4.x86-64-1.0.39.vhd akm-4.0-sles11-sp4.x86-64-1.0.39.vhd

Issue started after they updated to CLI v0.9.14
They are using azure-cli on Debian Linux 7.9 64-bit; the VHD image trying to upload is SUSE Linux Enterprise 11 SP4 64-bit.

[azure.details.err.txt](https://github.com/Azure/azure-xplat-cli/fil

[2016-02-04 19:50] colemickens commented on #2390
@yugangw-msft mitmproxy is ncurses based so you can do it remotely in a terminal, that's what I'm doing.

Is this in a released version? It will be easier for me to try it that way.

[2016-02-04 20:32] yugangw-msft commented on #2390
@colemickens, it is not in released branch. You can either wait, or try out now using tarball endpoint.
    npm install -g https://github.com/Azure/azure-xplat-cli/tarball/dev
Since it is pulling from not pre-compiled source, suggest delete "~/.streamline" before use to avoid [flakiness](https://github.com/Sage/streamlinejs/issues/290).

[2016-02-04 21:28] kangman opened #2504 "endpoint documentation"
can we have some please?   I just see a todo staring back at me in the wiki

[2016-02-04 22:34] Kaixiang opened #2505 "azure network public-ip create --json returns empty json"
This is what we run
[code]

Here is the output.
[code]

While It should show something like
[code]

Here is our azure version
[code]

[2016-02-04 22:48] dbarentine opened #2506 "Creating new Linux VM with SSH key and no password throws error"
Error: Authentication using either SSH or by user name and password must be enabled in Linux profile.
  <<< async stack >>>
  at createOrUpdateVM__14 (/usr/local/lib/node_modules/azure-cli/lib/commands/arm/vm/virtualMachine._js:198:82)
  at createVM__1 (/usr/local/lib/node_modules/azure-cli/lib/commands/arm/vm/vmClient._js:163:20)
  at __1 (/usr/local/lib/node_modules/azure-cli/lib/commands/arm/vm

[2016-02-04 22:57] colemickens commented on #2390
@yugangw-msft Great! I can confirm that the PUT request demonstrated in the original issue is now able to complete and is visible in `mitmproxy`.

I'll leave it up to you how to handle closing this. I don't know if you want someone to confirm with Fiddler or wait until this is available in a release. I don't have a Windows machine with me today to test.

[2016-02-04 23:09] dbarentine opened #2507 "New VM not getting availability set assigned"
When I create a new VM it is not getting added to the availability set specified on the command line.

The command line parameter I'm using is:
--availset-name myavailset \

CLI Version: 0.9.15 (node: 0.10.25)

I think what is happening is the params that the CLI is sending to the underlying SDK look like:
   "availabilitySetReference": {
      "referenceUri": "..."
   },

But looking at the under

[2016-02-04 23:12] BrendanThompson commented on #2390
Can confirm that this is now working through `cntlm` as well as straight through the normal proxy! What release time frame are we looking at?

[2016-02-04 23:24] amarzavery commented on #2506
@dbarentine - Thanks for filing this issue and for finding the root cause. The underlying node sdk is now being auto generated by a new generator named AutoRest. In release 0.9.15 the vm commands were ported to consume the newly generated sdk. This scenario was not covered in the tests. This has been fixed in this PR https://github.com/Azure/azure-xplat-cli/pull/2508

[2016-02-04 23:41] sauryadas commented on #2503
Can you please tell me if this is in ARM or ASM mode?
type

you should see the mode at the bottom

[2016-02-04 23:44] amarzavery commented on #2507
@huangpf - we need to add tests for this scenario as well.

[2016-02-04 23:49] inglele commented on #2503
Try to vhd to classic storage blob

[2016-02-04 23:59] huangpf commented on #2507
ok

[2016-02-05 01:12] #2506 closed

[2016-02-05 07:53] politician opened #2509 "azure vm create --virtual-network-name doesn't support names with whitespace (with suggested code fix)"
The `--virtual-network-name` option doesn't support virtual network names with whitespace as are (now?) being generated by the new Azure Portal.

[code]

If you don't escape the quotes, then the parser interprets the string as a VM image name, so you've got to escape the quotes.

Then, however, the comparison in `vmclient.js getNetworkInfo` fails due to string mismatch on the `virtualNetworkSites`

[2016-02-05 09:12] romangromov opened #2510 "ARM: 'azure group create' wrong output with --json option"
`azure group create delme westus --json`

outputs:

[code]

but expected:
[code]

[2016-02-05 12:30] romangromov commented on #2505
@Kaixiang thanks for reporting, bug, I've sent PR with fix to `dev` branch. You can apply this fix locally or wait for next Xplat-CLI release.

[2016-02-05 15:47] DuskEagle commented on #2502
We observed the same thing, except adding --admin-password in addition to --ssh-publickey-file made it work again.

[2016-02-05 19:22] huangpf commented on #2431
@RevCBH
The following option is exposed in ```0.9.15```:
[code]

Close for now.

[2016-02-05 19:22] #2431 closed

[2016-02-05 19:23] huangpf commented on #2507
PR for the fix: #2512

[2016-02-05 19:27] huangpf commented on #2502
@amarzavery Did you fix this in the following PR? #2508

[2016-02-05 19:27] huangpf commented on #2509
@sauryadas Please help triage.

[2016-02-05 19:29] huangpf commented on #2466
@kmouss Could you please help take a look?

[2016-02-05 19:31] huangpf commented on #2135
Fix in ```0.9.15```. Close for now.

[2016-02-05 19:31] #2135 closed

[2016-02-05 19:31] huangpf commented on #2386
In ```0.9.15```. Close for now.

[2016-02-05 19:31] #2386 closed

[2016-02-05 19:47] ahmetalpbalkan commented on #2386
Thanks!

[2016-02-05 21:57] squillace commented on #2135
<3

[2016-02-05 22:01] squillace commented on #2325
@xied75 I think I'll close this, but if I didn't get what you are looking for, reopen it! @yugangw-msft do you want to close for now?

[2016-02-06 00:54] amarzavery opened #2515 "can't create hdinsight config"
I'm using the arm mode to create a configuration file for hdinsight cluster deployment. I'm following the instructions here. When I run azure hdinsight config create myconf.config I get the following error about not being able to get the 'subscription' property.
[code]
I'm using the 0.9.13 version on OSX. I'm sure I have the subscription correct as other commands (i.e. azure hdinsight cluster list

[2016-02-06 00:55] amarzavery commented on #2515
@clackner2007 I have create the issue over here.

[2016-02-06 02:33] amarzavery opened #2516 "Incorrect Worker Count"
A Standard web site scaled to 4 instances shows a "Worker Count" value of 1. I would assume the correct value should be 4. Interestingly, the PowerShell cmdlet Get-AzureWebsite returns the same value - 1 worker. This seems wrong as well.

The Instance ID value returns 4 values - 4 very long values that are a sequence of numbers and letters. What are those values? What do they represent?

snapshot

[2016-02-06 02:34] amarzavery commented on #2516
https://github.com/Azure/azure-sdk-for-node/issues/1526

[2016-02-06 02:40] #2505 closed

[2016-02-06 02:42] amarzavery commented on #2502
yup

[2016-02-06 02:42] #2502 closed

[2016-02-06 02:44] #2510 closed

[2016-02-06 02:45] amarzavery commented on #2504
@kangman - Can you please provide more context on this?

[2016-02-06 02:47] amarzavery commented on #2503
[code]

azure vm image create is not a command in ARM mode. So this is RDFE.

[2016-02-06 02:56] amarzavery commented on #2466
@huangpf - It seems the github bridge is behaving wonky.
Any ways, @kmouss - Can you please provide an update on this issue?

[2016-02-06 03:58] amarzavery commented on #2483
Based on the documentation provided over here : https://msdn.microsoft.com/en-us/library/azure/dd179413.aspx
[code]

The CLI should expose two options for deleting the snapshot, such that the x-ms-delete-snapshots request header is provided the right value.

This is consuming the storage data plane client. The storage management client exposes to consume custom request headers on every operation f

[2016-02-06 06:41] yaxia commented on #2483
It's a valid issue. We are going to fix it. Thanks.

[2016-02-06 15:23] kangman commented on #2504
hey @amarzavery  please see this https://github.com/Azure/azure-xplat-cli/wiki/Endpoint-Management

There's nothing there.

[2016-02-06 15:24] romangromov commented on #2481
@amarzavery this can be closed

[2016-02-06 21:01] #2507 closed

[2016-02-06 21:02] #2415 closed

[2016-02-06 21:08] amarzavery commented on #1634
@kmouss - Has this been fixed? Should we close this issue?

[2016-02-08 10:39] xied75 commented on #2325
@squillace I'm pretty sure I haven't got what I'm looking for. :) You are correct in your 2nd paragraph that I want a separate command that does nothing more than just import the key. It seems to me that you treat key management as second class citizen compared with creating a vm, so you insist to tie these two together, I guess tons of enterprises would not like that, otherwise why would azure cr

[2016-02-08 15:34] twiest commented on #2326
I experienced this issue as well.

However, while I was trying to gather some data to comment on this issue, I used -vv and my upload worked.

Completely anecdota results:
Without -vv:  stalled 4 times in a row.
With -vv: worked 3 times in a row.

I also tried uploading outside of azure and inside a VM in azure and both stalled out.

I'm uploading a 10GB vhd.

I know it doesn't make much sense, bu

[2016-02-09 08:14] alex2006hw commented on #2230
Is the fix in place?  I am waiting on a solution.  I have been using statically allocated VHDs as work-around but, I have a customer who need dynamic VHDs.

[2016-02-09 22:54] PeterJausovec opened #2518 "ARM template deployment fails if parameters item is not in the azuredeploy.json file"
If I try to deploy an ARM template with the following command line:

`azure group deployment create Group XXX --template-file azuredeploy.json`

deployment fails with `Cannot convert undefined or null to object`, because I don't have a "parameters" set in the json file (see file groupUtils.js, function getTemplateParams(...)).

However, if I take the same azuredeploy.json file and try to deploy it

[2016-02-10 00:14] sauryadas commented on #2378
We are working on a new user friendly version of this command. Will keep posted. Tagging this as IAAS_TBD

[2016-02-10 11:40] marcofranssen opened #2521 "Update/Upload SSL certificate to Azure website"
Does this tool already support uploading/updating an SSL certificate to an azure website. I do know it is in the powershell tools, but I'm on linux so can't use that to automate the process.

If there, can you point me to some docs on how to use this tool to upload an SSL certificate?
If it doesn't exists, can this be added?

[2016-02-10 11:43] marcofranssen commented on #2368
@ahmedelnably any update on the progress? Is the work already started? Anything some people from the community can help on to speed this up? What about porting the Powershell implementation, can we find the implementation somewhere?

[2016-02-10 12:13] marcofranssen commented on #2521
Seems I missed this issue #2368 . Lets continue the discussion over there...

[2016-02-10 12:13] #2521 closed

[2016-02-10 16:29] ahmedelnably commented on #2368
@marcofranssen Unfortunately we still have no ETA, we are looking into ways to port the current PowerShell implementation to xplat cli.
Here is the PR for the powershell implementation: https://github.com/Azure/azure-powershell/pull/1561

[2016-02-10 21:11] amarzavery commented on #2518
@PeterJausovec - I was able to repro this issue when I just had an empty object `{}` in a `deployment.json` file.
[code]
This should definitely get fixed.

However, I am wondering, why does your template not have any parameters? Usually all templates ask for something or the other. Can you share your template file "azuredeploy.json"?

[2016-02-10 21:13] PeterJausovec commented on #2518
I am pre-filling all information in the template, so users don't have to enter anything when being redirected to Azure or when template file deployed through Azure CLI.

[2016-02-10 22:10] amarzavery commented on #2518
@PeterJausovec - This PR https://github.com/Azure/azure-xplat-cli/pull/2523 should fix the described issue.

[2016-02-10 23:24] PeterJausovec commented on #2518
Thanks @amarzavery!

[2016-02-11 00:18] #2518 closed

[2016-02-11 00:23] amarzavery commented on #2518
@PeterJausovec
If you want this fix then please uninstall the previously installed cli
[code]
Or
[code]
npm cache clear -g
npm install -g path-to-the downloaded-tar.gz
[code]

[2016-02-11 00:24] PeterJausovec commented on #2518
Thanks @amarzavery!

CC @damolina-ms

[2016-02-11 00:53] amarzavery commented on #2504
@kangman - I see. I think the page was created by someone for documenting something about endpoints. Eventually this ended up as commands.

so you can say,
[code]

and then get detailed info about an environment that provides you all the endpoints for that environment

[code]

I hope this, is what you were looking for. If not, then please let us know what exactly you meant with endpoint documentat

[2016-02-11 03:29] kangman commented on #2504
yeah thanks for that illustration but while this one use case is helpful I
would like to see the documentation of this option for azure xplat cli
expanded on github or wherever you guys keep documentation for this tool so
that users like myself can learn about what endpoints does and what they
can use it for in their use case.    It is a bit discouraging to see a tool
made generally available with

[2016-02-11 05:10] amarzavery commented on #2504
@kangman - That is correct. We we will look into this. Usually keeping the documentation for endpoint in sync is problematic, as they have changed over time. Hence, we thought of exposing them as commands as the best way of showing accurate info. That being said, we should definitely update our documentation on how to get information about different endpoints. We will update our documentation acco

[2016-02-11 05:18] kangman commented on #2504
Cool, it looks like the documentation is if I wanted to contribute to the
xplat-cli source which is great but the usage of the tool itself is not
that link.

On Thu, Feb 11, 2016 at 12:10 AM, Amar Zavery <notifications@github.com>
wrote:

--

All the best,

Daniel S Kang

<http://www.d-kang.com>
<http://www.linkedin.com/pub/daniel-kang/6/58a/53a/>
<https://www.twitter.com/kangman>

[2016-02-11 05:41] amarzavery commented on #2504
Have updated the main README.md file, the wiki and the documentation folder with information about getting endpoints for different environments supported in Azure.

[2016-02-11 06:28] amarzavery commented on #2504
Closing this for now. Feel free to open if required.

[2016-02-11 06:28] #2504 closed

[2016-02-11 06:29] #2481 closed

[2016-02-11 11:13] msft-jaiverma opened #2526 "Unable to run bash shell script using the cron job"
I am trying to schedule azure jobs via bash shell script but it fails. Is this even supported or is there a known issue?

[2016-02-11 21:57] seesharprun commented on #2481
Apologies for the delay,

I validated myself and with my trainers that the bug is resolved and steps are working as expected.

Thanks!

[2016-02-11 22:03] sauryadas commented on #2509
@politician Are you sure you created a virtual network with white spaces in the new portal? I wasnt able to create one.

[2016-02-12 01:50] amarzavery commented on #2526
@msft-jaiverma - It should work. Can you please let us know which command were you running and what was the error ?

[2016-02-12 19:01] ravbhatnagar commented on #2313
Will be fixed in the March release of CLI.

[2016-02-12 23:37] damolina-ms opened #2529 "Login through .publishsettings breaks 'azure logout' command"
Repro:

1. Run: _azure account download_
2. Save file  (example: _x.publishsettings_)
3. Run: _azure account import <.publishsetting file>_
4. Verify account works (example: _azure account show_)
5. Try to logout: _azure logout --username <username>_

**Bug **
No matter what user name you use, logout fails with
TypeError: Cannot read property 'name' of undefined
...\azure-cli\lib\util\profile\prof

[2016-02-12 23:57] damolina-ms opened #2530 "Login through .publishsettings breaks CLI commands"
Probably same root cause as #2529

Run:
1. azure account download
2.Save file (example: x.publishsettings)
3.Run: azure account import <.publishsetting file>
4.Verify account works (example: azure account show)
5. Run: azure group create <name> <location>

**Bug**
Command fails with : _Authentication failed. The 'Authorization' header is missing._

Stack Info
    at Function.ServiceClient._normali

[2016-02-13 00:03] yugangw-msft commented on #2529
Should be addressed at the same time with #1913.  The "logout" command should not be exposed under asm.
The account management under asm generally is not good.
For now, you can use "account clear"

[2016-02-13 00:04] yugangw-msft commented on #2529
@amarzavery for fyi.

[2016-02-13 03:54] yugangw-msft commented on #2530
@damolina-ms, "group create" is only valid under arm mode which requires AAD token, and this can't be supplied by "importing publish settings" which only works under asm, aka rdfe.
I will take a look to see whether i can make the error better.

[2016-02-13 06:17] #2529 closed

[2016-02-13 06:19] yugangw-msft commented on #2529
@damolina-ms, fix was in. If you like dogfood the latest bits, you can get it using npm like
    npm install -g https://github.com/Azure/azure-xplat-cli/tarball/dev
Let me know if you see other issues

[2016-02-13 06:19] yugangw-msft commented on #2530
fix was in

[2016-02-13 06:19] #2530 closed

[2016-02-13 06:20] yugangw-msft commented on #1913
I fixed. No "account clear"  will be needed

[2016-02-13 06:20] #1913 closed

[2016-02-13 08:21] romangromov opened #2532 "CLI: --json option doesn't work with -h"
There is `-h` option to show command help, but when specifying `--json` within `-h` then plain text will be printed, but `JSON` object expected insted. Example:

[code]

But expected object from `plugins.arm.json`:
[code]

This can be used in tests to verify command declaration braking changes, so nice feature to have.

[2016-02-13 23:40] yugangw-msft commented on #2390
@colemickens , @BrendanThompson , I verified with fiddler in window.
The change came couple of days short, so it will be in 0.9.16 at the beginning of next month.

[2016-02-13 23:40] #2390 closed

[2016-02-14 05:21] colemickens commented on #2168
Any updates?

[2016-02-15 00:22] EslamElHusseiny opened #2533 "azure vm image list isn't working"
I've tried the following : `azure vm image list westus canonical ubuntuserver` as per documentation here https://azure.microsoft.com/en-gb/documentation/articles/resource-groups-vm-searching/

and the output of the command is

`info:    Executing command vm image list`
`error:   msRest.addSerializationMixin is not a function`
`info:    Error information has been recorded to /Users/user.name/.azure

[2016-02-15 02:43] yugangw-msft commented on #2456
This should have been fixed. Checked out the #2390 for details

[2016-02-15 02:43] #2456 closed

[2016-02-15 03:24] ahmetalpbalkan commented on #2456
@yugangw-msft thanks!

[2016-02-15 08:27] infosatheesh2020 opened #2535 "ASM: Assign and remove static IP address to VM"
Do we have support for adding a static IP to an existing VM and remove them? I see options for checking the availability, not to assign
# network vnet static-ip check [options] <vnet> <ip-address>

Equivalent powershell commands:
Get-AzureVM -ServiceName TestService -Name TestVM ` | Remove-AzureStaticVNetIP ` | Update-AzureVM

Get-AzureVM -ServiceName TestService000 -Name TestVM ` | Set-AzureStati

[2016-02-15 09:47] infosatheesh2020 opened #2537 "ASM: Application gateway creation does not accept multiple subnets"
"azure network application-gateway create" option help specifies to use multiple subnets:
-t, --subnet-names <subnet-names>      comma separated list of subnet names exists in the virtual network identified by --vnet-name

But when we try to use multiple subnets in command, it throws error

azure network application-gateway create --name testgw --vnet-name TestNet --subnet-names "Subnet-1,Subnet-2

[2016-02-15 11:47] romangromov commented on #2537
@infosatheesh2020 thanks for flagging, this is Azure side issue, not CLI itself. I will start e-mail thread about this and let you know

[2016-02-15 12:34] infosatheesh2020 commented on #2537
@romangromov thanks!

[2016-02-15 14:53] romangromov commented on #2537
@infosatheesh2020 here is answer from Azure team:
[code]

I will update option description accordingly, sorry for inconvenience

[2016-02-15 14:56] infosatheesh2020 commented on #2537
@romangromov Thanks for clarification!

[2016-02-15 22:24] amarzavery commented on #2533
That is definitely a bug and will be fixed in the upcoming release.

Thanks,
Amar Zavery

On Feb 14, 2016, at 4:22 PM, "Eslam" <notifications@github.com<mailto:notifications@github.com>> wrote:

I've tried the following : azure vm image list westus canonical ubuntuserver as per documentation here https://azure.microsoft.com/en-gb/documentation/articles/resource-groups-vm-searching/<https://na01.sa

[2016-02-16 01:09] amarzavery commented on #2533
@EslamElHusseiny - It seems your installation is corrupted. How did you install 0.9.15 on your machine? Was it via npm ?
If so, then please uninstall `npm uninstall -g azure-cli`
clear the global cache `npm cache clear -g`
Make sure to delete the `/Users/$username/.azure/.streamline` directory..
Now, install again `npm install -g azure-cli`.

I tried this on my box and it seemed to be working fine

[2016-02-16 02:02] huangpf commented on #2533
It seems it's AutoRest client related only.

[2016-02-16 02:19] amarzavery commented on #2533
@huangpf - Yes the error was seen because of AutoRest generated client. However, there is nothing wrong in the generated client. As far as I can say, porting cmdlets to consume AutoRest generated client was done correctly. Our [tests](https://github.com/Azure/azure-xplat-cli/blob/dev/test/commands/arm/vm/arm.vm-image-list-tests.js#L96) passed as well. It works well on my local box as well. This is

[2016-02-16 02:23] amarzavery commented on #2532
@romangromov - The help was not designed to function that way when --json switch is provided. However, this would be a nice to have. We will look at implementing this.

[2016-02-16 02:47] amarzavery commented on #2466
@lmazuel , @huangpf - It seems the Compute RP has renamed the offer and sku. The following command worked fine..
[code]

[2016-02-16 02:49] amarzavery commented on #2466
@huangpf - The output is always printed as a json (without providing the --json switch). This Ux bug should be fixed.

[2016-02-16 02:53] amarzavery opened #2539 "ARM: UX Bugs in vm image command"
- Bug 1: vm image show command always displays the output in json format (even without providing the --json switch)
[code]

- Bug 2: OS is displayed as undefined. It should be Linux.
[code]

[2016-02-16 02:55] amarzavery opened #2540 "ARM: group deployment show does not provide correct json output"
@vivsriaus
The json output is completely busted and needs to be fixed at the earliest.
[code]

[2016-02-16 02:57] #2486 closed

[2016-02-16 03:01] amarzavery commented on #2312
@begoldsm - Any update on this issue?

[2016-02-16 03:27] amarzavery commented on #2539
@huangpf  - Lets try to get these done for the march release. They should be simple to fix.

[2016-02-16 04:47] huangpf commented on #2539
The image API improvement is undergoing, which would very likely impact the current commands. +@sauryadas for triage.

[2016-02-16 06:36] begoldsm commented on #2312
I'm going to try and repro this with the new autorest framework, since it appears to be a problem inside of the 'request' module causing a hang with byte content on Linux machines.

Thanks!
Ben

On Feb 15, 2016, at 7:01 PM, Amar Zavery <notifications@github.com<mailto:notifications@github.com>> wrote:

@begoldsm<https://github.com/begoldsm> - Any update on this issue?

-
Reply to this email direct

[2016-02-16 09:10] EslamElHusseiny commented on #2533
brew installs 0.9.13
brew cask installs 0.9.14
then I've installed the latest "0.9.15" from the binary provided in this link http://go.microsoft.com/fwlink/?LinkId=252249

[2016-02-16 09:56] Trepliev opened #2542 "vm disk list (arm) err in 0.9.15"
~ $ azure vm disk list cm-smtp-3 cm-smtp-3
info:    Executing command vm disk list
error:   msRest.addSerializationMixin is not a function
info:    Error information has been recorded to /Users/trepliev/.azure/azure.err
error:   vm disk list command failed

azure.err:

{ [TypeError: msRest.addSerializationMixin is not a function]
  stack: [Getter/Setter],
  __frame:
   { name: '__25',
     line: 5

[2016-02-16 10:11] semkath opened #2543 "azure-cli@0.9.15 network vnet list error"
The update to 0.9.15 broke various network commands for the azure-cli tools. In every case the error generated is as follows:

Error: Cannot find module './vnetShowUtil'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at Object.<anonymous> ($NPM_DIR/lib/

[2016-02-16 10:39] romangromov commented on #2543
@semkath thanks for reporting, can you please show full command which causes reported issue above so I can reproduce? Thanx!

[2016-02-16 11:33] EslamElHusseiny commented on #2533
I've removed all the installed versions of azure and re-installed the binary version and it works fine now,
Thanks

[2016-02-16 11:33] #2533 closed

[2016-02-16 13:57] RobHudson72 commented on #1937
Pinging on this issue... it looks like I will have to recreate the VMs from scratch?

Ouch... ouch ouch ouch

[2016-02-16 16:13] amarzavery commented on #2542
Looks like you did brew install. The latest version of cli has not been updated for brew install.
Can you please uninstall (npm uninstall azure-cli -g)
Clear the cache (npm cache clear -g)
And install again (npm install azure-cli -g)
Note: if you previously installed via Mac installer then execute (sudo azure-uninstall)

Thanks,
Amar Zavery

On Feb 16, 2016, at 1:56 AM, "Trepliev" <notifications@g

[2016-02-16 16:15] amarzavery commented on #1937
@huangpf - do we have commands that support this?

Thanks,
Amar Zavery

On Feb 16, 2016, at 5:58 AM, "RobHudson72" <notifications@github.com<mailto:notifications@github.com>> wrote:

Pinging on this issue... it looks like I will have to recreate the VMs from scratch?

Ouch... ouch ouch ouch

-
Reply to this email directly or view it on GitHub<https://github.com/Azure/azure-xplat-cli/issues/1937#is

[2016-02-16 16:17] jbondc commented on #1937
I just migrated a 'classic vm' (database) which is now in production to the new ARM model.

Created the availability set but can't add 'db1' and 'db2' to the availability set. Hmm.
If my memory is correct, this worked fine in 'classic vm mode'.

[2016-02-16 17:10] huangpf commented on #1937
@mahthi @sauryadas Please help confirm, but I think it's an ```IAAS-TBD``` feature on both the service and client sides.

[2016-02-16 17:30] Trepliev commented on #2542
Hello Amar! Thank you for response. I use always dmg installation file. After azure-uninstall and new install it works just fine. Thank you!

Jan

[2016-02-16 17:30] #2542 closed

[2016-02-16 18:06] kevin-brown commented on #2502
Just ran into this issue when using `--generate-ssh-keys` and `--admin-username`. Upgrading to the lastest dev fixed the issue.

[2016-02-16 19:11] vivsriaus commented on #2540
@amarzavery Yes, we'll be fixing this in the upcoming release. cc: @ravbhatnagar

[2016-02-16 19:59] cdnjay opened #2544 "ARM: azure vm list command fails"
Tool version 0.9.15

This works:
Current Mode: asm (Azure Service Management)
azure vm list
info:    Executing command vm list
+ Getting virtual machines
info:    No VMs found
info:    vm list command OK

This does not work on Mac (OS X 10.11.4 Build 15E39d) but it does work on Windows:
Current Mode: arm (Azure Resource Management)
azure vm list
info:    Executing command vm list
error:   msRest.a

[2016-02-16 20:58] ChrisCompy commented on #2062
Sorry, I was thinking about powershell where it should work fine.  To answer your question, we do not have support for setting Java via the azure cli at this time.

[2016-02-16 21:15] amarzavery commented on #2544
Please uninstall the azure-cli and do a fresh install.
If you installed via dmg then sudo azure-uninstall and install via the latest Mac installer again.

If installed via npm then
Npm uninstall azure-cli -g
Npm cache clear -g
Npm install azure-cli -g

Hope this helps.
Thanks,
Amar Zavery

On Feb 16, 2016, at 11:59 AM, "Jason Cruickshank" <notifications@github.com<mailto:notifications@github.com>>

[2016-02-16 21:52] cdnjay commented on #2544
This worked, thanks.

[2016-02-16 21:52] #2544 closed

[2016-02-16 22:54] JasonRShaver opened #2546 "azure vm usage-list error: Cannot read property 'list'"
Running this command in 0.9.15:

`azure vm list-usage -l westus -vv`

Gives this error:

error:   Cannot read property 'list' of undefined
silly:   {
silly:       message: "Cannot read property 'list' of undefined",
silly:       __frame: {
silly:           name: '__18',
silly:           line: 393,
silly:           file: '/usr/local/lib/node_modules/azure-cli/lib/commands/arm/vm/vm._js',
silly:

[2016-02-17 08:01] sivaedupuganti opened #2548 "Location value accepted by "azure service create" is not accepted by "azure network vnet create""
Config mode: ASM

"ussouth" as location value is accepted by "azure service create", but not accepted by "azure network vnet create".

[code]

[2016-02-17 09:18] romangromov commented on #2548
@sivaedupuganti actually service gets created in `South Central US` instead of `US South`, you can verify with `azure service show`. Please use `--location "South Central US"` in `vnet create`:

`$ azure network vnet create --vnet classic-cli-vnet -e 192.168.2.0 -i 16 -n backend -p 192.168.2.0 -r 24 -l "South Central US"`

[2016-02-17 09:22] semkath commented on #2543
@romangromov sure! For comparison 0.9.14 first:
`$ azure -v`
`0.9.14`
Run command to list virtual networks:
`$ azure network vnet list -v`
Result:
[code]

Now, let's update to 0.9.15:
`$ npm -g install azure-cli@0.9.15`
`$ azure -v`
`0.9.15`
Run command to list virtual networks again:
`$ azure network vnet list -v`
Result:
[code]
The azure.err file contains the information given in the first post.

[2016-02-17 13:03] Trepliev opened #2550 "azure vm create does not upload ssh pub key (0.9.15) (ARM)"
In 0.9.14 after "azure vm create ..... -M /path/to/key.pub -u xy -p password" is possible to log in into vm with user xy and the key OR password. In 0.9.15 key does not work because in the xy home directory there is no .ssh directory with authorized_keys file.

info:    Verifying the public key SSH file: /path/to/key.pub

and no error

[2016-02-17 17:24] romangromov commented on #2543
@semkath can't repro this issue, working fine in `0.9.15`:

[code]

You can try to completely re-install azure-cli,
hope this helps

[2016-02-17 18:50] huangpf commented on #2550
@amarzavery This was just patched in the dev branch by #2508, right?

[2016-02-17 19:12] amarzavery commented on #2550
@huangpf - That is correct.

[2016-02-17 19:13] #2546 closed

[2016-02-17 19:22] ahmetalpbalkan opened #2551 "ARM: vm quick-create: succeeded without associating IP to NIC"
I just created a VM from `azure vm quick-create`  but it returned successfully without associating the Public IP resource to Network Interface resource (and **therefore the output did NOT include an IP address to connect**).

My theory is some error somewhere is getting ignored at some step (as I've seen this working in the past).

I'm on v0.9.15.

[code]

@huangpf PTAL

[2016-02-17 22:44] sivaedupuganti commented on #1791
+1 for this support in cli.

[2016-02-17 22:46] vivsriaus opened #2552 "ARM: Fix resource show command - remove --parent and make it work for nested resources"
Workaround:
azure resource show -g Default-Web-NorthEurope -n web -r Microsoft.Web/ --parent sites/hackbox/config -o 2015-08-01

Command that should work:
azure resource show -g Default-Web-NorthEurope -n hackbox/web -r Microsoft.Web/sites/config 2015-08-01

[2016-02-17 22:49] huangpf commented on #2400
+1

CLI Test Output Log Issue -- need to suppress the command output in test mode

@amarzavery @yugangw-msft

It seems the command output texts will be mixed with the test output. Is there a way to resolve this issue, and thus show a cleaner test logs?

Test item log:
[code]
Command logs:
[code]

Test item log again:
[code]

Command output again:
[code]

[2016-02-17 23:05] sauryadas commented on #2539
@huangpf I spoke to khalid and we are at least a month away from having the new API's ready. Please fix these bugs. I was able to reproduce them

[2016-02-18 08:14] sivaedupuganti commented on #2548
Yes, I saw that and got my vnet created earlier. However, I'm trying to understand why 'service create' would accept 'ussouth' as location, whereas 'network vnet create' wouldn't.

How can we fix this to be a consistent behavior?

[2016-02-18 08:43] romangromov commented on #2548
@sivaedupuganti in `azure service create` Azure backend takes care of resolving `USSouth` string to correct location, but in `azure network vnet create` we have more complicated logic on Xplat-CLI side, so we are fetching list of available locations to check  support for `PersistentVMRole` beforehand. In this case, value provided in `--location` should be exactly the same as location name ("South

[2016-02-18 10:09] semkath commented on #2543
@romangromov Completely removing azure-cli and reinstalling doesn't seem to help, the binary also looks fine. The issue doesn't occur with the code from this Github repository, only with 0.9.15 from npm. If I have time, I will investigate or just wait for 0.9.16 :) Thanks for listening to my problem!

[2016-02-18 18:23] pjfsilva opened #2555 "TypeError: Cannot read property 'key' of undefined when running azure site repository sync"
Just installed azure cli on my win7 64bit machine, did 'azure login' and now I'm trying to run:

`azure site repository sync <my app name>`

that results in an azure.err file like this:

[code]

node v4.3.1
azure cli 0.9.15

Any idea how to debug this further or what the problem can be?

[2016-02-18 18:28] yugangw-msft commented on #2555
what version azure-cli you are using? you can run "azure -v"

[2016-02-18 18:32] pjfsilva commented on #2555
Sorry, updated to include that. 0.9.15

[2016-02-18 18:33] yugangw-msft commented on #2543
@semkath , could you please delete the "~/streamline" folder and try again?

[2016-02-18 18:36] yugangw-msft commented on #2543
@amarzavery ,it appears 0.9.15 npm module contains streamline files, which is not correct. All sources published to npm should be pre-compiled.

[2016-02-18 18:49] yugangw-msft commented on #2555
Did you login using certificate? It appears "site repository" client expects you log in using a certificate. For you reference the code is [here] (https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/utils.js#L420)

[2016-02-18 22:52] pjfsilva commented on #2555
That solves it. Now I get a problem using 'repository branch', but that's another problem, thanks.

[2016-02-18 22:52] #2555 closed

[2016-02-18 23:07] pjfsilva opened #2556 "Error running 'azure site repository branch': The request is invalid"
I'm trying to run this command:
`azure site repository branch development <my app name>`

My website is already configured with github and using continuous deployment from the master branch. Now I want to change it's branch. When I run that command I get the following error:

[code]

azure cli 0.9.15
node v4.3.1

home\site\deployments\settings.xml file has the following content:
[code]

[2016-02-19 01:05] nbering commented on #2377
Is there any update on this? I'm generally working with blobs from the Node API, but having snapshot support in the CLI would definitely help for diagnostic/operational purposes.

[2016-02-19 01:31] damolina-ms opened #2557 "'azure group create' does not seem to respect '--json' flag"
### Repro
Run:

    azure group create <name> <location> --json

### Issue
Received result is not json.  It looks like this:

    "/subscriptions/_id_/resourceGroups/<name>
    "<name>"
    "<location>"
    "Succeeded"
    {}
    {}

[2016-02-19 02:34] damolina-ms opened #2558 "'azure group deployment create' doesn't seem to respect --json flag"
### Repro

Run:
  `  azure group deployment create <resource-group> <deployment-name> --template-file <file> --json
`
### Issue
Received result is not json. It looks like this (e.g. for VM deployment):

[code]

[2016-02-19 02:51] amarzavery commented on #2557
There was a PR to fix this https://github.com/Azure/azure-xplat-cli/pull/2545 was merged into the dev branch today. Can you please `npm install <path-to-downloaded-tarball>` after downloading the tarball from this link https://github.com/Azure/azure-xplat-cli/archive/dev.tar.gz

[2016-02-19 02:52] amarzavery commented on #2558
There was a PR to fix this https://github.com/Azure/azure-xplat-cli/pull/2545 was merged into the dev branch today. Can you please `npm install <path-to-downloaded-tarball>` after downloading the tarball from this link https://github.com/Azure/azure-xplat-cli/archive/dev.tar.gz

[2016-02-19 03:09] amarzavery commented on #2556
@ahmedelnably - This seems to be a server side issue. Can you please help in resolving this issue ?

[2016-02-19 03:10] amarzavery commented on #2557
@vivsriaus - Does your PR fix the issue for group create command as well ?

[2016-02-19 03:18] amarzavery commented on #2535
@romangromov - Can you provide some input on this?

[2016-02-19 05:16] amarzavery commented on #2557
I am not able to repro this issue. It works fine for me.

[code]
Which version of cli are you using and which os are you using?

[2016-02-19 05:23] damolina-ms commented on #2557
Odd, still repros for me.
OS: Win10 / CLI: 0.9.15

[2016-02-19 08:17] romangromov commented on #2535
@amarzavery there is no support for add/remove staticIP to VM in `azure-asm-network` package.
This question should be addressed to owner of `compute` commands stack in Xplat-CLI

[2016-02-19 08:41] semkath commented on #2543
@yugangw-msft Thanks for the suggestion. Removing the ~/.streamline folder worked!

[2016-02-19 16:23] dlepow opened #2560 "Windows PI install should also add path to C:\Program Files (x86)\Microsoft SDKs\Azure\CLI\bin"
Windows install suggestion from internal customer @timlt who uses Windows Git Bash shell: Windows CLI install should set path C:\Program Files (x86)\Microsoft SDKs\Azure\CLI\**bin** in addition to C:\Program Files (x86)\Microsoft SDKs\Azure\CLI\wbin . This will enable the CLI to work system-wide for shells other than CMD or PSH.

His experience trying to run Azure CLI in GitBash shell was that the

[2016-02-19 17:32] yugangw-msft commented on #2543
@semkath, great.
@amarzavery , let us resolve this when we publish 0.9.16 out

[2016-02-19 17:46] amarzavery commented on #2557
I think, it could be because of streamline issue. Can you delete the C:/USers/<username>/.streamline folder?

[2016-02-19 19:07] nbayle commented on #2503
Gentlemen, can I ship you a box of cookies or something to move this along? I'm dying here.

[2016-02-19 20:33] damolina-ms commented on #2557
I deleted C:/Users/_myuser_/.streamline but still repros.

[2016-02-19 21:45] ravbhatnagar opened #2561 "Enable template parameter prompts"
PS supports it. We should add this support to CLI as well.

[2016-02-19 23:00] amarzavery commented on #2557
Did you  `npm install <path-to-downloaded-tarball>` after downloading the tarball from this link https://github.com/Azure/azure-xplat-cli/archive/dev.tar.gz as mentioned in my response to the other github issue filed by you.

[2016-02-19 23:00] #2551 closed

[2016-02-19 23:04] amarzavery commented on #2561
@ravbhatnagar - This has been supported in CLI from day1. Unless I am missing something..

D:\sdk\AutoRest>**azure group deployment create -h**
help:    Creates a deployment
help:
help:    Usage: group deployment create [options] [resource-group] [name]
help:
help:    Options:
help:      -h, --help                             output usage information
help:      -v, --verbose

[2016-02-19 23:11] ravbhatnagar commented on #2561
@amarzavery - This is for the ability to provide both in the same call and the inline params override the ones in the param file.

[2016-02-19 23:31] amarzavery commented on #2561
@ravbhatnagar - Oh I see.. Based on my experience, providing json parameters on the cmd line is pain (Esacping double qutoes).. I would prefer defining them in a file and pass the filename.

Killer feature would be to provide autocompletion for template parameters that Powershell provides today..

[2016-02-19 23:35] ravbhatnagar commented on #2561
@amarzavery - Agreed, on both parts.

[2016-02-20 00:35] damolina-ms commented on #2557
I was replying to your message "I am not able to repro this issue. It works fine for me.". I assume you were referring to a build with the PR.
After d/l and installing the tarball, I get version 0.9.16 and command works correctly with it. Thanks.

[2016-02-20 00:49] amarzavery commented on #2561
We can certainly make it interactive in CLI. Let the user pass the template url or a template file along with template version.
The CLI can then parse the template to get the parameters and prompt the user for every parameter.
In interactive mode CLI can validate the values passed for every parameter (allowed values, string, bool, number) and ask to provide another value if it fails validation. Th

[2016-02-20 00:53] amarzavery commented on #2557
Ah I see.. Sorry for the confusion. I thought you would have looked at my reply for the other issue (deployment create) https://github.com/Azure/azure-xplat-cli/issues/2558 as well. Glad to know that the issue has been resolved for you.

[2016-02-20 02:30] damolina-ms commented on #2558
The tarball with version 0.9.16 fixes the issue. Thanks.

[2016-02-20 03:27] #2558 closed

[2016-02-20 03:27] #2557 closed

[2016-02-20 03:54] amarzavery commented on #2503
@yaxia - Can you please take a look at this issue as the customer is visibly frustrated with this. We have all the information that is required to repro/debug this issue.

[2016-02-20 03:55] amarzavery commented on #2503
The upload failed due to blob upload to a storage account...

[2016-02-20 04:00] amarzavery commented on #2503
https://github.com/Azure/azure-xplat-cli/issues/1884

[2016-02-20 04:02] amarzavery commented on #2503
https://github.com/Azure/azure-xplat-cli/issues/2230

[2016-02-20 04:04] amarzavery commented on #2503
@yaxia, @emgerner-msft, @hasonmsft   - This issue should really get fixed on a high priority basis. Many customers have reported this issue at various times and customers are super frustrated with this.

[2016-02-20 04:08] amarzavery commented on #2503
https://github.com/Azure/azure-xplat-cli/issues/2168

[2016-02-21 06:21] huangpf commented on #2503
@inglele Is the VHD a fixed type or dynamic type? Thanks.

[2016-02-22 01:28] dukedougal commented on #2343
So is there an ARM REST command to list/search VM images?

[2016-02-22 02:43] huangpf commented on #2343
@sauryadas Could you please help address @dukedougal's question? Thanks.

[2016-02-22 06:59] sauryadas commented on #2509
@politician Please respond to this thread in 7 days otherwise i will need to close this thread as resolved.

[2016-02-22 10:25] infosatheesh2020 opened #2562 "ASM: Azure network application gateway overriding individual settings"
I initially created an application gateway and imported the json config file.

But I tried to override the listener settings using individual commands. Since there is no set option (would be great if we have set option here),  I tried to remove and add the listener again. but it fails to do the same.

1. Tried to add listener1 settings, but since it is already imported in json, it fails

[samanoha

[2016-02-22 10:31] infosatheesh2020 opened #2563 "ASM : azure network application gateway doesn't list frontendIP in HttpListener"
I configured application gateway using Json config file and the listener section is below:

    "httpListeners": [{
        "name": "listener1",
        "frontendIP": "fip1",
        "frontendPort": "fep1",
        "protocol": "Http"
    }]

When i list the configuration using azure network application-gateway config show testgw command,

I don't see the frontendIP configured.

data:    Http liste

[2016-02-22 10:36] infosatheesh2020 commented on #2562
When i directly remove listener2, it allows. So the referencing of listener1 in httpLoadBalancingRules might be the issue. but if we have set command to override listener configs, this would be very easier.

[2016-02-22 11:41] romangromov commented on #2563
Adding owner for this command: @MikhailTryakhov

[2016-02-22 11:41] romangromov commented on #2562
Adding owner for this command: @MikhailTryakhov

[2016-02-22 11:47] dukedougal opened #2565 "In Azure ARM REST API, how do a get the state (i.e. started, stopped etc) for running virtual machines?"
I am using ARM in Azure.

Azure provides a REST API to get a list of virtual machines.

https://msdn.microsoft.com/en-us/library/azure/mt163572.aspx

Strangely the response data does not seem to provide the state of those machines i.e stopped, running etc. Am I looking in the wrong place?

I need to be able to get a list of all virtual machines and carry out actions on them depending on whether or

[2016-02-22 11:49] dukedougal opened #2566 "In Azure ARM REST API, how do I launch a virtual machine from"
I have found the public Azure virtual machine images at: https://vmdepot.msopentech.com

How do I launch a VM Depot public virtual machine image using REST Azure ARM API?

thanks

[2016-02-22 12:59] MikhailTryakhov commented on #2563
Hi @infosatheesh2020 thank you for a great job!
Would be fixed ASAP

[2016-02-22 13:46] MikhailTryakhov commented on #2562
Hi @infosatheesh2020 thank you for a great question!
The easiest way to update existing functionality is to modify configuration file and re-export data.

I will communicate with team about other ways to set sub-items easier.

[2016-02-22 14:28] infosatheesh2020 commented on #2562
@MikhailTryakhov thanks. my initial opinion was that it redeploys everything. Thanks for clarification. Also since we were not able to see private IP currently, i thought of debugging only that parameter (removing and adding it again), so I didn't find easy way for that.

Since we have possibility for creating configuration from power shell using configuration object (configuring individual items

[2016-02-22 16:20] MortI2C opened #2568 "Client not listing HDI clusters created on azure protal"
Hi,
I'm having an issue with this client not showing the list of HDInsight clusters that I have created manually on the new azure portal (portal.azure.com).
I guess that as it happens with azure storage accounts, clusters created on that portal are treated differently than those created in the old one, and so this azure client is not taking that into consideration. Hope this has an easy fix.

[2016-02-22 16:45] ahmedelnably commented on #2556
We are looking into this, will loop back once I have any information

[2016-02-22 16:48] infosatheesh2020 commented on #2563
@MikhailTryakhov is it possible to show the public IP and DNS name when configuring as external load balancer? Currently we don't see any options and have to check from powershell.

[2016-02-22 18:09] amarzavery commented on #2568
@MortI2C
Which mode are you in? when you type the help for any command, it explicitly displays the current mode in the end.
for example:
[code]

For changing mode, please execute the following command: (valid values are: arm, asm)
[code]

I think changing the mode (asm is version v1 of azure api and arm is version v2 of azure api) should mostly solve the issue.
If you have previously logged in via

[2016-02-22 18:12] amarzavery commented on #2566
@dukedougal - Did you check the help from `azure vm create -h` command?

[2016-02-22 18:12] amarzavery commented on #2566
@dukedougal - Make sure you are in the ARM mode.
`azure config mode arm` (calid values are asm and arm)

[2016-02-22 18:14] amarzavery commented on #2566
@dukedougal
Whenever you look for help on any command, it displays the current mode in the end.  For example:
[code]

[2016-02-22 19:51] amarzavery commented on #2565
@dukedougal - I assume that you would have read my response about changing modes in the previous issue had filed https://github.com/Azure/azure-xplat-cli/issues/2566

So, if you execute the vm list in arm mode then the output has PowerState property
[code]

[2016-02-22 20:23] dukedougal opened #2569 "Is this a design flaw in the Azure ARM REST API?"
I want to get a list of virtual machines and display that list along with the state of each VM - running or stopped.

As far as I can tell, after the initial request to list the VM's, I then need to send a new REST API request for every single VM to determine what its running state is.

Hopefully I'm wrong because this seems pretty hard to understand.  Why would the list of VM's not include the ru

[2016-02-22 20:39] dukedougal opened #2570 "Azure ARM REST API for virtual machines is useless for common use cases and seems only 25% complete."
Please, I'd like to hear that I am wrong, but I have spent days trying to understand the ARM REST API and trying to understand why I cannot do essential basic tasks.

I have now worked out that the reason is because the Virtual Machine ARM REST API is missing so much functionality that it is unusable for the basic use cases.

This is the list of Virtual Machine ARM REST API functions: https://msdn

[2016-02-22 20:41] dukedougal commented on #2565
Hello @amarzavery - I am trying to program only using the ARM REST API.

[2016-02-22 22:20] PSDhao commented on #1937
bump, having the same issue.

[2016-02-22 22:24] bmoore-msft opened #2571 "azure resource set does not allow for PATCH operations"
setting properties on a resource can be done with PUT or PATCH, resource types that require PATCH cannot be done with the CLI (or at least I couldn't figure out how) because it seems to always do a PUT.  PowerShell has a switch to allow for PATCH, CLI should probably have one as well.

for example:

`azure resource set vaults myvault "microsoft.keyvault/vaults" -p $properties 2015-06-01
`

fails b

[2016-02-22 23:46] amarzavery commented on #2565
@dukedougal - Are you using the CLI or the node sdk?

[2016-02-22 23:47] amarzavery commented on #2565
@dukedougal - This the CLI project not the node sdk project. I have shown you the output of `azure vm list` command that has the PowerState property in its output.

[2016-02-22 23:50] amarzavery commented on #2570
@huangpf , @sauryadas - Can you comment on this?

[2016-02-22 23:58] dukedougal commented on #2565
Hi @amarzavery - I'm trying to use only the REST API and it appears as far as I can tell that the cli does an initial request for the list of VMs then sends an additional request for every VM to get the required state data.

[2016-02-23 00:02] amarzavery commented on #2565
@dukedougal - I understand what you are doing. The script that you are writing is from the (azure-arm-compute) node sdk which is in this project https://github.com/Azure/azure-sdk-for-node and you are filing an issue in xplat cli which consumes the node sdk. These are two different things. As far as ARM API for VM is not offering parity wrt V1 API, the service team would be able to comment on it.

[2016-02-23 00:08] singhkay commented on #2565
@dukedougal You are correct, with the ARM API you can't get the VM state in the List ALL VMs API. You need to call the instance view API on each VM to get this.

`https://management.azure.com/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Compute/virtualMachines/{vm-name}/InstanceView?api-version={api-version}`

Adding @mahthi for this feedback

[2016-02-23 00:13] amarzavery commented on #2569
This is a service side API design issue. It would be nice if @sauryadas , @singhkay , @mahthi can respond to this.

[2016-02-23 00:15] amarzavery commented on #2571
@ravbhatnagar, @vivsriaus - This is more of a service API design question. Can you please respond to this?

[2016-02-23 00:21] vivsriaus commented on #2571
Indeed, the current ARM resource command doesn't support PATCH operations. We'll track this as a work item on our end. @ravbhatnagar please add this to trello as well.

[2016-02-23 00:28] dukedougal commented on #2565
On EC2 I can ask for a description of my instances and I get everything I need to know, but on Azure I need to send an individual request for every instance just to find out if they are running or stopped.  Seems like a flawed design to me. What do you guys think?

 http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ApiReference-cmd-DescribeInstances.html

[2016-02-23 08:26] MortI2C commented on #2568
Oh, thank you very much amarzavery. Apparently client changed quite a lot since last time I used it (back then didn't have two modes).
This perfectly solved my issue, thanks!

[2016-02-23 08:27] #2568 closed

[2016-02-23 11:56] nitrat7 opened #2573 "ARM group deployment create fails with 'msRest.addSerializationMixin is not a function'"
running on OS X (installed via package) 0.9.15

info:    Executing command group deployment create
error:   Unexpected token

silly:   {
silly:       stack: 'SyntaxError: Unexpected token \n\n  <<< async stack >>>\n    at Object.parse (native)\n    at createDeploymentParameters (/usr/local/azure/lib/commands/arm/group/groupUtils.js:229:37)\n  at exports_createDeployment__1 (/usr/local/azure/lib/co

[2016-02-23 12:23] amarzavery commented on #2573
Please uninstall the cli.
Npm uninstall azure-cli -g if installed via npm
Sudo azure uninstall -g if installed via Mac installer
Delete ~/.streamline folder.
Now install again via npm or Mac installer
If via npm then Npm install azure-cli -g
And mostly you should be good to go

Thanks,
Amar Zavery

On Feb 23, 2016, at 3:56 AM, "nitrat7" <notifications@github.com<mailto:notifications@github.com>> w

[2016-02-23 12:35] nitrat7 commented on #2573
Hello Amar, thanks for fast feedback!

I uninstalled azure-cli, deleted .streamline-folder and installed azure-cli via NPM...

but group deployment create still fails with exact same error-message - no audit-logs visible in Azure-portal :-(

[2016-02-23 13:17] nitrat7 commented on #2573
Hello Amar,
I found problem, passed over json-string with "-e" parameter, that was malformed.
This has lead to this strange error-message..

maybe you can validate json and give appropriate error-message?

Thanks for fast reply!

[2016-02-23 13:17] #2573 closed

[2016-02-23 19:02] amarzavery commented on #2573
@nitrat7 - Thanks for the feedback, we will improve the experience.

[2016-02-23 21:46] akshaycj47 commented on #1898
I am facing the same issue. Were you able to fix this?

[2016-02-24 01:03] singhkay commented on #2570
@dukedougal Sorry for the delay this has caused you but thank you for posting your scenarios. There's an update to the Create VM API coming that should make things more clearer (such as creating from a user image) cc: @mahthi

In the meantime, here's how you can accomplish the above tasks. I will adapt these from a JSON template because the REST APIs and template properties have 1-1 mapping. As so

[2016-02-24 06:29] amarzavery commented on #1898
@karlaugsten, @msfcolombo - Any plans to fix this issue?

[2016-02-24 10:20] infosatheesh2020 opened #2575 "ASM: Azure network application gateway ssl-cert add has issues"
CLI Version: **0.9.15**
OS Type: RedHat 6.7
Installation via:  npm

Mode: **ASM**

Description:
`azure network application-gateway ssl-cert add` command doesn't add the SSL certificates.

Steps to reproduce:
1) Run `azure network application-gateway create --name testgw --vnet-name TestNet --subnet-names "Subnet-1" --gateway-size "Small"`
2) Then run `azure network application-gateway ssl-cert add

[2016-02-24 12:35] MikhailTryakhov commented on #2563
@infosatheesh2020 you can review publuc IP name in Frontend IP section
![lb frontend IP](http://i.imgur.com/qPfwgeu.png)
To see public IP details you may use  ``` azure network public-ip show ``` command and review DNS name and other details there.
```lb show``` command format doesn't support all sub-items chain displaying.

[2016-02-24 12:44] MikhailTryakhov commented on #2562
There are differences in Azure CLI and PowerShell commands logic.
You may review all available commands via ```azure --help``` or lb commands via ```azure network lb --help```.
Please let me know if you have any other questions

[2016-02-24 13:40] infosatheesh2020 commented on #2562
thanks, this helps!

[2016-02-24 13:42] infosatheesh2020 commented on #2563
@MikhailTryakhov Do we have equivalent commands to view public IP and DNS names in ASM mode?

[2016-02-24 13:52] MikhailTryakhov commented on #2563
@infosatheesh2020 nope, public IP is supported in new ARM mode only.
If you have already deployed infrastructure - you can review hybrid solutions - f.e. [here](https://azure.microsoft.com/en-us/documentation/articles/virtual-networks-arm-asm-s2s)

[2016-02-24 13:58] infosatheesh2020 commented on #2563
@MikhailTryakhov thank you!

[2016-02-24 14:07] MikhailTryakhov commented on #2575
Hi @infosatheesh2020 thank you again for your feedback. Would provide you details soon

[2016-02-24 15:59] msfcolombo commented on #1898
Investigating...

[2016-02-24 16:10] msfcolombo commented on #1898
Works for me on 0.9.10, Windows. Verifying Linux...

[2016-02-24 16:19] akshaycj47 commented on #1898
I am able to login, list subscriptions, change the config mode to 'arm', show all locations, create resource group.

But when I try to create a key vault, I get an error. I am getting the following error stack:

2016-02-23T22:12:02.401Z:
{ [Error: Unauthorized]
  stack: [Getter/Setter],
  code: 'Unauthorized',
  statusCode: 401,
  requestId: 'e6ebce7a-6180-45f9-bd4f-2205e40d9729',
  __frame:
   {

[2016-02-24 16:39] msfcolombo commented on #1898
@akshaycj47, your trace indicates you are doing a key operation on an existing vault, not creating a new vault. The unauthorized means you don't have required permissions in the vault. Please use the keyvault show command to query permissions. In case you can't fix or find the issue, please send the result of keyvault show, plus the exact command that is failing. Thanks.

[2016-02-24 19:44] CelsoSantos commented on #1761
I'm using the latest version and this still happens, at least on OS X.

Is there any work-around? This is really frustrating...

[2016-02-24 20:37] gdhagger commented on #1937
I can't even add a NEW vm to an existing availability set using the CLI - is this working for anyone?

[2016-02-24 22:05] msfcolombo commented on #1898
@amarzavery Works for me on 0.9.15, Linux. I think we can close this.

[2016-02-25 00:17] colemickens opened #2577 "[arm] azure keyvault create fails without error information"
0.9.15 / NixOS / nix

[code]

[2016-02-25 00:18] colemickens commented on #2577
Ouch, it's hitting a 404:

[code]

[2016-02-25 06:12] amarzavery commented on #1898
@msfcolombo - Sounds good. closing this one.

[2016-02-25 06:13] #1898 closed

[2016-02-25 06:14] amarzavery commented on #2577
@msfcolombo - Can you take a look at this issue as well?

[2016-02-25 15:35] romangromov opened #2579 "--json option do not suppress warns and errors"
CLI Version: **0.9.15**
OS Type: any
Installation via:  any

Mode: **any**

Description:
If `--json` provided, then we should suppress any console output except plain `JSON` object.
This works fine for `cli.output.interation`  but not for `cli.output.warn/error/silly` etc.

Example: (here interaction progress was suppressed, but output warn was not):

`azure network dns record-set create test-roma

[2016-02-27 00:25] colemickens commented on #2577
Any update? Being completely unable to create keyvaults in xplat-cli seems like a pretty big problem.

[2016-02-27 01:47] #2560 closed

[2016-02-27 01:48] #2437 closed

[2016-02-27 06:18] amarzavery commented on #2577
@msfcolombo - can you please take a look at this key vault issue?

Thanks,
Amar Zavery

On Feb 26, 2016, at 4:26 PM, "Cole Mickens" <notifications@github.com<mailto:notifications@github.com>> wrote:

Any update? Being completely unable to create keyvaults in xplat-cli seems like a pretty big problem.

-
Reply to this email directly or view it on GitHub<https://github.com/Azure/azure-xplat-cli/issu

[2016-02-27 19:48] msfcolombo commented on #2577
Sorry for delay, I was out of office. We have two issues here:

- The vault name is too big. The name `kube-20160224-161538-vault` contains 26 characters. The maximum allowed is 24.
- The service is not validating that correctly. We should return a `400 Bad Request` with explanation, instead of a `404`.

@colemickens Please use a smaller vault name.

@amarzavery Please leave this open for a while.

[2016-02-28 02:11] #2539 closed

[2016-02-29 04:14] nbayle commented on #2503
@huangpf It is dynamic.

[2016-02-29 14:36] SamirFarhat commented on #1937
AFAIK, this feature may be addressed by the end of this year. It's a big challenge for the MS team to allow such operation. Changing the availability Set requires a review of the VM mobility architecture on Azure. Fore example, adding a VM in an Availability Set already containing a VM means putting it to different default domain. Becasue VM mobilty is a matter on Azure (No Live Migration), it's n

[2016-02-29 14:41] bitsofinfo commented on #1937
sigh...

[2016-02-29 14:57] #2550 closed

[2016-02-29 17:10] huangpf commented on #2503
@nbayle Thanks for the info. I think the problem is only for dynamic type VHDs, as noted in other threads.

[2016-02-29 18:34] yugangw-msft opened #2586 "Remove the apiapp commands"
The backend service is pulled down and commands are useless now.
So, start with the [commands](https://github.com/Azure/azure-xplat-cli/tree/dev/lib/commands/arm/apiapp)
and test, and then all global file change, such as the 4 new package references added into the package.json.
Just get rid of everything,

[2016-02-29 19:24] colemickens commented on #2577
Yeah, very surprised that this wasn't a 400 Bad Request or such. Thanks for bringing the name length to my attention.

[2016-02-29 19:25] arvan-pritchard opened #2587 "Cannot create vm image using linux CLI"
CLI Version: 0.9.14 (node: 0.10.37)
OS Type: Linux - Ubuntu 12.0.4
Installation via:  can't remember - is there a way to check?

Mode: ASM

Description:
`azure vm image create` command fails
Previously reported via @stuartleeks, adding github issue for tracking.

Steps to reproduce:
1) $ azure vm image create -l 'west us' -o linux test Stingray-99r1.vhd

Error stack trace:

Mon Feb 29 2016 19:22:3

[2016-02-29 19:31] arvan-pritchard commented on #2587
Probably installed with npm:

$ npm ls --global azure-cli
/usr/lib
└── azure-cli@0.9.14

[2016-03-01 00:11] colemickens opened #2588 "`azure vm list-usage` doesn't work"
CLI Version: **0.9.15 (node: 4.2.3)**
OS Type: Mac / Win / **Linux** (Ubuntu, RedHat, etc.)
Installation via:  **nix**

Mode: **ARM**

Description:
`azure vm list-usage` just doesn't work.

[code]

[2016-03-01 00:36] yugangw-msft commented on #2588
@colemickens if you installed from npm, please get rid of ~/.streamline, and try again.

[2016-03-01 00:40] colemickens commented on #2588
I didn't install from streamline.

[2016-03-01 00:40] colemickens commented on #2588
I didn't install from `npm`.

The package was built by pulling packages from `npm` though...

[2016-03-01 00:40] colemickens commented on #2588
Did it anyway; no effect.

[2016-03-01 04:38] nbayle commented on #2503
@huangpf Agreed. So what's the timeline for a fix?

[2016-03-01 05:33] huangpf commented on #2503
+ @sauryadas to help triage.

[2016-03-01 05:33] huangpf commented on #2503
Add @sauryadas to help triage.

[2016-03-01 08:03] amarzavery commented on #2588
This is a bug indeed. The usageOperations werent ported to Autorest generated client. This bug happened due to a test debt.

After modifying this function in lib/commands/arm/vm/vmClient._js file, the command worked.

[code]

The output is displayed correctly:
[code]

[2016-03-01 08:04] amarzavery commented on #2588
@huangpf - This should be fixed at the earliest with a test recording to avoid regression.

[2016-03-01 08:07] romangromov commented on #2586
@yugangw-msft can I do this? :)

[2016-03-01 15:56] arvan-pritchard commented on #2587
I just did a fresh install of the CLI (using npm) on an Ubuntu 14.04 VM and got the same error.

[2016-03-01 16:14] orizohar opened #2591 "Premium storage disk reported as "isPremium false""
CLI Version: **0.9.15**
OS Type: Win 10
Installation via:   win installer

Mode: **ASM**

Description:
`azure vm show` command doesn't output VM name.

Steps to reproduce:
1) Using the portal create an ASM (Classic) VM of size DS1 with Premium storage
2) Confirm in the portal VM disk belongs to a Premium storage account
3) Then run CLI command 'azure vm disk show [disk name]'
4) Note command outpu

[2016-03-01 16:46] yugangw-msft commented on #2586
@romangromov , thank you!

[2016-03-01 18:30] huangpf commented on #2588
I tested the ```0.9.16``` build, and it seems to be working fine. I had updated the tests for it as well.

Please refer to: https://github.com/Azure/azure-xplat-cli/pull/2592

[2016-03-01 19:20] #2588 closed

[2016-03-01 19:20] #2586 closed

[2016-03-02 12:06] jotunskij commented on #1937
I'm having the same problem as @gdhagger. Using the CLI in arm-mode I can't seem to add a VM (upon creation) to an existing availset. I'm using the --availset-name flag for vm create, but when I view the availset in the portal there are no VMs listed there. This has a huge impact as when I try to add another VM to the same load balancer I get the following error:
"Virtual Machine /subscriptions/..

[2016-03-02 12:09] ptman opened #2595 "azure account download / import"
CLI Version: 0.9.14
OS Type: Linux (Debian)
Installation via: docker

Mode: ARM

Description:
The README.md lists commands in the "Get Started" -section that don't appear to work: <https://github.com/Azure/azure-xplat-cli/blame/dev/README.md#L124>

[2016-03-02 13:02] romangromov commented on #2595
related issue https://github.com/Azure/azure-xplat-cli/issues/2452

[2016-03-02 17:25] emachnic commented on #2384
It looks like `azure provider show` is now showing the compatible API versions. However, it seems that azure-cli has the azure-common dependency locked at 0.9.16. This means that trying to show provider information, for Microsoft.Compute/virtualMachines for example, does not work as the API is locked at 2014-04-01-preview. It also appears that the azure-common package was renamed to just azure and

[2016-03-02 17:59] inglele commented on #2503
Hello team, thanks for the update.
I understand that on Azure we support only fixed VHD but command should convert it in fixed like in PowerShell. As workaround we will ask to upload only fixed VHDs but please let us know when we planned to get that fixed. thanks

[2016-03-03 03:08] pcgeek86 commented on #2384
@emachnic Nice find.

[2016-03-03 11:40] jotunskij opened #2598 "Cannot add VM to availability set with --availset-name"
CLI Version: 0.9.15 (node: 4.2.6)
OS Type: Mac
Installation via: npm

Mode: ARM

Description:
Creating VM does not assign it to given availability set (--availset-name flag). Adding another VM to the same load balancer gives an error regarding different availability sets for one load balancer. Viewing the VM and availset in the portal shows that no VMs are connected to the availset.

Steps to repr

[2016-03-03 18:13] amarzavery commented on #2595
@ptman - azure account download tries to open a browser for downloading the publish settings file. This command will not work on an ssh terminal. It still displays the link from which one can download.

We need to improve the user experience.
1. Provide an info or a warning to the user about the command trying to open a browser.
2. Try and find out if, the browser cannot be opened then try to do a

[2016-03-03 18:23] ptman commented on #2595
@amarzavery

No link:

    $ docker run -it microsoft/azure-cli
    # azure account download
    error:   'download' is not an azure command. See 'azure help'.

[2016-03-04 03:03] amarzavery commented on #2595
@ptman - You must be in ARM mode (V2 Azure API)
please execute: `azure config mode asm`
ARM APIs use token based authentication and ASM APIs use cert based auth. `azure account download` downloads the publish settings file which is used to authenticate via cert based auth for ASM (V1) APIs.

[2016-03-04 03:05] amarzavery commented on #2595
[code]

[2016-03-04 08:12] ptman commented on #2595
In that case I suggest the README make it clear which ones work for ARM and which ones need ASM.

[2016-03-04 08:12] #2595 closed

[2016-03-04 10:24] rsltrifork commented on #2591
+1

[2016-03-04 10:41] jotunskij commented on #2598
Possibly fixed in #2507 and release 0.9.16. Trying it out!

[2016-03-04 11:17] infosatheesh2020 opened #2599 "ARM: Role deletion has issues"
CLI Version: **0.9.15**
OS Type: RHEL6
Installation via:  npm

Mode: **ARM**

Description:
`azure role delete --id xxxxx` command doesn't delete the assigned role from portal

Steps to reproduce:
1) Create a resource group in ARM
2) Add a user as reader role for the resource group using azure portal
2) Then try to delete the resource group using CLI. (get the role definition id using 'azure role a

[2016-03-04 11:32] jotunskij commented on #2598
Fixed with #2507. Great work and sorry for the duplicate!

[2016-03-04 11:32] #2598 closed

[2016-03-04 16:33] SyntaxC4 opened #2600 "Break Blog Lease"
There is still some issues with VMs not cleaning up their leases on blob disks when deleted. This leaves some substantially large files blocked from being deleted until the lease is broken.

Providing a facility in the CLI to break the lease would make this much easier to over come.

[2016-03-04 18:58] kirpasingh opened #2601 "Feature Request: CLI doesn't support resizing OS disk though Powershell API does"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm / brew / win-or-mac installer / docker / github repo

Mode: **ARM**

Description:
`azure vm disk -h` command shows the following options:
Attach a new data-disk to a VM in a resource group
```vm disk attach-new [options] <resource-group> <vm-name> <size-in-gb> [vhd-name]```

Detach a data-disk attached

[2016-03-04 19:52] amarzavery commented on #2599
The Authorization team is coming with an update to the Authorization commands in the next release due (in the month of April).
@shuagarw - Please take a look at this issue and make sure this does not occur in the update.

[2016-03-04 23:44] shuagarw opened #2602 "Login for AzureUSGovernment is throwing an error for endpoint"
CLI Version: **0.9.19**
OS Type: Win
Installation via:  Installer

Mode: ARM

Description:
`azure login -e AzureUSGovernment` gives an error

e:\>azure login -e AzureUSGovernment
info:    Executing command login
\info:    To sign in, use a web browser to open the page https://aka.ms/devicelogin. Enter the code BGLT7F4C5 to authenticate.
+
error:   The access token has been obtained from wrong audi

[2016-03-05 01:24] yugangw-msft commented on #2602
This is a bug which might get exposed by ADD tightening up the token sharing for multiple resources.
The code line which need to change is on. [The line](https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/profile/account.js#L202) need to change to use the baseuri from current environment.
@shuagarw, can you confirm this is regression from previous version. It doesn't really look like

[2016-03-05 04:21] #2602 closed

[2016-03-06 09:11] infosatheesh2020 opened #2606 "ARM: Keyvault creation using templates"
CLI Version: **0.9.15**
OS Type: RHEL6
Installation via:  npm

Mode: **ARM**

Description:
I am trying to create keyvault from ARM template similar to https://azure.microsoft.com/en-in/documentation/articles/resource-manager-template-keyvault-secret/

But I dont find CLI commands to pass the template file or template URI as input in 'azure keyvault create' command. Do we have any plans to support

[2016-03-07 01:30] colemickens commented on #2606
You can create KeyVaults using ARM templates. All ARM template creation is done via `azure group create`.

[2016-03-07 06:22] bingosummer opened #2607 "ARM: App Gateways commands not available"
Opened an issue to track the process of the App Gateways commands in ARM mode.

#2413 is closed and could anyone please update the current status of the latest PR?

Thanks

[2016-03-07 07:29] MikhailTryakhov commented on #2607
There is still an issue on the SDK side - it blocks any set operation on app gateway.
We're working on the fix

[2016-03-07 07:55] romangromov commented on #2607
@MikhailTryakhov we are using SDK from Autorest, so you can fix SDK issue, send PR [here](https://github.com/Azure/autorest), gererate SDK for Node and send PR
[here](https://github.com/Azure/azure-sdk-for-node/tree/autorest/lib/services/networkManagement2)

[2016-03-07 08:43] MikhailTryakhov commented on #2607
Sorry @romangromov, issue not on SDK side, but on the server side

[2016-03-07 09:17] catap commented on #2577
Looks like I have a similar problem with azure-cli 0.9.16:
[code]

[2016-03-07 12:12] infosatheesh2020 commented on #2606
@colemickens, Thanks. Got it.

can you help me to get a template to add keys to vault (how to reference keys from local machine to add in vault)

[2016-03-07 12:39] colemickens commented on #2577
@catap I'm not 100% sure but you might try with a few different names. `de` could be reserved, or too short.

[2016-03-07 12:40] colemickens commented on #2606
If you show me what you have I can try to see if there's something obviously wrong. This is the schema file that describes what the KeyVault JSON should look like:

https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2015-06-01/Microsoft.KeyVault.json

You can read that to see what the schema looks like for adding keys/secrets via a template.

[2016-03-07 12:45] catap commented on #2577
@colemickens I tried. But the service looks like an alpha with wrong and strange errors

[2016-03-07 15:01] infosatheesh2020 commented on #2606
@colemickens Thanks for the help.

I use below json snippet to add secrets in existing vault

"resources": [
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2015-06-01",
            "name": "[concat(parameters('keyVaultName'), '/', parameters('secretName'))]",
            "properties": {
                "value": "[parameters('secretValue')]"

[2016-03-07 16:17] msfcolombo commented on #2577
@catap The name **de** is too short for a vault name. If you try **de1** it works (assuming other parameters are correct). This is same issue of bad error message.

[2016-03-07 19:50] colemickens commented on #2606
I'm not 100% sure here.

I would recommend you file an issue over at https://github.com/Azure/azure-quickstart-templates. They have a few KeyVault examples, but I didn't see anything that shows how to add keys/secrets as part of the template deployment. It would make for a good sample and help unblock you.

[2016-03-07 20:11] romangromov commented on #1771
@amarzavery this can be closed, implemented

[2016-03-07 20:11] romangromov commented on #2543
@yugangw-msft this can be closed, 0.9.16 published

[2016-03-07 20:12] #2543 closed

[2016-03-07 20:12] #1771 closed

[2016-03-07 20:14] romangromov commented on #2324
@amarzavery this can be closed

[2016-03-07 22:04] jluk opened #2609 "quick-create vm is not linking a public IP address to the vm"
CLI Version: **0.9.15**
OS Type: Linux
Installation via:  win installer

Mode: **ARM**

Description:
quick-creating a Linux vm does not attach a public IP address to it. The public IP address is however still being created. By checking through the portal you can see an IP created but you must manually

Steps to reproduce:
1) Run "azure vm quick-create groupname vmname westus Linux canonical:ubuntu

[2016-03-07 23:44] sauryadas commented on #2609
fixed in the latest build.
@jluk  you have already tried it out.

[2016-03-07 23:44] #2609 closed

[2016-03-08 01:21] clayrichardson opened #2612 "vm create --with-publickey-file doesn't work"
CLI Version: **0.9.15**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure vm create --ssh-publickey-file` doesn't populate authorized_keys with ssh key
it doesn't produce any json out either.

Steps to reproduce:
1) Run `azure vm create ` (details attached below)
2) Then try to ssh into vm with private key

[code]

[2016-03-08 01:23] clayrichardson opened #2613 "vm create with --json doesn't work"
CLI Version: **0.9.15**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure vm create --ssh-publickey-file` doesn't populate authorized_keys with ssh key
it doesn't produce any json out either.

Steps to reproduce:
1) Run `azure vm create ` (details attached below)
2) Use your eyeballs

[code]

[2016-03-08 04:30] robbyt opened #2615 "Failed ARM commands on windows return exit code 0"
CLI Version: **0.9.16**
OS Type: Windows 7
Installation via:  win installer

Mode: **ARM**

Description:
When a command fails, it should return a non-zero exit code. This is broken in 0.9.16:

[code]

Steps to reproduce:
1) set azure cli to arm mode
2) run a command that should fail (example above)
2) text exit code

[2016-03-08 09:17] romangromov opened #2616 "ARM: 'network dns zone import' ignores multiple records in record set of type A"
CLI Version: **0.9.16**
OS Type: any
Installation via:  any

Mode: **ARM**

Description:
`network dns zone import` ignores multiple records in record set of type A

Steps to reproduce:
1) Used zone file:
[code]
Gives warn: `warn:    Invalid record format:                         A       10.1.1.444`

[2016-03-08 09:18] romangromov commented on #2616
For visibility: @jtuliani
Will fix

[2016-03-08 09:45] morsh opened #2618 "ARM deployment with web app, continuous deployment and nodejs fails"
CLI Version: **0.9.X**
OS Type: Win
Installation via:  npm

Mode: **ARM**

Description:
`azure group deploy create` fails when ARM template has the following elements:

1. Web app
  1. appsettings [ type = config ]
  2. web [ type = sourcecontrol ]
  3. source control is git hub repository with node js code (I think you need to have

Steps to reproduce:
1.  In the parameters file set the git hub r

[2016-03-08 14:52] pcgeek86 opened #2619 "0.9.15 :: Mac OS X :: Show API versions in (azure provider show) command"
CLI Version: 0.9.15
OS Type: Mac OS X El Capitan
Installation via:  npm

Mode: ARM

Description:
`azure provider show` command doesn't output API versions, unless you use the `--json` parameter. It would be great if this output was included.

Steps to reproduce:
1) Run `azure provider show Microsoft.Authorization`
2) Repeat command for other ARM Resource Providers

Cheers,
Trevor Sullivan
Microsof

[2016-03-08 16:49] infosatheesh2020 commented on #2606
@colemickens thanks!

Issue raised in https://github.com/Azure/azure-quickstart-templates. (1350 & 1349)

[2016-03-08 20:03] amarzavery commented on #2618
@morsh - Did you try the group log show command.
Using it with --json switch will give you detailed error logs and help you find out the exact reason (which step in the deployment failed and for what reason).
[code]

[2016-03-08 21:41] #2619 closed

[2016-03-08 22:43] panzors opened #2622 ""kuduSync" command not found on debian when executing deploy.sh. Fixed by renaming script to target "kudusync""
CLI Version: **0.9.17**
OS Type: Linux (debian)
Installation via:  apt-get

Description:
`azure site deploymentscript --node` generated deployment.sh file targets "kuduSync" which is spelt with a capitol "S" but "kudusync" is the actual command when it installs via "npm i kudusync"

Steps to reproduce:
1) generate deploy.sh
2) execute `bash deploy.sh` (sudo if required)

Error stack trace:

(sorry

[2016-03-09 13:23] devigned commented on #2587
@sauryadas any update on this?

[2016-03-09 13:59] morsh commented on #2618
I can also see all this data in the azure portal.
This is the message I get:
`data:    Properties:           statusCode:    Conflict
                               statusMessage: {"status":"Failed","error":{"code
                               ":"
                               ResourceDeploymentFailure","message":"The
                               resource
                               operatio

[2016-03-09 15:27] sauryadas commented on #2587
@amarzavery @yugangw-msft  this is tagged 'Storage'. is someone from the storage team looking at this?

[2016-03-09 19:51] squillace commented on #2601
@kirpasingh love it. What I want to know is whether there's any `azure resource set` command and json that can perform the same action in the meanwhile.

[2016-03-09 21:14] sauryadas commented on #2587
@arvan-pritchard  @stuartleeks Can you please use the utility below to upload VHDs while our storage team fixes this issue?

https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 22:44] kevindente commented on #2414
Is there a way to upload a certificate? That's the one missing piece I haven't been able to find, and as far as I can tell there's no UI for it either.

[2016-03-09 22:59] anuchandy commented on #2503
@inglele you could use the utility below to upload VHDs while our storage team fixes this issue
 https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 23:00] anuchandy commented on #1884
@Zigman13 @matthewdavis @5kg you could use the utility below to upload VHDs (dynamic, fixed) while our storage team fixes this issue
https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 23:01] anuchandy commented on #2230
@EgoAleSum @alex2006hw @waldiTM  you could use the utility below to upload VHDs (dynamic, fixed) while our storage team fixes this issue
https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 23:03] anuchandy commented on #2168
@moulip @colemickens   you could use the utility below to upload VHDs while our storage team fixes this issue
https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 23:05] anuchandy commented on #2326
@JPvRiel @twiest  Can you please use the utility below to upload VHDs while our storage team fixes this issue?
https://github.com/Microsoft/azure-vhd-utils-for-go

[2016-03-09 23:07] colemickens commented on #2168
@anuchandy That's exactly what I plan to do for now. Thanks for letting me know about that tool! I'll report back on how successful I am.

[2016-03-10 01:33] kirpasingh commented on #2601
@squillace Apparently I didn't know much about ```azure resource set``` command and thank you very much for bringing this up! It's not something obvious as I had to spend more than an hour to figure this out but here's a possible way (worked for me):
[code]
And I did a dump afterwards using ```azure resource show``` with json output showing the new size!

[2016-03-10 02:33] GoodbyeWorld commented on #1937
I can't believe this.  I just built a new prod environment - dozens of VMs, days of work.

I go to configure my load-balancing for my web tier, and I'm told I need to have an availability set first.  OK, created an Availability set.  Great.  Just add my VMs to that and off I go, right?  NOPE.  I can't assign them to an "Availability set" post-build.  I have to redo all this work?  This is ridiculo

[2016-03-10 02:38] RobHudson72 commented on #1937
@GoodbyeWorld I agree, it is painful.  A warning at VM creation time is badly needed.  Fortunately, there are scripts available that do a pretty good job of tearing down a VM and rebuilding it attached to the Availability Set.  That's how I finally managed this.

[2016-03-10 03:30] squillace commented on #2601
@kirpasingh hey, that's GREAT! I'll try to repro tomorrow; if we can, I'd like to use this to doc the OS resizing version. I noticed that in PS, other than which disk you grab, resizing both the os disk and any datadisks are the same. With this method, I trust you still have to go in and resize the partition before it can be used? I work with linux, hence my thoughts here. I want one topic on "res

[2016-03-10 03:45] mahthi commented on #1937
Really sorry to hear about the trouble you are going through @GoodbyeWorld<https://github.com/GoodbyeWorld>. This is definitely something that is high priority on our backlog. How can we help you in the meantime? Do you need CLI scripts that helps you reconstruct this environment?

From: RobHudson72 [mailto:notifications@github.com]
Sent: Wednesday, March 9, 2016 6:38 PM
To: Azure/azure-xplat-cli

[2016-03-10 13:31] colrack commented on #2414
This is not something possible right now. This is a new feature introduced in [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/commit/a5f60ba0b1d60cf5307f6e3afe9a765d2c2ad967) in December and recently in [azure-sdk-for-node](https://github.com/Azure/azure-sdk-for-node/commit/4d219e20714eb81fedd22f6aa539f88a2a339844#diff-4adc6f587014463acc1f6da08de6c912).
In the meantime you can

[2016-03-10 23:33] lbrader opened #2625 "bug: azure group log show <rg> command unable to find resource group"
CLI Version: **0.9.16**
OS Type: Win 10
Installation via:   github repo

Mode: **ARM **

Description:
''azure group log show <some resource group>'  errors out saying the deployment doesn't exist

Steps to reproduce:
1) Run `azure resource create ....' create a resource group
OR
2) Run 'azure group list' select any resource
3) Then run `azure group log show <existing RG>'

NOTE
4) Run 'azure group

[2016-03-11 00:29] ravbhatnagar opened #2626 "/Validate for template deployment does not bubble up errors related to quota being exceeded"
The error can be seen by using the -vv switch.

[2016-03-11 01:35] kirpasingh commented on #2601
@squillace Thanks! In Windows, you have to log in and format the partition before using, so I guess the same applies for Linux as you mentioned. I'd definitely love to get this out, so please feel free to sketch it out when you've time!

[2016-03-11 02:03] singhkay commented on #2601
A possible solution that doesn't involve the hacky way above was discussed this week. As for timelines @sauryadas @huangpf are your best people

[2016-03-11 07:44] romangromov commented on #2616
Fix merged, closing issue

[2016-03-11 07:44] #2616 closed

[2016-03-11 09:15] squillace commented on #2601
@singhkay the question is how do you apply it now. :-)

[2016-03-11 12:36] TimoKramer opened #2628 "VMAgentStatusCommunicationError"
CLI Version: **0.9.15**
OS Type:  Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
azure group deployment create -vv -f ~/azuredeploy.json -g $group returns

[code]

Steps to reproduce:
1) Run `group deployment -f azuredeploy.json -g $group`

Error stack trace:

[code]

azure group log show $group --json | jq '.[] | select(.status.value == "Failed")' returns

[code]
The attached

[2016-03-11 15:19] arvan-pritchard commented on #2587
What do those utils give me that I can't do with the azure storage explorer?

I am looking for something that will create a VM image, not just upload a VHD.

I shall stick with the current workaround of having a colleague do the upload for me.

Arvan

On 9 Mar 2016, at 21:14, sauryadas <notifications@github.com<mailto:notifications@github.com>> wrote:

@arvan-pritchard<https://urldefense.proofpoin

[2016-03-11 15:20] twiest commented on #2326
@anuchandy I'll definitely try that out if I have issues again, but as I reported above, I can get the azure cli to work if I specify -vv.

[2016-03-11 16:32] anuchandy commented on #2587
@arvan-pritchard

The fundamental difference between ‘azure storage explorer’ and https://github.com/Microsoft/azure-vhd-utils-for-go is:  ‘azure storage explorer’ is not aware of the VHD structure. It’s a tool to upload any local file to Azure storage.

There are mainly two types of VHDs
1.       Fixed VHD
2.       Expandable VHD [dynamic and differential]

Azure needs VHD in Fixed format. A tool

[2016-03-11 17:27] anuchandy commented on #2326
@twiest  - if upload works with -vv option then that's nice. In this case, you need the utility only if you are uploading dynamic disks. Looks like you are currently using fixed disks.

[2016-03-11 18:52] kirpasingh commented on #2601
@singhkay Thank you for looping in folks! However I'm not sure why the aforementioned method is "hackish"? It seems like a REST API PATCH call under the covers to update the resource [as documented here](https://msdn.microsoft.com/en-us/library/azure/mt163591.aspx#bk_osdisk) and moreover isn't the cmdlet ```azure set resource``` built for updating (or even adding) resources to an Azure resource su

[2016-03-11 19:01] singhkay commented on #2601
@kirpasingh That's what I mean. You shouldn't have to call the REST api form CLI to do this. The `azure resource set` command should be updated to allow this and call the REST API under the covers

[2016-03-11 20:24] squillace commented on #2601
@singhkay do you mean, "we should add a direct utility command for this to something like "azure vm disk-resize" to the CRP commands? I agree. But for now, this is exactly how the "generic" resource set command should work.

[2016-03-11 22:15] ravbhatnagar commented on #2313
Fixed in March release

[2016-03-11 22:15] #2313 closed

[2016-03-13 18:35] amarzavery commented on #2601
@singhkay
The customer needs to know the api-version, resource provider, parent resources if any to achieve this. This is a bad user experience. The compute team should provide a proper command to do the disk resize operation.

Thanks,
Amar Zavery

On Mar 11, 2016, at 11:01 AM, "Kay Singh" <notifications@github.com<mailto:notifications@github.com>> wrote:

@kirpasingh<https://github.com/kirpasingh

[2016-03-13 20:16] squillace commented on #2601
Yep. All the same, it's the same experience as REST. In other words, crappy, but functional for now. :-)

[2016-03-13 20:41] amarzavery commented on #2628
So there are two issues over here
1. Resource Manager bug
   - Cannot call method 'forEach' of undefined --> is a cli issue. We should check whether the array exists before doing the forEach
2. Compute issue
   - "VMAgentStatusCommunicationError\",\"message\":\"VM 'dbtestg1' has not reported status for VM agent or extensions. Please verify the VM has a running VM agent, and can establish outbound

[2016-03-13 20:50] amarzavery commented on #2625
@lbrader - The `azure group log show` command is used for showing the deployment logs.
For example: After deploying a template via `azure group deployment create` command, if you want to see the deployment logs then you would execute the `azure group log show` command.

To get more info about the resource group you created, you can execute `azure group show` command.

Let us know, exactly what are

[2016-03-13 20:52] amarzavery commented on #2622
@panzors - Thanks for reporting. This will be fixed in the upcoming release.

[2016-03-13 20:53] amarzavery commented on #2612
@huangpf - Can you take a look at this?

[2016-03-13 20:55] amarzavery commented on #2613
@huangpf - The info messages should not be displayed in the --json mode. Nothing should be displayed except crisp json.

[2016-03-13 20:57] amarzavery commented on #2599
infosatheesh2020 - there was a hotfix for role commands in the last week. Can you try to install 0.9.18 version from npm and see if that solves your issue?

[2016-03-13 21:35] huangpf commented on #2613
@clayrichardson
To debug the actual request/response payloads, please use the ```-vv``` option.

I'm looking at your other related issue about SSH public key, and would follow up to clean up the ```verbose``` & ```json``` display issues.

[2016-03-13 22:01] huangpf commented on #2612
@clayrichardson
Could you please try run ```vm show``` command with the ```-vv``` option to see whether the VM model includes the ```authorized_keys``` section in the Linux profile?

Also, you can try the ```-vv``` option for ```vm create``` as well, in order to see the request/response payloads.

I can't reproduce the problem on my side yet.

[2016-03-14 05:08] huangpf commented on #2612
@clayrichardson
I can't repro the issue using latest version of CLI ```0.9.18```. Can you try the new version?

[2016-03-14 09:02] morsh commented on #2618
@amarzavery, Pinging... ;)

[2016-03-14 13:41] ChoOo7 commented on #1816
Hello
I have the same issue.
azure vm image create is not ok for me because
info:    Executing command vm image create
error:   The VHD https://XXXX.blob.core.windows.net/vhds/XXXXX.vhd is already registered with image repository as the resource with ID xxmyimagedisknamexx.

My VM creation command :
azure vm create xxvmnamexx xxmyimagedisknamexx --vm-size medium --availability-set front  --locatio

[2016-03-14 14:39] infosatheesh2020 commented on #1816
@ChoOo7 I think you already have existing VM image with that VHD. You can delete the image and retain the VHD disk, then create again.

[2016-03-14 15:07] ChoOo7 commented on #1816
I can't create it again from the portal because my vm name is more that 15 chars
And using cli it's not working like you can see in my previous message
So, any other idea ?

[2016-03-14 16:04] infosatheesh2020 commented on #1816
I think you can start from beginning. Delete the VM image and retain the disk VHD, go to disk tab in portal and make sure that the VHD is not currently attached to any VMs. Next you can check images that there is no VM images already there in the same name. Then you can follow the image creation step and VM creation step again

[2016-03-14 16:17] infosatheesh2020 commented on #2599
@amarzavery Still this issue occurs in 0.9.18 as well

[2016-03-14 19:43] lbrader commented on #2625
I understand the command.  It doesn't work.  See filed bug.  I just tried again - same result.
Did you even try this command?  If it worked for you what version are you running?

"azure group log show" comes back as says' enter a resource group name. SO
"azure group log show <someRG>"  .

It fails - Deployment not found.

What am I trying to do is build a tool to query through the log file looking

[2016-03-14 21:38] shuagarw commented on #2599
@infosatheesh2020 - I don't understand the actual issue here. So, you are trying to delete a resource/resourceGroup here or role definition? For deleting resource - please use "azure resource delete" command.
You can only delete custom roles, which you have created in your subscription. For e.g. you can't delete builtIn roles like (Reader, VM Contributor etc.). Please give me a concrete example of

[2016-03-15 17:42] huangpf opened #2635 "CLI test output shall display the tests in groups by test files"
Currently, it's very difficult to tell from the output which test file any of the tests belong to:
[code]

[2016-03-15 23:17] manikrish opened #2637 "Missing support for setting gateway SKU on VPN gateways"
CLI Version: **0.9.16**
OS Type: Win
Installation via:  win-or-mac installer
Mode: **ARM**

Description:
azure network vpn-gateway create does not allow setting the Gateway SKU

Steps to reproduce:
1) azure network vpn-gateway create -h
The vpn gateway can be "Basic" "Standard" or "HighPerformance"
The equivalent powershell script New-AzureRmVirtualNetworkGateway allows setting the SKU but the cli

[2016-03-16 10:46] romangromov opened #2640 "ARM: 'network dns record-set create' doesn't work anymore"
CLI Version: **0.9.18**
OS Type: any
Installation via:  npm / github repo

Mode: **ARM**

Description:
`azure 'network dns record-set create` command doesn't work anymore, because DNS backend updated,**regression issue**

Steps to reproduce:
1) Run `azure network dns record-set create ...`

Error stack trace:
[code]

[2016-03-16 10:46] romangromov commented on #2640
Will fix

[2016-03-16 11:22] fatso83 opened #2642 "`azure site scale instances` crashes on parsing"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  npm

Mode: ASM

Description:
`azure site scale instances -v our-company-rest-api-dev` crashes badly

(as a side note you can also see that it does not pick up the hostname, and I have to type it again)

Steps to reproduce:
1) Run `azure site scale  instances -v our-company-rest-api-dev` will output

[code]

Error stack trace:
[code]

[2016-03-16 11:39] catweisun opened #2643 "Azure login doesn't work on Azure China"
CLI Version: **0.9.16**
OS Type:  Win
Installation via:   win installer

Mode: **ARM / ASM**

Description:
`azure login -e AzureChinaCloud` command throw authentication failed exception even enter the right username\password
It looks some endpoints are wrong.

Steps to reproduce:
1) Run `azure login -e AzureChinaCloud`
2) Then Open IE to access https://aka.ms/deviceloginchina
3) Enter code BCNVMGQ

[2016-03-16 15:06] romangromov opened #2644 "ARM: 'express-route peering' commands not available"
There is support for [expressRouteCircuitPeerings](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/networkManagement2/lib/operations/expressRouteCircuitPeerings.js) inside Azure SDK for Node, but related commands stack still not available in Xplat-CLI.

Also there is **outdated** branch with initial implementation [MSOpenTech/dev-arm-express-route-peering](https://github.com/M

[2016-03-16 15:12] romangromov commented on #2637
@manikrish thanks for flagging, will add support for SKU

[2016-03-16 16:05] amarzavery commented on #2643
@catweisun - Thanks for reporting this. We shall fix this in the upcoming release.
The following log in the line looks problematic. It shouldn't be using the Azure Public Cloud URI.
[code]

[2016-03-16 16:09] #2640 closed

[2016-03-16 16:19] amarzavery commented on #2625
Yes I have run the command.
The group log show command requires resource group as a required parameter. If not provided then it will enter in interactive mode and prompt the user to provide resource group name.

The **basic pre-requisite** to do a group log show is to actually create a deployment via `group deployment create` command. The group log show command displays the logs of the last deploy

[2016-03-16 17:39] lbrader commented on #2625
Thanks for following up.  So, the confusion may be in our understanding how we are doing our deployment.
And what is meant by "azure group deployment" in CLI

We have created a CLI script to create a resource group and build out VNET, load balancer and 2 VMs with a public IP.   We can then see this deployment via the Portal.

We have never used the command "azure group deployment create"  .Why sho

[2016-03-16 18:06] romangromov commented on #2579
fixed, merged to dev

[2016-03-16 18:06] #2579 closed

[2016-03-16 18:06] romangromov commented on #2640
fixed, merged to dev

[2016-03-16 20:36] ccassagnol opened #2645 "azure login failing to login to AzureUSGoverernament cloud"
CLI Version: **0.9.16**
OS Type: Win
Installation via:  win-or-mac installer

Mode: **ASM**

Description:
`azure login failing to login to AzureUSGoverernament cloud

Steps to reproduce:
1) Run azure login -u $username -p $password -e AzureUSGovernment

Error stack trace:

2016-03-16T20:20:41.687Z:
{ [Error: The access token has been obtained from wrong audience or resource 'https://management.cor

[2016-03-16 20:56] amarzavery commented on #2645
@ccassagnol - This is a known issue. There was a hotfix done for this issue.
Please uninstall the CLI installed via MSI and then install via npm.
`npm install azure-cli -g`
The latest version 0.9.18 from npm should resolve this issue.

[2016-03-16 21:00] amarzavery commented on #2645
@ccassagnol - If you have 2FA enabled for your user account then just execute `azure login` and follow the process directed by the command.

[2016-03-16 21:59] ccassagnol commented on #2645
That fixed the issue.

[2016-03-16 21:59] #2645 closed

[2016-03-16 23:26] jluk opened #2646 "default source port is set to 80 when creating a new nsg rule"
CLI Version: **0.9.16**
OS Type: Win
Installation via:  win installer

Mode: ARM

Description:
Creating an azure network nsg rule defaults the source port range to 80 not allowing you to SSH through any other port. Shouldn't the default source port also be * ?

Steps to reproduce:
1) Run `azure network nsg rule create --protocol tcp --direction inbound --priority 1000 --destination-port-range 22 -

[2016-03-17 01:13] yan7109 commented on #1937
+1 @GoodbyeWorld

[2016-03-17 01:20] chrisharrison commented on #1937
+1 @GoodbyeWorld <https://github.com/GoodbyeWorld>

On 17 March 2016 at 09:14, Derek Yan <notifications@github.com> wrote:

[2016-03-17 07:26] romangromov commented on #2646
adding @DeepakRajendranMsft to put some light on this

[2016-03-17 11:02] despairblue commented on #1937
@yan7109 @chrisharrison [github added a reaction feature](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments), which serves the purpose of voting way better than commenting :smiley:

[2016-03-17 11:11] chrisharrison commented on #1937
Not if you're replying via email.
On 17 Mar 2016 7:03 pm, "Danny Arnold" <notifications@github.com> wrote:

[2016-03-17 15:49] GoodbyeWorld commented on #1937
@mahthi thanks for your offer, but I rebuilt the web tier of the environment and redeployed my software.  It was frustrating, as an Azure customer, that this wasn't better thought-out by Microsoft.

Anyhow, while it's too late for me, I'd expect tools or scripts that automate the procedure and allow the user to avoid rebuilding their VMs would be very welcome by the community.

Thanks

[2016-03-17 16:02] marcofranssen commented on #2368
@ahmedelnably Any news on this topic? Anything we can do to help and speedup? It is kind of key to have this to be able to automate some stuff from *NIX OSes.

[2016-03-17 16:06] ahmedelnably commented on #2368
@marcofranssen unfortunately I still don't have any ETA for this. I understand the importance of having a rich set of commands in xplat cli, and we are taking it serious to make sure we release things hopefully in the near future.

[2016-03-17 16:15] chrisharrison commented on #1937
Dear Microsoft,

Don't waste your time on tools and scripts. Just focus on removing this
silly concept of "availability sets" and make it so that you can add any VM
to any load balancer. Via the GUI. In 2 or 3 steps. Like how AWS has done
it for years.

On 17 March 2016 at 23:49, GoodbyeWorld <notifications@github.com> wrote:

[2016-03-17 17:50] vfordpivotal opened #2648 "Can not create availset with user defined Update domain count"
Via the web portal the number of fault domains and update/upgrade domains can be configured during the creation of the availability set. CLI doesn't appear to provide this option and only creates availability set with default options.

$ **azure availset create --help**
help:    Creates an availability set within a resource group
help:
help:    Usage: availset create [options] <resource-group> <na

[2016-03-17 19:59] abrugh opened #2649 "azure network public-ip list no longer lists IPs"
CLI Version: **0.9.18**
OS Type: Mac / Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure network public-ip list` doesn't output IPs

Steps to reproduce:
1) I use an ARM template to deploy VMs, NICs, Public IPs (dynamic), Virtual Network, Network Security Group, etc.
2) Then run `azure network public-ip list <resource group>`

This is the output from 0.9.18
[code]

This is t

[2016-03-17 21:07] ccassagnol opened #2652 "Question about connection type"
CLI Version: **0.9.16**
OS Type: **WIN**
Installation via:  **win-installer**

Mode: **ARM / ASM**

Description:
I would like to know how `azure login -u <AppGUID> -p <AppKey> -e AzureUSGovernment --service-principal --tenant <tenantGUID>` command connection is processed as I have an environment behind a web-proxy that allows `Add-AzureAccount -Credential $cred -Tenant $tenantid -ServicePrincipal

[2016-03-18 02:32] neil4tell commented on #1937
+1 @chrisharrison
...and while you're at it, please add a "clone" button as well so I can make 5 more VMs just like the one I setup and put them all in the same resource group, availability set, private network, and public load balancer (without creating a complicated script). This seems like a fairly common task.

[2016-03-18 03:39] amarzavery commented on #2648
@huangpf , @sauryadas - Can you look into this?

[2016-03-18 03:46] amarzavery commented on #2652
There is one more way to install the CLI. Download the source code (tar.gz format) of the CLI from the [0.9.18 github release page](https://github.com/Azure/azure-xplat-cli/releases/tag/v0.9.18-hotfix).
After you have downloaded, (uninstall the MSI) and then execute `npm install -g "path-to-downloaded-tar.gz"`. Hopefully, the github download should be same as downloading the MSI and should not be

[2016-03-18 06:04] huangpf commented on #2648
@amarzavery Ack. Looks like a gap to fill.

[2016-03-18 08:16] romangromov commented on #2646
@jluk I've started e-mail thread with Azure team about this, stay tuned

[2016-03-18 08:28] romangromov commented on #2649
@abrugh thanks for flagging, **bug**, I've send one-line fix to `dev` branch.

As workaround you can apply patch locally, or use `--json` option or just wait for next cli release (0.9.19).

Hope this helps

[2016-03-18 17:22] ahmetalpbalkan opened #2656 "[ARM] azure group delete: Cannot read property 'toLowerCase' of null"
CLI Version: 0.9.18
OS Type: Mac
Installation via:  npm

Mode: ARM

Description:
`azure group delete` fails with error `Cannot read property 'toLowerCase' of null`
![image](https://cloud.githubusercontent.com/assets/159209/13886243/4ae9e2c6-ecf3-11e5-9258-5069299a6eb9.png)

Error stack trace:

[code]

[2016-03-18 17:38] clayrichardson commented on #2613
@huangpf — Thanks!

[2016-03-18 17:44] amarzavery commented on #2656
@ahmetalpbalkan - Thanks for reporting this issue. We shall fix this in the upcoming release.

[2016-03-18 18:03] clayrichardson commented on #2612
@huangpf — I don't see the authorized_keys section in the `vm show` command. I will check the -vv option the next time I spin up a machine.

We're trying to freeze at 0.9.15, as we saw big changes in the json responses between minor versions and don't want to break what we've already built automation around.

[2016-03-18 18:08] huangpf commented on #2612
@clayrichardson
It's very likely because of this bug: https://github.com/Azure/azure-xplat-cli/issues/2550

The change around ```0.9.15``` was to upgrade the underlying Compute library, so it's better to follow up to get full support.

[2016-03-18 18:58] jluk opened #2657 "quick create vm template does not error when leaving out -f"
CLI Version: **0.9.16**
OS Type: Win
Installation via:  win installer

Mode: **ARM**

Description:
Calling a group create command without -f in front of a json file runs without any error and just ignores the .json files.

Steps to reproduce:
1) Run `azure group create -n rgname -l westus azuredeploy.json -e azuredeploy.parameters.json`

Output is:
[code]
The result is an empty resource group with

[2016-03-18 20:09] amarzavery commented on #2657
@jluk

If you take a look at the usage of the group create command:
**Usage: group create [options] <name> <location>**
[code]

it doesnt say that it accepts template-file as a required parameter. The template file is accepted either with **-f** or with **--template-file** switch.

[2016-03-18 20:12] #2657 closed

[2016-03-18 20:12] #2649 closed

[2016-03-18 20:20] amarzavery commented on #2613
@clayrichardson - This PR https://github.com/Azure/azure-xplat-cli/pull/2634 should fix the --json issue.

You can download the tarball from the dev branch of xplat-cli https://github.com/Azure/azure-xplat-cli/archive/dev.tar.gz and then execute
1. `sudo rm -rf ~/.streamline`
2. `sudo npm uninstall azure-cli -g`
3. `sudo npm install -g "path-to-downlaoded-tar.gz"`

to verify if the merged PR solve

[2016-03-18 20:45] amarzavery commented on #2656
@ahmetalpbalkan - It seems the result of nodes' url.parse(proxyUrl) had protocol undefined. Hence, this piece of code failed `urlToCheck.protocol.toLowerCase() === Constants.HTTPS;`. Ideally there should have been a check to ensure that protocol is defined and is of type 'string' before calling the toLowerCase() method.

However, the code enters this path only if you have one of the following envt

[2016-03-18 22:07] udf2457 opened #2658 "azure storage blob list hangs when listing large container"
CLI Version: 0.9.18
OS Type:
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.4 LTS"
Linux ukc-bk04 3.13.0-79-generic #123-Ubuntu SMP Fri Feb 19 14:27:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Installation via:  npm

Description:
`azure storage blob list` hangs when listling large container

Steps to reproduce:
1) Make a container with a large numb

[2016-03-18 22:24] ahmetalpbalkan commented on #2656
Ah that was probably it. Thanks.

[2016-03-18 22:24] #2656 closed

[2016-03-18 23:15] amarzavery commented on #2658
@hasonmsft @yaxia - Can you take a look at this ?

[2016-03-21 02:16] hasonmsft commented on #2658
@udf2457 , thanks for raising this issue. Could you try `azure storage blob list` without the `--json` switch or redirect the output to a local file? As you said that 'it lists a handful of blobs', the service API call should be finished. Looks like the output text is too long and exceed the console output buffer size limitation. Then you can only see part of them. And the command already complete

[2016-03-21 12:14] romangromov commented on #2646
@jluk thanks, this make sense. I've send PR to **dev**, now default values are the same as used in Azure Web Portal:

[code]

Hope this helps

[2016-03-21 14:58] romangromov commented on #2637
@manikrish ok, I've send PR to **dev** branch, You can apply patch locally or just wait for next cli public release of 0.9.19.

Also adding more info about SKU in VPN Gateways:
[code]

Hope this helps

[2016-03-21 18:53] ccassagnol commented on #2652
The offline install also tries to connect externally: (to fastly.com owned ip)...

PS C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy> npm install -g D:\Tools\azure-xplat-cli-0.9.18-hotfix.tar.gz
npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "ins
tall" "-g" "D:\\Tools\\azure-xplat-cli-0.9.18-hotfi

[2016-03-21 20:44] jluk commented on #2646
@romangromov Thanks Roman!

[2016-03-22 00:04] sedouard opened #2661 "Validate Command Broken"
CLI Version: **0.9.18**
OS Type: Linux Ubuntu
Installation via:  npm
Mode: ARM

Description:
`azure group template validate` fails with bad API response. Cannot read property 'providers' of undefined.

See:
https://travis-ci.org/Azure/azure-quickstart-templates/builds/117566373

Looks like the API response is bad here:
https://github.com/Azure/azure-xplat-cli/blob/v0.9.18-hotfix/lib/commands/arm/g

[2016-03-22 00:04] sedouard commented on #2661
/cc: @singhkay

[2016-03-22 00:36] amarzavery commented on #2643
@catweisun - This issue has been fixed via the 0.9.18 hotfix. The hotfix is available only via npm.
Please follow the instructions as follows:
1.     uninstall the CLI via MSI
2.     open an admin cmd prompt.
3.	npm cache clear –g
4.	delete the .streamline directory from your home profile (C:\Users\<username>\.streamline)
5.	npm install azure-cli –g

This should install the latest version 0.9.18 o

[2016-03-22 07:17] esakkiraj opened #2664 "Cannot create VM using Azure CLI"
CLI Version: **0.9.17**
OSType: Mac OSX 10.9.4
Installation via: npm
Mode: ASM

Cannot create Window Server VM using `azure vm create`.

Command executed: **azure vm create -z "Standard_DS1" -w "testnetwork1" -l "Southeast Asia" -e 22 -R "MyReservedIP5" mywin1 a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20151120-en.us-127GB.vhd testuser testwindows123@**

Error stack trace:

2016-03-2

[2016-03-22 16:44] ccassagnol commented on #2652
I figured out how to do the offline install using [npmbox](https://github.com/arei/npmbox). The `npmunbox` command didn't work, but the `npm install --global --cache .\.npmbox.cache --optional --cache-min 99999 --shrinkwrap false azure-cli` did.

[2016-03-22 16:44] #2652 closed

[2016-03-22 17:29] sippylabs commented on #1937
Why is this information so hard to find after _MONTHS_ of people asking for a response?

[2016-03-22 17:30] robbyt commented on #2615
A bit more information on this.

When a command line program runs successfully, it should return an exit code of 0, if there are errors, it should return another exit code to communicate information about the error (the most common is 1).

The behavior of the azure cli is inconsistent on Windows. On non-Windows platforms (Linux/OSX), the azure cli returns exit code 1, when there are errors. Howeve

[2016-03-23 03:49] raonhaje commented on #1899
azure vm endpoint create-multiple $VMNAME 8091::::::::::::, 8092::::::::::::, 8093::::::::::::
and only 8091 created.
no 8092, 8093

[2016-03-23 16:09] ciberado opened #2665 "Is it possible to upload a file to a blob container using SAS authentication?"
I see there is a --sas option in the azure storage blob list command but I cannot find the equivalent in the upload command.

CLI Version: 0.9.18
OS Type: Win 7
Installation via:  npm

Mode: ARM

[2016-03-23 16:45] edevil opened #2666 "VM Scale Sets support?"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  brew

Mode: **ARM**

Description:
Can't find anything related to VM Scale Sets. Is it hidden somewhere or is support still absent from the CLI? I have configured a Scale Set via a deployment script, I know I have VMs running, but `azure vm list` does not show them.

[2016-03-23 17:52] atoakley opened #2667 "ARM: 'network express-route provider list' throws error"
CLI Version: 0.9.18
OS Type: Win
Installation via: npm

Mode: ARM

Description:
'network express-route provider list' fails with an error

Steps to reproduce:
 1) Run azure network express-route provider list

Results are:
[code]

[2016-03-23 18:51] #2646 closed

[2016-03-23 18:51] #2637 closed

[2016-03-24 02:37] AbelHu opened #2673 "P1: azure_cli always sets source port to 2048 when I create a nsg rule with setting source-port-range to *"
CLI Version: 0.9.18
OS Type: Ubuntu 14.04.1
Installation via:  npm

Mode: ARM

Description:
azure_cli always sets source port to 2048 when I create a nsg rule with setting source-port-range to *.

Steps to reproduce:
[code]

[2016-03-24 14:35] romangromov commented on #2673
@AbelHu will take a look and come back soon

[2016-03-24 22:56] AbelHu commented on #2673
Ping

Best Regards,
Abel HU

? 2016?3?24??22:35?Roman Gromov <notifications@github.com<mailto:notifications@github.com>> ???

@AbelHu<https://github.com/AbelHu> will take a look and come back soon

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/Azure/azure-xplat-cli/issues/2673#issuecomment-200864675>

[2016-03-24 23:17] #2667 closed

[2016-03-24 23:17] #2643 closed

[2016-03-25 00:07] amarzavery commented on #2664
@huangpf , @sauryadas - Can you take a look at this issue.
Similar issues #1461, #1922 have been posted by customers. Can you please respond to all of these issues.

[2016-03-25 00:25] huangpf commented on #2664
The reserved IP (& other networking related) features had been transferred to the networking team. So they would need to help take a look. @amarzavery

[2016-03-25 01:50] ahmetalpbalkan opened #2678 "npm Upgrade path broken"
CLI Version: **0.9.14**
OS Type: Mac
Installation via:  npm

I had 0.9.14 on my home Mac today and I ran `npm upgrade -g azure-cli`. It exited silently and with exitcode=0. When I ran `azure --version` I saw it's still 0.9.14. Then I realized how crappy piece of software `npm` probably is and I was right:

    npm uninstall -g azure-cli; npm install -g azure-cli; azure --version
    0.9.18

This i

[2016-03-25 01:58] squillace commented on #2678
repro. silent fail on upgrade from 0.9.16 to .18.

[2016-03-25 07:41] romangromov commented on #2667
@amarzavery  the responce body from server has changed a little bit - that is the resason of getting this issue.

@atoakley thanks for contributing.

[2016-03-25 08:27] chris-milsted commented on #1784
see here:

https://bugs.launchpad.net/qemu/+bug/1490611

[2016-03-25 10:32] romangromov commented on #2673
@AbelHu try to escape Asterisk with single quotes, like --source-port-range **'*'**, worked fine for me:

[code]

[2016-03-25 17:40] huangpf commented on #2666
@edevil +@sauryadas
It will be supported in the incoming ```0.9.19``` release. Or you can actually npm-install it from the current dev/release branch. You would need to use commands in the ```vmss``` and ```vmssvm``` categories, as they are actually different ARM resource types than ```vm```.

[2016-03-25 17:43] huangpf commented on #2628
Yes, I can see similar errors from other related commands. Will keep you posted.

[2016-03-25 18:25] edevil commented on #2666
Great news, thanks!

[2016-03-25 19:27] singhkay commented on #2661
Tested a failing build here that gave this error with PowerShell and found the actual error returned - https://travis-ci.org/Azure/azure-quickstart-templates/builds/118407415

The error returned from PowerShell is which is correct
[code]

[2016-03-26 00:12] huangpf commented on #2628
Confirm that it's a service side error, and it shall be fixed now. @TimoKramer Can you retry and see if it's fine now? Thanks.

[2016-03-26 06:17] colemickens opened #2684 "`azure network lb address-pool add` is missing"
https://azure.microsoft.com/en-us/documentation/articles/azure-cli-arm-commands/

says that `azure network lb address-pool add` should be a command, but it's not.

0.9.17

[2016-03-26 06:18] colemickens commented on #2684
https://azure.microsoft.com/en-us/documentation/articles/azure-cli-arm-commands/#comment-2203022592

And it's been missing for 7 months?

[2016-03-26 09:57] romangromov commented on #2684
@colemickens there is support for backend address pool operations in xplat-cli:

[code]

Looks like docs shared above do not match naming convention currently used (create/set/delete instead of add/temove)

[2016-03-26 11:22] colemickens commented on #2684
That help says create/list/delete, nothing about set. Anyway, I think this functionality is on the nic now. You have the nic declare it's participation in the backend pool. This looks like it's just a docs issue.

[2016-03-26 11:22] #2684 closed

[2016-03-26 23:36] amarzavery commented on #2665
@hasonmsft @yaxia - Can you please respond ?

[2016-03-26 23:40] amarzavery commented on #2618
@ravbhatnagar @vivsriaus - Can you please take a look at this issue?

[2016-03-26 23:42] amarzavery commented on #2607
@bingosummer - This should be available in the upcoming release 0.9.19 which should be out by April 1.
The commands were implemented in the PR https://github.com/Azure/azure-xplat-cli/pull/2680
@MikhailTryakhov - Is that correct ?

[2016-03-26 23:44] #2606 closed

[2016-03-27 00:25] atoakley opened #2686 "ARM: 'network vpn-gateway create' cannot create ExpressRoute VPN Gateways"
There is not a way to create ExpressRoute VPN gateways in the CLI.  All VPN Gateways default to the 'Vpn' gateway type and there is not a parameter to allow the gateway type to be changed.

[2016-03-27 13:55] MikhailTryakhov commented on #2607
@amarzavery, @bingosummer absolutelly correct.

[2016-03-28 02:13] yaxia commented on #2665
No, we don't support uploading a new blob with a SAS yet. We are working on it and will have it in a later release.

[2016-03-28 05:09] bingosummer commented on #2607
Thanks @MikhailTryakhov , @amarzavery  and @romangromov .
Appreciate all your help.
Will test it after 0.9.19 is released.

[2016-03-28 06:02] catweisun commented on #2643
Thanks, it works fine now

[2016-03-28 07:42] AbelHu commented on #2673
@romangromov Thanks so much. It works after I add single quotes.

[2016-03-28 07:42] #2673 closed

[2016-03-28 07:53] romangromov commented on #2673
@AbelHu glad to help, you're welcome

[2016-03-28 07:55] romangromov commented on #2686
@atoakley I've left one comment for you PR, please take a look when you have some time

[2016-03-28 08:02] ciberado commented on #2665
Thanks guys. In he meanwhile I'll keep using blobxfer, it works nicely. Thumbs up for your work, btw!

[2016-03-28 08:02] #2665 closed

[2016-03-28 14:57] edevil commented on #2666
On another note, I've deployed an Azure Container Service with a Mesos orchestrator via a deployment script, and it created a VM Scale Set. I noticed that there seems to be a NIC connected to that scale set:
[code]
Notice the ```agentNodeNic```. If I try to get the details of this NIC, because I was trying to associate it with a backend pool of an LB, this happens:
[code]

Will ```0.9.19``` be abl

[2016-03-28 16:48] pcgeek86 opened #2689 ""azure resource show" command should support --id parameter"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure resource show` command doesn't support an `--id` parameter.

Steps to reproduce:
1) Run `azure resource list --resource-group MyCoolResourceGroup`
2) Then run `azure resource show --id <resourceId>`

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2016-03-28 17:04] ediazrod opened #2690 "ASM Azure network vpn-gateway shared-key set not working"
CLI Version: **0.9.15**
OS Type: Linux (Debian)
Installation via:  npm

Mode: ARM

Description:
`azure network vpn-gateway shared-key set VPNRemoteApp` Not change the Shared-key and not running

Steps to reproduce:
1) azure login
2)  azure network vpn-gateway shared-key set VPNRemoteApp
info:    Executing command network vpn-gateway shared-key set
Shared key value: asdf
+ Setting up shared key for

[2016-03-28 17:12] amarzavery commented on #2689
The resource show command currently does not support the entire resource id. This is what it supports currently.

It would be a better user experience to support id and the current set of parameters as mutually exclusive parameter sets.

[code]

[2016-03-28 17:15] amarzavery commented on #2690
@MikhailTryakhov - Can you take a look at this?

[2016-03-28 17:17] MikhailTryakhov commented on #2690
@romangromov works with vpn gateways commands block. We'll provide you details tomorrow
Thank you!

[2016-03-28 17:22] huangpf commented on #2666
+@roman-boltunov @MikhailTryakhov who own the NRP commands.

[2016-03-28 17:37] huangpf opened #2691 "[ARM] `azure vm image list` frequently time out on Ubuntu"
CLI Version: **0.9.18**
OS Type: Ubuntu
Installation via:  github repo

Mode: **ARM**

Description:
The command call or terst for `azure vm image list` frequently time out on Ubuntu, whereas the same call on Windows will finish mostly in time.

Steps to reproduce:
[code]

Error stack trace:

[code]

[2016-03-28 17:37] huangpf commented on #2691
@amarzavery
Is it feasible to configure and increase the time-out limit?

[2016-03-28 17:46] amarzavery commented on #2691
@huangpf - This seems to be a vm setup/network issue. I ran the same command on centos VM of Standard_DS1 size and everything worked fine for me.

[2016-03-28 17:52] huangpf commented on #2691
@amarzavery
Any general instruction on how to configure it? I created the Ubuntu VM from Azure, and didn't do any specific config, so I guess any users doing that will probably encounter the similar problem...

Also, Standard_DS1 is a premium VM size, I don't think it's a general case. Have you tried a non-DS size VM?

[2016-03-28 18:17] amarzavery commented on #2691
@huangpf - I took the one that was available with the lowest config for my subscription. There is no special setup required.

Are you seeing this only for this command or other commands as well?

What happens when you try azure group list OR azure location list ?

[2016-03-28 18:57] vivsriaus commented on #2618
@morsh Apologize for the delay here. Can you please run the 'azure group deployment create' command with -vv and include the captured requests/responses? I'm trying to understand if the issue here is the deployment failing or if the command is not returning the detailed errors.

[2016-03-28 21:15] huangpf commented on #2691
Those commands will be fine. The errors usually happen for the current VM image list, because it involves quite some sub-calls, and the request/response payloads are very large.

There is a previously reported issue about this as well: #2245

[2016-03-29 10:02] romangromov commented on #2690
@ediazrod you have to attach local-network to existing virtual network, then create vpn gateway and manupulate shared-key, see attached below:

[code]

[2016-03-29 15:46] FlorianLudwig opened #2696 "not able to create empty blob"
CLI Version: **0.9.18**
OS Type: Linux
Installation via:  npm

Mode: **ARM**

Description:
`azure storage blob` is not able to create empty blob

To create data vhds from the cli it would be helpful to create images by specifying the desired size.

[2016-03-29 17:18] jgreat commented on #2561
+1 - Would love it if CLI would prompt for missing ARM template parameters like the Powershell equivalent does.

[2016-03-29 17:41] amarzavery commented on #2696
@yaxia @hasonmsft - Can you please take a look at this ?

[2016-03-29 18:13] lbrader commented on #2625
The simple fix is to update the documentation.  Where is it located and I could take a pass.

[2016-03-29 21:45] xiaoyongaz opened #2697 "azure vm images list always return empty list"
CLI Version: 0.9.18
OS Type: Mac  and Linux (Ubuntu)
Installation via:  npm

Mode: **ARM

Description:
azure vm images list always return empty list

Steps to reproduce:
1) Run `azure vm create ...`
2) Then run `azure vm show ...`

Error stack trace:

**Please paste the content of ~/.azure/azure.err or C:\Users\username\\.azure\azure.err over here**

If the issue is w.r.t `authentication` then ple

[2016-03-30 07:52] TimoKramer commented on #2628
My Subscription is out of money. I will do this on Friday.

[2016-03-30 08:22] morsh commented on #2618
[azure-deploy-failure.zip](https://github.com/Azure/azure-xplat-cli/files/195086/azure-deploy-failure.zip)
@vivsriaus thanks for the reply :)
I attached a zip with the following files:

- azure-cli-deployment-vv.log: the file you asked
- deployment failed web apps.png: screen shot of the deployment failue in azure
- template.json: the deployed template
- webapp-deployment-log.log: the deployment l

[2016-03-30 16:55] djberg96 opened #2698 "azure insights metrics list failure"
CLI Version: 0.9.19
OS Type: Mac
Installation via:  mac installer
Mode: ARM

Description:
The "azure insights metrics list" does not seem to work, nor does it seem to acknowledge command line switches, only positional arguments.

Steps to reproduce:
azure insights metrics list "/subscriptions/xxx/resourceGroups/yyy/providers/Microsoft.Compute/virtualMachines/my_vm" 01:00:00

Error stack trace:

[c

[2016-03-30 18:41] kali-rms opened #2699 "Azure CLI vm create doesnt not create azure dns entry"
Hi,

I have successfully created a VM using the Azure CLI. However I noticed, that the VM's do not have a computer name and the Azure auto DNS is not working.

If i create a VM manually via the portal and provide it all the information and default DNS entry is created.

is this expected behaviour?

[2016-03-30 19:14] vivsriaus commented on #2618
@morsh Thanks for sending us the detailed logs. Our team is looking into the deployment failure and will respond shortly.
I noticed from the logs that you're using an older version of Azure CLI. We've made some changes recently to display detailed error messages when deployments fail, so I suggest upgrading to the latest version.

[2016-03-30 20:46] ediazrod commented on #2690
Yes is true :-) thanks a lot!!

[2016-03-30 20:46] #2690 closed

[2016-03-30 23:09] iainfoulds opened #2702 "Azure CLI default working directory does not permit user to save JSON template with 'azure capture vm'"
CLI Version: 0.9.16
OS Type: Windows 10
Installation via: Windows installer

Mode: ARM

Description:
When running 'azure vm capture' and specifying the name of the JSON template file, the default option is to save this JSON file to the present working directory, which is typically C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.8> when launching Azure CLI from Start menu. For a standard user, th

[2016-03-31 07:55] romangromov commented on #2690
@ediazrod glad to help

[2016-03-31 18:30] #2686 closed

[2016-03-31 18:32] amarzavery commented on #2699
@huangpf and @romangromov - Can you please confirm this behavior?

[2016-03-31 18:33] amarzavery commented on #2699
@kali-rms - Were you creating the vm in ARM mode? What version of cli were you using?

[2016-03-31 18:38] amarzavery commented on #2698
@djberg96 - The error says that you need to register the RP, for your current subscription. This needs to happen only for the first time when you are using a command for an RP that is not registered by default.

[code]
After this when you execute the insights command, it should work.

[2016-03-31 18:43] amarzavery commented on #2702
@iainfoulds - Thanks for reporting this.
It depends on the command prompt you are using. Looks like you are using azure 2.8 sdk prompt as your default prompt. We are not bundled under the azure sdk label.
As you pointed that upon using the default command prompt that opens your home profile as the default location, the command executed correctly. This is what we expect as the general behavior.

He

[2016-03-31 18:45] amarzavery commented on #2666
Edit: It is @romangromov .
Roman can you provide some insight to the issue, this customer is facing?

[2016-03-31 19:00] djberg96 commented on #2698
@amarzavery It says I'm already registered:
[code]

[2016-03-31 19:04] amarzavery commented on #2698
Ohhh...  The error message says: "No registered resource provider found for location 'eastus' and API version '2014-04-01' "
- region and api-version.

`azure provider show Microsoft.Insights` should tell you which api versions are registered in east us.

Let me loop in the insights team

@gucalder - Can you please help this customer?

[2016-03-31 19:11] djberg96 commented on #2698
@amarzavery The output of "azure provider show Microsoft.Insights" does not appear to contain api-version information, only the resource type name and locations, even with verbose output. And, as far as I can tell, I can't explicitly set the api-version myself anyway.

[2016-03-31 19:18] amarzavery commented on #2698
With --json it shows the detailed info.
Based on your command usage:
[code]
metricsdefinition would be the resource type to look at:
[code]
looks like for metricDefinitions the version is 2015-07-01
@gucalder - Can you confirm?

[2016-03-31 19:19] gucalder commented on #2698
To set the context better I have some questions/comments:
1. Is this the first time the customer tries that command or was the command running successfully with previous versions the CLI?
2. Is the customer's subscription already registered with our RP? (This has to be done explicitly using some ARM command)
3. If the role being used by the customer is not the subscription admin, does that role ha

[2016-03-31 19:29] djberg96 commented on #2698
@amarzavery I see the same thing, but I did notice that we had to use 2014-04-01 in our azure-armrest gem or it wouldn't work.

@gucalder, to answer your questions:

1) First time.
2) See above. As far as I can tell, it's already registered.
3) I'm a co-admin on the subscription.

[2016-03-31 19:47] dandekar commented on #2201
Any updates on this? We would love to have this feature available through azure cli.

Thanks!

[2016-03-31 20:46] gucalder commented on #2698
Status of the investigation:

The command above is trying to get the metrics from a V2 virtual machine. Metrics for a V2 VM come from storage (i.e. shoebox), the cli currently does not support getting metrics from shoebox because reading from shoebox requires a thick client that is not available in node.js. This same command should work in the PowerShell version though. PowerShell does support ret

[2016-03-31 20:52] amarzavery commented on #2697
@xiaoyongaz - The steps to reproduce do not look related to the issue.
After creating the vm you may want to execute `azure vm list`.

`azure vm image list` command gets the images from the gallery .

[2016-03-31 21:09] huangpf commented on #2201
@sauryadas Could you please help provide info?

[2016-04-01 08:29] romangromov commented on #2666
@edevil you have to use `--virtual-machine-scale-set-name` and `--virtual-machine-index`, see details below:

[code]

[code]

[2016-04-01 14:04] edevil commented on #2666
Thanks! The new version works.

[2016-04-01 14:04] #2666 closed

[2016-04-01 15:39] iainfoulds commented on #2702
Agreed. It's more even if a user also then installed the Azure CLI standalone installer, a new user hitting the Start menu and searching for 'Azure' gets that SDK command prompt which defaults them to a directory they can't then save to. So it's an end user experience issue more so than Azure CLI. Didn't realize that necessarily falls outside the scope of this this team. Just wanted to raise aware

[2016-04-01 15:39] #2702 closed

[2016-04-01 18:22] kali-rms commented on #2699
ok so the issue was not with the CLI - basically the image i was using was the Openlogic Centos 7.2 image. However i followed instructions on how to modified the VM then create your own image (capture). It seems though this process misses something which helps the DNS record get generated.

[2016-04-01 18:27] huangpf commented on #2699
@kali-rms
Please run the commands with ```-vv``` option to collect the request/response logs and share them with us for further triage.

[2016-04-01 23:53] eduardkoller commented on #2091
@Matt-Westphal - do we have an update on this - is it fixed?

[2016-04-02 00:00] eduardkoller commented on #2117
@Matt-Westphal, @devigned @ahmetalpbalkan - looks like there was no activity on this issue for a while. Anyone feels strongly that there is a change needed? (if so, what would be that change?)

If no objections, I will go ahead and close the issue.

[2016-04-02 00:02] devigned commented on #2117
If it's still the same functionality, id say the issue still exists.

[2016-04-02 00:04] eduardkoller commented on #2261
@amarzavery - we'll need to prompt for all the mandatory parameters from the very beginning. Can you please take a look?

[2016-04-02 00:08] amarzavery commented on #2261
@huangpf - Can you take a look at the command definition and find out the root cause for this issue?

[2016-04-02 00:09] eduardkoller commented on #2267
@colemickens Can you still repro this problem?

[2016-04-02 00:11] huangpf commented on #2261
Add @sauryadas to triage.

[2016-04-02 00:19] amarzavery commented on #2689
@ravbhatnagar @vivsriaus Can you get this issue fixed in the upcoming release?

[2016-04-02 00:35] silhouettes opened #2709 "Unable to find user with upn <email address>"
CLI Version: **0.9.19**
OS Type: Win
Installation via:  npm

Mode: **ARM**

Description:
Unable to find user with upn \<email address\>

Steps to reproduce:
1) Run `azure keyvault create --vault-name 'TestVault' --resource-group 'KeyVaultTest' --location 'westus'`

Error stack trace:

[code]

[2016-04-02 00:37] colemickens commented on #2267
It works against my personal account. It's been spinning for a long time on a subscription that belongs to the Microsoft tenant though. I'm guessing it's trying to page through... an enormous number of SPs.

[2016-04-02 00:47] eduardkoller commented on #2274
@amarzavery can you please take a look? It would be nice to show public IP and info about roles/instances (similarly to the portal)

[2016-04-02 00:47] amarzavery commented on #2709
@msfcolombo - Can you take a look at this issue?

[2016-04-02 01:46] amarzavery commented on #2274
@eduardkoller - The code was calling the get() method instead of getDetailed(). Now, if the user uses the command with --json option, he/she should be able to see the deployment info.
Based on the REST API doc over here: https://msdn.microsoft.com/library/azure/ee460806.aspx

[2016-04-02 04:33] ahmetalpbalkan commented on #2117
issue is still valid. the argument is fairly unintuitive and underdocumented.

[2016-04-02 05:02] #2274 closed

[2016-04-04 10:58] fatso83 commented on #2407
Been an issue for at least six months.

[2016-04-04 13:47] MikhailTryakhov opened #2711 "ARM express-route peering create failed"
Error without helpful information occurs trying to creating express route peering.
Created 1st peering
![](http://i.imgur.com/GF3O5ro.png)
Trying to create the second one with the same address prefixes.
![](http://i.imgur.com/0bk3kHN.png)

Error message is too generic and can't help user to resolve an issue

[2016-04-04 17:10] msfcolombo commented on #2709
@silhouettes The `keyvault create` command adds the current user as an administrator of the vault you are creating.

The error you are getting often means the user is not a member in the active directory of current tenant. You can find the current tenant with the command `azure account list` to find the active subscription, then `azure account show <id>` on the active subscription. That will show

[2016-04-04 18:26] ravbhatnagar commented on #2689
Agreed, there are other places in CLI where we don't support the Id parameter. We should be apply the fix consistently across other commands too.

[2016-04-05 00:30] Matt-Westphal commented on #2091
This has been fixed and deployed in Sept 2015

[2016-04-05 05:15] sharepointguy commented on #1935
I have a different scenario. I want to authenticate the user via Azure AD with MFA enabled from a nonwindows system or Postman (Google App) to generate a bearer token. If MFA is disabled, I can pass form-data with parameters like client_id, resource, grant_type (value=password), username and password and get the bearer token.

If MFA is enabled, I have to use service principal or client_id / clien

[2016-04-05 15:00] amarzavery commented on #1935
@sharepointguy - For getting a bearer token for MFA enabled account via Azure AD, you should directly use [adal-node](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs). Xplat CLI is not the tool you would want to use for getting bearer tokens. If you use the login command like this for MFA enabled account:

`azure login`

the CLI, will give you a link and access code. You should

[2016-04-05 16:18] djberg96 commented on #2698
@gucalder Ok, thanks. A nicer error message would definitely be helpful. I'll go ahead and close this.

[2016-04-05 16:22] djberg96 opened #2713 "Cannot get verbose output for azure account list"
CLI Version: 0.9.19 (node: 4.2.4)
OS Type: Mac
Installation via:  mac installer

Mode: ARM

Description:
`azure account list -vv` command doesn't show verbose output.

Steps to reproduce:
1) Run `azure account list -vv`

Neither the -v nor -vv (nor --verbose) options actually show the request being made.

There's no error. The command just executes without displaying verbose output.

[2016-04-05 16:36] amarzavery commented on #2713
@djberg96
-vv is not applicable on this command. `azure account list` just provides the list of subscriptions present in azureProfile.json. This file is present in the .azure folder inside the User's home profile.
This file is populated as the outcome of a successful login `azure login`.
We should remove the -v and -vv option as it is misleading.

To get the details of a particular subscription, y

[2016-04-05 16:39] djberg96 commented on #2713
@amarzavery Ok, I thought it was making an actual request out to "https://management.azure.com/subscriptions" or something.

Please, remove the -v and -vv options from help, then.

[2016-04-05 16:52] amarzavery commented on #2713
Will do. Thanks for filing this issue.

[2016-04-05 21:35] JasonRShaver opened #2714 "Azure Network Nic Show returns invalid --json"
CLI Version: 0.9.19
OS Type: **Mac** / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  **npm** / brew / win-or-mac installer / docker / github repo

Mode: **ARM / ASM**

Description:
Azure Network Nic Show returns invalid --json

Steps to reproduce:
1) zure network nic show *** *** --json

Error stack trace:

Json includes this text before it outputs the json document:
Network interface name

[2016-04-06 07:33] morsh commented on #2618
Hi @vivsriaus,
Pinging... :)

[2016-04-06 08:40] romangromov commented on #2714
Hi @JasonRShaver, thanks for flagging, can't repro this - working fine for me (I'm on Windows):
[code]

Can you please share more detailed output like attached above? (you can cut-off any sensitive info like guids etc.)

Are you able to reproduce the same behavior on Windows or Linux environment or it's on Mac only? Please let me know, `--json` is common option for all commands, do you have this i

[2016-04-07 01:03] tbartlett0 commented on #1522
This issue appears to still be occurring (the original one, not the index-0 one):

`# azure vm endpoint acl-rule create -r Test MyVMName EndpointName 1 permit 10.0.0.0/8`
`info:    Executing command vm endpoint acl-rule create`
`+ Getting virtual machines                                                     `
`+ Reading network configuration                                                `
`+ Updat

[2016-04-07 01:25] tbartlett0 opened #2717 "azure vm endpoint acl-rule create: unable to create rules on load-balanced-set endpoint"
CLI Version: **0.9.17**
OS Type: Linux (Ubuntu 14.04 LTS)
Installation via:  npm

Mode: **ASM**

*Description*:
`azure vm endpoint acl-rule create` command returns an error when trying to add rules to an endpoint in a load-balanced set.

Steps to reproduce: first error:
1) Create at least two VMs with public endpoints in a shared load-balanced set
2) Then run `azure vm endpoint acl-rule create VMN

[2016-04-07 15:18] edevil opened #2719 "Cannot list Data Lake stores"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:

Cannot list Data Lake stores.

Steps to reproduce:

[code]
Error stack trace:

2016-04-07T15:15:06.870Z:
{ [Error: The resource type could not be found in the namespace 'Microsoft.DataLakeStore' for api version '2015-10-01-preview'.]
  stack: [Getter/Setter],
  statusCode: 404,
  request:
   { rawResponse: fa

[2016-04-07 16:00] amarzavery commented on #2719
Ben,

Can you take a look at this?

Thanks,
Amar Zavery

On Apr 7, 2016, at 8:18 AM, "Andr? Cruz" <notifications@github.com<mailto:notifications@github.com>> wrote:

CLI Version: 0.9.19
OS Type: Mac
Installation via: npm

Mode: ARM

Description:

Cannot list Data Lake stores.

Steps to reproduce:

$ azure datalake store account list
info:    Executing command datalake store account list
error:   T

[2016-04-07 17:44] ahmetalpbalkan opened #2720 "OS X intermittent keychain error from SecKeychainSearchCopyNext"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  npm

Mode: ARM

This one is not easily reproducible, in fact I hit it only once.

I logged in using "azure login" yesterday, but a long running operation (ARM template deployment polling) just failed in the middle of the operation with an OS X keychain error:

Full output:

[code]

After the error I ran `azure group list` and that API call wo

[2016-04-07 17:45] ahmetalpbalkan commented on #2720
I so good at reopening my own duplicate issue #2348 which also happens to be a duplicate issue.  :)

But I will leave this open because apparently it is claimed as "fixed" but v0.9.18 still runs into this issue.

[2016-04-07 18:17] vivsriaus commented on #2618
@morsh Sorry I missed this. This is indeed a bug on our service end. We're working on a fix for this. I'll provide an update again early next week.

[2016-04-07 18:21] begoldsm commented on #2719
@edevil your subscription was not whitelisted to use our service. We have added your subscription to the whitelist for you to continue your testing. Please let me know if you continue to see these types of issues or if it is now resolved for you.

[2016-04-07 19:33] edevil commented on #2719
Thank you. In fact I was using the wrong subscription, I already have access with another one. The error message is a bit misleading.

[2016-04-07 19:33] #2719 closed

[2016-04-07 23:39] amarzavery commented on #2717
@huangpf - Can you take a look at this issue?

[2016-04-07 23:42] huangpf commented on #2717
Networking team owns these features.

[2016-04-07 23:43] amarzavery commented on #2717
@romangromov @MikhailTryakhov - Please take a look.

[2016-04-08 03:13] jimbowyer opened #2724 "Request: Option to delete OS VHD within VM delete operation"
CLI Version: 0.9.19
OS Type: Mac OSX
Installation via:  mac installer

Mode: ARM

Description:
Feature request: add an option flag to enable us to delete the OS vhd within the same operation used to delete VM. E.g.
               azure vm delete -d <vmname/>

where -d (or similar, seen -b in past) would instruct Azure to delete the os vhd following the VMs removal.

[2016-04-08 07:26] bingosummer opened #2725 "Failed to login AzureChinaCloud"
CLI Version: **0.9.17**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM / ASM**

Description:
`azure login -e AzureChinaCloud` command failed with CERT_UNTRUSTED error.

Steps to reproduce:
1) Run `azure login -e AzureChinaCloud`

Error stack trace:

**the content of ~/.azure/azure.err**
[code]

The verbose logs over here.

[code]

[2016-04-08 08:37] andyzhangx opened #2726 "[P1] "azure login -e AzureChinaCloud" does not work in Linux"
CLI Version: 0.9.19
OS Type: Ubuntu 14.04.4 LTS
Installation via:  npm
Mode: **ARM / ASM**

Description:
"azure login -e AzureChinaCloud" does not work in Linux

Steps to reproduce:
1) sudo apt-get install nodejs-legacy
2) sudo apt-get install npm
3) sudo npm install -g azure-cli
4) azure login -e AzureChinaCloud

Error stack trace:

|^Croot@andy-test-ubt:/tmp# azure login -e AzureChinaCloud
info:

[2016-04-08 09:05] romangromov commented on #2714
Hi @JasonRShaver, can you please take some time to provide one more details so I can help?

[2016-04-08 13:15] romangromov commented on #2717
Hi @amarzavery,

In ASM, `LoadBalancerOperations` as well as `ACL's` are the part of `azure-asm-compute`
package [computeManagementClient.js](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/computeManagement/lib/computeManagementClient.js) .

Also `azure vm <..> and azure service <..>` commands stack (both modes) are out of responsibility for our team

[2016-04-08 13:26] MikhailTryakhov commented on #2717
@amarzavery @huangpf  please let us know person who owns compute commands block - they can do it much better and faster in this area.
Please let us know if we can help something else.

[2016-04-08 16:49] amarzavery commented on #2724
@huangpf @sauryadas - Please take a look at this feature request. +1 from my side for this. Makes customers life easy.

[2016-04-08 18:18] huangpf commented on #2717
A while ago, there was a conversation that networking related features in ASM belongs to networking team. Unlike ARM, the package name may not align with the ownership in ASM. We can start an internal email thread to further discuss that.

[2016-04-08 18:23] begoldsm commented on #2312
@amarzavery I just tested this out with the latest Xplat CLI on an ubuntu VM and I believe it is now resolved. The underlying issue appeared to be related to our logging logic when dealing with large amounts of data in the request/response.
@mweaverh can you test this out with the latest (0.9.19) on your side and confirm the issue is resolved and let us know?

[2016-04-08 23:44] eduardoromero commented on #1538
Is the issue closed? I cannot seem to be able to pass --os-state to the cli:

`error: unknown option '--os-state'`

[2016-04-09 00:12] amarzavery commented on #1538
@eduardoromero - You are probably in the ARM mode.This parameter is not present in the ARM (V2 Version) mode. It is present in the asm mode (V1 Version).
You can change modes like this: `azure config mode asm`
[code]

@huangpf , @sauryadas - Any timeline for when can this switch be supported in ARM mode ?

[2016-04-09 00:32] eduardoromero commented on #1538
@amarzavery Thanks for the quick response. I don't think I'll be able to see the VMs in one mode when I switch to the other mode.

[2016-04-09 00:41] amarzavery commented on #1538
@eduardoromero - You are mostly correct. But you might be able to see VMs as classic compute or some thing like that. @huangpf can assert that. I see VMs created in ASM under the resource type "Classic Compute" in the portal.

[2016-04-09 02:23] huangpf commented on #1538
I think ARM APIs would allow you to list ASM VMs as 'classic VMs', but it's not related to CRP APIs or ARM VM commands.

[2016-04-09 13:13] z3ntu commented on #2230
I am experiencing the same issue with a dynamic VHD.

[2016-04-10 17:29] diditho commented on #1937
Oh boy, I have to rebuild all of my VMs... :-( please make this a priority

[2016-04-10 20:36] tristian2 opened #2729 "Creating site via github doesnt work right if you have more than 30 repos"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  mac installer /
Mode:  ASM
Description:
creating site via github doesnt work right if you have more than 30 repos

Steps to reproduce:
1) Run azure site create bobsApp --github --githubrepository zzBobsRepo
i have over thirty repos on github,.  i know!
trouble is a i can't see the ones that appear later in the alphabet... how to change the li

[2016-04-11 07:37] morsh commented on #2618
@vivsriaus. these are great news! Will be glad to know about updates.

[2016-04-11 18:00] ahmetalpbalkan opened #2731 "ARM: 'azure account show' fails for China"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  npm

Mode: ARM

[code]

The error suggests `azure account env set` so I run:

[code]

I don't know what to do now, but it looks like users from China must be having some bad UX.

I can easily repro this after an `azure account clear && azure login -e AzureChinaCloud`.

[2016-04-11 18:03] ahmetalpbalkan opened #2732 "ARM: requests to go public Azure for AzureChinaCloud subscription"
CLI Version: **0.9.18**
OS Type: Mac
Installation via:  npm

Mode: ARM

In issue #2731 I said `azure account show` doesn't work correctly, but here I set my active subscription to a China one:

[code]

[code]

because I see that even I've signed in with `azure login -e AzureChinaCloud` the request goes to Azure public cloud:

[code]

I can easily repro after an `azure account clear && azure login

[2016-04-11 18:05] ahmetalpbalkan commented on #2725
@bingosummer what's your `node --version`?

[2016-04-11 18:08] ahmetalpbalkan commented on #2726
duplicate of #2726

[2016-04-11 18:28] ahmetalpbalkan commented on #2696
@FlorianLudwig creating an empty blob (even though the functionality was there) will not give you a VHD. Unfortunately vhd blobs are special. See this blog post for details: http://blog.stevenedouard.com/create-a-blank-azure-vm-disk-vhd-without-attaching-it/

Unfortunately azure does not allow creating empty data disks from the API. The only API call that gives you an empty disk is to "Attach Data

[2016-04-12 01:42] bingosummer commented on #2725
@ahmetalpbalkan
[code]

[2016-04-12 01:54] amarzavery commented on #2725
@bingosummer - Please use the latest version of node (4.x) and mostly the issue should be resolved. This [link](https://nodejs.org/en/download/package-manager/#installing-node-js-via-package-manager) provides simple steps to install the latest version of node.js on different flavors of Linux.

[2016-04-12 01:56] amarzavery commented on #2726
@andyzhangx - What version of node.js are you using. I think this error should go away after installing the latest version (4.x). This [link](https://nodejs.org/en/download/package-manager/#installing-node-js-via-package-manager) provides simple steps to install the latest version of node.js on different flavors of Linux.

[2016-04-12 02:06] bingosummer commented on #2725
Thanks @amarzavery
It works for me.
Since the guide to install Azure CLI in ubuntu is to install nodejs-legacy, so by default customers will hit this issue.
Shall we update the guide to install node (4.x) by default?

[2016-04-12 02:07] amarzavery commented on #2725
@bingosummer - Thanks for notifying. I shall update it as there is no need to install nodejs-legacy anymore.

[2016-04-12 03:14] andyzhangx commented on #2726
Thanks, it works.

[2016-04-12 03:14] #2726 closed

[2016-04-12 15:20] #2725 closed

[2016-04-12 15:22] amarzavery commented on #2697
Closing this due to no response. Please feel free to open if required.

[2016-04-12 15:22] #2697 closed

[2016-04-12 15:23] amarzavery commented on #1655
@vivsriaus - Has this been resolved? If yes, then we can close this.

[2016-04-12 15:24] #1634 closed

[2016-04-12 15:48] #1655 closed

[2016-04-12 19:16] ahmetalpbalkan opened #2741 "ARM: auto-register for the requested RP"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

For a first-time user trying to do something, telling them an error about failure to register to a namespace is confusing-AS-HELL. If I'd be a first time user:

- what the hell is a namespace
- so why did not the [docs](https://azure.microsoft.com/en-us/documentation/articles/key-vault-manage-with-cli/) mention that
- how

[2016-04-12 19:21] ahmetalpbalkan opened #2742 "ARM: obscure warning from 'keyvault create'"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

`azure keyvault create` command throws a warning:

    warn:    No object ID is selected. The current user's object ID will be used by default

this doesn't make any sense to me (I don't think it makes sense to anyone else either but the person who put it there in the first place). `--help` does not mention any references

[2016-04-12 19:50] ahmetalpbalkan opened #2743 "ARM: 'azure keyvault list' output badly formatted"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

[code]

see the Resource Group column.

[2016-04-12 20:51] yugangw-msft commented on #2741
@amarzavery @msfcolombo, we do have [clear logic](https://github.com/Azure/azure-xplat-cli/blob/dev/lib/util/utils.js#L527) to tell user what to do. It is possible the error detecting does not work out or keyvalult doesn't go through the common client creation process

[2016-04-12 21:00] pablolibo commented on #1709
Hi, I have the same issue, but it works or doesn't depend public ip, Anybody know if azure use ban for ip?

[2016-04-13 01:52] yaxia commented on #2587
@huangpf @amarzavery It is an issue in 0.9.14. Please look into the code here: https://github.com/Azure/azure-xplat-cli/blob/v0.9.14-January2016/lib/commands/asm/iaas/upload/pageBlob.js#L732 When you call `blobServoce.createPagesFromStream`, it requires a stream in the third parameter, but it passes `vhdInfo.footer.buffer` which is a buffer without a method 'on'.

Link it to https://github.com/Azu

[2016-04-13 01:56] yaxia commented on #2230
Let me take the code of 0.9.19 as a reference. Please look into the code here: https://github.com/Azure/azure-xplat-cli/blob/v0.9.19-March2016/lib/commands/asm/iaas/upload/pageBlob.js#L732 It should pass a stream instead of a buffer when you call `blobService.createPagesFromStream`. @huangpf

[2016-04-13 09:56] edevil opened #2747 "Unable to specify degreeOfParallelism when creating data lake job"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

Description:
`azure datalake analytics job create -d 2` command errors out.

Steps to reproduce:
[code]

Error stack trace:

2016-04-13T09:44:22.239Z:
{ [Error: Error "parameters.degreeOfParallelism with value 2 must be of type number." occurred in serializing the payload - "{ jobId: '32b38ef6-7cbf-48e0-b1ae-2455ddbc42ab',

[2016-04-13 11:37] MikhailTryakhov opened #2748 "ARM express-route peering list/show failed"
Trying to create Azure CLI ``` network express-route peering list``` command.
Throwing error described at the screenshot below
![](http://i.imgur.com/Mt67To6.png)

At the same time AzurePublicPeering and MicrosoftPeering both exist

[2016-04-13 11:38] MikhailTryakhov commented on #2748
The same issue occurs for show command non-regularly
![](http://i.imgur.com/5OyYZWD.png)

[2016-04-13 15:01] brharr opened #2749 "Azure Datalake Import cmd Providing FileAlreadyExists exception when Filesystem is empty"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm

Mode: **ARM / ASM**

Description:
When I run the following command, I get a bogus FileAlreadyExists exception:
azure datalake store filesystem import --accountName accudl --path KBWI-H.csv --destination /Accuweather-Data

Steps to reproduce:
1) Run `azure datalake store filesystem list --accountName ac

[2016-04-13 16:55] amarzavery commented on #2747
@begoldsm - Can you take a look at this issue?

[2016-04-13 16:56] amarzavery commented on #2749
@begoldsm - Can you take a look at one more datalake issue?

[2016-04-13 16:57] amarzavery commented on #2743
@msfcolombo - Can you take a look at this issue?

[2016-04-13 16:58] amarzavery commented on #2742
@msfcolombo - One more

[2016-04-13 16:58] begoldsm commented on #2747
I think I see the issue. Previously when using Hydra to generate we didn't enforce hard types, so everything was treated as a string (and everything is treated as a string when passed in on the command line). I will fix this and it will be available for the next release. Good catch!

[2016-04-13 16:59] amarzavery commented on #2741
Yes. Looks like keyvault is taking another path for instantiating their client.

[2016-04-13 17:00] amarzavery commented on #2747
@begoldsm - We have the release branch open right now. I will be generating installers tomorrow for a hotfix release. The installers will be publicly available on 04/19. Just letting you know, incase you want to target for this release.

[2016-04-13 18:15] ravbhatnagar commented on #2626
Verify

[2016-04-13 18:25] ravbhatnagar opened #2751 "azure resource show should not require api-version, resource group, type as mandatory"
C:\Windows\system32>azure resource show --name ravtestws501 -g ravdemo3 -r Microsoft.Web/sites
info: Executing command resource show

error: missing required argument apiVersion' error: missing required argumentresourceType' --> when run without the type

[2016-04-13 18:46] amarzavery commented on #2751
@ravbhatnagar - This is the correct behavior. As far as I understand all of this is required to uniquely identify a resource from the generic resource manager view point.

Has the Generic ARM API changed?

To make this more useful for end users, the ARM team can modify the `azure resource show` command to accept a resourceId where, resourceId and all the above parameters can be mutually exclusive.

[2016-04-13 19:45] sivaedupuganti opened #2754 "azure vm quick-create asks for password even when ssh key file is provided."
CLI Version: **0.9.19**
OS Type: Linux Ubuntu
Installation via:  npm

Mode: ARM

Description:
azure vm quick-create asks for password even when ssh key file is provided.

Steps to reproduce:
1) Run
`azure vm quick-create -g arm-test -n vm0 -l centralus -y Linux -Q Canonical:UbuntuServer:15.10:15.10.201602220 -z Standard_D4 --ssh-publickey-file ~/.ssh/id_rsa.pub -u <username>`
It shouldn't prompt f

[2016-04-13 20:12] amarzavery commented on #2754
@huangpf - Do take a look at this issue, when you get time

[2016-04-13 22:05] kevinday opened #2756 "azure-cli failing every time on SecKeychainSearchCopyNext"
CLI Version: **0.9.19**
OS Type: Mac
Installation via:  npm

Mode: **ARM**

I can 'azure login' just fine, but the following command I see:

[code]

This seems different than #2720, since this happens every single time I attempt a group command.

Also, I don't have any non-ascii characters in my username/family name in my live.com profile  #2349, nor do I see any azure related entries to remove in

[2016-04-13 22:27] yugangw-msft commented on #2756
@kevinday, when you open the keychain-access manually, are you seeing any entries with type of "azure access token"? If there are, could you share out what they look like (you can hash away sensitive information); then can you delete them, and login and execute the command again.

[2016-04-13 22:50] kevinday commented on #2756
@yugangw-msft I did see two azure entries in my keystore earlier, which I deleted. Trying again after I deleted them gave me the same result.

[2016-04-13 23:09] yugangw-msft commented on #2756
@kevinday  could you share more details or email the entries to me (yugangw at microsoft dot com). I like very much to figure out what is wrong.

[2016-04-14 00:51] begoldsm commented on #2749
@brharr this is unfortunately a bug in the error message being returned from the server. The usage for this is to include the full path to the destination file to create, not just the folder you want to import into (although that is a good feature request for the future 😄 ). Per the help for destination:

"the full path in the Data Lake Store where the file should be imported to (e.g. /someFolder/

[2016-04-14 00:51] #2749 closed

[2016-04-14 02:09] bingosummer commented on #2357
Closing it since the device login flow works now.
And please make sure you use node (4.x).
https://github.com/Azure/azure-xplat-cli/issues/2725

[2016-04-14 02:09] #2357 closed

[2016-04-14 02:10] ahmetalpbalkan opened #2760 "azure storage blob: lease features missing"
I am currently trying to break a lease on an Azure Storage blob and that really seems impossible with Azure CLI.

Even with Azure PowerShell people need to go through far too many hoops [[1]](https://gallery.technet.microsoft.com/scriptcenter/How-to-break-the-locked-c2cd6492)[[2]](https://msdn.microsoft.com/en-us/library/jj919145.aspx).

I am right now on a Mac OS X with no access to PowerShell, V

[2016-04-14 10:03] yaxia commented on #1602
It should be fixed since v0.9.8.

[2016-04-14 10:06] LosD commented on #1602
Thanks! ☺

[2016-04-14 10:11] yaxia commented on #1689
@huangpf @amarzavery, It is a VM command. Would you please take a look?

[2016-04-14 10:30] yaxia commented on #2485
@jkdufair Thanks for reporting the issue. We will support storage emulator in a later release.

[2016-04-14 10:34] yaxia commented on #2591
@huangpf Could you please take a look?

[2016-04-14 16:53] huangpf commented on #2754
ok

[2016-04-14 22:20] ahmetalpbalkan opened #2763 "vm create with boot diagnostics enabled"
CLI Version: **0.9.19**
Mode: ARM

`azure vm create` should have an argument to have VM Boot Diagnostics enabled upon creation. Otherwise we are asking users to go to portal and enable it once the VM is created. It is not particularly the best experience.

[2016-04-15 14:15] vivsriaus commented on #2618
@morsh can you please verify that this is no longer an issue? I just got an update from our partner team indicating the issue was fixed yesterday.

[2016-04-15 17:28] vivsriaus commented on #2661
@sedouard This was fixed with the last release of CLI (0.9.19). Please update to the latest and let us know if you still run into issues. Thanks.

[2016-04-15 17:28] #2661 closed

[2016-04-15 17:29] vivsriaus commented on #2626
Fixed with 0.9.19

[2016-04-15 17:29] #2626 closed

[2016-04-15 17:31] vivsriaus commented on #2628
With respect to the ResourceManager bug - the issue was fixed already. cc @ravbhatnagar

[2016-04-15 17:35] vivsriaus commented on #2540
This was fixed a long time ago. Closing it.

[2016-04-15 17:35] #2540 closed

[2016-04-15 17:37] vivsriaus commented on #2012
Done

[2016-04-15 17:37] #2012 closed

[2016-04-15 17:37] #1839 closed

[2016-04-15 20:25] julkiewicz commented on #1761
There is a work-around. Create "Network interface" from azure portal. Then find it's resource ID. Should be something like /subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Network/networkInterfaces/<nic-id>. Then specify it during creation using -D option.

[2016-04-15 20:38] ahmetalpbalkan commented on #1761
@julkiewicz you're on the wrong issue?

[2016-04-15 20:39] julkiewicz commented on #1761
I don't think so. I'm referring to the comment by the collegue CelsoSantos above. I got the very same problem and what I posted seems to be the work-around he was asking for.

[2016-04-15 20:41] julkiewicz commented on #1761
Actually yeah, you're right, I meant to post that here: https://github.com/Azure/azure-xplat-cli/issues/1760

[2016-04-15 20:43] CelsoSantos commented on #1761
To be honest I had forgotten I had even opened the issue.

But I can confirm that I ended up creating everything through the portal
first and then associating the previously created items (storage account,
NIC, etc) via cli to the new VM (created through cli)
On 15 Apr 2016 21:39, "Juliusz Kopczewski" <notifications@github.com> wrote:

I don't think so. I'm referring to the comment by the collegue

[2016-04-15 20:53] ahmetalpbalkan opened #2767 "vm extension set: No way to specify autoUpgradeMinorVersion"
CLI Version: **0.9.19**
Mode: **ARM**

ASM mode had a feature to let users pick the highest minor version of a VM extension through version syntax, such as `1.*`. So if I run:

    [asm] azure vm extension set [...] Extension Namespace 1.*

I will get the highest `minor` version with `major=1`. This feature was already there in ASM because it's a feature of Service Management APIs and has nothing

[2016-04-16 19:00] daviderickson commented on #2709
@amarzavery @msfcolombo
I have the same problem, as above.  I have checked, and my user exists in the default AD directory, since my account is the main account for azure.  I have also separately tried the alternate suggestion logging in as a service principal for an application in the same default directory, and get a different error:

info:    Executing command keyvault create
+ Checking pre-con

[2016-04-17 15:09] morsh commented on #2618
Hi @vivsriaus,
Tried the deployment again, but got (sort of) new errors. All web apps I tried to deploy end up with 'Conflict' except for one that ends with 'Bad Request'.

I have an 'npm postinstall' script which used to run after every deployment. Now it doesn't run at all.

**azure cli response**:
error:   Deployment provisioning state was not successful
error:   The resource operation complete

[2016-04-18 11:38] sofam opened #2768 "ARM: Application gateway with custom backend port"
CLI Version: 0.9.19
OS Type: Mac
Installation via:  npm
Mode: ARM

Description:
`azure network application-gateway create -n AGNAME -g MYGROUP -e TESTING -m GatewaySubnet -k AGPIP -o 9080 -r 77.22.22.22 -y ~/wobbletest.pfx -x myVeryStrongPassword -l northeurope ` command exists with `error:   Error "parameters.properties.backendHttpSettingsCollection.properties.port with value 9080 must be of type

[2016-04-18 13:42] romangromov commented on #2768
As FYI: @MikhailTryakhov

[2016-04-18 14:13] MikhailTryakhov commented on #2768
Hi @sofam  thank you for this fix!

[2016-04-18 17:19] #2768 closed

[2016-04-18 18:09] ravbhatnagar commented on #2618
@morsh - Can you please confirm which version of CLI you have on your box? You should see similar errors between portal and CLI. As to debug why your deployment is failing, can you check the audit logs on the portal? That should give you some more details. If you can share the co-relation id for this deployment from the portal logs and I can help with the investigation.

[2016-04-18 21:56] cblaze22 commented on #1937
How in the world is this not an option?  This is a basic command we would need.

[2016-04-18 22:40] amarzavery commented on #1765
@t-alguer - Can you take a look at this issue?

[2016-04-18 22:41] amarzavery commented on #2004
@requiredfield , @caleteeter -CDN is now supported in V2 version of Azure(ARM)

azure config mode arm

azure cdn -h

[2016-04-18 22:42] #2004 closed

[2016-04-18 22:45] #2747 closed

[2016-04-18 22:50] #2526 closed

[2016-04-18 22:51] amarzavery commented on #2497
closing this as there there is no traction from adal-node

[2016-04-18 22:51] #2497 closed

[2016-04-18 22:53] amarzavery commented on #2267
@colemickens you can execute  `azure ad sp list | more` and that will provide you paging. Upon pressing enter, it will show you more info.

[2016-04-18 22:54] amarzavery commented on #2312
Closing this as the issue seems to be resolved.

[2016-04-18 22:54] #2312 closed

[2016-04-18 22:54] #2091 closed

[2016-04-18 23:34] amarzavery commented on #1937
@mahthi @singhkay @alpon @sauryadas @huangpf - The list of customers asking this is growing? Are there any plans to fix this? Can customers get some kind of a timeline for this fix?

[2016-04-19 00:02] mahthi commented on #1937
At this time, I don’t have a locked down date to give out. This is currently targeted for H2CY2016.

From: Amar Zavery [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 4:35 PM
To: Azure/azure-xplat-cli <azure-xplat-cli@noreply.github.com>
Cc: Mahesh Thiagarajan <Mahesh.Thiagarajan@microsoft.com>
Subject: Re: [Azure/azure-xplat-cli] Can't add vm to an existing availability set through

[2016-04-19 00:10] colemickens commented on #2267
Interesting. I'm now seeing them streamed back and am able to page with `more` just as you say. Great! Thanks!

[2016-04-19 01:39] #2731 closed

[2016-04-19 01:39] #2732 closed

[2016-04-19 01:40] #2713 closed

[2016-04-19 01:54] amarzavery commented on #2245
It worked well for me.
[code]

[2016-04-19 01:54] #2245 closed

[2016-04-19 01:55] amarzavery commented on #2691
Not able to reproduce. It works well for me.

[code]

[2016-04-19 01:55] #2691 closed

[2016-04-19 02:08] amarzavery commented on #2154
If the command that was executed is a category (i.e. if it has sub commands in it) and the `-h` or `--help` was not explicitly specified then CLI treats it the same and displays the help content. Hence the exitCode is zero.

However, if you execute a command that has a required parameter then either it will enter in an interactive mode asking for the set of required parameters one by one (if it wa

[2016-04-19 02:13] amarzavery commented on #2198
@buchireddy - this documentation should help https://github.com/Azure/azure-xplat-cli#non-interactive-authentication.
closing this one for now.

[2016-04-19 02:13] #2198 closed

[2016-04-19 02:25] amarzavery commented on #2452
The README.md has been updated.

[2016-04-19 02:25] #2452 closed

[2016-04-19 03:36] amarzavery commented on #1819
This is a node issue.

[2016-04-19 03:36] #1819 closed

[2016-04-19 06:31] ahmetalpbalkan commented on #2154
@amarzavery so you just stated how cli works currently. I already know that and I'm saying it shouldn't be like that :-) If the "azure vm" command exitcode=0, you're doing it wrong.

Now assume I have a script

    Azure vm $op $arg1 $arg2

And all those variables are empty yet my script doesn't fail. Does it make sense to you?

[2016-04-19 17:59] mayurid commented on #2720
@yugangw-msft : This looks the same as the one that you may be looking at with Kevin already.

[2016-04-19 18:04] mayurid commented on #2678
@ahmetalpbalkan, @squillace  : Was the first install that you had (of 0.9.14) using MAC installer or npm

[2016-04-19 18:04] ahmetalpbalkan commented on #2678
@mayurid I always used npm

[2016-04-19 18:13] mayurid commented on #2447
@yugangw-msft: Any concerns with this change?

[2016-04-19 18:26] mayurid commented on #2400
@romangromov: Thanks for the input but unless this is blocking some scenarios for you we will not be prioritizing this. Please let us know if you think this is blocking you in anyway.

[2016-04-19 18:26] #2400 closed

[2016-04-19 18:31] romangromov commented on #2400
@mayurid not blockig issue at all, just poposed improvement to increase tests log readability.

[2016-04-19 18:33] mayurid commented on #2361
@eduardkoller : Can you add to backlog and let us know the proposal

[2016-04-19 18:35] mayurid commented on #2175
@BillAtPros : Are you still seeing this? We believe this is fixed but would like it if you can confirm

[2016-04-19 18:38] mayurid commented on #2136
@amarzavery : Can you take a look and follow up.

[2016-04-19 18:43] yugangw-msft commented on #2388
fixed

[2016-04-19 18:43] #2388 closed

[2016-04-19 18:44] mayurid commented on #1847
@yugangw-msft : Do we still have what we need to do here? Was the storage issue fixed.

[2016-04-19 18:48] mayurid commented on #1758
@eduardkoller: This is command design question. Can you help define something we can work with on with service teams (or internally)?

[2016-04-19 18:59] yugangw-msft commented on #2447
@mayurid, no safe to change

[2016-04-19 19:54] yugangw-msft commented on #1847
@mayurid  storage code was fixed, so we can continue the fix at our end. Note, this is a rather minor issue, and we can also live with it.

[2016-04-19 22:59] huangpf opened #2775 "Azure CLI Test Infra doesn't support random values"
CLI Version: 0.9.20
OS Type: Any
Installation via:  Any

Mode: Both

Description:
Azure CLI Test Infra doesn't support random values. It's blocking us from verifying the user caes of using completely automated/randomized resource names. Unlike PS & .NET SDK, they support it.

So I have to use hash function for this limitation:
* https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/vm

[2016-04-19 23:00] huangpf commented on #2400
It will impact how we parse the test results...

[2016-04-20 00:16] amarzavery commented on #2775
@huangpf - Did you take a look at suite.generateId() method.
Several tests use it to create names for resources, resource groups, vms, etc.
Take a look at some examples over here
- https://github.com/Azure/azure-xplat-cli/blob/dev/test/commands/arm/group/arm.group-tests.js#L68
- https://github.com/Azure/azure-xplat-cli/blob/dev/test/commands/arm/role/arm.role-tests.js#L59

We also provide a method

[2016-04-20 00:19] amarzavery commented on #2400
The extra output on the console as shown in this issue, does not corrupt the output you get in result.text upon executing suite.execute().

[2016-04-20 04:45] huangpf commented on #2775
If I use ```utils.uuidGen()``` inside the command code, i.e. ```vm quick-create```, and then we write test code for this command, will it work in both record and playback modes? Just want to confirm. Thanks.

[2016-04-20 04:48] amarzavery commented on #2775
The example above shows how it is used in the test. Whatever is used in the test is recorded. How can we record something that is used inside the command?

What is it that you are trying to achieve?

Is suite.generateId() useful for you?

[2016-04-20 05:36] huangpf commented on #2775
Essentially, I'm looking for a way to test any generated resources inside the command itself, not the inputs to a command (which we can generate using the functions you gave).

I think the code, let say, ```vm._js``` would be like:
[code]

And ```generate()``` would be:
[code]

By having this support, we can extend the testibility for commands that use randomized values internally.

[2016-04-20 06:56] romangromov commented on #2748
@MikhailTryakhov is this still reproducable on PROD?

[2016-04-20 08:39] qbikez commented on #1950
this duplicates #2642

[2016-04-20 10:48] romangromov commented on #2607
Hi @bingosummer, `0.9.20` realized, app gateways commands included. Can you give it a chance try and come back? Thanks

[2016-04-20 10:49] romangromov commented on #2644
UPD: '0.9.20' relaized, `express-route peerings` commands still not included

[2016-04-20 10:50] MikhailTryakhov commented on #2748
@romangromov Deepak recommended to move important issues here too.

[2016-04-20 10:56] bingosummer commented on #2607
sure.I will try it.

[2016-04-20 16:10] huangpf opened #2777 "CLI test infra shall write record files to a separate folder"
CLI Version: 0.9.20
OS Type: Any
Installation via:  Any

Mode: Both

Description:
CLI test infra shall write record files to a separate folder (like what PS & .NET do), because:
1) it adds a lot of unnecessary changes to the local repo, contaminating the commits;
2) developers can't easily cleanup the malfunction test record data, while keeping the good ones.

For example, for a live test run, it

[2016-04-20 16:55] amarzavery commented on #2777
@huangpf - As of today, we write test recordings to a separate file per test. All the tests are grouped together in a test suite and we have a folder for that test suite.

If you find that the number of test files in a folder are growing then its time to split your tests and grouping them logically into separate test files rather than adding them to the same test file. That should solve your probl

[2016-04-20 16:55] #2777 closed

[2016-04-20 17:02] huangpf commented on #2777
What you describe is probably a test design advice, but it's not the resolution for the issue, which is the test runs would overwrite existing files, potentially causing unnecessary file lost, modification, or addition.

[2016-04-20 17:37] haocs commented on #2118
Changed to "Active Directory" in this PR https://github.com/Azure/azure-xplat-cli/pull/2774

[2016-04-20 17:37] #2118 closed

[2016-04-20 17:42] ahmetalpbalkan commented on #1758
this is a cosmetic/UX issue, feel free to deprioritize

[2016-04-20 17:54] eduardkoller commented on #2775
Thank you for the suggestion, @huangpf. Added this to the backlog, but not on top of the priority list right now.

[2016-04-20 18:59] eduardkoller opened #2778 "Add CLI version number to client-side telemetry"
Currently the client-side telemetry data contains the node version, but not the CLI version. We need to add the CLI version to the telemetry data being logged.

[2016-04-20 19:02] eduardkoller opened #2779 "Client side telemetry: add error category to error events"
Currently the cli telemetry for error events only contain a free text for the error encountered.
Ideally we should add some type of classification/grouping to the errors, so we can aggregate/report on different classes of errors.

[2016-04-20 19:50] haocs commented on #2778
@eduardkoller CLI version is collected as **applicationVersion** by the AppInsights automatically.

[2016-04-20 20:27] rbatukaev opened #2780 "Create Vnet2Vnet across subscriptions"
CLI Version: **0.9.20**
OS Type: Mac
Installation via: mac installer
Mode: **ARM**

Is it possible to use `azure network vpn-connection create .. ` to create a Vnet2Vnet connection between gateways in different subscriptions? How do I specify Gateway ID?

[2016-04-20 20:54] amarzavery commented on #2136
I was able to repro this and this will be fixed in the upcoming release

[2016-04-20 21:14] ahmetalpbalkan commented on #2678
there u go another repro:

[code]

[2016-04-20 21:34] silhouettes commented on #2743
+1!

[2016-04-20 21:42] ahmetalpbalkan commented on #2754
this is clearly a regression. I remember this worked without prompting for password in earlier versions (which makes me think, it doesn't have proper tests). It's broken in 0.9.19 and 0.9.20.

@amarzavery has this made it to a release yet?

[2016-04-20 21:52] amarzavery commented on #2754
@ahmetalpbalkan The fix is a part of release-0.9.20. The scenario reported in the original description above (where the command was prompting for password even when the ssh public key file is provided) does not happen. I just verified it again on my local box.

[2016-04-20 21:58] ahmetalpbalkan commented on #2754
@amarzavery ah okay, fair point I realized I hit the npm upgrade path issue and stayed on 0.9.19... It works for me as well. We can close the issue.

[2016-04-20 21:59] amarzavery commented on #2754
Cool thanks.

[2016-04-20 21:59] #2754 closed

[2016-04-20 22:09] amarzavery commented on #2780
@romangromov  - Can you take a look at this one?

I am not sure if you the CLI will be able to function across subscriptions.

Whenever you login, it will select the first subscription as your current subscription.

You can set a different one as the current by command: `azure account set <subscription-name>`.

However, every command has a switch named --subscription. You can try that option to sp

[2016-04-20 22:12] #2136 closed

[2016-04-20 22:12] #2743 closed

[2016-04-20 22:16] amarzavery commented on #2664
@romangromov - As per @huangpf 's comment, networking related issues while creating a vm need to be handled by the networking team. So can you please take a look at this issue #1461 and #1922 ?
@eduardkoller - Tagging you for visibility.

[2016-04-20 22:48] #2778 closed

[2016-04-20 22:55] yugangw-msft commented on #2154
FYI, try docker command which return 0 on top category.

[code]

[2016-04-20 23:48] haocs commented on #2779
@eduardkoller thanks for the suggestion. Added it to backlog.

[2016-04-21 00:04] anuchandy opened #2783 "aa"
CLI Version: **0.9.X**
OS Type: Mac / Win / Linux (Ubuntu, RedHat, etc.)
Installation via:  npm / brew / win-or-mac installer / docker / github repo

Mode: **ARM / ASM**

Description:
`azure vm show` command doesn't output VM name.

Steps to reproduce:
1) Run `azure vm create ...`
2) Then run `azure vm show ...`

Error stack trace:

**Please paste the content of ~/.azure/azure.err or C:\Users\user

[2016-04-21 00:05] anuchandy commented on #2783
by mistake.. closing this.

[2016-04-21 00:05] #2783 closed

[2016-04-21 00:07] amarzavery commented on #2783
@anuchandy - You seem to be loving this product, aint you :) ?

[2016-04-21 01:24] haocs commented on #2678
@ahmetalpbalkan @squillace could you try npm upgrade in verbose?
``` $ sudo npm upgrade -g azure-cli -dd```
and check if you can see the following log message in the output
[code]

If yes, it is an issue of(design decision made by) NPM. According to their docs if you do 'npm update -g', it will take **wanted**(which equals to current) version instead of the latest one.

Here is the doc about NPM o

[2016-04-21 01:28] haocs commented on #2455
@colhountech thank you for reporting. This issue has been fixed in PR https://github.com/Azure/azure-xplat-cli/pull/2782

[2016-04-21 01:28] #2455 closed

[2016-04-21 02:47] bingosummer opened #2785 "`azure group delete` command doesn't support asynchronous operation."
CLI Version: **0.9.17**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure group delete` command doesn't support asynchronous operation. My expectation is that the deleting command returns right after it's executed. Then I can do other operations instead of waiting the command finishes. Maybe after several minutes, I can run `azure group list or show` to poll the st

[2016-04-21 02:55] amarzavery commented on #2785
@bingosummer - As of today, the group delete command calls the `ResourceGroups.deleteMethod(..)` in the node sdk, which will do the polling for you  and return when the server sends a 204/200 (terminal state reached).

However, we could have an option --nowait (which will call the `ResourceGroups.beginDeleteMethod(...)` in the node sdk that returns after the initial request.

This mechanism is ava

[2016-04-21 02:56] amarzavery commented on #2785
@vivsriaus - If possible, try to add this feature request in the upcoming release for which the code freeze is  04/27.

[2016-04-21 03:01] bingosummer commented on #2785
@amarzavery - Thanks for your quick response. `--nowait` is perfect for me.

[2016-04-21 03:36] amarzavery commented on #2785
@bingosummer

Once the PR https://github.com/Azure/azure-xplat-cli/pull/2784  is merged into the dev branch, you can download the tarball from [here](https://github.com/Azure/azure-xplat-cli/archive/devtar.gz).

- Uninstall the previously installed CLI
   - execute: `npm uninstall azure-cli –g`
- Clear the global cache: `npm cache clear –g`
- Delete the .streamline folder from the your home profil

[2016-04-21 03:53] #2155 closed

[2016-04-21 03:53] #2785 closed

[2016-04-21 06:22] bingosummer opened #2786 "`azure group deployment show` command outputs `undefined` value for the type `SecureString`."
CLI Version: **0.9.20**
OS Type: Linux (Ubuntu)
Installation via:  npm

Mode: **ARM**

Description:
`azure group deployment show` command outputs `undefined` value for the type `SecureString`.

Steps to reproduce:
1) Run `azure group create ...` with `101-vm-simple-linux/azuredeploy.json`
2) Then run `azure group deployment show ...`

Output:

[code]

The `undefined` value for the type `SecureStri

[2016-04-21 08:39] romangromov commented on #2664
adding @MikhailTryakhov for the same

[2016-04-21 08:43] romangromov commented on #2780
Hi @amarzavery @rbatukaev let me consult with Azure team and come back, not sure if this possible.
Note: it's allowed to have `vpn connection` between `gateways` in different `resource groups`

[2016-04-21 14:11] waldiTM opened #2787 "environment settings for AzureGermanCloud incorrect"
The environment settings for AzureGermanCloud are slightly incorrect. The code expects at least managementEndpointUrl, resourceManagerEndpointUrl and activeDirectoryEndpointUrl without following "/".

[2016-04-21 14:15] waldiTM opened #2788 "Login to AzureGermanCloud fails: unauthorized_client"
After fixing #2787, login to AzureGermanCloud fails:

    Get Token request returned http error: 400 and server response
    {
    "error":"unauthorized_client",
    "error_description":
        "AADSTS70001: Application with identifier '04b07795-8ddb-461a-bbee-02f9e1bf7b46' was not found in the directory […].onmicrosoft.de
        Trace ID: 17d466ac-5ec8-4207-9b23-463027555839
        Correlation

[2016-04-21 15:52] morsh commented on #2618
This is the azure cli version:
0.9.14 (node: 0.12.7)

I still get this recurring problem on deployments, this are the same errors as before the update:

2016-04-17T08:45:48.0086216Z,npm ERR! network read ECONNRESET,,1
	2016-04-17T08:45:48.0086216Z,npm ERR! network This is most likely not a problem with npm itself,,1
	2016-04-17T08:45:48.0242450Z,npm ERR! network and is related to network connectiv

[2016-04-21 15:55] amarzavery commented on #2618
@morsh - This seems to be an npm install problem..
Can you install the latest version of node.js in 4.x.x series and also install the latest version of azure-cli (0.9.20).

[2016-04-21 16:06] amarzavery commented on #2786
@vivsriaus @ravbhatnagar - This should be a simple one to fix.

[2016-04-21 16:14] morsh commented on #2618
@amarzavery
This is what I tried last time.
I will be back in two weeks and then I'll try that again and tell you if I succeeded.
Thanks!

[2016-04-21 16:38] anuchandy commented on #2783
@amarzavery :) definitely !

[2016-04-21 18:55] pablolibo opened #2789 "VpnClientAddressPool is not created"
CLI Version: **0.9.19**
OS Type:  Ubuntu 14.04 with docker
Installation via:  last dockerfile

Mode: **ARM **

Description:
I have been creating a new "gateway" but I have some error when I tray create it:

Steps to reproduce:
[code]

**The Output error is:**
Cannot read property 'vpnClientAddressPool' of undefined\nerror:   network vpn-gateway create command failed", "stdout": "info:    Executing

[2016-04-21 18:58] romangromov commented on #2789
@pablolibo thanks for flagging, let me take a look and come back, stay tuned

[2016-04-21 21:15] haocs commented on #2426
@romangromov thanks for reporting this issue. Added it to the backlog but not on top of priority list.

[2016-04-21 23:34] orlandow commented on #2090
I'm having this issue too, `azure sql server

[2016-04-21 23:41] amarzavery commented on #2090
@yaakoviyun, @akromm - Can you please take a look at this issue? Customers are having issues since a long time.

[2016-04-22 02:01] ravbhatnagar opened #2791 "Bubble up nested errors during deployment validation"
[code]

[2016-04-22 04:42] jodoglevy commented on #2291
@pcgeek86 can you upvote this on our uservoice so we can prioritize it? https://feedback.azure.com/forums/246290-automation/suggestions/13514802-add-node-js-library

[2016-04-22 07:26] romangromov commented on #2426
@haocs thats totally fine, non blocking issue

[2016-04-22 09:16] yaxia commented on #2760
ETA of the fix: June release

[2016-04-22 09:20] yaxia commented on #2658
@amarzavery Could you please close it as it looks like a console buffer issue? @udf2457 do you agree with our conclusion? Thanks

[2016-04-22 09:36] yaxia commented on #2337
How about this work around: when you want to operate on a classic storage account in a script for the ARM mode, add `azure config mode asm` and add `azure config mode arm` after the storage account commends?

[2016-04-22 09:40] yaxia commented on #2286
@amarzavery It is resolved, Please close. Thanks.

[2016-04-22 09:42] yaxia commented on #2120
ETA of the fix: May release

[2016-04-22 09:43] yaxia commented on #2025
@yugangw-msft Please help close it. @brendonco Please feel free to reopen it if it doesn't help.

[2016-04-22 13:09] romangromov commented on #2789
@pablolibo can't reproduce this on latest Xplat-CLI of `0.9.20`,working fine for me:

[code]

Can you please update cli and let me know?
Also please confirm you are trying to create a gateway of type `Vpn`, but not `ExpressRoute`

[2016-04-22 16:15] #2025 closed

[2016-04-22 16:41] #2286 closed

[2016-04-22 16:41] #2658 closed

[2016-04-22 18:52] jdc0589 commented on #2565
@dukedougal It's definitely a problem. It makes application code a ton more complicated. Instead of one API call, not only do you have to do 1 + # of machines, but the invididual VM lookups have to be run run async with a worker pool if you want any kind of reasonable performance.

It's a pain.

[2016-04-22 20:35] romangromov commented on #2780
@rbatukaev we have started e-mail thread with Azure team, currently its not possbile to have connection between gateways over subscription in Xplat-CLI (but this supported by Azure PowerShell).
I will update this thread once we found solution for this.

@amarzavery can we tag this as `Feature Request`?

[2016-04-22 21:17] sebastus opened #2794 "ARM: azure vm extension set hangs"
CLI Version: **0.9.10**
OS Type:  Win
Installation via:  win-or-mac installer

Mode: **ARM**

Description:
`azure vm extension set -g xx -m yy -n DSCForLinux -p Microsoft.OSTCExtensions -o 2.0` hangs if configuration file parameters not included.

Steps to reproduce:
1) Run `azure vm extension set -g xx -m yy -n DSCForLinux -p Microsoft.OSTCExtensions -o 2.0`
2) Watch it hang.  Extension bits are

[2016-04-22 21:40] amarzavery commented on #2794
@sebastus - I tried this with 0.9.20 and found a similar experience. The CLI is not hung but is actually working. Setting an extension on the vm is a long running operation.

Service sends back a 201 and the CLI is polling till the provisioning state reaches a terminal state `succeeded/failed/cancelled`.

if you execute the following command from another terminal/prompt, you will see the status cr

[2016-04-22 21:50] amarzavery commented on #2794
@huangpf , @sauryadas - It would be worthwhile to have a `--nowait` option for long running operations. This unblocks the user from executing other commands. The user can periodically check the status if he/she cares.

Btw, while I am writing this its more than 16 minutes and the `vm extension set` command is still polling. The service should really buckup :).

[2016-04-22 21:56] amarzavery commented on #2794
And finally the polling fails.....

+ Looking up the VM "xplattestvm29"
+ Installing extension "DSCForLinux", VM: "xplattestvm29"
error:   Long running operation failed with error: 'VM 'xplattestvm29' has not reported status for VM agent or extensions. Please verify the VM has a running VM agent, and can establish outbound connections to Azure storage.'.
info:    Error information has been recorde

[2016-04-22 22:05] gredondogc commented on #2756
I had the same problem. I Rename a user that had a "special character" in his last name and then deleted the keystore entries. The problem seems to be solved.

[2016-04-22 22:16] gredondogc opened #2796 "`azure account list` does not return the correct subscriptions names."
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  win-or-mac installer

Mode: **ASM**

Description:
`azure account list` return a list of subscriptions with some names incorrect.

Steps to reproduce:
1) Have an account that can manage several other accounts.
2) With the old portal rename some subscriptions. In this case from 'BizSpark' to 'UsernameBizSpark'.
3) Use `azure account list`

Resu

[2016-04-22 23:01] haocs commented on #2796
@gredondogc could you try logout and login again using cli to see if the issue remains? The subscription data is cached on local for cli. You will need to refresh the subscription info once you changed it via portal.

[2016-04-22 23:11] kevinday commented on #2756
Yeah, I've seen that fix it for other people too but it seems to bee a different issue than what I'm experiencing. In my case I don't have (nor have ever had) any non ascii characters in my name/username. I've tried deleting all azure entries from my keystore, emailing a dump of my keystore to some msft devs, running azure account clear –q, etc. So far nothing has worked.

[2016-04-22 23:36] edevil opened #2798 "-a flag on "datalake analytics job list" does not work"
CLI Version: **0.9.20**
OS Type: Mac
Installation via:  brew

Mode: **ARM**

Description:
`azure datalake analytics job list -a` does not work.

Steps to reproduce:
[code]
Error stack trace:

2016-04-22T23:31:23.297Z:
{ [Error: Could not find a property named 'SubmitTime' on type 'Microsoft.DataLakeAnalytics.JobContract.JobInformation'.]
  stack: [Getter/Setter],
  statusCode: 400,
  request:
   {